[2018-03-17 05:46] eluuk opened #7012 "Canonical Structures break coercions"
#### Version

8.7.2

#### Operating system

Linux

#### Description of the problem

In the code below, Canonical Structures break coercions (Print Graph shows the coercion exists, but it does nothing)

[code]

[2018-03-18 06:29] mikeshulman commented on #6782
What is the status of this issue?  I got this same error message after the HoTT Coq library updated to a recent version of Coq and I tried to compile the latter.  Is there somewhere that I can find instructions for fixing it?

[2018-03-18 10:21] ejgallego commented on #6782
@mikeshulman what's your operating system? How did you install OCaml?

[2018-03-18 10:24] ejgallego commented on #6782
But basically you need to properly install camlp5 and register with the `findlib` OCaml package manager. Usually this is taken care of by your distribution.

[2018-03-18 10:30] mikeshulman commented on #6782
Ubuntu 16.04.4 LTS; campl5 installed through apt.

[2018-03-18 10:38] mikeshulman commented on #6782
Ah, I think I figured it out.  My ocaml was installed via opam, but my camlp5 was installed via apt.  Installing camlp5 via opam instead seems to have fixed the problem.

Now I have another problem, though... but at least this one is gone.

[2018-03-18 10:41] ejgallego commented on #6782
Yeah I think these live then in different namespaces. Note tho that if you have installed camlp5 using `apt` then you also have an OCaml "system" compiler.

I do recommend one or the other, that is to say, either install everything via `apt`, or remove all the ocaml packages [but opam] from `apt` and use OPAM.

[2018-03-18 10:45] mikeshulman commented on #6782
In my case this was true, but Ubuntu did let me uninstall the `ocaml` package without uninstalling the `camlp5` package.

[2018-03-18 11:25] ejgallego commented on #6782
Maybe it is because the OCaml compiler is in `ocaml-base-nox` ?

[2018-03-18 13:11] SkySkimmer opened #7015 "Polymorphic cumulativity and function eta break subject reduction"
Present in 8.7 and current master.
[code]

[2018-03-18 15:30] mattam82 commented on #7015
There seems to be a bug in the implementation if we don’t apply  cumulativity in this case to accept `two’` to be inhabited by `eq_refl`. Same thing for lists, conversion by cumulativity should also apply in partially applied cases to be stable by eta. @amintimany any idea how to fix/justify this?

[2018-03-18 17:02] mikeshulman commented on #6782
Yes, probably.  (-:O

[2018-03-18 20:55] herbelin commented on #7015
Side comment: in CoqIDE, when evaluating directly to the end, `one` fails.

[2018-03-18 22:51] herbelin commented on #7015
A question by curiosity:
- With `Constraint i < j`, `one` is inferred to be `eq_refl (fun n : nat => foo@{i} n)`.
- If I remove the `Constraint i < j`, then `one` enforces `i = j`.
- If I change it to `Constraint j < i`, `one` is still inferred to be `eq_refl (fun n : nat => foo@{i} n)`.

I would spontaneously suspect some arbitrariness in the order in which unification treats problems, as it is c

[2018-03-18 23:14] SkySkimmer commented on #7015
That's outdated, in master removing the constraint should not enforce i = j.

[2018-03-18 23:41] herbelin commented on #7015
Actually, I'm confused. If I do:
[code]
It is a bit strange to have the last line succeeding knowing the constraint `j < i`.

[2018-03-19 00:01] JasonGross commented on #7015
@herbelin What is confusing about that?  Note that it fails if you give `bar` a large inhabitant, e.g., `Inductive bar := v (_ : Type).`.  To me, the typechecking problem you give says "all inhabitants of `bar@{i}` are also inhabitants of `bar@{j}`, which is true, because `bar@{i}` is equivalent to `bar@{Set}` for all `i`.

Another example of this sort of thing is this one:
[code]
Since `nat` live

[2018-03-19 08:10] amintimany commented on #7015
@mattam82 I am a bit confused. I though we already handle these cases. I remember we had a discussion about this last year. We can handle partially applied inductives and constructors exactly by eta expanding them. I expect ```two'``` to go through because by it should by eta expanding both sides.

[2018-03-19 08:15] amintimany commented on #7015
I guess I see. Before cumulativity if conversion failed we never went back and eta expanded inductives or constructors because that wouldn't change the situation. But in presence of cumulativity I think we should (or change the algorithm to consider the eta expanded version).

[2018-03-19 08:35] silene commented on #7012
What makes you think it is a bug? As shown by `Print Graph`, `df` is a coercion from type head `g` to type head `g`. When you check `u : g cx_x xu`, you need to unify type head `X` with type head `g` (or type head `X` after reduction). There is no such coercion in the graph. It is only after you have added `f` to the graph that there is one. If you do `Check (u : g cx_x 0) : g cx_x xu`, then you n

[2018-03-19 09:34] herbelin commented on #7015
@jasongross: I agree with that. @skyskimmer: thanks, I missed that.

To continue with naive questions (which maybe have been already answered at a previous time), is there a way to tell that a definition does not depend on a variable after closing of section. If I do:
[code]
I get that `one` depends on `j`. Even if I do `Definition one@{i k} : foo@{i} = foo@{i} :> Type@{k} := eq_refl.`, the two se

[2018-03-19 09:39] amintimany commented on #7015
@herbelin This is indeed a problem of sections and universe polymorphism. Currently every definition in a section gets all universes! We tried to relax this last year together with @mattam82 by doing an analysis at the end of the section. However, that broke STM and we just left it there.

[2018-03-19 09:40] gares commented on #7015
Can you be more explicit?

[2018-03-19 10:05] amintimany commented on #7015
@gares I remember we discussed this at that point. I think we were forcing the body of constants before they were fully processed which broke when async processing. The bug caused some of the tests in the ```test-suite/vio``` to freeze because they are processed by ```-quick```.

[2018-03-19 10:10] amintimany commented on #7015
@gares this is the commit that broke things [https://github.com/amintimany/coq/commit/11c94ea9567ed11302e62f08633c92497a370cff](https://github.com/amintimany/coq/commit/11c94ea9567ed11302e62f08633c92497a370cff). You even made a pull request that we didn't discuss further [https://github.com/amintimany/coq/pull/1](https://github.com/amintimany/coq/pull/1)

[2018-03-19 10:43] gares commented on #7015
The example by @SkySkimmer looks very close to https://github.com/coq/coq/pull/613#issuecomment-309508576

[2018-03-19 11:35] gares commented on #7015
@amintimany the code you point to is not there anymore (not in that form) and my PR is against that code so I'm not so sure how you made the test suite go trough.

Wrt the bug by @herbelin the problem seems to be that the *hack* I use in the STM to detect "Set Universe Polymorphism" has not been extended to "Set Polymorphic Inductive Cumulativity".
  https://github.com/coq/coq/blob/master/stm/vern

[2018-03-19 12:59] amintimany commented on #7015
@gares, We didn't include this code in the PR at the end. That's why the problem that @herbelin mentioned above is still there.

`Set Polymorphic Inductive Cumulativity` is a separate option and only works if `Set Universe Polymorphism` is also activated. So I am a bit confused!

[2018-03-19 13:02] maximedenes commented on #7015
That's not true.

[code]

[2018-03-19 13:05] amintimany commented on #7015
@maximedenes The option is enabled but if both options are not enabled at the same time it shouldn't work!

[2018-03-19 13:07] maximedenes commented on #7015
What does it mean concretely? What does it do then?

[2018-03-19 13:08] SkySkimmer commented on #7015
The issue is that the cumulativity flag is read at parsing time so the stm needs to set it before parsing the rest of the document.

[2018-03-19 13:12] amintimany commented on #7015
@maximedenes  This is documented in the manual [https://coq.inria.fr/refman/universes.html#sec885](https://coq.inria.fr/refman/universes.html#sec885).

[2018-03-19 13:14] gares commented on #7015
The STM needs to know which sentences alter the parser.
The `Set Polymorphic Inductive Cumulativity` one does:
   https://github.com/coq/coq/blob/master/parsing/g_vernac.ml4#L173
but is not classified as such (`VtNow`)
   https://github.com/coq/coq/blob/master/stm/vernac_classifier.ml#L58

[2018-03-19 13:16] SkySkimmer commented on #7015
Let's move STM discussion to #7016.

[2018-03-19 13:19] SimonBoulier opened #7017 "Problem with extraction of Decimal.v (the type int is redefined and masks OCaml's one)"
#### Version

version 8.8+alpha (February 2018), c921825

#### Description of the problem

When I run the following:
[code]
And then I try:
[code]

It fails with `This expression has type int but an expression was expected of type Decimal.int`.

The problem is that `Decimal.v` redefines a type `int` and then the `open Decimal` masks the OCaml type `int`.

Should `int` be renamed as something like

[2018-03-19 15:01] Zimmi48 commented on #6268
Looks like we can close now that the linter is handling this for us.

[2018-03-19 15:01] #6268 closed

[2018-03-19 19:36] JasonGross opened #7019 "Feature request: traces for `lazy` and `cbv`"
#### Version

8.9+alpha

#### Description of the problem

I am trying to debug an issue where `cbv` takes ~forever but `lazy` is quick.  I'd like to request three new options, therefore:
1. `Set Debug Lazy` like `Set Debug Cbv`
2. `Set Trace Cbv`, which will print out the term at each step (or each *n* steps), so that I can see the term as it reduces
3. `Set Trace Lazy` like `Set Trace Cbv`

[2018-03-20 11:41] Zimmi48 commented on #6954
Théo Zimmermann:
## What should happen at the time of the freeze

The ideal situation would be a freeze day where no more PRs than usual are merged and preferably not big ones.

Oh no, that wouldn't be possible. But when a new issue (specifically a regression) is considered bad enough to be a blocker, then it should either be fixed ASAP or the problematic PR reverted.

Ideally no particular expect

[2018-03-20 11:46] Zimmi48 commented on #6954
## How to experiment

It depends on the degree of stability that we expect to have in releases, and in the master branch. Some, limited, unstability in the master branch is OK, and that's why it is important to merge dangerous features early in a release cycle. However, regressions should be addressed quickly. The rest of the time, it would be better if experimentation for new features could be do

[2018-03-20 14:28] ejgallego commented on #6954
I agree with everything you wrote which seems to me pretty well motivated @Zimmi48 , I only have a small comment:

Yeah, we should. On the other hand I am keeping some PRs open for a long time as a reminded "I am working on this feature", however the thing was harder than expected but I'd like still to keep communicating my intentions, make the code available for collaboration.

I agree that using

[2018-03-20 15:27] RalfJung commented on #6954
GitLab has WIP merge requests for this. In GitHub, this could be implemented as a simple convention: If the PR title starts with "WIP" (or maybe some label), then it is NOT ready to be reviewed. If someone is looking for PRs to review/merge, they should ignore such PRs.

[2018-03-20 15:59] Zimmi48 commented on #6954
There is the "needs: progress" label for this already. It's not necessarily a problem to keep a PR opened for several months as long as there is clear communication on the intents (and an ETA). The problem is with the PRs that stay open without anyone knowing what the author's intentions are.

[2018-03-20 16:02] ejgallego commented on #6954
I guess these should be cleaned up indeed, in the same way we do bug squash parties, we could certainly include PRs.

[2018-03-20 18:54] gares opened #7024 "don't ignore the transparent state"
I'm opening this issue to track discussions and PR related to the *bug* that amounts to ignore the current transparent state (i.e. `Set Opaque`)

[2018-03-20 18:54] gares commented on #7024
It seems a fix was already done in ba7701f but reverted in ab5d23b. @mattam82 can you say more about this revert? Why reintroduce the bug instead of fixing the developments depending on it?

Moved here from #7023

[2018-03-20 18:57] gares commented on #7024
Fix for `simple apply` in #7004

[2018-03-20 18:58] gares commented on #7024
@maximedenes it seem you started to take care of this issue, maybe you should make a GH project out of it? I opened this issue for hygiene of #7023

[2018-03-20 19:14] herbelin commented on #6954
Asking the intentions of the authors may then help :)

[2018-03-20 19:27] ejgallego commented on #6954
Even better would be to be sure we can use tags, projects, and milestones in such a way that intentions are fully captured by meta-data.

[2018-03-20 19:32] RalfJung commented on #6659
First attempt: https://github.com/coq/coq/pull/7025

[2018-03-20 20:19] herbelin commented on #6954
### The notation PR that was reverted

I did react by cautiously asking about more [details](https://github.com/coq/coq/issues/6777#issuecomment-369060442) and by trying to understand why the opportunity of a fix has not been considered in the discussion.

Well, I think the misunderstandings are now resolved. PR convergence and releasing are different processes with different objectives, and I sha

[2018-03-20 23:45] anton-trunov opened #7026 "ssr: applying an overloaded lemma as a view takes too long"
#### Version

Coq 8.7.2 compiled with OCaml 4.06.0
Coq 8.8+alpha compiled with OCaml 4.06.1 (coq.dev OPAM package)

#### Operating system

macOS 10.13.3 High Sierra

#### Description of the problem

The self-contained example is in [this gist](https://gist.github.com/anton-trunov/6c9fd2d821a7f8a56959dac95a0a0d30).
The code is a minimized version of the heap cancellation algorithm from "How to Make

[2018-03-20 23:57] ejgallego commented on #7026
@anton-trunov could you get some profiling data? [see `dev/doc/profiling` and please file bugs for all the missing bits]

It is also this slow in 8.5? 8.6? I would be great to try to track when the regression did take place.

[2018-03-21 09:12] Zimmi48 commented on #6954
About what should a review be, I'll quote @gares who wrote something that I fully agree with:

So basically, most of the time, reviewers do not need to test the code. But what they need to do is ensure that when they see something that could look like a change of semantics, a relevant test is here (or added) to check the semantics. Our test-suite is lacking a lot today but we can improve it along

[2018-03-21 12:37] spitters commented on #6890
@mattam82 Did you get around to looking at this? It would be good if we could continue porting math-classes.

[2018-03-21 13:17] ppedrot commented on #7026
That's ssreflect trying to recognize applied inductive types using a function that has not been designed for that. I'll write a quick fix.

[2018-03-21 14:23] anton-trunov commented on #7026
@ejgallego The last time I checked profiling does not work on macOS (or at least I don't know how to set it up without virtualization). Should I file this as an issue?

[2018-03-21 14:34] herbelin commented on #6954
May I see point 3 of my list as the closest from what @gares is saying?

More generally, what about defining more precisely what a review is in the context of contributing to Coq so that we all speak the same language (and have less misunderstandings).

Just looking in GitHub, I [see](https://help.github.com/articles/about-pull-request-reviews) for instance the sentence "Reviews allow for discussi

[2018-03-21 14:48] ejgallego commented on #7026
Of course feel free, even if think it'd be more practical to use the time improving profiling support in Linux.

[2018-03-21 14:50] Zimmi48 commented on #6954
Yes, I've wanted to write such guidelines for quite some time. Now may be a good time (although I don't volunteer to do it right now, so it could either be someone else writing the first draft, or me at a later time).

[2018-03-21 15:56] Zimmi48 opened #7032 "Official agreement from code owners required"
It was decided yesterday to distribute the merging process (it used to be done by a single person).
The new process is described here: https://github.com/coq/coq/blob/master/dev/doc/MERGING.md
The maintainers are listed here: https://github.com/coq/coq/blob/master/.github/CODEOWNERS

Given that maintainers of different components are now responsible for merging pull requests (after following the p

[2018-03-21 15:57] Zimmi48 commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely.

Théo Zimmermann

[2018-03-21 16:14] thery commented on #7032
I agree to be a code owner. I have read the merging documentation. I
will follow the process and use my merging right wisely.

[2018-03-21 16:33] ejgallego commented on #7032
[code]

[2018-03-21 16:56] ppedrot commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely. And my credit card number is not 5100 4057 7539 9735.

[2018-03-21 16:58] maximedenes commented on #7032
Just curious, what is not its expiration date?

[2018-03-21 17:00] ppedrot commented on #7032
@maximedenes Definitely not 42/18.

[2018-03-21 17:47] Matafou commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely.

Could you make the documentation of the merging script a bit more precise please: under which branch should it be launched? A local branch with upstream set to official coq master (or any branch we want to merge in)?

[2018-03-21 17:53] bgregoir commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely.

B.

[2018-03-21 18:41] letouzey commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely.

Pierre

[2018-03-21 19:25] ejgallego commented on #7032
@Zimmi48 what about signing? Should we require every committer to sign the merge commit?

[2018-03-21 20:31] Zimmi48 commented on #7032
Good question @ejgallego! This is not currently documented but indeed, the merging script automatically signs merge commits (and thus requires gnupg and a PGP key). This is in line with @Matafou's remark that the documentation of the merging script should be made more precise.

[2018-03-21 20:56] amahboubi commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely.

[2018-03-21 20:56] JasonGross commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely.

[2018-03-21 21:13] vbgl commented on #7032
I agree to be a code owner.
I’ve read the [merging documentation](https://github.com/coq/coq/blob/e554ad813af2e51606284cc628202919ba89d34c/dev/doc/MERGING.md).
I’ll follow the process and use my merging right wisely.

[2018-03-21 21:29] herbelin commented on #7032
Hum, difficult task to respect the solemn turn taken by this issue without looking too formal either. Let me say the following:

First, I'm not owning any code. There is code I feel responsible of. There is code I have an expertise of. The only reason I see to use the word `owning` in the context of merging is that we are relying on a file conventionally named `CODEOWNERS` by GitHub and of which w

[2018-03-21 21:33] Zimmi48 commented on #7032
Yeah I used the wording "code owner" because it is the one of GitHub, definitely not to mean that anyone is owning any code.
About the formal wording that I asked, it was just to make sure that nobody answered just "Yeah, OK" without really reading the doc but your reformulation of this is fine with me too.

[2018-03-21 21:44] herbelin commented on #7032
No problem, I perfectly understand the reason.

[2018-03-22 00:43] jimyu94 opened #7034 "Coq XML protocol unable to respond when handling compcert.cparser.Parser"
#### Version

Coq 8.7.1, CompCert 3.2

#### Operating system
macOS 10.13.3

#### Description of the problem

If you use

[code]

and `Add` the sentences of `Parser.v` in the `cparser`folder, the whole `coqtop` process will freeze at a point, and `Ctrl+C` cannot end the process. This could result from the fact that `Parser.v` has more than 34,000 lines of code. However,

[2018-03-22 00:58] ejgallego commented on #7034
@jimyu94 can you run `coqtop` with the `-debug -stm-debug` options and send back the terminal output before the hang?

[2018-03-22 01:01] jimyu94 commented on #7034
@ejgallego Sure! Do you mean to append `-debug -stm-debug` to the end of my Coq XML (ideslave) command, or do you mean to use `coqtop` instead of Coq XML?

[2018-03-22 01:09] ejgallego commented on #7034
Yeah I mean to call Coq in debug mode with `coqtop -debug -stm-debug -q -R lib...`.

That should give you lots of debug output. Then, we can see where the problem is.

[2018-03-22 03:15] JasonGross opened #7035 "Fixpoint should support Eval like Definition"
#### Version

8.9+alpha

#### Description of the problem

I'd like this to work
[code]
The current behavior is "Syntax error"

[2018-03-22 06:08] jimyu94 commented on #7034
[coqtop_plain.txt](https://github.com/coq/coq/files/1836256/coqtop_plain.txt)
[coqtop_debug.txt](https://github.com/coq/coq/files/1836257/coqtop_debug.txt)
I've pasted both the debug mode error and the plain `coqtop` error. Because I was using a Python script to execute it, I was not aware of the error output. But indeed

[code]

has no problem compiling it. Could you check why the error happened?

[2018-03-22 06:08] jimyu94 commented on #7034
@ejgallego

[2018-03-22 08:03] silene commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely.

[2018-03-22 08:11] aspiwack commented on #7032
Good for me.

[2018-03-22 08:11] Zimmi48 commented on #7032
@aspiwack Have you read the documentation?

[2018-03-22 08:12] aspiwack commented on #7032
Oh. And just to be clear: the secondary maintainers, from the point of view of Github, are just semanticless comments, right?

[2018-03-22 08:12] aspiwack commented on #7032
Of course.

[2018-03-22 08:18] Zimmi48 commented on #7032
Yes.

[2018-03-22 10:50] gares commented on #7032
I'm in.

@Matafou in #7029 I'm trying to make the script more user friendly (I used it once and I was not happy with it).  I invite everybody to do the same at his turn, including improving MERGING.md if needed)

[2018-03-22 11:28] herbelin opened #7042 "What does time for discussion mean?"
I'm opening this issue to centralize a discussion started at #7023 and which has no reason to be continued there.

Summary: in the last few years, it has been made clear at various occasions that communication targetting the whole development team was expected so that the opinions, suggestions, needs of everyone in the team could be taken into account whenever wanted. (*)

In the period when @maxi

[2018-03-22 11:32] Matafou commented on #7032
OK thanks.

[2018-03-22 11:46] Matafou commented on #7032
With my ownership declared I am receiving lots of PR notification messages now, even ones that do not concern me.

I am considering changing my git notification settings to
[code]
Will I still receive notifications about the code I "own" (as a secondary owner)?

[2018-03-22 11:55] silene commented on #7032
I was about to answer yes, but I now notice that I receive notifications about `doc/` because I am actually the primary owner of the directory. I thought I was only a secondary owner. I don't feel like being the primary owner of a subsystem I didn't agree with (i.e. sphinx).

[2018-03-22 11:56] herbelin opened #7043 "Organizing reviewing and merging tasks"
Can someone comment about "pipelines" (as in @gares' pipelines)? This seems to be a good way to organize one's own work. Is it similar to the way @zimmi48's showed me once how he managed 8.7 backports? Is it automatically configurable? What amount of work does it require for being set up? Etc.

[2018-03-22 11:57] maximedenes commented on #7032
@silene Is is ok for you if we switch? I can become the principal maintainer of `doc/`.

[2018-03-22 11:58] gares commented on #7034
Thanks for the debug info, it looks like a bug (parser gets out of sync), I'll try to reproduce it locally.

[2018-03-22 11:58] maximedenes commented on #7032
@Matafou For a short period, secondary owners did receive notifications, but it is no longer the case after #7027, precisely because it was generating too much noise.

[2018-03-22 12:10] zeldovich opened #7044 "coqc -schedule-vio-checking mostly doesn't work"
#### Version

8.8+alpha (commit ef0fc7730df3cb585b621955010115407d80d2e7)

#### Operating system

Linux (ocaml 4.04.0, kernel 4.13)

#### Description of the problem

[code]

[2018-03-22 12:13] gares commented on #7034
I can't reproduce it here. I'm using CoqIDE and I jump to the end of Parser.v (I've checked out CompCert master, not the exact tag). Coq takes a few second to process almost every line in the file, and then starts doing the vm_compute stuff at the end of the file. No parse error.

I'm afraid you need tell me exactly what you mean by "Add the sentences", since I'm pretty sure you don't write XML by

[2018-03-22 12:15] maximedenes commented on #7034
@gares this is a report for Coq 8.7.1. What version did you try to reproduce with?

[2018-03-22 12:18] gares commented on #7034
Oh, I've used Coq master. Let me try with 8.7

[2018-03-22 12:23] anton-trunov opened #7045 "ssr: clear switch inside destructuring brackets"
#### Version

Coq 8.7.2
Coq 8.8 (ef0fc77)

#### Operating system

macOS 10.13.3 High Sierra

#### Description of the problem

Consider the following minimized example:

[code]

With Coq 8.8 (ef0fc7730df3cb585b621955010115407d80d2e7) I get the following error message:

[code]

But Coq 8.7.2 does not produce an error here.

Additionally, both versions do not like this piece of code:

[code]

_Almost

[2018-03-22 12:25] Matafou commented on #7032
Mmmh OK we will see.

[2018-03-22 12:34] gares commented on #7034
The same on 8.7

[2018-03-22 13:04] zeldovich commented on #7044
One thing I forgot to mention is that this behavior appears to depend on the size of the `.vio` file.  In particular, in the `Test.v` example from my report above, the `.vio` file is somewhat large (600KB).  On the other hand, if `Test.v` is empty, the resulting `.vio` file is small (1.5KB), and `coqc -schedule-vio-checking` does not report an error.

[2018-03-22 13:08] silene commented on #7032
Yes. Thanks.

[2018-03-22 13:14] maximedenes commented on #7034
You mean 8.7.1?

[2018-03-22 13:34] ejgallego commented on #7034
Need to have a look, but I guess that CoqIDE doesn't trigger the exact same protocol calls than @jimyu94 , so it doesn't trigger the bug. I used to see many bugs like this in jsCoq, due to doing a long sequence of `Add`s.

Maybe the classifier doesn't force eager execution enough?

@jimyu94 , I guess the workaround for now is to call `Exec` after each `Add`. This is what `coqc` does and what jsCoq

[2018-03-22 13:36] ejgallego commented on #7034
HA, `Program Instance` is involved. Color me surprised.

[2018-03-22 13:42] ejgallego commented on #7042
My point of view is that a change can be discussed 1 minute after it is submitted or 10 years after it is merge, discussion somehow doesn't seem to me so strongly coupled with merging.

I guess we have now:
a) discussion time until the maintainer of the current subsystem agrees to merge. This will range from close to 0 [straightforward fixes] to many months in the case of complex changes.
b) discu

[2018-03-22 13:46] ejgallego commented on #7043
That's a feature called "[Projects](https://help.github.com/articles/about-project-boards/)", it is fairly easy to use and setup, but not too powerful.

[2018-03-22 13:50] ejgallego commented on #7044
@zeldovich have you had success with any previous Coq version?

[2018-03-22 13:52] ejgallego commented on #7044
Yup, it seems to work in 8.7, likely some missing initialization flag in the toplevel.

[2018-03-22 14:16] herbelin commented on #7042
@ejgallego: I have a vague feeling that your position changes according to the circumstances. You were one of the most ardent defenders at some time that even simple bug fixes are by default reviewed and commented by anyone is wishing to do so (which means allocating a time span for that). Are you e.g. not anymore interested in having the time to look at the PRs I would merge before I merge them?

[2018-03-22 14:24] ejgallego commented on #7042
@herbelin your feeling is wrong, but indeed my confusion about what you do mean is actually monotonically increasing. I think the problem maybe is that I think this assumption:

in indeed inconsistent. Things can be reviewed instantly [trivial bug fix], so no, you don't need to allocate a time span for reviews.

In my model "review != time span". So I say review, yes, time span, I think it is **di

[2018-03-22 14:32] ejgallego commented on #7042
Every PR should get a review, but that's a kind of a hard precondition. Of course, if some other developer does a review consensus can be reached without my participation. Distributed consensus is hard and I have the feeling that such a simple rule is not gonna change things a lot.

But let's go back to you concrete case. Someone submits a PR, you review it, and you think it is OK, and merge. Comm

[2018-03-22 14:41] gares commented on #7043
You create your project and you add columns to it. Each column has a meaning (to you) and you can arrange PRs, issues or text notes into columns.  That's all.

Given I've just started using it, I don't have much to teach.

I started using it because I have a bad memory and I don't want to forget to merge PRs that are ready.
Such a list is hard to get using simple filters for example (you cannot as

[2018-03-22 14:59] gares commented on #7034
BTW, the output files @jimyu94 has attached are quite odd. I see both `Coq >` lines, as if `coqtop` was used, but I also see `-ideslave` and I'm pretty sure the main loop of coqide does not print these lines.

I'm afraid we can't make progress without a way to reproduce it.

[2018-03-22 15:30] anton-trunov opened #7050 "ssr: no error message when removing non-existing assumption with a clear switch"
#### Version

Coq 8.8+alpha (ef0fc77)

#### Operating system

macOS 10.13.3 High Sierra

#### Description of the problem

Coq does _not_ complain about the undefined name in the clear switch:

[code]

Coq 8.7.2 outputs an error message in this case:
[code]

[2018-03-22 15:46] mattam82 commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely.

I'm not so sure to be the right primary for vernac/ but we'll see.

[2018-03-22 15:47] herbelin commented on #7042
Well... This morning, I don't know if it should be considered a trivial bug fix or not but I reviewed #7016. In about 2-5 minutes, I started to understand what was the point and I started to write a comment, betting on the responsiveness of @skyskimmer to answer my question quicker than what I would require myself to fully understand the PR. While he was answering, I could not stop my brain to con

[2018-03-22 15:49] ejgallego commented on #7034
You can reproduce it using the strategy on https://github.com/ejgallego/coq-serapi/issues/47

Basically what `ReadFile` does is to call `Add` for the whole file.

[2018-03-22 15:53] herbelin commented on #7043
OK, thanks. Somehow, I would need a dashboard with a list of things about which an action is expected from me. That probably exists but I did not have time to find it yet. Currently, I'm working mainly with flags in my github mailbox, but mails not treated in time tend to become untreated at all (except at some times, once a week, or every two weeks, where I try to review in a systematic way every

[2018-03-22 16:00] anton-trunov opened #7051 "Profiling Coq on macOS"
#### Version

Any version

#### Operating system

macOS

#### Description of the problem

There is [dev/doc/profiling.txt](https://github.com/coq/coq/blob/master/dev/doc/profiling.txt) file teaching how to profile Coq on Linux.

Is it possible to profile Coq on macOS without using virtualization?

[Here](https://github.com/coq/coq/issues/7026#issuecomment-374963710) @ejgallego says

Feel free to c

[2018-03-22 16:04] ejgallego commented on #7042
Umm, IMVVHO this is distant from a "trivial bug fix". I'd classify it as "quite tricky stuff".

But I think you make a good point, but on the other hand I get the feeling that you may be overthinking the process a bit. Maybe I have an easier time as I assume there will never be a perfect process so errors will be made, so I am more interested in fact to increase the tolerance/recovery for errors t

[2018-03-22 16:09] ejgallego commented on #7032
`vernac` is quite a beast indeed as it agglomerates many different subsystems. Maybe we could refine a bit here but it is not easy.

[2018-03-22 16:23] gares commented on #7050
Thanks for reporting

[2018-03-22 16:48] Zimmi48 commented on #7032
Please people when you say you have read the doc and you will follow the process, do it. There are already pull requests that have been merged without using the merge script. This breaks in turn the backport script. If you want to make an exception to the process in some case, ask before doing it instead of "judging" on your own that it is fine.

[2018-03-22 16:52] gares commented on #7034
I did download coq-serapi (branch v8.8) and build it. Then I did `(ReadFile "cparser/Parser.v")` and all went good.  Then I tried to randomly ask `(Query ((sid 99)) Ast)` and I got an AST....

[2018-03-22 17:11] gares commented on #7034
I did not ask the AST for all senteces (they are 2600), is there a way do write a for loop in sertop?

[2018-03-22 17:13] ejgallego commented on #7034
Nope, the next version of the query language does indeed allow for ranges, but that's not ready yet. You can try to `(Exec sid)` the last sentence maybe?

[2018-03-22 17:17] ejgallego opened #7053 "VST build broken in 8.8 / master"
In 8.8, the file `veric/rmaps.v` seems to hang [still running after 30 minutes, in 8.7 it compiles almost instantly].

A bisect is needed.

[2018-03-22 17:24] ejgallego commented on #7053
`coqc` hangs around this line:
[code]

[2018-03-22 17:26] ejgallego commented on #7053
Command line to reproduce / bisect:

[code]

[2018-03-22 17:28] ejgallego commented on #7034
Of course you can always do a little of `echo "(ReadFile foo) `seq blah...`.." | sertop

[2018-03-22 18:25] jimyu94 commented on #7034
Thanks for helping! I found that the files I provided above uses plain `coqtop`, which means I should escape `\r\n` but I forgot to do so. I found the freezing problem using `coqtop -ideslave`, which doesn't need to escape `\r\n`. I will provide the output of `ideslave` later today. May I ask you how to escape `\r\n` in the plain `coqtop` so I could also test the plain `coqtop`? @gares I also don'

[2018-03-22 18:37] ejgallego commented on #7034
- Can you identify the exact sentence that creates the problem?
- Are you running `(Exec $last_sentence)` before calling `Query`.

[2018-03-22 18:46] ejgallego commented on #7053
So the problematic commit is 0ad26633a4589d77de1f864733d1d953dab9ea91:
[code]
cc: @SkySkimmer

[2018-03-22 18:50] ejgallego commented on #7053
@tchajed [comments](https://github.com/coq/coq/pull/6193#commitcomment-26201344) in #6193 are very relevant here:

IMHO this requires action before 8.8.0.

[2018-03-22 19:35] ejgallego opened #7055 "CoqIDE will be soon impossible to build in Debian derivatives"
The GTK libraries CoqIDE depends will be soon removed from Debian. This means CoqIDE will become much harder to build in these distributions.

For more details, see: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=885677

[2018-03-22 21:50] Zimmi48 commented on #7042
Hugo, I can see a **fundamental flaw** in your reasoning, a **huge confusion** in most examples you give in this thread: Your examples are ones when you committed fixes without asking anyone. You still have a vivid memory of the rude way in which this was received. But this practice is definitely banned. No one can merge their own PR. No one can commit to master directly.

When a maintainer merges

[2018-03-22 21:52] maximedenes commented on #7042
More than that, maintainers of all impacted components have to agree.

[2018-03-22 22:05] Zimmi48 commented on #7042
I wonder whether your confusion in the case of the PR of @maximedenes that was merged by @gares comes from the fact that these two developers are located at the same place and thus you tend to see them as the same person. So it seems to you like this change was merged without discussion, similarly to the case where one merges their own PR. But they are indeed two distinct developers who can disagr

[2018-03-22 22:12] ejgallego commented on #7042
Well Hugo has a point in the sense that we tend to overreact we also get burnt out from time to time :)

So I wonder what's the role of the RM here? In a sense, the RM should be a bit special here with larger-scale commits?

[2018-03-23 02:01] jimyu94 commented on #7034
@gares Here is my exact input to `coqtop -ideslave`. This time I used my Linux machine with Coq 8.7.1, and it has the same problem. Could you check it on your machine? Thanks!
[io.txt](https://github.com/coq/coq/files/1839850/io.txt)
[input.txt](https://github.com/coq/coq/files/1839851/input.txt)

@ejgallego No. I didn't use the Exec command before callng Query. I will try it right now!

[2018-03-23 02:08] ejgallego commented on #7034
Try 8.8 if you can too!

[2018-03-23 03:15] jimyu94 commented on #7034
@ejgallego @gares Here is my input for SerAPI to trigger the freezing state in my Python code.
[input.txt](https://github.com/coq/coq/files/1840026/input.txt)
I am so sorry that after trying this input by just copying and pasting (instead of using my Python script), the freezing didn't happen, which means my Python code is to blame.

However, I can reproduce the freezing state in `coqtop -ideslave

[2018-03-23 03:38] ejgallego commented on #7034
@jimyu94 note, change your scripts to use `(Query ((sid $number)) Ast)` as this is the form 8.8 uses. Sorry for the non-compatible change.

Regarding the XML part, it is hard to say what's going on. I guess you can fully work in SerAPI for now until this issue is resolved.

[2018-03-23 06:44] jimyu94 commented on #7034
@ejgallego Thanks for your suggestions!

[2018-03-23 09:10] gares commented on #7055
Thanks for the heads up.
Maybe it is time to really think about UIs ;-)

[2018-03-23 09:38] herbelin commented on #7042
Vivid memory certainly but fundamental flaw and huge confusion seem to me a bit strong :)

First, I do not see anything wrong _per se_ in what I was doing. It is wrong only from the moment that some people are interested in discussing what I'm doing. It is not wrong as long as there is an agreement that this is a normal way to proceed. For instance, many improvements of the code architecture have

[2018-03-23 09:41] Zimmi48 commented on #7055
So what about choosing to drop CoqIDE completely and make VSCode with VSCoq the main interface for people who don't like Emacs?

I didn't personally tested VSCode yet (that's on my TODO list) but it has become the most popular editor among developers according to StackOverflow's 2018 survey (cf. https://insights.stackoverflow.com/survey/2018#technology-most-popular-development-environments).

More

[2018-03-23 09:49] #6659 closed

[2018-03-23 09:50] maximedenes commented on #7055
One thing I wanted to explore is to develop first class support for LSP (https://langserver.org/) on the Coq side.

[2018-03-23 09:54] maximedenes commented on #7042
What are you talking about? There are 4 code owners assigned for #7016.

[2018-03-23 09:55] Zimmi48 commented on #7042
I think @herbelin was referring to the wrong PR and FTR I am writing a more complete answer.

[2018-03-23 09:56] #6240 closed

[2018-03-23 09:56] maximedenes commented on #7042
Ok, very good, I can go back to actual work then :)

[2018-03-23 09:58] #7026 closed

[2018-03-23 10:05] ppedrot commented on #7055
It was pretty clear this would happen someday... As mentioned in the Debian thread, we're not the only ones in trouble here, we might want to ask LablGTK devs what they believe to be a decent solution (@garrigue ?). Maybe this simply means dropping LablGTK altogether?

[2018-03-23 10:11] Zimmi48 commented on #7042
For a logician the following sentence surprises me a lot:

The negation of "not asking anyone before committing" is not "asking everyone before committing".

-----

That being said, **I feel very good** when reading your answer because **I was spot on** with https://github.com/coq/coq/issues/7042#issuecomment-375472806 and **your answer to this now dissipates a big confusion**.

Indeed, it was cle

[2018-03-23 10:13] garrigue commented on #7055
Last time we had a discussion on the lablgtk list, the feeling was that gtk3 itself was not an interesting target.
So the question is whether there is sufficient compatibility support in gtk3 so that we could move at little cost.
I haven't checked yet.
If the required effort is the same as moving from gtk1 to gtk2, I'm not sure anybody is ready to do it.

[2018-03-23 10:25] SkySkimmer commented on #6919
Gitlab released their github integration and I tried using it. It worked on a test repo (see https://github.com/SkySkimmer/gitlab-test/pull/1). It worked on a Coq PR from me to myself (https://github.com/SkySkimmer/coq/pull/9).
However nothing is happening so far on a test PR from @ejgallego's repo to mine (https://github.com/SkySkimmer/coq/pull/10).

[2018-03-23 10:27] maximedenes commented on #7042
A few remarks:
- it is hard for me to prove I'm not the same person as @gares. On the other hand, it's easy to show we can disagree (which is what matters I guess). For example, @gares likes French coffee, I hate it.
- I'm not sure what problem we are trying to solve here. @gares and I didn't make the fix in #7023 together. I made the fix alone, after a discussion involving other developers.
- ask

[2018-03-23 10:48] Zimmi48 opened #7056 "When a merged PR automatically closes an issue, put the issue in the same milestone"
This was something that I used to do manually but it would be more efficient to have a bot do it instead.

[2018-03-23 11:03] Zimmi48 commented on #7042
My feeling about this is that this is in the same category as "Maintainers MUST NOT merge their own patches". Pair programming means that there are two authors, even if one of them only submits the PR. The reviews must always be done by someone else to ensure some kind of distance with the patch (it's hard to review one's own patch).

I don't think it would add so much "bureaucracy" because it is

[2018-03-23 11:05] Zimmi48 commented on #6919
I anticipated the problem: mirroring does not work for PRs only for branches. Furthermore, what happens when you force-push to your topic branch. Does it rebuild anything? In any case, we would need a bot to (force-)push PRs to new branches on GitLab. The integration will at least save us from handling the reverse direction (status checks).

[2018-03-23 11:08] Zimmi48 commented on #6919
BTW @ejgallego said it would also solve #6229. Can we have several status checks going back from GitLab CI to GitHub like we have right now with CircleCI?

[2018-03-23 12:41] ejgallego commented on #7055
The best option is without any doubt to port lablgtk to gtk3.

LSP by itself is far from being useful to Coq.

[2018-03-23 12:43] SkySkimmer commented on #6919
WDYM? What original repo? What question?

I think they've got an issue for per-stage statuses but that's not great for us.

[2018-03-23 12:56] ejgallego commented on #7042
Going back to the original topic of this issue, my view is that:
- discussion time should be determined by the merger / shepherd and be reasonable as to ensure everyone that should have a look does. I don't think a formal rule can be done, but I am in favor of adding this step as a merge "checkpoint".
- there is nothing bad in trying to be eager sometimes, but of course we should all have common s

[2018-03-23 12:57] maximedenes commented on #7055
Can you say about more?

[2018-03-23 12:57] ejgallego commented on #6919
https://gitlab.com/SkySkimmer/gitlab-test/pipelines/19371865 is dead.

Yeah, so we need to request per-job status.

[2018-03-23 13:00] SkySkimmer commented on #6919
Oh for some reason the repo was private, I guess that's the default. It should be accessible now.

[2018-03-23 13:05] ejgallego commented on #6919
I see, thanks. So the pipeline has only one job then. I guess it does the same for many jobs as you've said.

Question, can't you run stages in parallel?

Anyways, we can start with this simple integration, and keep progressing forward. We are still missing more runners etc... so this is not something we will have ready in one day.

[2018-03-23 13:06] gares commented on #6842
remove, is Coq 8.7, and such a result is part of current libraries (it is even the showcase of jscoq).

It contains

I think it should be removed

[2018-03-23 13:08] gares commented on #6208
Why is this assigned to me, by the way?

[2018-03-23 13:09] gares commented on #6842
remove, it is `V82` API (pre tactic monad, pre EConstr)...

[2018-03-23 13:10] maximedenes commented on #6919
I'm happy to help with it. I can provide 20 virtual machines as workers, and 2 physical machines. I can also help with the integration. Will create a github project now so we can dispatch the various tasks.

[2018-03-23 13:11] gares commented on #6842
We definitely need a page on this topic but this one:
- wrong build system (inside Coq, not by using coq_makefile)
- the code is V82 API

[2018-03-23 13:21] Zimmi48 opened #7058 "How to prepare efficiently the release notes?"
Twice in a row the preparation of release notes has taken time and has contributed to a delayed beta (8.7+beta1 and 8.8+beta1). How to make the preparation process more efficient?

CHANGES are a good source to look for changes worth to be advertised in the release notes (and now with the PR template they are very infrequently forgotten) but they contain incomplete information: we don't store the a

[2018-03-23 13:24] ejgallego commented on #7058
Note that GitHub also supports the [Co-Author](https://help.github.com/articles/creating-a-commit-with-multiple-authors/) method.

[2018-03-23 14:09] forestjulien commented on #7032
I agree to be a code owner. I have read the merging documentation. I
will follow the process and use my merging right wisely.

On Wed, 21 Mar 2018 15:57:08 +0000 (UTC)
Théo Zimmermann <notifications@github.com> wrote:

[2018-03-23 14:15] Zimmi48 commented on #6208
Because you fixed it, at least partially for bignums. However, I guess this should be assigned back to @MSoegtropIMC since he has bigger plans for this.

[2018-03-23 14:19] Zimmi48 commented on #7055
Hum. Are you willing to do it? If there is no volunteer to do it, this is ridiculous to pretend it's the best option.

[2018-03-23 14:41] Zimmi48 commented on #7032
FTR I wrote an e-mail to Pierre Corbineau to inform him of this.

[2018-03-23 14:43] ejgallego commented on #7055
I have a hard time following your reasoning. There are many other mature tools that depend on lablgtk so for sure the best for all users is to port lablgtk as the only option otherwise is to review quite a few hundredth thousand lines of code from scratch.

[2018-03-23 15:09] siegebell commented on #7055
@ejgallego I'd like to hear more about the issues you see with using LSP for Coq.

FWIW, I think writing an LSP server from scratch (especially if you can base it off of Hack's OCaml implementation of LSP) is not significantly more work than porting CoqIDE. And there's the long-term payoff of not having to maintain your own editor...

[2018-03-23 15:14] ejgallego commented on #7055
AFAICT LSP doesn't fit into the interactive paradigm used in Coq development, at best, it fits partially, so you still have a to do a lot of custom protocol. That being said a LSP server for Coq will appear some day [see ejgallego/coq-serapi#26]

[2018-03-23 15:15] maximedenes commented on #7055
Concretely, what feature do you mean doesn't fit?

[2018-03-23 15:18] ejgallego commented on #7055
For instance, where is the LSP part dealing with goals and goal display?

[2018-03-23 15:26] gares commented on #7058
What do you mean by release notes? The credits?

[2018-03-23 15:28] gares commented on #7055
@siegebell used external html files to print the goal (and I guess VS code can display them nicely)

[2018-03-23 15:29] gares commented on #7055
@siegebell I've a question: you had a MITM speaking XML on one side and LSP on the other. Is the MITM generating the html out of a `Goals` XML call?

[2018-03-23 15:46] SkySkimmer opened #7059 "Stack overflow at Defined related to evar normalisation"
NB: still active as of 8.11

[code]
Bisect says:

Original report @SimonBoulier.

[2018-03-23 15:47] SkySkimmer commented on #7059
cc @ppedrot

[2018-03-23 15:50] herbelin commented on #7055
In parallel to following the good alternative initiatives mentioned in the thread, regarding CoqIDE in particular, are there technical reasons from Debian to drop support for gtk2 libs or is it before all a political decision. If before all a political decision, could Debian be sensitive to a collective request from lablgtk2 users ([alt-ergo](alt-ergo.lri.fr), [frama-c](frama-c.com), [laby](https:

[2018-03-23 16:02] ejgallego commented on #7055
@herbelin it is a purely technical decision as the library is un maintained. Unfortunately I don't see a way back as they are right about deprecating the whole GNOME 2 infrastructure [I wish they would deprecate GNOME 3 too, but that's a different story XD]

[2018-03-23 16:05] SkySkimmer commented on #7032
Is it OK to merge without signing?

[2018-03-23 16:06] maximedenes commented on #7032
Unless there is a concrete motivation against it, I think it would be better to sign the merge commits.

[2018-03-23 16:08] SkySkimmer commented on #7032
The motivation is not wanting to set up signing.

[2018-03-23 16:10] maximedenes commented on #7032
I think it's worth setting up signing, but:
1- we should document it to make it easier
2- if people think it is not important, I won't fight for it :)

[2018-03-23 16:16] aspiwack commented on #7032
@maximedenes it would probably help if you shared why you think signing merge commits is useful. Then we can weigh the different options.

[2018-03-23 16:29] gares commented on #7055
Unless I'm mistaken Debian is *not* removing gtk2, it is removing *gtksourceview2*, that we use for syntax highlighting (and is an optional module of lablgtk2 as far as I know).
  https://lists.debian.org/debian-devel/2018/02/msg00169.html

[2018-03-23 16:29] maximedenes commented on #7032
Whether it is a good idea to sign commits or not is a standard debate in the git world, with standard reads like: https://mikegerwitz.com/papers/git-horror-story

The motivation is to avoid someone impersonating a maintainer when integrating a change. But I personally sign all my commits, I'm not saying there's something specific to merge commits.

[code]

[2018-03-23 16:34] MSoegtropIMC commented on #6208
Please feel free to assign it to me. I anyway wanted to work on the signature verification next week.

[2018-03-23 16:47] MSoegtropIMC commented on #7055
Just a note: the Windows build scripts can build everything CoqIDE needs on top of basic C / OCaml libraries from sources (GTK including renderers like cairo and pango, a ton of support libraries, ...). It wouldn't be difficult to do the same for Linux. Just it takes a while to build (45 minutes or so), so one might want to split off the CoqIDE build from the main Coq build (and possibly also the

[2018-03-23 16:54] aspiwack commented on #7032
If you sign all your commit, I doubt there is a need for the merge tool to sign itself, I suppose you've set up your git to sign commits automatically, right?

_after having a look at the script_

In fact the script doesn't seem to use gpg, only to require it as a dependency. Which doesn't seem particularly useful. Am I missing something?

[2018-03-23 16:56] maximedenes commented on #7032
The tool doesn't merge itself, it asks git to do it.

https://github.com/coq/coq/blob/546a472b298ed00d0fea6de3145141f76ecb576c/dev/tools/merge-pr.sh#L149

[2018-03-23 16:57] herbelin commented on #7055
Ah, ok, I see better. Does this mean that if we propose ourselves as maintainer, `gtksourceview2` could be kept (and why3 and others being able to take benefit of it also)?

[I don't feel competent about @MSoegtropIMC's proposal, but that seems to be otherwise a solution too.]

[2018-03-23 16:57] maximedenes commented on #7032
I have, but I guess @SkySkimmer hasn't, hence his question.

[2018-03-23 17:01] aspiwack commented on #7032
Ah, but you call `merge -S`, my bad. So it will fail if gpg doesn't work properly.

But how about just calling `git merge` without `-S`? It will still sign your commits but not those of those who don't want to sign.

We may collectively decide to sign commits or merge commits, or tags, or something. But it's a matter of policy which seems to be orthogonal to the issue we're addressing here.

[2018-03-23 17:02] maximedenes commented on #7032
I'm a bit lost. I thought the entire point of this merge script was to enforce the same policy for all mergers.

[2018-03-23 17:13] aspiwack commented on #7032
I'm not arguing against this. But since I'm guessing that « commits musn't be signed » is not a policy we're considering enforcing. And since as far as I'm aware, signing commits has never been a policy. It seems to me, that we'd better discuss whether to make it policy in a second, separate step.

As this issue seems to be mostly about the review and assignment process.

[2018-03-23 17:31] Zimmi48 commented on #7032
## Why signing merge commit is more important than requesting our contributors to sign their commits

Because the last commit in master at any time is always a merge commit. Thus, the HEAD of master is always signed.

## Why the script calls `git merge -S`

Because I asked that it does when I started merging. @maximedenes had been signing his commits for at least a year when I started to do backpo

[2018-03-23 17:39] Zimmi48 commented on #7055
When you say "ourselves"? Who do you mean exactly? It can't be a collective pledge and I certainly would never pledge to be this maintainer.

[2018-03-23 17:40] PierreCorbineau commented on #7032
I agree to be a code owner. I have read the merging documentation. I will follow the process and use my merging right wisely.

[2018-03-23 17:54] Zimmi48 commented on #7053
Thanks @ejgallego for your efforts in finding this issue but the result of your bisect tells me that this is not an actual regression. This is just bad and untested code. (That's just a guess, but I'm ready to bet a pint on it.)

Indeed, typeclass resolution is famous for being slow to fail when there are too many instances, even when it is fast to succeed. Here the change introduced by this commi

[2018-03-23 17:54] herbelin commented on #7055
= one person among the lablgtk2 users (in the worst case me for instance).

[2018-03-23 17:58] gares commented on #7055
I think we should talk with the Debian people, they are nice guys.

The bug report has an email address, I just wrote a message to see if we can keep lablgtk2 without the gnome specific part of it (that we don't use) and gtksourceview (that we use, but could be removed from CoqIDE as a last resort).

[2018-03-23 17:59] aspiwack commented on #7032
Yes, sure. Until this week, you and Maxime were the only two users of this script. So this has been tailored to your process. But if we are to generalise its usage, it makes sense to review these decisions collectively.

Regarding signing, it seems that everybody has a very different opinion on about every aspects of it. So it may require a dedicated thread.

[2018-03-23 18:00] Zimmi48 commented on #7053
Testing here: https://travis-ci.org/Zimmi48/coq/jobs/357515429

If my bet turns out to be right, it will just prove that once more, this was not a regression and we have lost time because VST just doesn't follow the rules to be in our CI: they don't test their code with Coq master before pushing to the branch we track while this is something that we explicitly request (cf. https://github.com/coq/c

[2018-03-23 18:07] Zimmi48 commented on #7032
Feel free (you or anyone else) to open a new issue or a PR removing this `-S` and we can discuss there.

[2018-03-23 18:09] gares commented on #7032
@SkySkimmer and all other that don't know GPG. It has the most masochistic user interface ever, but thanks god git call it for you.  The only thing you need to do is to create a key.  This is a nice tutorial (recommended in Debian, were we use GPG for signing uploads):
  https://ekaia.org/blog/2009/05/10/creating-new-gpgkey/

[2018-03-23 18:14] gares commented on #7032
FTR, I think we can defend signing commits with better arguments than the ones used to defend the white space linter. Just make a key, it will take way less energy.

[2018-03-23 18:15] Zimmi48 commented on #7058
I like your view of this @gares and for point 2, we can still credit the authors of the major features in the release notes (in the GitHub release section). Maybe that would be enough.

OTOH, the credits chapter is a good read for someone who wants some history. It's certainly much easier to read than CHANGES.

[2018-03-23 18:16] silene commented on #7058
Where can I find the definition of the alpha tag for Coq? I never expected that an alpha tag for 8.9 would be put so soon in the development, and certainly not before there even is a 8.9 branch.

[2018-03-23 18:21] SkySkimmer commented on #7053
It's actually the next axiom, and I find `Declare Instance` to be cleaner.

[2018-03-23 18:25] SkySkimmer commented on #7053
At the time vst was added (f29e577ef81e608cb8b3a68f4e171716c1280711), readme.ci said:
[code]
So they weren't expected to test with master and I don't think we notified them of the policy change (am I wrong?).

[2018-03-23 18:28] Zimmi48 commented on #7043
I found projects particularly efficient when they are used by just one person or a few persons. You can have as many categories as you want (columns). For instance, I had a "Fixed needed" column for merged PR that were not backportable yet because a problem had been found in the meantime. You also have a bit of automation available (for instance to automatically put PRs you add to the project in a

[2018-03-23 18:43] Zimmi48 commented on #7053
No, indeed, it's our job to notify them that they are not following the current policy. If you have tested your patch, can you submit it and close this issue? I'll take care of informing them about the CI policy.

[2018-03-23 19:02] Zimmi48 commented on #7058
The release doc is still WIP so please bear with me but the idea of this tag is to mark the very first commit in master and not in v8.8. It was invented for Maxime's development version number PR (that is still unfinished after one full year). The reason for providing such git tag is because the goal of this PR is to use `git describe` to get a version number such as `8.9+alpha-1206-f5gj6hd` for a

[2018-03-23 20:18] gares commented on #7042
For once I agree with Emilio more than Maxime does. It counts way more than the French coffee urban legend... Good we fellas!

[2018-03-23 21:00] maximedenes commented on #7042
@gares I think it is obvious that you are trying to show you can disagree with me here :D

Unluckily, I also agree with @ejgallego.

[2018-03-23 21:59] ppedrot commented on #7055
CoqIDE is already a pretty crappy text editor, hence removing gtksourceview would be essentially a death sentence...

[2018-03-23 22:03] ejgallego commented on #7032
Signing merge commits with the key you are registered in GitHub should be standard policy and any non-signed of wrongly signed commit should be considered coming from a compromised entity.

[2018-03-23 22:05] ejgallego commented on #7042
Agreement changes depending on the circumstances so of course it is not transitive thus all that we have is, have all a nice weekend!

[2018-03-23 22:44] MSoegtropIMC commented on #7055
The version of gtksourceview we use (2.11) is from 2010 and unchanged since then. What I suggested is that if someone decides to stop delivering binaries for gtksourceview 2.11, we can just build it from sources. I don't see a substantial maintenance effort coming from building a library from sources which hasn't been touched for almost 8 years. Of cause it likely has all sorts of security vulnera

[2018-03-23 23:04] MSoegtropIMC commented on #7055
P.S.: this applies recursively. As far as I understood Debian doesn't want to get rid of this because this stuff doesn't work or creates a lot of maintenance effort. It is just old and for this reason likely way insecure. This might not be much of an issue for CoqIDE (it would be e.g. for a banking app).

[2018-03-24 01:23] akr opened #7061 "OCaml extraction can generate infinite recursion"
#### Version

[code]

#### Operating system

[code]

#### Description of the problem

I found that Coq extraction can generate a function
which cause infinite recursion in OCaml.

[code]

[code]

I think this is dangerous because we can prove (f true) is true in Coq.
But the extracted function is infinite recursion.
I.e. the proof doesn't guarantee the extracted function returns true in OCaml.

[c

[2018-03-24 01:48] akr commented on #7061
Note that the function causes a problem with cbv, vm_compute, native_compute.

[code]

So the problem is not only for extraction.

[2018-03-24 01:51] siegebell commented on #7055
@gares the MITM is just converting the goals to json and passing them to the client (vscode extension). The client then displays a webpage in an editor page, and there is a script in the webpage part that converts it to HTML.

[2018-03-24 02:02] siegebell commented on #7055
@ejgallego there are a bunch of methods that LSP itself does not define (step-forward, show-goals, etc.). But LSP is easily extended.

Assuming Coq supported LSP and the additional methods, blindly plugging the LSP into an editor will get you syntax-error reporting/highlighting, symbol/definition lookup, code-completion, etc. In vscode, at least, extensions/plugins are responsible for managing the

[2018-03-24 02:41] ejgallego commented on #7055
Coq cannot do completion well for technical reasons, syntax-error reporting is also fairly complicated to support properly with the current execution/document method, but that should become much easier once PLoF lands.

So yeah, most of the interesting bits still seem custom to me. This is what happened in LSP/Isabelle too.

[2018-03-24 07:27] cmangin commented on #7061
This is the same as #6487, which did not get a definitive answer.

[2018-03-24 07:28] Zimmi48 commented on #7061
If I'm not mistaken this is a known issue, but I don't know if there is already an issue opened for this.
Another similar example is:

[code]

But in this case `Eval cbn in (f true).` does succeed.

Anyways, the problem comes from some reduction being performed before the guard condition is checked. I don't remember exactly why it is so but I guess there are good reasons which have prevented peopl

[2018-03-24 07:30] Zimmi48 commented on #7061
@cmangin You were faster than me :D
Should this issue be closed as a duplicate or kept open because this is indeed a specific problem for extraction? I guess there is no good way to solve this only for extraction so probably it should be closed.

[2018-03-24 07:34] Zimmi48 commented on #6487
Closing in favor of the newer (duplicate) #7061 which has the advantage of providing a good reason why this is a problem.

[2018-03-24 07:34] #6487 closed

[2018-03-24 07:34] Zimmi48 commented on #7061
In fact, I closed the previous issue instead because this one explains why this is a problem better.

[2018-03-24 07:37] Zimmi48 commented on #7053
I submitted https://github.com/PrincetonUniversity/VST/pull/160 for the fix as this was quite urgent. I'll open an issue to discuss their process later on.

[2018-03-24 07:44] cmangin commented on #7061
I think such definitions should be rejected, which would incidentally remove the problem with extraction.

As for the why, some reduction is performed because there are some definitions like this one which would be rejected without any reduction:
[code]

This example is contrived of course, but there are [some in the stdlib](https://github.com/coq/coq/blob/e128900aee63c972d7977fd47e3fd21649b63409/

[2018-03-24 11:31] akr commented on #7061
I think the problem is beta and zeta reduction which erase a term.

If the termination checker checks termination condition of the erased term,
they are acceptable, no need to forbid.

Note that iota reduction also erases a term but I think it is not a problem for
call-by-value evaluation.
But if they are also fixed, Coq may have strong normalization again.

I made a simple example to show that th

[2018-03-24 14:42] RalfJung opened #7063 "coq_makefile TIMED=y output can get intermingled with other text when using -j"
#### Version

8.7

#### Operating system
Linux

#### Description of the problem

I found lines that look like the following in our build logs:
[code]
What happens here is that we run with `TIMED=y -j10`, and sometimes (rarely), two of the jobs print their times at the same time and the output gets all messed up.

[2018-03-24 14:44] SkySkimmer commented on #7063
make's option -O should help with that

Gaëtan Gilbert

On 24/03/2018 15:42, Ralf Jung wrote:

[2018-03-24 14:49] RalfJung opened #7064 "TIMED=y output is hard to separate from remaining output"
#### Version

8.7

#### Operating system
Linux

#### Description of the problem

For continuous performance measurement of our Coq development, we using `TIMED=y` on our CI builds and parse the timing measurements this produces. However, that output lands on stderr together with possible other output from Coq or make. Currently, we use `egrep` to tell these lines apart, but that is rather dirty. I

[2018-03-24 14:57] RalfJung commented on #7063
Ah, I did not know about that option, thanks! I added it to our CI. I have not found an explicit statement that this also applies to stderr, but from <https://www.gnu.org/software/make/manual/html_node/Terminal-Output.html> it seems that it does?

[2018-03-24 15:00] SkySkimmer commented on #7063
Considering

it certainly redirects stderr

Gaëtan Gilbert

On 24/03/2018 15:57, Ralf Jung wrote:

[2018-03-24 15:17] RalfJung commented on #7063
Great, I guess this can be closed then.

[2018-03-24 15:17] #7063 closed

[2018-03-24 15:28] gares commented on #7055
@siegebell does LSP include messages to drive a debugger? The typical interaction with Coq is much closer to the one an editor has with a debugger than the one it has with a type checker.

[2018-03-24 16:00] RalfJung opened #7065 "Get rid of dangiling symlink in repository"
#### Version

8.7

#### Operating system
Linux

#### Description of the problem

The Coq git currently contains a dangling symlink: `test-suite/bugs/closed/4722/tata`. This triggers warnings in some tools, e.g. opam when pinning the Coq dir (it uses rsync which complains about the bad symlink), or gitlab CI caches.

The symlink is a test for #4722. This test could be moved to a misc test (suggeste

[2018-03-24 16:18] andres-erbsen commented on #7055
I would like to share my perspective on the ide-coq interaction, as it seems to be fairly different from how people are thinking on this thread. I hope you will find it interesting if not useful.

In my opinion, the most similar established model of interaction to coq editors is that of LaTeX. For a low-tech example, I edit LaTeX documents using three separate windows in the same layout as coqide:

[2018-03-24 16:25] ejgallego commented on #7055
@andres-erbsen one has to be careful about taking away too much control as in some cases a single Coq sentence can take minutes (if not hours) to execute. Other than that the model your propose is OK and I'm generally moving towards it with my own work [for example the only thing holding jsCoq of working like that is the dreaded StackOverflows we get in JavaScript].

On the other hand, you are IMO

[2018-03-24 16:38] andres-erbsen opened #7066 "feature-request: editor-independent incremental compilation and feedback"
This is a feature request, spinned off from https://github.com/coq/coq/issues/7055#issuecomment-375904541 and https://github.com/coq/coq/issues/7055#issuecomment-375905358. In short, I think it would be very useful to have a Coq equivalent of LaTeX `xdg-open *pdf & while : ; do make ; inotifywait -e modify *.tex ; done` that would produce a goal and error display regardless of the editor used for

[2018-03-24 16:44] ejgallego commented on #7066
SerAPI / Coq will support this at some point, as most of the features here indeed do belong to a document manager / toplevel, but some changes to the core are needed.

SerAPI can be compiled against a normally-installed Coq or installed using OPAM. Are you on Windows? If so, I have no idea how things work there, but I'd be happy to prepare a windows package.

[2018-03-24 16:47] ejgallego commented on #7066
I think that Coq is currently missing a critical bit of infrastructure in order to do a proper implementation of this idea, namely, the document model is not exported to clients. I have a now a model that indeed could be exposed to clients, but it is not gonna be tomorrow when the model is merged into Coq.

However, I could add the model as a shim to SerAPI [and build a simulator, in the style of

[2018-03-24 17:00] ejgallego commented on #7066
Another thing that will be a problem is that asynchronous error-reporting is unreliable as of today ( #5479 ) but that should not be a showstopper.

[2018-03-24 17:43] andres-erbsen commented on #7066
Thanks for the honest overview of the state of the relevant interfaces.

I am on Linux. It does look like I would need to build coq to use serapi (I will do it if that's the way we want it to work).

[code]

However, if even serapi would need a shim to track the document state, is there still good reason to use serapi instead of calling `stm` methods directly? I imagine that there would be an argu

[2018-03-24 19:38] herbelin commented on #7042
I (also) basically feel in agreement with @ejgallego, in the sense that I prefer simplicity to bureaucracy and cheerfulness to uncourteous words (even if I still feel guilty for a memorable big anger I had in winter 2015 at a period of time where I was unable to find the right words to express what I felt).

On the other side, I'm unsure that it is fully fair to identify direct commits to the arch

[2018-03-25 00:21] ejgallego commented on #7042
Hugo (@herbelin) thanks for your comments. Indeed, I do fully agree with "the spirit" of both your proposals and comments, however I am not sure I fully understand the implementation details you propose.

I don't think I can add a lot more, other than that my personal view is indeed an "optimistic" one. Even if as of today there still is some work to do in order to be sure we are all in the same "

[2018-03-25 00:29] ejgallego commented on #7066
In Linux, SerAPI should be able to be used as long as ocamlfind can find a coq package [please open a but if that's not the case]

So in your case, it seems that coq is not registered with `ocamlfind`. What does `ocamlfind list | grep coq` shows? If you have placed Coq in a non-standard location, you need to set the `SERAPI_COQ_HOME` variable.

In your case, it seems strange that your package mana

[2018-03-25 02:49] akr commented on #7061
Oops.  The termination of erased terms by iota reduction must be checked.

In the following example, zeta reduction doesn't erase (f y) but moves it into
the second branch of match.
So, if the erased term by iota reduction (second branch of match) is
not checked, this definition would be accepted.

[code]

[2018-03-25 04:12] siegebell commented on #7055
@gares LSP does not have commands to drive the proof-interaction; I extended the protocol with my own commands (this was easy to do). Vscode also has an [open debugger protocol](https://github.com/Microsoft/vscode-debugadapter-node), but I don't think it's any better than simply extending the LSP.

[2018-03-25 10:28] SkySkimmer opened #7068 "Anomaly with letin in arity of an inductive and normalization"
@herbelin https://github.com/coq/coq/pull/6749#issuecomment-375951466 said:

Since normalization will reduce those letins we can produce an anomaly:
[code]

NB: still active as of 8.11

[2018-03-25 16:28] Zimmi48 commented on #6980
Good suggestion: I created #7070.
This chapter and this part in particular could still be improved a lot.
For such kind of improvements, feel free to open pull requests directly in the future.

[2018-03-25 16:36] Zimmi48 commented on #6974
It seems a bit drastic as deprecation warnings are precisely there to give heads-up. We could start by requiring plugins that we track in our CI to compile without warnings (that would already be a pretty big step I guess).

[2018-03-25 16:40] SkySkimmer commented on #6974
It is regularly impossible to compile without warnings while being
backward compatible (ie when we move some type) so it's a big step indeed.

Gaëtan Gilbert

On 25/03/2018 18:36, Théo Zimmermann wrote:

[2018-03-25 17:04] ejgallego commented on #6974
Not so drastic I think, plugins following `master` have to be adapted anyways, and plugins not following master can disable the warning while they port.

[2018-03-25 20:25] jad-hamza opened #7071 "Improving the documentation of MSets"
#### Version

8.7.2

#### Operating system

Debian

#### Description of the problem

I was having trouble using the MSets interface https://gist.github.com/jad-hamza/bdcb206dcede2a12945afdbb0e40d012. @ejgallego told me on gitter that it should have been: `Module StringDT <: DecidableType.`, and suggested to open an issue in order to improve the MSets documentation.

Note: it was my first time usin

[2018-03-25 20:31] ejgallego commented on #7071
Indeed I believe that the entry point for the MSet library [https://coq.inria.fr/library/Coq.MSets.MSetInterface.html ?] could be improve as to provide a small tutorial on how to use them. Just in the last year alone I think I've seen more than 10 users asking how to use MSets. So maybe the entry point should be changed and a proper overview of the library be added, including extraction.

[ cc: @b

[2018-03-25 20:55] Zimmi48 commented on #7053
The PR was merged. I'll still take care of the other step: notifying them of what our expectations are but this issue can already be closed.

[2018-03-25 20:55] #7053 closed

[2018-03-25 20:58] Zimmi48 commented on #6974
Right now it's virtually impossible for a plugin to target several versions of Coq without maintaining several branches anyways.

[2018-03-25 20:59] ejgallego commented on #7053
Thanks @Zimmi48

[2018-03-25 21:02] ejgallego commented on #7053
We should definitively discuss more about CI in the next WG, IMHO given that our own CI is still not very stable it didn't make a lot of sense to push very hard requirements on users yet, but hopefully we manage to have a nice, "unlimited" CI setup soon and then we can indeed help 3rd party developers to achieve an improve CI setup.

[I write unlimited because for example right now we a not testin

[2018-03-25 21:03] ejgallego commented on #6974
Yeah, this is a bit my point for making this request. Of course it should be well documented how to disable it.

[2018-03-26 08:59] gares commented on #7055
I see, I guess I should look more closely to LSP. Thanks for your insights @siegebell

[2018-03-26 10:53] herbelin commented on #7068
I had a branch 2½ years ago which started treating predicates (and branches) morally as pairs of a context and a conclusion. I worked again a  bit on it and, in this branch, your example works for `lazy`, `cbv`, `cbn`, `vm_compute` and `native_compute`. I shall write a cep going in the direction of enforcing a context-based structure to the return predicate and branches, so that this can be discus

[2018-03-26 11:40] Zimmi48 commented on #5675
This happened again!
https://travis-ci.org/coq/coq/jobs/357456966#L6039

[2018-03-26 13:08] MSoegtropIMC commented on #7032
I agree to be a code owner.
I have read the merging documentation.
I will follow the process and use my merging right wisely.

Michael Soegtrop

I have a few questions, though:
- Is the merge script safe to be run from Cygwin, assuming the required tools are there?
- Is there a documented trust chain for the required GPG keys? That is who should sign that a specific key actually belongs to me? Wha

[2018-03-26 13:14] Zimmi48 commented on #7032
I don't know, I guess testing will tell.

That's an interesting discussion to have (probably in a dedicated thread). For now, there is no real requirement but it's better if you give your public key to GitHub so that it can displays that the commit was signed with a valid signature from the account owner.

There are no such rules right now and we don't want to make it too hard to be a code owner s

[2018-03-26 13:38] maximedenes opened #7073 "Documentation of `reflexivity` is incorrect"
I'm not an expert of that part of the system, but it seems to me that the following statement (from refman, 8.12.1) is not true:

The code seems to be doing a lot more w.r.t. setoids.

[2018-03-26 13:46] anton-trunov commented on #7073
Here is relevant SO question: https://stackoverflow.com/q/46227271/2747511 (see `Time reflexivity.` there).
E.g. `reflexivity` is able to solve singleton goals like `True`, `unit`, etc.

[2018-03-26 14:39] Zimmi48 commented on #7053
The shortcomings of our CI play no role in this story. The two occurrences when VST has pushed broken code have represented a huge time loss for several Coq developers investigating why, bisecting, communicating around this and considering whether this was a regression (this was your assumption in both cases) when it could have been used at more useful tasks (like improving the CI). Not counting t

[2018-03-26 15:20] Zimmi48 commented on #6059
It had been a long time since I hadn't seen this error but it just happened again:

https://travis-ci.org/coq/coq/jobs/358373711#L5198-L5203
[code]

We should report this upstream (to TravisCI) but I don't really know what to tell them...

[2018-03-26 15:28] maximedenes commented on #6998
@andrew `immediate` seems defined in VST as:

[code]

right?

So I guess this is about `assumption` and `reflexivity` respecting `Opaque`.

[2018-03-26 15:36] Zimmi48 commented on #6764
This was fixed by the revert of #6651, right?

[2018-03-26 15:48] andrew-appel commented on #6998
Oops, sorry about that.  Yes, in this case it is about `assumption` respecting `Opaque`.

[2018-03-26 16:21] #6520 closed

[2018-03-26 16:27] ejgallego opened #7075 "Structure for CHANGES"
Previously, Coq used to ship a `COMPATIBILITY` file whose intent was to collect all the changes that could be a source of user-level incompatibility between versions.

Now, these changes are buried in the more detailed `CHANGES` file and it is indeed hard to spot what kind of changes may need immediate source-action.

IMHO, we should either resurrect the `COMPATIBILITY` file, or provide `CHANGES`

[2018-03-26 16:29] ejgallego commented on #6059
This could be due by many factors including an _out of memory_ or _out of storage_ condition in the container. I guess that unless it becomes more frequent we can just ignore it for now.

[2018-03-26 18:36] maximedenes commented on #6998
@andrew-appel The second attempt for a patch to fix this, at #7004 looks much better in terms of compatibility. Ironically, it breaks only VST. So it seems you rely somewhere on `simple apply` not respecting `Opaque` : https://gitlab.com/maximedenes/coq/-/jobs/59515506

I'll investigate more soon.

[2018-03-26 18:42] herbelin opened #7076 "Anomaly with vm_compute and native_compute in the presence of non-canonical forms of inductive arities"
I'm reporting here a border case anomaly with `vm_compute` and `native_compute`. Fix ready and coming soon but I'm reporting it as an issue to avoid reporting a bug at the same time as a PR.

[code]
The reason is that whd-normalization should be called recursively on the arity of the inductive type.

[2018-03-26 19:10] ejgallego commented on #7075
@maximedenes points out that there is a `needs: CHANGES` tag. However, I am not sure we don't want a more refined approach so `needs: CHANGES` would be used for most PRs and `needs: COMPAT` for changes that introduce user-level observable changes, so they deserve even more attention.

[2018-03-26 19:40] samuelgruetter commented on #6257
Here's another example which results in the exact same error message, and which only happens if I do `Set Printing Projections.`, so this might be the same bug.
Coq version: 8.7.2.

[code]

(Could probably reduce further, but at least it's all in one file :wink: )

Interestingly, if I replace `wXLEN` (which takes an implicit typeclass argument) by `32`, the bug is gone.

This bug prevents me from

[2018-03-26 22:33] JasonGross opened #7078 "Bogus error message "Unable to unify "?n@{m0:=?m; m:=?m}" with "?n@{m0:=m; m:=?m}"." involving open_constr and fix"
#### Version

8.8+alpha (f21deb6c861b359f0d3bf8b170d277cfa0d80171)

#### Description of the problem

[code]

Found when trying to make a test case for #7013 .  (Not sure whether or not it's fixed by that PR)

[2018-03-27 05:07] garrigue commented on #7055
Quick follow-up on porting lablgtk2 to gtk3: after a quick look, it does not seem that hard.
LablGTK depends heavily on glib2 for its internals, but gtk3 is still built on glib2, so there should be no problem there.
So if the goal is just to be able to build lablgtk2 with gtk3 as backend, this shouldn't be too hard.
The list of API changes in the porting manual is pretty short.
The only major comp

[2018-03-27 05:28] ejgallego commented on #7055
Thanks @garrigue for the heads up. IMHO that's the most sensible choice, I could certainly help a bit with lablgtk3, maybe this would be a good moment to move the repository to github/gitlab ?

[2018-03-27 05:31] garrigue commented on #7055
There is already a repository `garrigue/lablgtk` on GitHub, since ocamlcore is now read-only.
I'll add you as developer. But I have first to cut a branch.

[2018-03-27 05:42] ejgallego commented on #7055
Cool thanks! Let's open an issue there then to track porting progress.

[2018-03-27 05:42] ejgallego commented on #7055
Oh, there is already an issue tracking it: https://github.com/garrigue/lablgtk/issues/2

[2018-03-27 08:27] Zimmi48 commented on #7075
FTR this file has been buried because anyways it was not consistently updated and CHANGES was updated instead. We could indeed structure CHANGES more but, contrary to OCaml, the changelog between two versions of Coq is not so long and reading it entirely is not such a difficult task.

So: not opposed to giving more structure to CHANGES if you have a proposal, but I wouldn't tend to worry about it

[2018-03-27 08:32] RalfJung commented on #6764
Yes seems to be fixed in 8.8.dev :-)

[2018-03-27 08:36] maximedenes commented on #6764
Yes, but the bug is still present in `master`, so let's keep the issue open.

[2018-03-27 08:39] RalfJung commented on #6764
Okay, sorry.

[2018-03-27 11:27] MSoegtropIMC opened #7081 "Windows build: strip in lablgtk build can fail randomly"
#### Version

All version since 8.5

#### Operating system

Windows

#### Description of the problem

In the windows build symbols are stripped from the lablgtk dll, because otherwise flexdll goes wild.

$TARGET_ARCH-strip.exe --strip-unneeded src/dlllablgtk2.dll

The dll is locked in Windows for a short time after creation and if a strip is done during this time, the strip fails. With some loggin

[2018-03-27 11:33] MSoegtropIMC opened #7083 "Windows build: Unify build logging to console (for appveyor) and files"
Logging is handled a bit randomly currently. In general logging is done to files, but this is not so useful in appveyor. The idea is to log to both a file and the console, also prepending the build step when logging to the console (which is the file name when logging to files).
This is currently blocked by #7081 - if the logging is changed, the lablgtk build fails reproducibly (found by @JasonGros

[2018-03-27 14:31] tchajed commented on #7075
I agree with your assessment that the Coq CHANGES file is short enough to read.

I think it’s easy to get carried away with lots of structuring. I would recommend just three categories:

1) internal: API changes that only impact plugin developers and other Coq developers.
2) new features: things that shouldn’t impact any existing code but are good to know about
3) user-facing: any change that migh

[2018-03-27 14:51] Zimmi48 commented on #7075
Note that category 1 is already well separated as it belongs to `dev/doc/changes.md`

[2018-03-27 15:42] ppedrot opened #7086 "No way to deactivate sharing in the checker"
As mentioned in #7085, there is no way to selectively deactivate the sharing feature of the conversion algorithm. This probably prevents the checker from working on developments that critically rely on that feature like e.g. unimath.

[2018-03-27 16:03] herbelin commented on #7078
Note that this is not related to tactics nor to the tactic unification algorithm. It is only about the type inference unification and we can already observe the same behaviors by issuing the following:
[code]
The first one looks indeed a bit disappointing, but in some sense it is also right. To solve `?p@{m:=?q@{m:=m}; m':=?q@{m:=m}} == ?p@{m:=m; m':=?q@{m:=m}}`, the solutions are different depend

[2018-03-27 16:33] herbelin commented on #7035
Well, that's probably not so difficult to do. Maybe a "good first issue"? I guess a call to a reduction function to insert after type inference, following the model adopted in `Vernacentries.vernac_definition` and `do_definition` (formerly in `Command`, now in `DeclareDef`).

[2018-03-27 16:44] herbelin commented on #7019
Somehow, the [reduction-effect](https://github.com/herbelin/reduction-effects) plugin should do the work for `cbv` (but I did not complete the packaging of it yet and that's not fully sure that it compiles with 8.8).

For `lazy`, something remains to be done. Actually, the code for `Set Debug Cbv` could just be moved to `cClosure.ref_value_cache` so that it would automatically work for both `cbv`

[2018-03-27 17:01] maximedenes commented on #6998
That one will be tricky to fix. I have a patch, unfortunately the standard library relies on the bug...

[2018-03-27 17:07] maximedenes opened #7088 "Coq crashes when inserting `Transparent` in a proof."
To reproduce (on coq/coq@01b7de3a673eb89cea61442c4db721aad9520c9f for example), open CoqIDE on a file containing:

[code]

then "go to end". Uncomment the `Transparent` command, change `exact 3` into `exact I` and "go to end" again.

@gares is working on a fix

[2018-03-27 17:10] maximedenes opened #7089 "CoqIDE segfaults when slave crashes"
When a slave crashes, CoqIDE deletes mark in the document but still uses them through `Coqops.dbg_to_string`, causing a segfault in the IDE...

To reproduce, play the scenario described in https://github.com/coq/coq/issues/7088.

[2018-03-27 17:32] gares commented on #7088
Is there are a way to test if "id" is opaque? I can't reproduce the bug with fake_ide, and I was trying to make a test (knowing if the transparency attribute has leaked is a way to test I'm using the new code path).

[2018-03-27 17:36] gares commented on #7088
nevermind, I will use `Arguments`

[2018-03-27 17:43] Zimmi48 commented on #6822
#6899 was merged

[2018-03-27 17:43] #6822 closed

[2018-03-27 17:44] Zimmi48 commented on #7035
Note that some clean-up of at the level of parsing could help having a more uniform behavior across various "definition" keywords. See also #6567.

[2018-03-27 17:48] JasonGross opened #7091 "Request for syntax in pattern matching that runs `pattern`"
#### Version

8.8+alpha

#### Description of the problem

I would like something like this to work:
[code]

cc @ppedrot @herbelin

[2018-03-27 17:53] JasonGross opened #7092 "Ltac matching on (co)fix should be supported"
#### Version

8.8+alpha

#### Description of the problem

I'd like something like this to work:
[code]
Note that doing it in exactly this way would require #7091, but this should also work (but is less convenient for my needs):
[code]

cc @herbelin @ppedrot

[2018-03-27 18:07] andrew-appel commented on #6998
OK, then leave "assumption" alone for now.

[2018-03-27 19:44] bollu opened #7093 "Coqdoc: make theorem, lemma, definitions clickable to recieve hyperlinks to them"
#### Version
8.7.1

#### Operating system
Ubuntu 14.04

#### Description of the problem

Currently, the only way to get a hyperlink to a particular theorem / definition / lemma is to go to a site of *use*, and then click on it to receive the corresponding hyperlink.

For example, a random theorem from compcert: [`perm_dec`](http://compcert.inria.fr/doc/html/Memory.html#Mem.perm_dec)

To get the hy

[2018-03-27 19:48] maximedenes commented on #7093
This report is probably valid, but note that CompCert's documentation was precisely not generated using coqdoc.

[2018-03-27 21:04] lancejpollard opened #7094 "Error: File not found on loadpath : nat_syntax_plugin.cmxs"
#### Version

[code]

#### Operating system

Mac

#### Description of the problem

I am unable to run the `coqc` command after latest install with Homebrew. Getting this error:

[code]

It says `.` is in the load path so I don't understand what is wrong. It also doesn't work like this on earlier versions.

[2018-03-27 21:25] Zimmi48 commented on #7094
Well, you didn't share your `index.v` file but it is likely expecting a different version of Coq than the one you have on path. Your report is unclear but I don't understand why brew's "latest install" would give you Coq 8.5 and not Coq 8.7.2...

[2018-03-27 21:34] lancejpollard commented on #7094
The coqfile I had was this:

[code]

[2018-03-27 21:52] lancejpollard commented on #7094
Trying to install it manually:

[code]

- did (2)

[code]

[2018-03-28 00:32] #7094 closed

[2018-03-28 07:32] Zimmi48 commented on #7094
The file you provided does not make sense on its own. It depends on a library which likely depends on a recent version of Coq.
I don't know where your Coq 8.5 comes from. The date is just the compilation date.
The commands you tried to install Coq with OPAM are not about installing Coq but about setting a remote repository (for Coq packages). Try this instead: `opam pin add coq 8.7.2`
Your log for

[2018-03-28 08:45] maximedenes opened #7095 "`fake_ide` does not report the right error"
Steps to reproduce: checkout coq/coq@01b7de3a673eb89cea61442c4db721aad9520c9f, add https://github.com/gares/coq/blob/076efd5f8d17f1b73bcc7669641b89f86819e3c9/test-suite/ide/bug7088.fake to the test-suite, and see that the `Arguments ... : assert` error is not reported. Instead, a message about API limitations is shown.

[2018-03-28 08:45] maximedenes commented on #7095
See dicussion in #7090.

[2018-03-28 09:01] #6793 closed

[2018-03-28 09:13] ejgallego commented on #7095
In my opinion this is not a problem of fake-ide essentially [even if we could spend cycles fixing it] but more of a consequence of the current API messing with the document + limitations of the actual parsing code. IMHO this is very low priority and should solve by itself at some point.

[2018-03-28 09:19] maximedenes commented on #7095
@ejgallego can you explain more? Do you mean this problem is specific to the message about the state parsing? Or can `fake_ide` pick up the wrong error in other scenarios?

[2018-03-28 09:29] ejgallego commented on #7095
The first problem is that current API takes away the control over the document from the client. So imagine you add a new span "foo." on top of the span 30. Then, Coq sometimes will add _two_ spans, like in this case. That means you need to wait for Coq as you cannot tell it to name the new span as you would like. It also means is easy to get confused as to which span you are really in.

Second lim

[2018-03-28 10:53] ejgallego opened #7097 "[dev tools] merge-pr.sh doesn't understand --help"
Please add a `--help` option.

[2018-03-28 10:57] ejgallego opened #7098 "[dev tools] merge-pr.sh please provide a way to override REMOTE_URL"
Some of us may have a different `origin` branch as a safety measure, so it'd be useful to have:
[code]

[2018-03-28 10:57] ejgallego commented on #7097
I guess we'd like to use a proper library for command-line argument parsing, I am not sure what's preferred in Python.

[2018-03-28 10:59] #7088 closed

[2018-03-28 11:19] SkySkimmer commented on #7097
merge-pr.sh is not python.

[2018-03-28 12:34] herbelin commented on #7091
What do you mean by "run `patterns`"? Do you mean that call the `pattern` tactic? At first view, that would not be (too) complicated to extend pattern-matching problems of the form `@?f x1 ... xn` == `t` to problems of the form `@?f t1 ... tn` == `t` when `t1`, ..., `tn` are non-overlapping closed terms, using some kind of equality such as either syntactic equality (up to α-conversion) or even an

[2018-03-28 13:01] #7095 closed

[2018-03-28 13:09] ejgallego commented on #7095
The `fake_ide` log indicates that `fake_ide` is broken I think:

[code]
So why does `fake_ide` adds at 1 here, that doesn't make sense, it should add at 8.

I misread the log and I thought fake ide was trying to add at the original sid returned after the proof, but instead it adds to a random place. That doesn't look good.

[2018-03-28 13:14] gares commented on #7095
This is another effect of the bug that is fixed in PR #7090

[2018-03-28 13:36] ejgallego commented on #7095
Umm, how so? Where does 1 come from?

[2018-03-28 13:37] herbelin commented on #7092
OK, I'm going to add code for fixpoints in Ltac matching in the next hours.

To @all: Any objection if I add a proper structure in type `pattern` for `fixpoint` in `PFix` rather than the current `constr` structure?

[2018-03-28 14:05] JasonGross commented on #7091
Yes, I mean "calls the ` pattern` tactic.  Since `pattern` accepts a list of identifiers to simultaneously pattern, I think there is no problem with saying that `@?f x1 ... xn` == `t` is solved by running `eval pattern x1, ..., xn in t`, and that this equivalence should be documented. Since `pattern` already handles overlapping terms, this neatly solves the question of what to do with overlap.

I

[2018-03-28 14:05] JasonGross commented on #7091
Oops, did not mean to click "close"

[2018-03-28 14:08] Zimmi48 commented on #7098
If the command line arguments are becoming too complex, it's going to be a hell in bash. The way to override could also be with an environment variable:
`REMOTE=blabla merge-pr.sh`

Note that I also have a safety measure in place but it is a different one: `master` tracks `upstream/master` but my `.gitconfig` contains:

[code]

so by default `git push` always pushes on my fork, and I need `git pus

[2018-03-28 14:13] ejgallego commented on #7098
Indeed, I can also just ignore the warning if you think this change is not worth it.

[2018-03-28 14:26] maximedenes opened #7100 "`coqc` reports errors with a location in another file"
Tested with coq/coq@01b7de3a673eb89cea61442c4db721aad9520c9f

Steps to reproduce:
[code]

The error message when compiling `B.v` is:
[code]

[2018-03-28 14:27] maximedenes commented on #7100
@ejgallego do you think that could be due to one of the recent refactorings on locations?

[2018-03-28 14:31] ppedrot commented on #7092
@herbelin I think it's OK.

[2018-03-28 14:33] maximedenes opened #7101 "STM delegation policy broken"
Commit coq/coq@30d3515546cf244837c6340b6b87c5f51e68cbf4 changed the format of `.aux` files without updating the corresponding parser nor the `.aux` format version. This means that since Coq 8.7, CoqIDE always delegate proofs(*). In some examples I run from VST, it would typically mean a 7-second compilation (with `coqc`) turning into 10 minutes or so (when processing them with CoqIDE).

I'll fix i

[2018-03-28 14:36] ppedrot commented on #7091
This seems to me quite unatomic. It brings the semantic problems of the `pattern` tactic into Ltac matching, while you could do that in two passes by simply calling that tactic over the argument and then matching that. If you don't have a good justification for that (e.g. the above scheme doesn't work) then I don't think we should implement this change.

[2018-03-28 14:39] Zimmi48 commented on #7098
No, that's not what I am saying and I am a bit surprised that you could ignore it and that it worked. The remote of the local branch is used to fetch the pull request so in principle, if it doesn't point to the official Coq repository, you cannot use it to merge a PR on Coq...

[2018-03-28 14:43] ejgallego commented on #7098
It is pointing to the official Coq repository but in read-only mode.

[2018-03-28 14:50] ejgallego commented on #7100
There has been a lot of movement in the location handling, and not only in my side. I guess we need a bisect, I'll launch one.

In my case, unless I did some mistake, my commits should not introduce an observable change in location propagation [but who knows, maybe I added some extra `?loc` somewhere if thought that'd be a good idea].

[2018-03-28 14:59] Zimmi48 commented on #7098
Then I think I understand the problem: cf. #7102

[2018-03-28 15:27] ejgallego commented on #7100
So in fact the first thing that came to my head was PR #1051 and to my surprise it is the one the bisect returns:
[code]
ccing @herbelin as the author of 7f816f00fed5ee7c7e94bd5f02a88880cdfa96aa

[2018-03-28 15:38] JasonGross commented on #7091
@ppedrot the above scheme works fine at the toplevel, but if I want it under binders (as in the example I gave), it requires about a dozen lines of boilerplate plus an invocation of fresh for every binder plus an extra cbv delta call for every binder if I want to avoid beta reduction. This is an enormous amount of overhead for something as simple as generalization/patterning.

(The overhead comes

[2018-03-28 16:40] Zimmi48 commented on #7075
For future reference, this automatic changelog generator was mentioned on GitHub: https://github.com/skywinder/Github-Changelog-Generator
We could consider using such a tool and a good language of labels to automatically generate a detailed and structured changelog. However, it has quite low priority to my eyes.

[2018-03-28 16:49] gares commented on #7100
I reviewed the PR again, and I don't see the error :-/

[2018-03-28 16:51] gares commented on #7097
As of today it takes no options, and if you pass no arguments it tells you what it expects.
I think the request is a bit overkill

[2018-03-28 16:53] ejgallego commented on #7100
Likely the change in the semantics of `Loc.merge`

[2018-03-28 16:55] gares commented on #7091
Sorry but I don't think suggesting a newcomer to work on this is a good idea. Even if the feature was agreed upon, I would not be able myself to implement it... as a consequence I would not ask a newcomer to do it either.

[2018-03-28 16:55] tchajed commented on #7075
I don't like the idea of an automatically-generated changelog - I think it's a good opportunity to write a succinct description of just the changes, and should in general be more carefully written than Coq's commit messages and PR descriptions.

If we want to make minimal changes to the `CHANGES` file, we could adopt the OCaml policy of using a `*` rather than ` -` for entries that could affect ex

[2018-03-28 16:56] ejgallego commented on #7100
If you have `SerAPI` master you can easily see how the AST locations are parsed thou.

[2018-03-28 16:57] ejgallego commented on #7100
The constructor of `parsable` is strange tho.

[2018-03-28 17:14] ejgallego commented on #7100
This is how the file is read in 8.7:
[code]

this is how it is read in 8.8:
[code]

[2018-03-28 18:41] aspiwack commented on #7075
I'm not arguing either way. But I think all participants in this debate should probably have a look at the automated tools before dismissing them (here's another one written in Rust: https://github.com/clog-tool/clog-cli , for those among us who will recognise themselves ;-) much fewer users, and less frequent updates though). Read their design, and arguments. Look at what the produced changelogs

[2018-03-28 18:56] ejgallego commented on #7075
Well, my original idea when opening this issue was to curate CHANGES more, I'm not sure how an automatic system is gonna help with that [it could indeed, but I am not sure we can achieve the commit discipline or predict things so accurately].

[2018-03-28 20:06] herbelin commented on #7100
That's indeed a bit worrying, sorry about that.

In 8.7, we were able to merge locations coming from different files without noticing it (i.e. if the location of `I` in `A.v` had been strictly included in the location of `foo` in `B.v`, then, one would have reported about the location of `I` in `A.v` but pretending it is in `B.v`). I introduced a test that the file is the same before merging locat

[2018-03-28 20:13] ejgallego commented on #7100
I am not sure `Loc.merge` should be throwing an exception. IMVHO exception / error handling is messy enough as it is as to add more cases. As highlighted by this bug the exception was lost, and OCaml lacks the proper type features to make this principled over a codebase of 100.000 of lines using `Loc.t`.

IMHO one of the few "big checkpoints for PRs" should indeed be that new code doesn't introduc

[2018-03-29 09:41] thery opened #7110 "ssreflect printing forgets "as" for list in pattern"
The ssreflect printing of list [:: _; _; _] seems to forget the "as" construct in pattern
#### Version

8.7.2
#### Operating system

linux

#### Description of the problem

[code]

[2018-03-29 10:47] Zimmi48 commented on #7110
This bug does not occur with a simple `From Coq Require Import ssreflect.` so I'm unsure this is the appropriate place to report this problem.

[2018-03-29 11:08] thery commented on #7110
oops I copy the message to mathcomp

[2018-03-29 11:10] thery commented on #7110
https://github.com/math-comp/math-comp/issues/188

[2018-03-29 11:20] Zimmi48 commented on #7110
So closing as "moved" but feel free to reopen if this was actually a bug on the Coq-SSReflect side.

[2018-03-29 11:20] SkySkimmer commented on #7110
It seems like a notation bug that the binder gets hidden.
For instance if we do
[code]
The first Print gives us `@box n => box` and the second `@box n => ■` ie it doesn't use the notation for the match pattern.

Meanwhile in the bug we print `[:: _, _ & _] => l1` with the name `l1` appearing unbound.

[2018-03-29 11:29] Zimmi48 commented on #6254
I think the actors in this discussion might be interested to learn that Lean tried a different approach and is backtracking to the one currently implemented in Coq:

This is extracted from the design document for Lean4 whose link was recently shared by @ejgallego.

[2018-03-29 11:33] maximedenes commented on #6254
Do you have a pointer? I don't remember seeing it.

[2018-03-29 12:31] Zimmi48 commented on #6254
Note that they say that the approach used in Coq was also used in the first version of Lean. They moved away from it, then came back. I haven't kept the pointer: @ejgallego do you have it?

[2018-03-29 12:44] ejgallego commented on #6254
The pointer is in issue #6938

[2018-03-29 12:55] ppedrot commented on #6956
I'm raising this to a blocker bug, because it's a clear regression, and it critically affects universe-polymorphic users even though they don't care about the VM.

[2018-03-29 12:56] maximedenes commented on #6956
FTR, I do plan to address it before the release, but I'm busy with the Sphinx integration.

[2018-03-29 12:58] ppedrot commented on #6553
How lively is `dtauto` supposed to be? Aren't we going to deprecate it at some point anyways?

[2018-03-29 12:59] maximedenes commented on #6553
Sorry for the native question, is it subsumed by something else?

[2018-03-29 13:02] ppedrot commented on #6956
@maximedenes I was not technically complaining, just marking it so that we're completely sure not to forget about it.

[2018-03-29 13:12] ppedrot commented on #6541
No, `set` doesn't need to retypecheck the term, which is why it's fast on your example. If the original term is well-typed, let-abstraction is always valid (modulo a few gotchas like template polymorphism).

I think I can close this bug as invalid thus.

[2018-03-29 13:14] ppedrot commented on #6467
Template-coq?

[2018-03-29 13:16] ppedrot commented on #6553
I think the consensus was that dtauto was too strong or something, and was only provided for backwards compatibility, but I might be wrong.

[2018-03-29 13:21] ppedrot commented on #6410
I think this bug is now irrelevant as we handle evars in the VM.

[2018-03-29 13:21] #6410 closed

[2018-03-29 13:57] Zimmi48 commented on #5975
@ejgallego's comment https://github.com/coq/coq/pull/6809#issuecomment-377218945 makes me think that this problem should go away with Dune.

[2018-03-29 14:04] ejgallego commented on #5975
Yup, Dune in a sense is a bit similar to "Nix-like" approaches, when running something from Dune   path is set up in such a way that it simulates the environment you'd get when installing the package. So in fact, if you depend on coqtop, coqtop is built and installed first

[2018-03-29 14:04] ejgallego commented on #5975
I hit the wrong button because a bump in the bus, sorry.

[2018-03-29 14:29] gares commented on #7110
The bug must be in the notation system an is triggered by some notations in seq.v

Math-comp is just .v code now.

[2018-03-29 14:47] ppedrot commented on #6572
On current 8.8 (c0eedb5bdcb815132f404e19d6bf59730ae6e2df), this gives a universe inconsistency error instead.

[2018-03-29 14:59] thery commented on #7110
Here is a self contained version of the problem

[code]

[2018-03-29 14:59] gares commented on #7110
In the seq notation the term denoted l1 is not an argument of the notation. So I ve no clue how as could be rendered here. Imo the simplest fix is to not display the notation if  the subterm to which as applies is not an argument of the notation

[2018-03-29 15:00] gares commented on #7110
Not sure it is the same bug found by Gaetan

[2018-03-29 15:07] ppedrot commented on #5148
@JasonGross ping.

[2018-03-29 15:08] SkySkimmer commented on #7110
I didn't find a bug, I just said that this issue is a bug in Coq not ssr.

[2018-03-29 15:13] SkySkimmer opened #7113 "Program Let Fixpoint in section causes anomaly"
Tested in 8.7 and master (c0eedb5bdc).

[code]
(assert false at https://github.com/coq/coq/blob/c0eedb5bdcb815132f404e19d6bf59730ae6e2df/vernac/obligations.ml#L562)

It looks related to #6770 but they're entirely different code paths.

[2018-03-29 15:18] ppedrot commented on #4642
@JasonGross Is this bug still relevant?

[2018-03-29 15:23] ppedrot commented on #4547
Judging by the time elapsed since @maximedenes's comment, I guess that the regression test is harder to come up with than imagined. Why not just close this bug then?

[2018-03-29 15:25] jashug commented on #6553
I don't understand this argument. `tauto` and `dtauto` are supposed to completely solve the goal, or fail. Having a more powerful version means that you can solve more goals, which seems like an unmitigated good thing, baring considerations of performance. I at least had been looking at the opposite direction, where `tauto` is eventually deprecated in favor of `dtauto`.

If the discussion was abou

[2018-03-29 15:26] maximedenes commented on #4547
Wow, I really don't remember what happened there.

[2018-03-29 15:27] ppedrot commented on #6553
@jashug See #2680.

[2018-03-29 15:30] ppedrot commented on #4398
Let's mark that for 8.9, then...

[2018-03-29 15:31] maximedenes commented on #4398
@ppedrot do you have plans to work on it?

[2018-03-29 15:33] maximedenes commented on #4398
Oh, and the milestone you want for this particular issue is probably `8.9+alpha1`.

[2018-03-29 15:34] ppedrot commented on #4398
What's the difference?

[2018-03-29 15:37] maximedenes commented on #4398
I don't know the precise semantics (you should ask @ejgallego or @Zimmi48), but my understanding is that 8.9.0 is for stuff that is not subject to the freeze (I'm really not sure).

[2018-03-29 15:48] ppedrot commented on #3906
Seems to work now? I'll write a test.

[2018-03-29 16:24] herbelin commented on #7110
Indeed, a test of the absence of an `as` clause is missing in the algorithm trying to match the pattern to print with a notation (`Notation_ops.match_cases_pattern`). I shall come up with a fix.

[2018-03-29 16:25] ejgallego commented on #4398
So now milestones have a bit of different meaning, the old meaning was to signal the RM "this is ready" but I dunno that is useful anymore given that the RM is not supposed to merge so much. I guess the RM for 8.9 should control the milestones then.

[2018-03-29 16:44] SkySkimmer commented on #3906
Isn't this #5761 (fixed #6025)?

[2018-03-29 17:00] herbelin commented on #7110
Note: @SkySkimmer's example seems to be a bug too. I don't see why we would not like the notation to be used there.

[2018-03-29 17:15] herbelin commented on #7110
No, it is not a bug, sorry (the dependence in `n` blocks the possibility to use a notation).

[2018-03-29 18:25] JasonGross commented on #6541
Are you saying that `type of` retypechecks the term?  Can there be a variant that doesn't do this?

[2018-03-29 18:54] jashug opened #7120 "Interpretation scopes should be declared"
Currently, a scope is automatically created with the first of `Notation "a" := b : scope`, `Delimit scope with key`, or `Bind Scope scope with T`.
(are there other ways to declare a scope?)
In contrast, `Open Scope scope` does not create scope.

@RalfJung commented (https://github.com/coq/coq/pull/6247#issuecomment-377202990) that the current implicit binding is awkward, since typos will silently

[2018-03-30 08:44] ppedrot commented on #3906
Looks like it. I'll close it then.

[2018-03-30 08:44] #3906 closed

[2018-03-30 08:57] Zimmi48 opened #7122 "Purpose of the 8.9+alpha1 milestone."
Right now, we have three active milestones: `8.8.0`, `8.9+alpha1` and `8.9`. While the purpose of the first one should be pretty clear (it's for things which are targeted at 8.8.0 and thus should be backported to v8.8 before the release), the two other seem quite redundant and there is some confusion on their respective use.

The `8.9+alpha1` milestone was created a few weeks ago by @ejgallego fol

[2018-03-30 11:56] herbelin commented on #7120
Ah, I actually also started to do it. Are you already done on your side?

[2018-03-30 12:05] Zimmi48 commented on #7120
@jashug I'll invite you to the Coq organization so that you can self-assign issues to signal when you're working on them.

[2018-03-30 12:28] Zimmi48 opened #7123 "Find all regressions of Sphinx migration due to porting outdated chapters."
What remains to be done to complete the Sphinx migration?

For my part, I have reviewed all the post-beta migration PRs (using each time the second commit to try to spot regressions that could have happened during the migration). I haven't done so for what was merged before the beta.

There is a real risk of having lost things during the migration because the people who ported the chapters often s

[2018-03-30 12:32] andrew-appel opened #7124 "Warning message "Ignoring implicit status" does not provide line number"
#### Version: 8.7.2
#### Operating system: Windows
#### Description of the problem

The warning message "Ignoring implicit status of product binder cs and following binders"
does not say what file name and line number, unlike most warning messages.  That makes it difficult
to track down!   (If you fix this one, perhaps search the source code for all other warning messages with
the same problem.)

[2018-03-30 12:33] maximedenes commented on #7123
Please add these items in https://github.com/coq/coq/projects/16

[2018-03-30 12:41] SkySkimmer commented on #6258
How is this a "good first issue"?

[2018-03-30 13:28] ejgallego commented on #6258
`git grep Unsafe.of_constr` at the time there were still plenty of places easy to fix; dunno about today.

[2018-03-30 13:47] Zimmi48 commented on #7123
I can add the four items about the index but the goal of this issue is to coordinate on the first part (backporting changes that came to the refman after the version that was ported). This is something that needs to be split between many developers to be doable and a GitHub project has proved to be an efficient way of organizing one's work (or two people's work) but certainly not a way to coordina

[2018-03-30 13:57] herbelin commented on #7122
Being one of those whom deadlines help, as already said, I learnt the lesson of the 8.8 misunderstanding and stopped thinking at a freeze date as a date for feature convergence. I proposed at some time that we could have feature convergence deadlines based on some objectives on which we specifically concentrate for some delimited period of time, but, if it does not echo to somebody else interests,

[2018-03-30 14:02] SkySkimmer opened #7126 "Add output tests for Printing Projections"
As far as I can tell, the test suite is fine with Printing Projections being a noop option.

[2018-03-30 14:15] herbelin commented on #7124
Is anyone already on it? A priori very simple to do.

[2018-03-30 14:20] ejgallego commented on #7122
I created that milestone as to have a "8.8+beta1" equivalent for 8.9 when remilestoning bugs, that is.

Indeed I wanted to avoid putting all my issues / PR in 8.9 then just to move them back to `8.9+beta1`. So IMHO the milestone should be kept, and a date and maybe a rename done by the RM.

[2018-03-30 14:21] Zimmi48 commented on #7122
Well I'm very unhappy of the way the Sphinx migration was coordinated and that it had to be finished between the beta and the final release so don't get me started on this topic ;-)

[2018-03-30 14:38] maximedenes commented on #7124
I'm having a look at it.

[2018-03-30 14:41] SkySkimmer commented on #5977
So do we want to change this behaviour (I guess we could avoid solving typeclasses in Check)? If not we should close the issue.

[2018-03-30 14:55] herbelin opened #7128 "Warning on accord singular/plural in some commands"
There is a warning on `Variable`/`Variables`, `Parameter`/`Parameters`, `Implicit Type`/`Implicit Types`, ... when used with a number of arguments which does not match the corresponding singular/plural form.

I'm opening this side issue to collect (argumented) opinions. Does the satisfaction of a grammatically correct sentence really challenge the burden of having to possibly change the spelling o

[2018-03-30 15:02] maximedenes commented on #7124
See #7129. We still have a few other direct calls to `Feedback.msg_warning` that should be audited.

[2018-03-30 15:13] ejgallego commented on #7123
Yup so lets open a set of issues with the precise review instructions for each chapter, it's better if someone who is familiar with the Sphinx migration does it.

[2018-03-30 15:30] SkySkimmer commented on #5707
Seems like this is as fixed as it will get (doc added, destruct tries being non dependent). @robbertkrebbers please reopen if you disagree.

[2018-03-30 15:30] #5707 closed

[2018-03-30 15:49] silene commented on #7122
As I explained during the phone call, I intend to keep the procedure quite simple. At the time I branch for 8.9, either a pull request is in, or it is not. I will obviously backport bugfixes after branching, but I will be more inclined to revert large pull requests from the branch than to merge new ones. If contributors feel that tags help them to better organize their work, that is fine with me,

[2018-03-30 15:54] SkySkimmer commented on #5596
Fixed 31098bfe8fa98a072330b851afb3a4f0916527ab

[2018-03-30 15:54] #5596 closed

[2018-03-30 16:05] SkySkimmer commented on #5489
No, the issue is at parsing time. The first tree is the same as
[code]
ie it thinks `x y : A` is the type "x applied to y" casted to A instead of seeing it as 2 binder names.

[2018-03-30 16:17] jashug commented on #7120
@herbelin No, I just started, and I can't work on this immediately. Please go ahead.

If there was discussion about the design, here would be a good place to do that.

Figuring out a reasonable transition strategy is what stymied me. The straightforward approach gives a warning when files are required as well, which is inconvenient for libraries worried about compatibility: assuming this is added

[2018-03-30 17:11] herbelin commented on #7120
Indeed. Conclusion is that we should deactivate the warning in `Require`, right?

Indeed. I made a test in the standard library and it happens a couple of time that files refer to the same scope without one being directly dependent on the other (e.g. `Programs.Utils` and `Programs.Basics`, or `Classes.Morphisms` and `Classes.CMorphisms`). My opinion on these given examples is that it is legitimate

[2018-03-30 18:00] herbelin commented on #6541
@JasonGross: yes, Ltac's "type" retypechecks. Coq internally uses another typing function when a term is already known to be well-typed, and this function is as quick as it could (no conversion is done). We could make it available user-side (maybe it is already available from Ltac2 actually).

[2018-03-30 18:52] jashug commented on #7120
@herbelin

This turned into a bit of a wall.
TL;DR: After spending another couple hours pondering, I think
* we should deactivate the warning in Require
* qualified scope names is probably too ambitious but is nicer in the long run
* for now, `Declare Scope` should probably allow re-declaring a scope (with no warning)
* scopes in primitive numerals should behave the same as `Notation` and `Delimit

[2018-03-30 20:54] SkySkimmer commented on #1736
Yes. This is the second least recently updated open issue, let's just close it.

[2018-03-30 20:54] #1736 closed

[2018-03-30 22:05] SkySkimmer commented on #2305
Let's close then.

[2018-03-30 22:05] #2305 closed

[2018-03-30 22:11] ejgallego commented on #7122
So I guess @silene then you should close this bug with the resolution you deem fit. A milestone is something associated to a date, so indeed you could keep a milestone for the branching date and other for the release date, or else remove them altogether.

[2018-03-30 22:14] SkySkimmer commented on #2389
Let's close this one then.

[2018-03-30 22:14] #2389 closed

[2018-03-30 22:37] SkySkimmer commented on #2908
The input is `get_half ?e (P 4)`, it leads to a unification problem `4 == nat_of ?e` which is refined by the canonical structure `odd_s` leaving an evar `?e'`, however nothing constrains `?e'` so it is never solved.
This is the intended behaviour.

[2018-03-30 22:37] #2908 closed

[2018-03-30 22:49] SkySkimmer commented on #3133
I don't know when it changed but now it says
[code]

[2018-03-30 22:49] #3133 closed

[2018-03-30 22:57] SkySkimmer commented on #7091
Duplicate of #3147.

[2018-03-30 23:00] SkySkimmer commented on #7091
Or maybe of #3148, I can't tell the difference between those 2 issues.

[2018-03-30 23:07] #6631 closed

[2018-03-30 23:26] JasonGross commented on #7091
This is a duplicate of #3148 (I hadn't realized I'd requested this feature before).  Though perhaps that one should be closed as a duplicate of this one, since this one has more discussion.

The difference between this / #3148, and "@? patterns should not have to match the entire term" is that here, I'm asking for an extension to the kinds of arguments `@?` accepts, whereas in the other one, I'm a

[2018-03-30 23:27] SkySkimmer commented on #3674
Use -Q/-R/-I in a _CoqProject file instead, PG and coqide should both understand relative paths there.

[2018-03-30 23:27] #3674 closed

[2018-03-30 23:28] SkySkimmer commented on #3148
Duplicate of #7091.

[2018-03-30 23:28] #3148 closed

[2018-03-30 23:39] SkySkimmer commented on #3912
Duplicate of #3459.

[2018-03-30 23:39] #3912 closed

[2018-03-30 23:41] #4000 closed

[2018-03-30 23:54] SkySkimmer commented on #4180
Is this still reproducible?

[2018-03-31 02:49] jashug commented on #6553
@ppedrot I replied in that issue. I still believe that `tauto` should handle all non-recursive inductives, and that restricting `tauto` to the "standard" connectives was a step in the wrong direction.

[2018-03-31 08:38] Matafou commented on #5977
I think we can let things as they are now. And advertise “About” a bit more.

Le ven. 30 mars 2018 à 16:42, Gaëtan Gilbert <notifications@github.com> a
écrit :

[2018-03-31 09:48] #5977 closed

[2018-03-31 10:08] RalfJung commented on #6254
Would be interesting to learn which issues they considered bad enough to go back to an approach they previously had moved away from. I looked over their issue tracker but did not find it clear what is so bad.

[2018-03-31 10:37] gares commented on #4180
No, since there is no more `uninstall.sh`

[2018-03-31 10:37] #4180 closed

[2018-03-31 11:21] anton-trunov opened #7133 "ssr: `move/lemma` takes much longer than `move=>top; move: {top}(lemma top)`"
#### Version

Coq 8.6.1, Coq 8.8beta (bd8606189268c3fcdd3506872d459cb9032a33bf)

#### Operating system

macOS 10.13.3 High Sierra

#### Description of the problem

This is the sequel of #7026. This issue uses the [same self-contained piece of code](https://gist.githubusercontent.com/anton-trunov/6c9fd2d821a7f8a56959dac95a0a0d30/raw/5d3174ffae7a5bc3fc5c8f580fcfe502e11c8f66/cancel.v) but the final e

[2018-03-31 12:22] Zimmi48 commented on #6254
Let's ask Leonardo (@leodemoura).

[2018-03-31 13:17] ppedrot commented on #7091
@JasonGross The `pattern` tactic depends on term equality, and it is somewhat folklore that term equality is very subtle, e.g. do we take universes into account? (if yes, how? unify? syntactic equality?), how do we handle evars generated by the pattern? etc.

[2018-03-31 13:24] Zimmi48 commented on #7122
Done. All issues / PRs in the 8.9+alpha1 milestone have been moved back to the 8.9 milestone and the 8.9+alpha1 milestone has been removed.

[2018-03-31 13:24] #7122 closed

[2018-03-31 13:31] Zimmi48 commented on #7128
Isn't it the `pendantic` category (which is disabled by default)? If yes, it doesn't do much harm to keep this warning for the users that may want to use it (but are there some?). `grepping` is not affected by this AFAICT since the only difference is a `s` at the end. That being said, Coq must be one of the only languages to provide such duplicated constructs.

[2018-03-31 15:08] ejgallego commented on #7122
I don't understand,  in the last release you had a `beta1` milestone, right?

[2018-03-31 15:27] Zimmi48 commented on #7123
No, I don't think that a bunch of issues is needed here. I apparently failed to express myself correctly. But a Sphinx migration issue has been lacking all along (should have been created back at the beginning of the 8.8 porting effort).

[2018-03-31 15:32] Zimmi48 commented on #7122
Quoting myself from the initial comment in this issue:

This should be made clear in the release doc.

[2018-03-31 16:09] ejgallego commented on #7122
I am sorry but I don't understand / see the point of having a milestone just to rename it later. This is like the most confusing thing one can do. If you plan to rename it, use the right name from the start.

[2018-03-31 17:44] ejgallego commented on #7120
The PR number seems wrong @herbelin

[2018-03-31 18:14] Zimmi48 commented on #7122
OK, let's rename it right now.

[2018-03-31 19:24] jimyu94 commented on #7034
@gares Hi! I've found the same problem in `mathcomp.algebra.vector`. Could you have a test? Here are my inputs and outputs.
[io.txt](https://github.com/coq/coq/files/1865826/io.txt)
[input.txt](https://github.com/coq/coq/files/1865827/input.txt)

[2018-03-31 20:53] Gurkenglas opened #7137 "error with no safe_id attached: Cannot undo."
#### Version

CoqIDE 8.8+beta1

("You can get this information by running `coqtop -v`." <- I don't know how to do that from the Coq Ide.)

#### Operating system

Windows 10 64-bit

#### Description of the problem

This file:

``` Undo. ```

throws:

Anomaly "error with no safe_id attached: Cannot undo." Please report at http://coq.inria.fr/bugs/.

That site is down, so I came here.

[2018-03-31 20:59] SkySkimmer commented on #7137
http://coq.inria.fr/bugs/ redirects here so it's fine ;)

[2018-04-01 00:20] JasonGross opened #7140 "breaking during printing causes Anomaly: main loop exited with exception: Sys.Break"
#### Version

8.8+beta1

#### Operating system

Linux

#### Description of the problem

Consider this command:
[code]
With Coq 8.7.1, it works fine.  With Coq 8.8+beta1, I see
[code]
(note that the `done` is from my `echo` right before the SIGINT)

cc @gares @ejgallego

[2018-04-01 00:33] JasonGross opened #7142 "Vernacular commands should never emit Error: Currently, the parsing api only supports parsing at the tip of the document. You wanted to parse at: 3 but the current tip is: 2023"
#### Version

8.8+beta1

#### Operating system

Linux

#### Description of the problem

If, after triggering #7140, I try to execute any command, I get an error message like "Error: Currently, the parsing api only supports parsing at the tip of the document.  You wanted to parse at: 3 but the current tip is: 2023".  This results in me having to quit Coq and restart it from scratch if I ever want t

[2018-04-01 00:37] ejgallego commented on #7140
This is already fixed in `master`, so we need an 8.8-specific fix.

[2018-04-01 00:38] ejgallego commented on #7142
This is fixed in `master`, second, after an anomaly, the system is in random state so we cannot guarantee that you can continue your session.

[2018-04-01 00:49] ejgallego commented on #7142
On the other hand master may enjoy of a small tweak as to guard goal printing better.

[2018-04-01 01:05] ejgallego commented on #7142
After thinking a bit more, I consider this bug valid, but not as critical as it looks as the desynch in master will be corrected after a bit [in a sense it is a problem of the proof protocol the toplevel/emacs use]

[2018-04-01 15:18] #7092 closed

[2018-04-01 15:30] ejgallego opened #7145 "PR #6844 adds code that depends on "Unsafe" features without providing an alternative roadmap."
PR #6844 was merged adding some likely useful tactics. However, these tactics are implemented using a so-tagged `Unsafe` API of the proof engine, and no hint is in place as to how the situation should be resolved.

IMO we can't allow code like this to creep in the codebase as it is creating non-trivial technical debt, for example, such code may make hard or impossible to provide a better API for `

[2018-04-01 15:35] ejgallego commented on #7145
By the way don't interpret this issue in an "alarming" or "complaining" way that's not my intention, quite the contrary; however I do believe we have a bit of problem with the way the API is organized and we have to pay utmost attention to it.

[2018-04-01 15:38] ppedrot commented on #7145
My take on that is that *unsafe* is a bit of an overstatement. Such primitives are also exported on Ltac2 side for instance, because you need them to be semantically complete w.r.t. the engine. I think a trivial solution would be to move them to another module called `LowLevel` or something, that is here for completeness but that are not expected to be used by end-users except if they want to reim

[2018-04-01 15:42] zapashcanon opened #7146 "The test-suite makefile does not spot missing dependencies"
#### Version

Building from master.

#### Operating system

Debian unstable, using opam, switch `4.06.1`.

#### Description of the problem

When running the test-suite, it fails, probably because of missing dependencies. Which should be spotted by the test-suite makefile.

I run:

[code]

End output of `make test-suite`:
[code]

I open this issue following an advice on #6809.

Thanks.

[2018-04-01 15:45] SkySkimmer commented on #7146
Please include logs for a failing test, eg test-suite/coq-makefile/arg.log.

[2018-04-01 15:49] ejgallego commented on #7145
Well, they are certainly unsafe in the sense that once you get down there, you are walking on a very thin line wrt the `evar_map`.

Also, they assume that goals are list however it seems to me that usually they tend to look more like a tree. So I dunno, maybe we would put a bit fat warning in the code. Recall that the way plugin writers work is cut&paste from the Coq codebase, so we ought to be ca

[2018-04-01 15:50] zapashcanon commented on #7146
The content of `test-suite/coq-makefile/arg.log` is just:

[code]

[2018-04-01 15:51] SkySkimmer commented on #7146
Oh this is just #5975 you need to configure -local.

[2018-04-01 15:52] ejgallego commented on #7146
cc #6229 , maybe a duplicate of #5975 ?

[2018-04-01 15:54] ejgallego commented on #7146
So that's still a valid bug, `make test-suite` should not run if `-local` was not passed to configure.

Can't wait for the day `-local` goes away.

[2018-04-01 15:55] SkySkimmer commented on #7146
The specific errors are #5975, but it's still true that we don't check for the test suite dependencies (according to gitlab.yml: currently `time` and `python`).

[2018-04-01 15:55] ejgallego commented on #7146
So let's keep this bug of having `make test-suite` refuse to run on `non-local`, and #5975 for actually fixing the test suite so it can be run in both modes.

[2018-04-01 15:56] ejgallego commented on #7146
Yup, so the test suite makefile should check for:
- `-local` has been used.
- `python`, `time`, and `git` (?) are in scope.

[2018-04-01 15:57] SkySkimmer commented on #7146
This is not the right check. Instead we should check that `$coqtop -config` gives a valid `COQLIB` or some such thing in order to support running the test suite for an installed Coq (as gitlab does).

[2018-04-01 15:58] ejgallego commented on #5562
`camlp4` is not required anymore, so closing this.

[2018-04-01 15:58] #5562 closed

[2018-04-01 15:59] SkySkimmer commented on #7146
Not used AFAICT.

[2018-04-01 16:03] gares commented on #7145
I think that `Unsafe` was badly chosen, and this naming issue should be fixed once and for all.

The proper name for most of these API is `Internal` and at some point in the stack of ML modules there should be no more need to use these API (i.e. become really internal). If the system was a single file, they should not be in the corresponding mli. Since the software is made of many files, I think `

[2018-04-01 16:10] maximedenes commented on #7145
I think the issue is a bit more serious than one wrong name chosen. It is rather that *the same* name was chosen to indicate a potential safety breakage (but users were still provided no other way), but also to denote things that were not to be used (like `unsafe_type_of`, and possibly `EConstr.Unsafe.to_constr`).

It is high priority to identify which is which IMHO.

[2018-04-01 16:11] maximedenes commented on #7145
Why wouldn't a plugin writers be expected to write the tactics in #6844 ?

[2018-04-01 16:14] zapashcanon commented on #7146
OK, so, using `-local` makes it work for me. Should I leave the issue open ?

[2018-04-01 16:14] SkySkimmer commented on #7146
yes

Gaëtan Gilbert

On 01/04/2018 18:14, Léo Andrès wrote:

[2018-04-01 16:20] ejgallego commented on #7145
Because we couldn't provide a decent API to do so (yet).

[2018-04-01 16:28] SkySkimmer commented on #7145
Did #6844 really have to use Unsafe? See https://github.com/coq/coq/pull/6844/files#r178462770

[2018-04-01 17:11] ejgallego commented on #6357
This was fixed by #6641 right?

[2018-04-01 17:11] Zimmi48 commented on #5562
The bug was closed indeed but not by removing the dependency of the build script on camlp4.
It would be great if the dependency of lablgtk on camlp4 could be dropped while it is ported to gtk3.

[2018-04-01 17:13] ejgallego commented on #6310
Note that #7136 fixes this.

[2018-04-01 17:14] SkySkimmer commented on #6357
Yes.

[2018-04-01 17:14] #6357 closed

[2018-04-01 19:06] ejgallego opened #7149 "Reducing configure"
IMHO we have too many configure options. I am aiming at a day where Coq can be configure-less given a standard OCaml/findlib environment is present, so this issue is a first step to see which options we could deprecate/remove. Options for the compiler/linker can be implemented using _workspaces_ that is a file containing different configurations, that can be manually edited. Current options are:

[2018-04-01 20:33] Zimmi48 commented on #7149
You put:

[code]

in the same category as:

[code]

but these are not the same thing and your argument for removal only holds for the second category.

[2018-04-01 20:40] ejgallego commented on #7149
Indeed you are correct thanks, in fact I had written the specific reason for the first category.

[2018-04-01 22:12] SkySkimmer commented on #7032
I agree to be a code owner.
I have read the merging documentation.
I will follow the process and use my merging right wisely.

[2018-04-01 22:17] SkySkimmer commented on #7149
I don't understand what a workspace is.

Didn't know about this one. How useful is it? Does it have perf costs? Should it go in the dev profile?

[2018-04-01 22:30] ejgallego commented on #7149
It is a "development setup" similar to a Nix-file, for Dune https://jbuilder.readthedocs.io/en/latest/usage.html#workspace-configuration but they will improve. There, you will be able to set options, etc...

[2018-04-01 22:44] SkySkimmer opened #7151 "Refactoring the CI scripts"
# why
Currently customizing jobs in the CI scripts is done through generating these complicated env variables like EXTRA_FOO and so on. This recently led to issues in the gitlab yml, I feel like the travis yml could also be improved. Circle has less custom stuff to do, and the opam-boot system means we don't have EXTRA_OPAM, but maybe it could also benefit.

# how
The idea is to have "feature vari

[2018-04-02 07:05] garrigue commented on #7055
See the above issue for progress on this port.
At this point the lablgtk2on3 branch compiles and links, but much functionality is lost.

[2018-04-02 09:27] Zimmi48 commented on #7032
We are now 20 code owners. The only people we didn't hear back from yet are @barras and @fajb.

[2018-04-02 16:11] MSoegtropIMC commented on #5562
But I hope this was truly fixed in the sense that camlp4 now does build again. At least I see the sed patches in

https://github.com/coq/coq/tree/master/dev/build/windows/patches_coq

The issues was that Cygwin changed sed to no longer strip carriage returns. This results in difficulties in a mixed Cygwin / MinGW environment, so I patches sed back.

In case this doesn't work please let me know asa

[2018-04-02 16:22] ppedrot commented on #7133
The 8.8 code seems to be taking a lot of time in evar expansion (called from Evarsolve), it might be the case that the switch to EConstr was detrimental on this example?

[2018-04-02 19:31] JasonGross commented on #5675
I figured it out.  The issue is that in
[code]
the first `$` is not properly escaped.

[2018-04-02 22:33] ejgallego opened #7155 "ML API documentation meta issue"
C̶o̶q̶ ̶c̶u̶r̶r̶e̶n̶t̶l̶y̶ ̶p̶r̶o̶v̶i̶d̶e̶s̶ ̶a̶ ̶w̶a̶y̶ ̶t̶o̶ ̶g̶e̶n̶e̶r̶a̶t̶e̶ ̶a̶ ̶d̶o̶c̶u̶m̶e̶n̶t̶a̶t̶i̶o̶n̶ ̶o̶f̶ ̶t̶h̶e̶ ̶m̶l̶-̶l̶e̶v̶e̶l̶ ̶i̶m̶p̶l̶e̶m̶e̶n̶t̶a̶t̶i̶o̶n̶ ̶u̶s̶i̶n̶g̶ ̶t̶h̶e̶ ̶`̶s̶o̶u̶r̶c̶e̶-̶d̶o̶c̶`̶,̶ ̶`̶.̶m̶l̶i̶-̶d̶o̶c̶`̶,̶ ̶`̶m̶l̶-̶d̶o̶c̶`̶ ̶m̶a̶k̶e̶ ̶t̶a̶r̶g̶e̶t̶s̶.̶

H̶o̶w̶e̶v̶e̶r̶,̶ ̶t̶h̶e̶s̶e̶ ̶t̶a̶r̶g̶e̶t̶s̶ ̶a̶r̶e̶ ̶n̶o̶t̶ ̶v̶e̶r̶y̶ ̶w̶e̶l̶l̶ ̶m̶a̶i̶n̶t̶a̶i̶n̶e̶d̶,̶ ̶

[2018-04-02 22:42] Zimmi48 commented on #7155
I didn't know odoc but it seems that ocamldoc it's pretty much unmaintained if not deprecated, as @matej-kosik learned the hard way when he tried to have a warning free ocamldoc compilation. So if this new tool can help get a good inline doc of the APIs I'm all for it 😉

[2018-04-02 23:21] ejgallego commented on #7155
This is an example of how `odoc` looks like: https://ocaml.janestreet.com/ocaml-core/latest/doc/base/Base/index.html

So instead of base here we would have `coq.kernel`, etc...

[2018-04-02 23:26] ejgallego commented on #7133
@anton-trunov has confirmed Pierre-Marie's guess, the switch to `EConstr` is doing bad things here. I can't look at it right now, but maybe the "marked" `to_constr` in #6454 could give a clue.

[2018-04-03 03:45] cpitclaudel opened #7156 "Should the names printed by Locate be different inside and outside a section?"
#### Version

8.4pl6 through 8.7

#### Operating system

GNU/Linux

#### Description of the problem

I never noticed until now:

[code]

I expected to see the second result in both cases, rather than `.ABC.` being inserted.

[2018-04-03 05:05] ejgallego commented on #7156
That's gonna be hard to fix, maybe. [I didn't think in detail so I could be well wrong]

Funnily enough, Sections and Modules are the same in Coq until you _close_ them, then they become distinguished. So indeed, hence the result.

Name resolution in Coq is quite intricate (for intrincate reasons), and among other things it means that making a sensible completion engine will require a large refact

[2018-04-03 07:34] MSoegtropIMC opened #7157 "Windows build script: enable incremental builds and provide documentation for debugging Coq"
The Windows build scripts as is can build Coq, but they don't support development of Coq on Windows well. The main issues are:

1.) incremental builds are not supported - the build system always clears the complete build folder - an "incremental" option is required

2.) it should be possible to build byte code variants for debugging.

3.) Documentation for debugging is required.

[2018-04-03 07:43] anton-trunov commented on #7133
But didn't switch to EConstr happened *after* v8.6.1?
Please observe that already for v8.6.1
`move=>D/(cancelR D).` takes 0.40 sec. whereas
`move=>D V; move: {V}(cancelR D V).`  takes 0.24 sec (1.67 times faster)

[2018-04-03 07:46] ejgallego commented on #7133
Oh sorry, maybe I got confused, https://github.com/coq/coq/pull/379 was certainly introduced for 8.7 but maybe it has nothing to do with this bug.

[2018-04-03 08:07] ejgallego commented on #5986
I am glad we didn't close this as the issue seems far to be solved. Opaqueness has indeed very much improved, however, we face new challenges on predictability. Two points:
- as of the time of writing this comment, out of 163 PR, 106 remain unassigned. That is not looking good.
- maintainer reactivity is still an open question. I am not sure all the maintainers will be reactive, and we lack a good

[2018-04-03 08:09] maximedenes commented on #5986
I think we should first try to get active maintainers. We still have some freedom in changing assignments of maintainers.

[2018-04-03 08:36] anton-trunov commented on #7133
Let me summarize this a bit. AFAIU:
- the current performance issue is observable (roughly) from [8.6.1] to [8.8beta]
- #7026 was introduced in #379 and fixed with #7028

[2018-04-03 11:50] gares commented on #5986
I think we need tools to measure. Our personal experience is too biased imo. Eg. I try to promptly set needs:review but I ve no way to be notified when things change, or when a timeout has expired. Maybe gh API + jq is enough

[2018-04-03 12:27] Zimmi48 commented on #5986
Good point @gares! I'll try to set up some measurements and some bots to help in the coming months.

[2018-04-03 13:15] andres-erbsen opened #7159 "Requesting fine-grained control of evaluation order"
#### Description of the problem

In several cases it would be very useful to directly control relative evaluation order of subterms of a larger term. Here are two examples that would have been very helpful to me if they had been available, though it is not obvious that just adding these two is the best way to improve the situation.

1. Hand-picked ordering `reduce_and_then {A P} (x:A) (f: forall x

[2018-04-03 13:49] Zimmi48 commented on #7159
Are you aware of the `Arguments ... : simpl never.` command? It is documented here: https://coq.inria.fr/refman/tactics.html#hevea_tactic155. Sorry if this is not what you were requesting in your second point.

[2018-04-03 13:51] larsr opened #7160 "Conversion test anomaly, "given ill-typed terms""
#### Version

The Coq Proof Assistant, version 8.7.2 (February 2018)
compiled on Feb 19 2018 12:25:39 with OCaml 4.05.0

#### Operating system
macOS 10.13.3

#### Description of the problem

When `Setoid` is imported, `rewrite` fails with

         Conversion test raised an anomaly:
         Anomaly "conversion was given ill-typed terms (FProd)."

Here is the code.

[code]

[2018-04-03 14:33] herbelin commented on #7156
On the other side, a constant is generally generalized over section variables after section closing, so wouldn't it be confusing to have the same name for a constant which has not the same type inside and outside the sections?

Anyway, it could be changed by modifying the methods of `Declare.inConstant` if wanted.

[2018-04-03 14:46] Zimmi48 opened #7161 "Nightly builds roadmap"
Providing nightly Coq builds would simply mean having a webpage where users can download a binary package corresponding to the latest version of Coq master branch.
This should include at least the packages we provide now for released versions (MacOS, Windows 32 bits and Windows 64 bits) but it would be cool to provide more (e.g. a Debian / Ubuntu `.deb` binary package, a Nix package with a binary

[2018-04-03 14:57] ejgallego commented on #7161
Yes and yes.

[2018-04-03 18:31] JasonGross commented on #7159
I believe both points are requests for ways to modify the behavior of cbv, lazy, vm_compute, native_compute.  As far as I know, simpl never only applies to simpl and cbn, and only applies to an identifier, not to its arguments

[2018-04-03 20:46] jfehrle commented on #7157
1 and 2 would be a good step forward.  A better approach (if possible, and probably much more work) would be to have
- a minimal .bat script to set up cygwin and download components such as labgtk, patch their source code and then build them
- then do the final build for installation and incremental developer builds using makefiles that are also used to build for other OS's such as Linux

For 3, t

[2018-04-04 03:33] ejgallego opened #7164 "Identifier Completion API"
A key step in building a useful language server for Coq is to provide "code completion", which is usually a function of the form `completion_candidates : string -> string list` [other approaches are often possible and desirable].

#7156 reminded me to open this issue. As of today, Coq's particular name resolution design makes non-trivial to implement this feature if I am correct. [SerAPI](ejgalleg

[2018-04-04 08:13] #7142 closed

[2018-04-04 09:07] MSoegtropIMC commented on #7157
at least for Coq my build scripts do this:

- get the sources
- do some very minor patching
- run configure
- run make

The configure and make files used are (except for the very minor patches) identical to those used on Linux. So as far as I understand what you describe above is completely covered by just supporting incremental builds. Or put in other words: I don't understand where the differenc

[2018-04-04 09:25] Zimmi48 commented on #7157
Could this very minor patches be integrated directly in the Makefile without breaking the compilation on Linux?

Make already supports incremental compilation so I think that what @jfehrle means is just that if there is an initial script to setup the right compilation environment, then the developers working on Windows can just setup this environment once, then use configure / make for the compila

[2018-04-04 10:54] #6782 closed

[2018-04-04 11:41] #6404 closed

[2018-04-04 11:42] gares opened #7167 "PR depending on PR just don't work"
They were never easy to deal with, but with the new merging process it is just unbearable.

In particular the code-owners business applies to all commits in the PR.
Hence a PR 2 touching (only) file A but depending on PR 2 touching file B gets the code owners of file B in the loop. The shepherd has then to take pen and paper to check what was reviewed and what not.

I open this issue to have a dis

[2018-04-04 11:43] gares commented on #7167
Question 1: why does one need to open PR 2 in the first place?

One can keep branches in his private repo and use projects to organize his submission of PRs.

[2018-04-04 11:47] ppedrot commented on #7167
I can only support this. PRs depending on other PRs are a real mess, including for the PR writer... I'd also advocate for only pushing PRs one-by-one.

[2018-04-04 11:58] MSoegtropIMC commented on #7157
I guess so, I think it is just some wrong tool paths or names.

Regarding incremental builds: I guess we all mean the same then. Currently the scripts are made at a module wrapper level (coq being a single module here) such that each module is always compiled completely from scratch. If the previous build was not successful, the whole module folder is erased, sources are retrieved, configure is ru

[2018-04-04 13:25] herbelin commented on #7164
I don't know what would be a sensible roadmap wrt completion, but I'm rather happy with the "search in the global namespace" in company-coq and CoqIDE.

I'm otherwise missing being able to write things like `Def^T` to mean `Definition`, and so on.

Getting used to dynamic spell-checking with smartphones, I wonder how difficult would it be to have fixes for standard kinds of mispelling (e.g. `mathc

[2018-04-04 13:36] MSoegtropIMC opened #7171 "Windows CI: add check that installer works"
CI currently builds a Windows installer, but doesn't check it in any way.
The Windows CI should run the installer and compare the install destination folder with the "template" folder.

[2018-04-04 13:42] MSoegtropIMC opened #7172 "Windows build: don't include make in installer"
Currently the Windows build includes a MinGW make, but this make leads to problems (because it doesn't handle posix shell commands). Since it hides other make in the system, it is better to remove it by default.

there is a top level script option -make. Things to change are:

- set the default to N
- remove the override if MAKEINSTALLER==Y

[2018-04-04 13:45] Zimmi48 opened #7173 "`rewrite foo in H with x` gives pretty terrible error message"
#### Version

8.7.2

#### Description of the problem

`rewrite foo in H with x` (`in` and `with` clause have been swapped by mistake) gives the completely undecipherable error message:
[code]

[2018-04-04 13:47] ejgallego commented on #7164
Well, the only problem is that such global search takes several seconds [or even minutes sometimes], so it is not a very snappy interface to use for interactive typing. Not to say of the battery drain this incurs in laptops. That won't work at all for protocols such as the VSCode one that pings the API quite often.

One of my students in fact had to disable company Coq due to the large battery dra

[2018-04-04 13:52] MSoegtropIMC opened #7174 "Windows build: merge top level test case files into one file"
Over time a lot of top level build test case files (MakeCoq_8xxxx.bat) accumulated.
Move these all into one file with some command line options to select a specific case or to run all tests.

[2018-04-04 14:11] Zimmi48 commented on #7172
Isn't this #5987 which was fixed in 951f80b0ce46976791d8b7fa7cf68aea11018da0?

[2018-04-04 14:24] Zimmi48 commented on #7167
I prefer pushing PRs one by one and this is what I've been advocating as a first solution but I understand that sometimes people want to show what they have in store.

Indeed, I can understand this.

Note that not all PR dependencies have the same problem:
- a PR in a component that depends only on a PR on the same component doesn't have this problem
- a large PR depending on a small fix PR does n

[2018-04-04 14:27] Zimmi48 commented on #7167
Although in this case, there is still the problem that code owners for the PR dependency have had a review requested for no good reason *and they can't even remove the request for review even when they are not shown as code owners anymore* (the second part is IMO a bug in GitHub).

I think that GitHub staff might be interested in this discussion BTW. Can someone send them the link?

[2018-04-04 14:28] MSoegtropIMC commented on #7172
I don't think it actually fixes it - my bad, because I suggested this solution.

There is the following code in the top level bat file MakeCoq_MinGW.bat:

IF "%MAKEINSTALLER%" == "Y" (
  SET INSTALLMODE=relocatable
  SET INSTALLOCAML=Y
  SET INSTALLMAKE=Y
)

so MAKEINSTALLER=Y overrides INSTALLMAKE to Y, so in the end installers will always have make regardless of the -make setting.

Besides the c

[2018-04-04 14:40] ejgallego commented on #7167
I think that we have also seen this pattern of "nested" PRs so often because since the API movement started, we have done a lot of structural work. But I think we are very close to converge in that front, so maybe in the future we will see way less PRs of this nature.

[2018-04-04 14:45] MSoegtropIMC commented on #7172
@gares : in case this is urgent (for 8.8 or so) please set the priority accordingly.

[2018-04-04 14:57] #6257 closed

[2018-04-04 15:02] herbelin commented on #7097
Hesitating to open a new issue for minor `merge-pr.sh` questions and remarks:
- I noticed that it requires git >= 2.7 (for `git remote get-url`)
- I don't know well the differences between `git@github.com:coq/coq` and `https://github.com:coq/coq.git`. Is it important that the origin points to the former exclusively?

Extra note: using gpg on MacOS [was not](https://stackoverflow.com/questions/3949

[2018-04-04 15:16] maximedenes commented on #6389
When I first saw this issues, I thought the point was to evaluate the cost of a potential change to a kernel that would be skeptical w.r.t. sections. But since then, #7118 has shown that performance of such a change (without other changes to the system) is a showstopper.

But it seems that @egjallego still want #7118 to be merged, so I realized I misinterpreted the motivations. I asked about it an

[2018-04-04 15:25] maximedenes commented on #7167
My experience is that stacked PRs basically shifts the burden from the author of the PR to the merger and reviewers. So it's a tradeoff.

@ejgallego often uses stacked PRs as an optimistic pipeline: if PR B depends on A (and the two conflicts), and A is merged unchanged, the author doesn't need to rebase B after A is merged.

Opening B only when A is merged is also sensible, but then you can't get

[2018-04-04 15:44] ejgallego commented on #7167
It allows for much more time for review, also early feedback improves dev turnaround. It is often that I implement significant changes. A canonical example is the Dune PR, see the queue, and tell me to submit things one by one.

Also, submitting PR 1 that depends on PR 2 helps reviewers of PR 2 to understand motivations for it.

I disagree, having to do a stacked PR is way more of a burden for the

[2018-04-04 15:46] maximedenes commented on #7167
I was comparing to the solution suggested above, not to large PRs containing unrelated changes, of course.

[2018-04-04 15:49] ejgallego commented on #6389
I don't have a lot of answers as this was really exploratory territory. I dunno about the option, but in principle it seems useful to have better isolation in the trusted base.

Indeed, as I commented on #7118, for this option to be considered as more than an experiment, we would need to provide a way to disable typechecking inside sections. It is a pity I don't have my stm / proof trees ready yet

[2018-04-04 15:51] ejgallego commented on #7167
Yeah, but note that if you split this kind of PRs you indeed do get dependency issues. The reality is that any non-trivial change to the codebase is going to result in a few reviewable logical changes that depend on each other.

[2018-04-04 15:54] maximedenes commented on #6389
Don't get me wrong, I fully agree with the goal of trying to isolate section handling from the kernel. But since the option is not practical, as shown by the timings, I'm sure we want to merge an experiment.

But of course the experiment was very valuable, and that leads to something I've been wondering for a long time: what is the appropriate place to store the results of such experiments? In the

[2018-04-04 16:01] ejgallego commented on #6389
Well, "not practical" here may have many meanings. If you cost per line of TCB is way higher than your cost of type checking then it is going to be a super practical option. I am not sure "practicality" is the relevant factor here.

I am not expert on the kernel of course, but I am not sure what is the problem with merging this option. Does it create a maintenance burden? It looks like it has very

[2018-04-04 16:26] ejgallego commented on #7167
In fact, I've just becomed very convinced that indeed splitting and making dependent PR makes the codeowners system work better, even with the current setup. Example, #7135, this PR could be split in 2 PRs. If we would do so, the first PR would get a smaller codeowner, more focused codeowner set and i'd bet the change would have already be in Coq. The depending PR would get at first _the same_ cod

[2018-04-04 16:28] ejgallego commented on #7167
For instance, once a PR with `Depends` is submitted the bot could adjust the reviews, or maybe post some meta information. I'd be cool if after submitting a PR the bot would say "The most likely candidate to assign this PR to is foo, reviewers blah and shit are only here because of deps".

[2018-04-04 17:02] herbelin commented on #6389
My own 2c: independently of the question of providing or not a `_super_safe_section_` option, the simplest approach to me would be that we double-check the code for discharging, tag it as TCB and move it to the kernel.

Then, whether, we want to implement cross-verifications on parts of the kernel shall be another story.

[2018-04-04 17:34] gares commented on #7167
I Think you are missing an important point: splitting changes in multiple dependent PRs is perfectly fine.
The topic here is: opening them (and expecting actions on the ones with dependencies) is a pain.

But for mistakes on my side (that sometimes I miss the `Depends:` metadata) I *stopped* doing any action on PRs with dependencies. Indeed if B depends on A and I do some work on B:
- it may becom

[2018-04-04 17:39] gares commented on #7167
JFTR, I'm fine with my way of doing (ignoring PR with dependencies). So you guys can still open them, but I find my "solution" very extreme and defeating *any* point in making PRs with dependencies.

So maybe we can find a better solution (for both authors and shepherd).

[2018-04-04 18:07] samuelgruetter commented on #6257
Cool, looking forward to 8.8.0 :smiley:

[2018-04-04 18:29] andrew-appel opened #7175 "Typeclass resolution interacts badly with dependent types"
#### Version 8.5, 8.6, 8.7.2, 8.8+beta1
#### Operating system: all

File: https://github.com/PrincetonUniversity/VST/blob/master/progs/bug83.v
in any version of VST since commit b9396a780ea14d26542eed3181d154fc4c116673

This is not exactly a bug report: it is well known that, because Coq's typeclass resolution is performed after unification, there are some interactions of typeclasses with typechec

[2018-04-04 19:14] ejgallego commented on #7167
I think you are only focusing on `B`, and indeed it makes the life of those involved in `B` _slightly_ more complicated as `B` now depends on `A` and you have to be aware of that fact.

However, you should also see the other point of view, those that care about `A`. The people who care about `A`, now has a much better time reviewing and dealing with the PR than if `A+B` would have been submitted.

[2018-04-05 01:45] jfehrle commented on #7157
Yes, that is the idea.

I omitted some important details.  I'm able to build coqtop, both binary and bytecode, full builds and incrementally without much trouble.  The problem is building coqIde.  When I run the configure script, I get the following output and error:

[code]

So I'm not able to build coqide with the makefile.  Makefile.ide refers to files lablgtk.cma, lablgtksourceview2.cma, lablg

[2018-04-05 06:51] maximedenes commented on #7044
@ejgallego This is tagged as a 8.8.0 blocker. What is your ETA for the fix?

[2018-04-05 07:09] Zimmi48 commented on #7157
Using the local option would avoid you passing the coqlib argument.

[2018-04-05 07:37] ejgallego commented on #7044
Can have a look before Monday, it must be something silly (cc: @gares in case he wants to add another set of eyes).

[2018-04-05 08:02] MSoegtropIMC commented on #7157
@jfehrle : the gtk library is build by my scripts. I will concentrate on methods based on these scripts. In my opinion it doesn't make sense to come up with yet another build method (besides opam and my scripts) for the purpose of development. I am confident that I can deliver a nice and seamless developer experience on Windows.

@Zimmi48 : I agree that integrating some of the Windows specifics in

[2018-04-05 08:05] MSoegtropIMC commented on #7172
Ok, will do it today.

[2018-04-05 09:05] ppedrot commented on #5765
Was fixed in 8.8 by #1121.

[2018-04-05 09:05] #5765 closed

[2018-04-05 11:27] MSoegtropIMC commented on #7081
@gares : can you please review the urgency for this?

Essentially this leads to random failures of the Windows builds on appveyor. Right now such failures are rare but in the past rather minimal changes (especially in logging) did lead to almost 100% failure cause of this.

It is a small change and I can quickly do it, but in case it is not urgent I want to wait for #6809 and/or after 8.8.

[2018-04-05 11:32] maximedenes commented on #6389
I don't buy the TCB option, because AFAIK `coqchk` already provides an answer.

[2018-04-05 13:52] Zimmi48 commented on #7081
This shouldn't be a blocker for 8.8 AFAICT. But it would still be good to fix quite soon.

[2018-04-05 14:25] gares commented on #7081
The sooner we fix it, the better. I agree with @Zimmi48 , it cannot block 8.8.. unless the final commit of 8.8 triggers the issue... and in that case we don't need a label to spot it ;-)

[2018-04-05 14:47] gares commented on #7044
This fixes it, but I want you to write the final patch.
It seems that in the code path I've fixed below there is no initialization whatsoever (it may make sense to not call `Stm.new_doc`, but some of its code mush be run and I've no idea if the 2 lines I've added are enough... they are for this example).

[code]

[2018-04-05 14:51] MSoegtropIMC commented on #7081
O.k, I will prepare a pull request immediately after #6809 is merged (it would likely conflict with it).
Then you have it in case ...

[2018-04-05 17:33] herbelin commented on #7097
@Zimmi48: Is it expected that the script apparently does not check if the local `master` branch is synchronized with `origin`?

[2018-04-05 17:42] Zimmi48 commented on #7097
Right now it doesn't check indeed but that would be a good check to add.

[2018-04-05 18:48] ejgallego commented on #6389
I feel like sections and a couple of other topics, such as what's going on with `Qed` could warrant a session at the IM to discuss a bit; IMHO the issue is quite complicated to discuss here as they are many subtle interactions and points of view.

My point of view is about doing parallel processing for example, so that's quite different.

About the TCB I am not an expert, just wanted to point out

[2018-04-05 18:50] maximedenes commented on #6389
In fact my question was very simple: can you give an example use case for this option?

[2018-04-05 19:26] ejgallego commented on #6389
Maybe not in its current incarnation, but it was already of great help at least to me personally to improve my understanding on some stuff. So I don't see the urgency of closing this right away.

[2018-04-05 19:27] ejgallego commented on #6389
And thanks for the comments, indeed, I'll then reformulate / close the bug when I have a bit of time about to think tranquilement, maybe I should just focus on #6254

[2018-04-05 20:41] cpitclaudel opened #7182 "Don't ship fonts for Sphinx docs"
The Sphinx documentation patch uses a modified copy of Ubuntu Mono to get nice centering of sub- and superscripts.  I think it's a bit over-engineered, and I think we'd be better off with almost-perfect centering and no extra fonts.

I can provide a patch if no one beats me to it.

[2018-04-05 20:49] jfehrle commented on #7157
Great!  That also copied the 30 DLLs and eliminates the need to add kernel/byterun to my path.

[2018-04-05 21:31] ejgallego commented on #6389
This is not a PR @ppedrot

[2018-04-05 21:53] ppedrot commented on #6389
Sorry, I thought I was posting in PR #7118! See, the dualism PR/issue is going to drive me crazy if we post on both sides!

[2018-04-05 21:59] ejgallego commented on #6389
I understand your point folks, I just mean that there is not urgency to act on this IMO, I couldn't even read Skyskimmer PR well and you already want to close it. Let's discuss this with calm, I'll take care of garbage collection if needed.

[2018-04-05 21:59] ppedrot opened #7183 "Mutually coinductive records are not handled"
Mutually coinductive records are currently not handled by the kernel. The reason is quite stupid if I understand correctly, as it is due to the fact extraction cannot handle them properly. This is a limitation that prevents the transition to coinductive negative types, so it should be swiftly lifted.

[2018-04-06 01:48] samuelgruetter opened #7185 "'as' in Ltac patterns to bind matched terms to avoid reconstructing them"
Here's a feature wish: Consider

[code]

where on the right-hand side of `=>`, I have to repeat the term `(1 + x)`, just without the question marks. This is bad because it's code duplication, and it gets even worse if the term contains implicit arguments: It happens often to me that the implicit arguments inferred on the right-hand side of `=>` don't match the original ones, so that `change` does

[2018-04-06 11:12] ppedrot opened #7187 ""where" clauses in record fields do not work"
The following feature which is described in the manual doesn't work on 4c3564ac7e2ea231a6dde84f2af6bfddbc0834c6.
[code]
As far as I can test, this has been the case since 8.4 at least.

[2018-04-06 11:16] SkySkimmer opened #7188 "Packages failing on Jenkins"
A bunch of packages are constantly failing on jenkins:
[code]
(Color seems newly failing)

We should figure out what's going on.

[2018-04-06 11:38] herbelin commented on #7187
I don't see what you are expecting. In my experience, the `where` clauses for records is to give notations for fields and their scope is the rest of the record. For instance, the following works (even if it is not the intended use of `where`):
[code]

BTW, which part of the reference manual are you referring too?

[2018-04-06 11:42] maximedenes commented on #7187
I find this very counter-intuitive, the `where` constructions I've seen come after their scope. What language inspired this flavor?

[2018-04-06 11:43] ppedrot commented on #7187
So the scope of the `where` clause is the remaining part of the record? This is the exact inverse for inductive types, where the scope is the whole inductive block. It seems highly counterintuitive to me.

Why don't we unify both syntax by setting the where clause after the record definition instead?

[2018-04-06 11:47] ppedrot commented on #7187
For the record, I'm down the rabbit hole of record and inductive interpretation at the vernac level. I just want to fix #7183 in order to deprecate positive coinductive types, but this seems to be a clever trap from which one cannot escape. This part of the code is complete spaghetti, and seems broken in so many ways that I do not see any glimmer of hope. Let's call for help here, hopefully @herbe

[2018-04-06 11:57] herbelin commented on #7187
Maybe the use of a `where` keyword in non intuitive but I don't see what is not intuitive with the scoping.

For inductive types, these are notations for the inductive types: they are defined in the context defined by the inductive types and are applicable in the type of constructors to be typed in this context.

For record, the notations are intended to be for fields and they are defined in the c

[2018-04-06 11:59] maximedenes commented on #7187
What is very much not intuitive is to have this scoping with the `where` keyword, precisely.

[2018-04-06 12:00] maximedenes commented on #7187
To make things clearer, what is the intended use?

[2018-04-06 12:00] ppedrot commented on #7187
In all languages I know of, including Coq and except for this precise case, the scope of `where` is the before it. In practice, it is the syntactic inverse of `let`, which is forward.

No, the problem is that I need to import most of the code of inductive interpretation into record interpretation, and I'd like to make them as close as possible before...

[2018-04-06 12:07] herbelin commented on #7187
The intended use of the `where` clause for records is to give notations for _fields_. So, maybe the syntax would have been clearer like this:
[code]
[code]
??

[2018-04-06 12:16] herbelin commented on #7187
Some of the limitations in `Vernacentries.vernac_inductive` seem to me pretty artificial.

To support the `Inductive` style of `where` clauses in (co)inductive defined using record-style, I guess it would roughly be enough to add a
[code]
block in `Record.vernac_record`/`Record.definition_structure` (as in the code of `ComInductive.interp_mutual_inductive`).

[2018-04-06 12:28] herbelin commented on #7187
The limitation to non-mutual (co)inductive types would require a little bit more work: it is really that `vernac_record` should be extended to deal with mutual records. Intuitively, I would say that it shall just be a couple of `Array.map` to add at appropriate places, but maybe it shall be more.

Then, in a second step, it seems that there shall be theoretical questions to address if one wants to

[2018-04-06 12:31] ppedrot commented on #7187
I thought a bit about it, and it seems highly non-trivial from a theoretical stand ground. It means we have to handle polarity changes and probably also mixed guard conditions...

[2018-04-06 13:36] SkySkimmer commented on #5446
Cannot reproduce since 6304c843c01cd1cb4fcd940d74f6ddb414cb6914 (#6074).
I doubt it solved the underlying bug though.

[2018-04-06 13:55] Zimmi48 commented on #6573
The problem is less important in the online version with the table of contents appearing in the left bar with the Sphinx manual.
But the "introduction" part which includes the credits, then the table of content is still too long.
One possible solution would be moving the credits to a proper chapter.

[2018-04-06 14:30] SkySkimmer commented on #5539
Case compilation is generating an algebraic universe:
[code]

simpl does refolding which hides the algebraic universe.

Fix incoming.

[2018-04-06 14:33] #5281 closed

[2018-04-06 15:18] SkySkimmer commented on #5151
It seems at some point _ind schemes stopped reusing the _rect scheme. That incidentally solves this bug but I'm not sure it was intended.

[2018-04-06 15:28] SkySkimmer commented on #4806
This got fixed at some pre-8.7 point.

[2018-04-06 15:28] #4806 closed

[2018-04-06 16:02] #7124 closed

[2018-04-07 13:10] akr opened #7191 "Extraction generates "assert false" at top level"
#### Version

[code]

#### Operating system

[code]

#### Description of the problem

Extraction generates "assert false" at top level as follows.

[code]

The problem is "let f = assert false" which raises
an exception at defining this program.
If the exception is raised at invocation time of f, we can use "h"
without problem (because "h" doesn't invokes "f").

I think it should have an argument

[2018-04-07 13:35] herbelin commented on #7187
As far as I'm concerned, it does not seem absurd to eventually merge `comInductive.ml` and `record.ml`.

[2018-04-07 14:43] andrew-appel opened #7192 "Print Assumptions confused by nested modules"
#### Version 8.7.2
#### Operating system: Windows
In the following program, `Print Assumptions E.D.f` should report "closed" but wrongly believes that `E.D.f` is an axiom.

[code]

[2018-04-07 16:08] herbelin commented on #7192
Hi @andrew-appel, I think you mean `E <: C`. Otherwise your redefinition of `D` is not taken into account.

[2018-04-07 16:12] andrew-appel commented on #7192
But I claim that E.D.f is supported by a proof, that is, "a" is a witness for "f", and therefore "f" is not an assumption.  I should be able to have an opaque module that has a proof, a witness, for its implementation.

[2018-04-07 16:31] herbelin commented on #7192
You're right, this is a bug. `Print Assumptions` looks at the implementation of modules (bypassing the apparent signature) but it does so only at the first level of nesting. This should be extended to submodules.

[2018-04-07 20:35] JasonGross opened #7195 "Ltac handles open terms incorrectly in `constr`"
#### Version

8.8+beta1

#### Description of the problem

This code should work.  It does not.
[code]

[2018-04-07 20:41] SkySkimmer commented on #7195
I'm guessing the issue is that the P0 is just a print-time renamed P so
when you match N and U are both P.
Someone who knows ltac matching tell me if I'm right.

Gaëtan Gilbert

On 07/04/2018 22:35, Jason Gross wrote:

[2018-04-07 21:09] JasonGross commented on #7195
Yes, I'm pretty sure that's correct.  Here's another example:
[code]

[2018-04-08 06:24] ejgallego commented on #6182
cc: #7196

[2018-04-08 08:44] herbelin opened #7197 "Warnings raised at parsing time get wrong location in CoqIDE"
If I enter
[code]
in a `coqide` started with `-w all` (*) I get the warning highlighted on `efinition abcdef := 0`.

This seems due to this particular warning being generated at parsing time with a different id than the id used at interpretation time. I'm a bit lost in debugging this. I don't understand why ids for a sentence are different at parsing time and at interpretation time, and why it hap

[2018-04-08 13:05] herbelin commented on #7195
Fix at #7199 (note that this fails since 8.5).

[2018-04-08 13:10] herbelin commented on #7091
Maybe an intermediate solution would be to rely strictly on `pattern` as it is implemented now, even if, when term equality is eventually made better understood in `pattern`, Ltac pattern-matching will take benefit of it also.

[2018-04-08 15:26] ejgallego commented on #7197
I didn't try but likely needs #529 so clients can rely on `span_id` info in parsing too.

[2018-04-08 15:26] ejgallego commented on #7197
Does #7194 help by the way? [I assumed you would try but I didn't see it]

[2018-04-08 16:08] herbelin commented on #7197
It does not help.

Thanks for pointing to #529 which helps to understand the situation.

[2018-04-08 18:57] Zimmi48 commented on #7097
I think it is OK to close this issue as a won't fix (for the original wish).
@herbelin's further comments have been addressed as part of #7102.

[2018-04-08 18:57] #7097 closed

[2018-04-09 08:14] #6980 closed

[2018-04-09 08:15] #7044 closed

[2018-04-09 08:15] #7050 closed

[2018-04-09 09:06] #6956 closed

[2018-04-09 12:36] davidnowak opened #7204 "Module Type and universe polymorphism"
#### Version

8.7.2

#### Description of the problem

The code :

    Set Universe Polymorphism.

    Module Type FOO.
    Parameter t : Type -> Type.
    End FOO.

    Module Foo <: FOO.
    Definition t (A : Type) : Type := A.
    End Foo.

gives the error :

    Signature components for label t do not match:
     the expected (polymorphic) constraints do not imply "Top.3 <= Top.4

[2018-04-09 12:40] SkySkimmer commented on #7204
This is intended behaviour. Module type `FOO` has a constant `t@{u v} : Type@{u} -> Type@{v}` which is defined for any 2 universes, but in `Foo` it is only defined when `u < v`.
You can restrict the module type by telling it about these constraints:
[code]

[2018-04-09 12:40] #7204 closed

[2018-04-09 12:56] Zimmi48 opened #7206 "MacOS test-suite job started failing a few hours ago"
First failure on `master`: https://travis-ci.org/coq/coq/jobs/364005459

[code]

It seems that `opam` was installed correctly (before) and that the installation fails during the `gnu-time` install step but without an error message.

[2018-04-09 13:00] Zimmi48 commented on #7206
Actually the error is rather in the installation of `opam`: its listed dependencies changed between the last successful build from `ocaml, ocamlbuild, camlp4, clingo, aspcud` to `ocaml, ocamlbuild, camlp4, gdbm, openssl, sqlite, python@2, clingo, aspcud`.

And the failure is in the installation of Python:

[code]

[2018-04-09 13:03] Zimmi48 commented on #7206
And the culprit is: https://github.com/Homebrew/homebrew-core/pull/26289/files#diff-37519cd632d87df0a1be3ca7de23228e

[2018-04-09 13:03] Zimmi48 commented on #7206
I hate Homebrew!

[2018-04-09 13:26] SkySkimmer commented on #5217
We could provide a way to raise anomalies through ltac.

[2018-04-09 13:27] Zimmi48 commented on #5217
Isn't it a wish that @ppedrot granted in Ltac2?

[2018-04-09 13:29] Zimmi48 commented on #5266
If the bug is: how does one build a Coq plugin on Windows, then yes it's still relevant.

cc @MSoegtropIMC (I'll let you decide if you want to close this or re-assign it to yourself)

[2018-04-09 13:36] #7206 closed

[2018-04-09 13:39] gares commented on #5266
I guess the current incarnation of this issue is: should we provide a pre-built SDK?

The `.bat` scripts in `dev/buid/win` *both* create the SDK and compile Coq. We make an installer of the latter, we could as well "zip" the former.

Creating the SDK takes some time, so this would be more of a commodity rather than a real bug fix.

[2018-04-09 13:59] #7101 closed

[2018-04-09 14:00] ppedrot commented on #5217
@Zimmi48 Indeed.

[2018-04-09 14:03] ejgallego commented on #7206
Is there any other alternative?

[2018-04-09 14:03] Zimmi48 commented on #5217
So the question is do we want to continue granting wishes in Ltac1 when there are already granted in Ltac2.
BTW, what is the plan for a stable release of Ltac2?
Side-question: will you call it Ltac 2 1.0 or Ltac 2.0? :laughing:

[2018-04-09 14:08] maximedenes commented on #7206
I'm pretty sure you're waiting for @Zimmi48 or I to say "of course, there's Nix", so I won't say it :)

[2018-04-09 14:09] #7110 closed

[2018-04-09 14:10] ejgallego commented on #7206
Oh if Nix for OSX works, why not?

[2018-04-09 14:24] ejgallego opened #7208 "`make help` is very incomplete"
The documentation of our make targets, as provided by `make help` seems very incomplete; for example, no mention of `doc` or developer-friendly targets such as `state` is made.

[2018-04-09 14:33] MSoegtropIMC commented on #5266
@jfehrle and me discussed on CoqDev (subject: Methods for running Coq on Windows / building the installer) that we want to enhance the Windows setup build scripts so that they can also create a useful Coq development environment + corresponding documentation.

Right now I don't think it makes a lot of sense to create a downloadable SDK, because reusing the existing build scripts is much less effor

[2018-04-09 14:35] ejgallego commented on #7208
cc: #7190

[2018-04-09 14:36] Zimmi48 commented on #7206
Actually, I was expecting @maximedenes to say it. That's why I didn't ;-)
Rethinking the CI to use Nix instead of OPAM / brew is not in my priorities but of course I would support it if someone submitted a patch.

[2018-04-09 14:38] Zimmi48 commented on #5217
First, you would need to release the beta (e.g. on OPAM).
Then, you just send a message to Coq-Club saying "The future of Ltac is here".

[2018-04-09 14:40] #5266 closed

[2018-04-09 14:47] Zimmi48 commented on #5675
Two recent occurrences of `coq_makefile` failures:
- https://ci.appveyor.com/project/coq/coq/build/master~3459/job/d7gl444a2xyeltko#L3727
- https://ci.appveyor.com/project/coq/coq/build/master~3458/job/0dsopit5iw6oa8wp#L3852

[2018-04-09 14:50] herbelin commented on #5217
What is the situation regarding how to move from Ltac1 to Ltac2? Is the plan to let Ltac1 and Ltac2 coexist? To provide a translator, or at least a translation documentation?

[2018-04-09 15:14] ppedrot commented on #5217
@herbelin Porting is AFAICT rather easy, and it is possible to do so incrementally by allowing Ltac1 and Ltac2 to coexist. I'm not sure writing a translator is that worthwhile, and [there is already a translation documentation](https://github.com/ppedrot/ltac2/blob/master/doc/ltac2.md#transition-from-ltac1).

[2018-04-09 15:17] ppedrot commented on #5217
Also, I'm probably going to publish an Ltac2 release right after the Coq 8.8 release.

[2018-04-09 17:16] Zimmi48 commented on #6963
Blocking on #7020

[2018-04-09 17:36] Zimmi48 opened #7209 "Update credits following Sphinx migration"
`doc/sphinx/credits.rst` and `CREDITS` should contain @cpitclaudel's name.
`doc/sphinx/credits.rst` should probably also list all the people who helped with the porting as a way of thanking them. They don't need to be in `CREDITS` because helping with porting from one format to another doesn't make you a copyright holder.
This is a blocker for 8.8.0.

[2018-04-09 22:51] JasonGross commented on #6834
This is not an issue of `pose`, but of constr interpretation, I think, and is related to #4997.  Here is a work-around:

[code]
(see https://github.com/coq/coq/issues/5996#issuecomment-338405694 for more details)

[2018-04-09 23:06] JasonGross opened #7210 "Ltac's tactics in terms pick up the wrong variable when names are repeated"
#### Version

8.8+alpha

#### Description of the problem

I thought this was already reported, but I can't find it, and I want to reference this in another bug report.

This should work:
[code]

This should also work:
[code]

[2018-04-09 23:07] JasonGross opened #7211 "Goal metavariables should be considered open over hypothesis names bound in Ltac match"
#### Version

8.8+alpha

#### Description of the problem

I want this to work:
[code]
(it errors with `Not convertible`)

Interestingly, I can take advantage of bug #7210; this works:
[code]

[2018-04-10 16:44] SkySkimmer opened #7214 "install complains because of a few not compiled ml files"
eg in https://gitlab.com/SkySkimmer/coq/-/jobs/62215853
[code]
deque has never been used, not sure about the others.

[2018-04-10 16:52] Zimmi48 commented on #7214
Which version? Is it a new bug or an older one? 8.9-regression?

[2018-04-10 21:56] Zimmi48 commented on #5675
Yet another, very similar failure. We definitely need to reopen this:
https://travis-ci.org/coq/coq/jobs/364720830#L6222

[2018-04-11 02:28] JasonGross commented on #7159
The lack of `reduce_and_then` is a severe problem for PHOAS passes.  I have a case where if I convert a de Bruijn AST into a PHOAS AST in `vm_compute` (which takes about 2-3 seconds), and then run `vm_compute` on a PHOAS pass on the AST, that takes about 23 seconds; if I run `vm_compute` in the composition of the conversion from de Bruijn and the PHOAS pass, it takes over 10x longer(!), about 313

[2018-04-11 08:48] #5147 closed

[2018-04-11 09:08] gares commented on #7167
You insist in reading my issue as "don't submit A and B, submit A+B" while my issue is "please only submit A to not pollute the set of open PRs (unless B is crucial to understand what A is for)".

Anyway, I've the `needs: merge of dependency` label and it seems it can be used to completely ignore PRs that depend on PRs, so I'll just close the issue.

[2018-04-11 09:08] #7167 closed

[2018-04-11 09:43] #7098 closed

[2018-04-11 14:29] Zimmi48 commented on #6963
#7020 has been merged.
@ppedrot Can you take care of this issue urgently?

[2018-04-11 14:37] Zimmi48 commented on #6829
@letouzey Now that the Sphinx migration is done, it could be the right time to handle this and other documentation issues.

[2018-04-11 14:38] Zimmi48 commented on #6089
@mattam82 Certainly not a blocker but if you have a bit of time to do this before the release it would be great.

[2018-04-11 17:35] maximedenes commented on #7140
@Zimmi48 has a fix been backported?

[2018-04-11 17:38] maximedenes commented on #7017
@Zimmi48 is the milestone reflecting @letouzey's schedule on this? or why was it added?

[2018-04-11 17:40] maximedenes commented on #6951
@mattam82 can you update the milestone to reflect your schedule? Thanks!

[2018-04-11 17:40] maximedenes commented on #6988
@ejgallego are you working on this? If not, can you update the milestone to reflect your schedule?

[2018-04-11 17:41] maximedenes commented on #6974
This change needs discussion, so postponing it.

[2018-04-11 17:49] maximedenes commented on #6498
Apparently @Zimmi48 and @ejgallego decided that @mattam82 would look at this for 8.8.0... What is the current status?

[2018-04-11 17:50] maximedenes commented on #6640
@ppedrot Can you update the milestone to reflect your current schedule?

[2018-04-11 17:51] maximedenes commented on #5039
@letouzey can you update the milestone to reflect your schedule on this? Thanks!

[2018-04-11 17:53] maximedenes commented on #6089
and if not, please update the milestone.

[2018-04-11 17:53] maximedenes commented on #6130
@ejgallego Any update on this?

[2018-04-11 17:55] maximedenes commented on #4805
@letouzey can you update the milestone to reflect your current schedule on this? Thanks!

[2018-04-11 17:56] maximedenes commented on #6829
but if you don't have time, please update the milestone accordingly

[2018-04-11 19:07] ejgallego commented on #6130
This was assigned by a medium priority to my queue which seems to mean these days "years away". I've temporally bumped the priority to high I'll see what I can do.

[2018-04-11 19:10] ejgallego commented on #6988
We investigated and it turns out this problem doesn't happen in newer protocols so I am not addressing this anymore in the near future.

[2018-04-11 19:16] ejgallego commented on #7140
The fix is in #7143 I think.

[2018-04-11 19:16] #7140 closed

[2018-04-11 19:17] ejgallego commented on #6988
I am also clearing the milestone until a new assignee picks it up.

[2018-04-11 19:30] ejgallego commented on #6130
On the other hand, IIRC the temporarily fix means that we can safely delay this for now, the workaround in 8.8 is a hack but we can live with it.

[2018-04-11 19:48] Zimmi48 commented on #6988
When you say newer you mean like SerAPI? That's the recommended workaround, right?
I think then you can put the help wanted label and strip the milestone completely: no need to claim that this will be fixed in 8.9.

[2018-04-11 19:50] Zimmi48 commented on #7140
Yep, sorry, I forgot to close. GitHub auto-close doesn't work when we don't merge in `master` (because they don't distinguish feature branches and stable branches).

[2018-04-11 19:54] Zimmi48 commented on #6130
Then it's not really a regression anymore, right? We could reconsider the labeling...

[2018-04-11 20:09] Zimmi48 commented on #7017
I added the 8.8.0 milestone because this is a 8.8-regression / compatibility issue. Given that this file `Decimal.v` was added in 8.8, it would be very unfortunate to not address this before the 8.8.0 release. I had forgotten about it but I'll try to ask @letouzey to have a look at it tomorrow.

[2018-04-11 20:35] Zimmi48 commented on #7123
I think it is now completely unrealistic to think that this can be fixed for 8.8.0 but let's not forget about it. I'll try to give more precise guidelines.

[2018-04-11 23:27] ppedrot commented on #6963
I'll do that by tomorrow.

[2018-04-11 23:34] ppedrot commented on #6640
I don't think it's a really pressing matter, moving it to 8.9, we'll backport it if desperately needed.

[2018-04-11 23:51] ejgallego commented on #6130
I think this is still a regression, even if the original report is fixed I think there are still some cases where things don't work properly.

[2018-04-12 01:34] samuelgruetter opened #7223 "Coercions around evars should always be printed"
Coq version: 8.7.2

Here's an enhancement suggestion: No matter whether printing of coercions is enabled or not, coercions around evars, i.e. terms for the form `f ?x` where `f` is a coercion and `?x` is an evar, should always be printed as `f ?x` instead of just `?x`, because otherwise error messages can be very confusing, as illustrated by the following example:

[code]

[2018-04-12 09:11] #7100 closed

[2018-04-12 09:27] #7089 closed

[2018-04-12 11:04] vbgl opened #7226 "Name resolution not the same with coqc or coqtop"
#### Version

[code]

#### Operating system

OS X 10.11.6 (15G20015)

#### Description of the problem

I’ve two modules with the same name, one of them being from a third-party library. The second one uses the first one; some partially qualified names are resolved differently by `coqtop` (to the other module) and by `coqc` (to the current module). Here is a full example.

`L/a.v`:
[code]

`a.v`:
[

[2018-04-12 11:07] ejgallego commented on #7226
Is that a regression?

[2018-04-12 11:42] vbgl commented on #7226
[code]

[code]

[code]

[code]

After fixing the `From …` line, I still get the same error (unable to unify…) with Coq 8.4.

[2018-04-12 11:50] herbelin commented on #7226
The command `coqc` is interpreting a module `A` within `A`. The command `coqtop` is loading the file within a module conventionally named `Top`. Try adding `-top A` to the `coqtop` invocation to tell it to load within a module named `A`.

[2018-04-12 12:01] vbgl commented on #7226
Indeed, adding `-top a` on the command line for `coqtop` makes both `coqtop` and `coqc` behave in the same way.

Should ProofGeneral (and other IDEs) invoke `coqtop` with such a `-top` flag? In other words, is this issue a ProofGeneral one?

[2018-04-12 12:06] ejgallego commented on #7226
IMHO the `-top` flag is deprecated for IDEs, in the sense that it is in the init document call where the module name should be specified.

Indeed, IDEs should properly initialize a document, but until we don't add full file support to them it is kind of a moot point. SerAPI does tho provide partial support and a new init call is coming to it; however some other pieces are missing to properly imple

[2018-04-12 12:53] akr opened #7228 "Anomaly with Set Extraction Conservative Types."
#### Version

[code]

#### Operating system

[code]

#### Description of the problem

I encountered an Anomaly.

[code]

[2018-04-12 14:26] herbelin opened #7230 "Some error messages end with 2 periods"
#### Description of the problem

[code]
And similarly with `Inductive` and `Record`.

[2018-04-12 15:00] herbelin commented on #6785
@jashug:

I would try to be even stricter and to fail in case of duplicated names in the "toplevel spine" of binders in type of a definition or the statement of a theorem, as `Arguments` already does when given two identical names. Idem in the presence of section variables: if a variable name is already used as a section variable name, it cannot be reused in the toplevel spine of a definition/theo

[2018-04-12 15:43] maximedenes commented on #6829
Didn't hear back, removing the milestone.

[2018-04-12 15:44] maximedenes commented on #4805
Didn't hear back, removing the milestone.

[2018-04-12 15:49] maximedenes commented on #6089
Didn't hear back, removing the milestone. @mattam82 please put back one that reflects your schedule. Thanks!

[2018-04-12 15:50] maximedenes commented on #5039
Didn't hear back, removing the milestone. @letouzey please put back one that reflects your schedule. Thanks!

[2018-04-12 15:50] maximedenes commented on #6498
Didn't hear back, removing the milestone. @mattam82 please put back one that reflects your schedule. Thanks!

[2018-04-12 15:58] maximedenes commented on #6951
@mattam82 ping

[2018-04-12 15:58] maximedenes commented on #7017
@Zimmi48 what did @letouzey say about his schedule?

[2018-04-12 16:50] #7209 closed

[2018-04-12 17:06] #4667 closed

[2018-04-12 17:28] Zimmi48 commented on #7017
Unfortunately I didn't manage to see him and I had to leave early.

[2018-04-12 17:47] JasonGross opened #7232 "coq/MERGING.md is incorrect"
#### Version

57c1eb50c370c894fda1a62ca27d7210982ac3fd

#### Operating system

Linux

#### Description of the problem

MERGING.md says to use `dev/tools/merge-pr XXXX`, but that is an error, and the command should actually be `./dev/tools/merge-pr.sh`.

[2018-04-12 17:54] Zimmi48 commented on #7232
Yes this was noticed before and there is an open PR fixing this already. If you locate it, feel free to edit the top comment to auto close this issue when it is merged.

[2018-04-12 18:06] #5981 closed

[2018-04-12 18:45] jashug commented on #6785
No, it seems sensible to support `(x := y)` even if `x` is not implicit.

What do you think the initial names of the arguments of `foo` should be in the following?
[code]
If you delta-expand `commutative` (as the implicit argument system currently does), you get repeated names `x`.

Not allowing shadowing definitely makes terms easier to reason about (with named representations). But then the set

[2018-04-12 20:32] wilbowma opened #7233 "Makefile.coq generates bad COQLIBINSTALL when DESTDIR set"
#### Version

The Coq Proof Assistant, version 8.7.2 (February 2018)
compiled on Feb 16 2018 8:50:49 with OCaml 4.06.0

#### Operating system

Arch Linux

#### Description of the problem

When `DESTDIR` is set, `concat_path` causes `COQLIBINSTALL` to equal `$(DESTDIR)/user-contrib`, instead of `$(DESTDIR)/$(COQLIB)/user-contrib`. My current workaround is to set `COQMF_WINDRIVE` to the empty string

[2018-04-13 07:39] #7230 closed

[2018-04-13 09:09] Blaisorblade opened #7238 "Print Transparent Dependencies also prints opaque dependencies"
#### Description of the problem

On Coq 8.7.2, `Print Transparent Dependencies` also seems to print opaque dependencies, as demonstrated by comparing its output with the one from `Print All Dependencies` in the example below — "Print All Dependencies" will list dependent obligations as opaque, while `Print Transparent Dependencies` will include obligations anyway.

Full code at https://gist.github

[2018-04-13 11:49] ejgallego commented on #7223
Let me cc #6801 as using the diff technology @jfehrle is developing could help improving error reporting.

[2018-04-13 11:51] ejgallego commented on #7164
I am also ccing @cpitclaudel , as the `company-coq` maintainer he may want to comment on the design of this.

[2018-04-13 12:02] cpitclaudel commented on #7164
Why do you think searching in the global namespace is slow? And how did you measure the battery drain?
What's slow is getting the list of all identifiers, but then completion itself is rather fast.

[2018-04-13 12:38] ejgallego commented on #7164
It is O(n) where n is the size of all the required modules; usually with the context we work with n > 30.000. See [`Declaremods.iter_all_segments`](https://github.com/coq/coq/blob/f3b84cf63c242623bdcccd30c536e55983971da5/library/declaremods.ml#L961).

It was reported by my student [unfortunately he doesn't have a GH account], and we tracked it down to the Search calls, but my memory is not fully p

[2018-04-13 12:51] cpitclaudel commented on #7164
Sorry, were miscommunicating. It's pretty clear that the way company coq fetches identifiers from Coq is slow. But that doesn't mean that completion itself should be, or even is.

IOW, loading the completion list is slow, but after that completion doesn't have to be. With a proper API, there would be no need to load the completion list.

Also, did you actually observe minutes-long waits? On the fu

[2018-04-13 12:52] cpitclaudel commented on #7164
Also, did you try disabling just the dynamic completion source in company-coq? Rather than the whole thing?

[2018-04-13 12:58] ejgallego commented on #7164
I dunno, I'll ask my student to provide more details.

Yeah, I was talking about the refresh mechanism indeed, but indeed that's a necessary part of the completion.

I don't know if "minutes", but more than let's say 15-20 seconds with the very heavy environment sure; we use pretty old laptops tho :)

[2018-04-13 13:01] cpitclaudel commented on #7164
No, it's not :)

[2018-04-13 13:01] ejgallego commented on #7164
Anyways, detaching the issue back from `company-coq` specifics, to me, the current Coq API to query identifiers is O(n) in the **size of the module** and that is not acceptable to me.

[Note that it iterates over _all contents_ of the module]

[2018-04-13 13:01] ejgallego commented on #7164
Oh, then how do you query Coq for the list of identifiers.

[2018-04-13 13:03] ejgallego commented on #7164
Being a necessary part of the completion doesn't mean that the operation is run on _every_ completion. But AFAICS you cannot do any completion at all unless you perform this operation _once_. Thus, it is a necessary part.

[2018-04-13 13:03] cpitclaudel commented on #7164
You don't. You query it for completions given a prefix. Then Coq uses proper data structures to answer that query efficiently.

[2018-04-13 13:04] ejgallego commented on #7164
Ah oh, I meant "as of today".

[2018-04-13 13:04] cpitclaudel commented on #7164
You can build these data structures lazily at the same time as you populate the nametab, so every time you add a new identifier to the context you also add it to a trie of completion candidates.

[2018-04-13 13:05] cpitclaudel commented on #7164
Ah, yes, of course.

[2018-04-13 13:05] cpitclaudel commented on #7164
I don't think you can beat company-coq's approach today, but it's horrible indeed.

[2018-04-13 13:05] ejgallego commented on #7164
So indeed that's the idea this issue proposes, however, the way the nametab work it is a bit tricky to implement.

[2018-04-13 13:11] ejgallego commented on #7164
So the main question is what the ML-level API should be. The straightforward `complete : string -> string list` is OK, however there are many other possibilities that could be done.

[2018-04-13 13:17] gares commented on #7233
Could you please test #7241 ?

[2018-04-13 13:30] wilbowma commented on #7233
Sure

[2018-04-13 15:59] wilbowma commented on #7233
Couldn't test that branch directly; I was compiling mathcomp, which seems to be incompatible with 8.8. But, I applied the commit as a patch to 8.7.2 and recompiled mathcomp successfully, so it seems to work for me.

[2018-04-13 16:02] Zimmi48 commented on #7233
Math-Comp is not supposed to be incompatible with 8.8...

[2018-04-13 16:37] gares commented on #7233
The 1.6.x release is... we are working on 1.7 but it will be released a bit after Coq 8.8

[2018-04-13 16:39] gares commented on #7233
@wilbowma Thanks!

[2018-04-13 18:36] Chobbes opened #7243 "appcontext removed in 8.8?"
#### Version

The Coq Proof Assistant, version 8.8+beta1 (March 2018)
compiled on Mar 28 2018 7:01:51 with OCaml 4.05.0

#### Operating system

Linux

#### Description of the problem

Hi there! I noticed that appcontext seems to have been removed in this release? I believe it has been marked as deprecated for a while, so I suspect it was intentionally removed, however there is no mention of this i

[2018-04-13 19:33] herbelin opened #7245 "Which status to vernacular commands currently in the ltac plugin"
There are some vernac commands which do not seem specifically related to Ltac1 such as `Optimize Proof`, `Optimize Heap`, `Grab Existential Variables`, retroknowledge registration.

The status of `Derive Inversion` is also unclear. In some sense, it should be seen as a variant of `Scheme`.

The status of `Declare Equivalent Keys` seems unclear too. It is strictly speaking about unification though

[2018-04-13 19:37] Zimmi48 commented on #7243
Indeed it was removed in #6169. And sorry about forgetting to add a mention in CHANGES.

[2018-04-14 11:47] #6310 closed

[2018-04-14 17:46] cpitclaudel commented on #7182
Well, turns out that present-me was a bit too critical of past-me.  I can't actually figure a CSS solution that doesn't look horrendous.

OTOH, I learned that derivatives of Ubuntu Mono need to be renamed entirely.  So I created a PR for that.

[2018-04-14 17:46] #7182 closed

[2018-04-15 00:59] jashug opened #7253 "Standardize handling of implicit arguments of inductive types in constructors"
#### Version
Coq 8.8+beta1

#### Description of the problem

Implicit parameters of inductive types get by default the parameter value in their definition, rather than being inferred. This leads to behavior like the below:

[code]

I think this is rather unintuitive. On the other hand, it allows to write things like
[code]
without having to specify the parameter of bar in either the parameters or

[2018-04-15 01:35] jashug commented on #7253
If the implicit argument is not inferable, options like `Set Implicit Arguments` won't make it implicit. So to get any benefit from this, it seems like the user would have to manually set some non-inferable parameter implicit with curly brace binders. If that is the only relevant case, this seems an unhelpful feature.

[2018-04-15 02:11] ejgallego commented on #6310
Cool to see this fixed, thanks!

[2018-04-15 04:01] jashug commented on #7253
So this is actually used with some frequency in practice.
See failures in https://travis-ci.org/jashug/coq/builds/366674182

In most of the cases I looked at, if we could add as unification constraints that the parameters in the conclusion are `Rel i` (for known `i`), there would be no problem.

Summoning @mattam82 to ask how hard that would be.

[2018-04-15 04:54] jashug commented on #7253
Computing the head-normal form of constructors doesn't happen until the kernel, but we would need to compute that much to get access to the parameters, in order to add unification constraints before solving.

I suppose that requires either moving the computation of the head normal form out of the kernel (which introduces more places to break the invariant) or duplicating computing the head normal

[2018-04-15 10:01] herbelin commented on #7253
@jashug: I don't know what you have in mind when you say that you could implement the feature with unification. In any case, I believe that it is still possible to fix the current issue at the level of `constrintern.ml` by a minor change, namely by `reset_hidden_inductive_implicit_test`-ing as soon as going in contravariant position of a dependent product (e.g. in `intern_local_binder_aux`) and by

[2018-04-15 11:22] anton-trunov opened #7255 "ssr: anomaly occurs when trying to rewrite with a logical equivalence"
#### Version

Coq master (4c466c429902d0ef0bd0da0f42e1a3b6d9f7d32a)

#### Operating system

macOS 10.13.3 High Sierra

#### Description of the problem

Please consider the following minimized example:

[code]

`rewrite E` produces an anomaly:

Obverse that if I simplify the goal, then the anomaly goes away:
[code]

Also, it seems that the usage of SSReflect is essential here, because
[code]

resul

[2018-04-15 13:54] herbelin opened #7256 "Yet another source of dependency on alphabetic order in unification"
#### Description of the problem

In the following examples, the return clause is not resolved the same for the two calls to `refine`:
[code]
This is observable since version 8.4. Fix coming.