[2019-02-15 03:21] JasonGross opened #9582 "Typechecking constrs should not take over 100x longer in big goal contexts than in small ones"
#### Description of the problem

[code]
What's going on here?

Example extracted from bedrock2, cc @andres-erbsen
cc @ppedrot

#### Coq Version

8.9.0

[2019-02-15 03:30] JasonGross commented on #9582
Here is a smaller example that displays the problem, though not quite as egregiously:
[code]

[2019-02-15 03:44] JasonGross commented on #9582
Note that this behavior shows up using `Check` as well as `constr:(...)`, though it's a bit harder to notice because the times are much smaller.

[2019-02-15 03:45] xuanruiqi commented on #9581
8.8.0 also suffers from the same issues.

[2019-02-15 05:30] JasonGross commented on #9582
Note that this issue shows up even for `uconstr`:
[code]

[2019-02-15 05:36] JasonGross commented on #9582
I think the hotspot might be name resolution?  I don't see what else would explain this behavior:
[code]

[2019-02-15 08:21] Janno commented on #9358
Here's another piece of code that triggers this error message:
[code]
Is this the same underlying failure?

The same error message is printed for
[code]

[2019-02-15 08:34] Janno opened #9583 "Stack overflow with custom entries"
#### Description of the problem
The following piece of code causes a stack overflow.
[code]

Note that this parsing problem is not even ambiguous.

#### Coq Version
master

[2019-02-15 08:48] ejgallego commented on #9581
It is strange that you see that anomaly in 8.8 as it was introduced in 8.9

[2019-02-15 08:49] xuanruiqi commented on #9581
Let me recheck.

[2019-02-15 09:01] xuanruiqi commented on #9581
Only in dev (`master`) Coq do I get the anomaly `"grounding a non evar-free term".`

8.9.0-release, 8.8.2 and 8.8.0 all report `"the kernel does not support existential variables"`, which has been in Coq for quite a while.

I suspect the two anomalies are somehow related, but I don't know enough about inner workings of Coq.

[2019-02-15 09:29] vbgl commented on #9583
Could reproduce on 8.9.0 too.

[2019-02-15 10:06] DanGrayson commented on #8997
I've trimmed it down quite a bit.  There is still slowness, but now the total time is much reduced.  See my comment around "foo" in this code:
[code]

[2019-02-15 10:40] ejgallego commented on #9581
Yup, in master you get a debug-check, that is removed in the official release and indeed was revealing a bug as you can see.

The source of your problem is likely some hole not properly filled. Try to workaround it by giving some more explicit terms.

[2019-02-15 13:19] pi8027 opened #9584 "A problem with exporting coercions in module"
#### Description of the problem

The Coq module system can be used to provide a set of definitions and lemmas. Users can choose definitions and lemmas to write their proofs by choosing appropriate modules to import. More generally, the module system can be used to provide some different sets of definitions, lemmas, *coercions, and canonical projections* (and more? I don't know...) for the same def

[2019-02-15 13:25] DanGrayson commented on #8997
The slowdown must be related to having so many definitions that expand to a composite of primitive projections.

[2019-02-15 13:35] pi8027 commented on #9584
There is a workaround to avoid this issue generally: defining submodules for each coercion. But it's very lengthy and boring. :(
[code]

[2019-02-15 14:56] gares commented on #9584
I see two problems here. One is that import/export only works for entire modules CC #8491

The other one (generating the Ambiguous path warning) is that `Export M` does two things: importing `M` for local use and making the enclosing module export `M` once imported. Maybe `Export` should just have the second effect.

[2019-02-15 15:21] andres-erbsen commented on #9582
[code]

[flame graph](https://gist.github.com/andres-erbsen/07c39e4591609c23514cc35316fe05de)  blames `Namegen__name_rec`, `Evarutil__new_evar_from_context`, `Evarutil__new_evar_instance` (for best viewing right-click on the image and open in new tab).

[2019-02-15 15:31] andres-erbsen commented on #9583
potentially related #9519

[2019-02-15 16:21] mattam82 commented on #8196
@DanGrayson that would be in engin/univMinim.ml / normalize_context_set. If the universe on the left is global (not present in the context ctx) then the constraint should be preserved.

[2019-02-15 16:22] herbelin opened #9585 "About the command line options"
Collecting miscellaneous directions in passing about the handling the command-line arguments (sorry in advance if redundance with proposals I did not see):

- adding a unified way to declare a `Set` option on the command line (see @zimmi48's [proposal](https://github.com/coq/coq/issues/9295#issuecomment-451221174))
- adding a way to register new command-line flags dynamically, locally to a compone

[2019-02-15 17:07] JasonGross commented on #9582
Can you do a separate flamegraph that doesn't include the `pose proof `?  I think all of the new evars are coming from that.

[2019-02-15 18:02] andres-erbsen commented on #9582
[Here](https://gist.github.com/andres-erbsen/66c4b498a2a10ce64cfbb7317375bf22) is a flame graph of the second half of the same execution, indeed spending vast majority of its time in `Context__lookup` calls.

[2019-02-15 18:33] SkySkimmer commented on #9582
How's c899b3085f2e15ef05fe3a66470df9bc25eeda59 ?

[2019-02-15 19:26] xuanruiqi commented on #9581
I'm not sure I have control over that, though. If I understand correctly, Program should have been filling all the holes, so probably a bug in Program?

[2019-02-15 19:58] xuanruiqi commented on #9581
Also, weirdly `Program` can define `ddelete_func`, but not `ddelete`.

[2019-02-15 21:05] andres-erbsen commented on #9582
https://github.com/coq/coq/commit/c899b3085f2e15ef05fe3a66470df9bc25eeda59 fixes the `Context__lookup` performance, so the examples that use `uconstr` or terms with no holes no longer incur a slowdown when constructed in a large context. Thanks!

The examples with holes (mostly unfilled implicit arguments) in the term are still unusably slow in large contexts, I think this is likely due to somethi

[2019-02-15 21:17] andres-erbsen commented on #9582
constructing `eq_refl true` (which has one unresolved implicit, for `bool`) spends time in the following functions: `GlobEnv__new_evar` (20%), `Evarsolve__fun` (20%), `Environ__push_named_context_val_val` (15%), `Evarsolve__is_id_subst` (10%). The [flame graph](https://gist.github.com/andres-erbsen/470da4e0f0cf03c324d5eb810fb6f132) looks slightly confusing so you may want to confirm this breakdown

[2019-02-15 21:39] Zimmi48 commented on #9585
Also related:
- having a generic way to declare an attribute associated to an option.

[2019-02-16 01:08] jfehrle commented on #9447
My latest thoughts:  It's not too hard to generate an accurate grammar from the .mlg files.  Automatically generating a grammar that has its nonterminals and productions in an order that's great for human consumption is difficult to impossible.  We should reorder the nonterminals and productions in the .mlg files to make them as close as possible to the order we want in the documentation grammar,

[2019-02-16 09:25] DanGrayson commented on #8196
Great, thanks!

[2019-02-16 10:43] ppedrot commented on #9582
Slowness of evar creation is not surprising, both the algorithm for name creation and the array representation of instances are very bad for big contexts.

[2019-02-16 13:14] Zimmi48 commented on #9447
This is a grand plan that I like very much. In particular, I think refactoring the parsing files to be closer to what is documented (and the converse) is a very good thing because it will make contributing easier. It would also make sense to move things around so that we strive to have a single grammar (as documented) in a single `mlg` file. I would also be open to changing the coqpp parser to mov

[2019-02-16 15:56] Zimmi48 opened #9587 "CoqIDE built with dependencies in default.nix segfaults at launch."
#### Description of the problem

Building CoqIDE inside `nix-shell` or using `nix-build` produces a CoqIDE binary that segfaults at launch. (I have the same problem with the CoqIDE versions that I have installed through nixpkgs BTW.) It looks definitely related to NixOS/nixpkgs#54278, but since it seems this issue isn't being worked on, maybe we should do a local fix such as pinning to an older re

[2019-02-16 19:31] jfehrle commented on #9447
We can't go to a single .mlg file.  Each optionally-loaded plugin may need its own .mlg file.  The .mlg files are almost 11000 lines, much too big for a single file.  But we can organize the grammar into a smaller number of chunks, e.g. one for `constr`, one for vernac, one for tactics, etc.  I think this has already been done to some extent.  But we should be able to merge the smaller mlgs into t

[2019-02-16 19:57] jfehrle commented on #9447
On re-reading this, I suppose you were referring to a combined single grammar for documentation, and not suggesting we put all the .mlgs into one massive file.

[2019-02-16 20:17] Zimmi48 commented on #9447
What I meant was a mlg file would correspond to a given `productionlist`.

[2019-02-17 13:10] #9482 closed

[2019-02-17 13:14] #9488 closed

[2019-02-17 13:14] #9552 closed

[2019-02-17 13:29] #9527 closed

[2019-02-17 14:39] tchajed commented on #9148
Until Coq has better support, what I do is create a file `haskell-project/Extract.v` that looks like

[code]

Now you must run `coqc haskell-project/Extract.v` from the root of your project for this to work, but you're running `make` from that directory anyway so it's not hard to arrange that (even `make -C` will work, since it changes the working directory).

This file is difficult to use interac

[2019-02-17 17:35] Zimmi48 commented on #9148
Related to #9295.

[2019-02-17 17:45] andres-erbsen commented on #9148
see also #8649 #4953

[2019-02-18 10:06] #9508 closed

[2019-02-18 10:35] gares commented on #9587
The issue you point to is about gtk, we don't have control over what/how nix packages. The segfault seems to be an ABI mismatch. IMO this but is totally off topic.

[2019-02-18 12:06] Zimmi48 commented on #9587
We have control because we pin the version of nixpkgs we use in `default.nix`. Since it didn't use to be the case, we could decide to pin an older version. The only issue would be that it doesn't contain a recent enough version of dune, thus that's why I was talking about overriding its definition).

[2019-02-18 12:50] SkySkimmer opened #9593 "Alpha renaming: when does a name collide with a global name?"
See #9493, #9565

When should `forall x` be renamed to `forall x0`?

The current behaviour cares if the name comes from a file's toplevel module, this is strange.

If we change the rules, how to deal with the incompatibilities? Introduce a compat option?

[code]
[code]
[code]
[code]
[code]

[2019-02-18 13:28] Zimmi48 commented on #6724
@vbgl I'm still interested to work on it. However, I really want to take advantage of the build compositionality offered by Dune, so this is pending on ocaml/dune#1555.

[2019-02-18 13:33] Zimmi48 commented on #9593
FWIW my opinion on this is still that we should (*always*) allow shadowing like in most other programming languages. And if shadowing is too complicated to actually support, a solution could be to always alpha-rename the name that is shadowed (ideally to some name that becomes inaccessible *à la* SSReflect).

[2019-02-18 13:38] SkySkimmer opened #9595 "Missing non-primitive-record warning with 0 field record"
[code]
Since #9409.

[2019-02-18 14:56] gares opened #9598 "[kernel] [termination checking] reduction strategy incomplete"
[code]
The code in `inductive.ml` unfolds `mkK` then unfolds `fst` (but forgets it unfoleded `mkK`), hence it finds `match (mkK ...) with..` then it re-unfolds `mkK` but forgets that the obtained term is not neutral for the enclosing context.

[2019-02-18 16:36] gares commented on #9598
My original example is less trivial because the problem is not that `rec` is applied to a non-smaller term, but that (in branch where the rec call is discarded) it is not applied enough. In another branch the rec call is applied to a smaller term.

(untested)
[code]

[2019-02-18 16:38] gares commented on #9587
oh, I see, then it seems something we should fix.

[2019-02-18 17:14] Zimmi48 commented on #5985
https://gitlab.com/coq/coq/-/jobs/163268015

[2019-02-18 17:32] herbelin commented on #9593
Coq is more than a programming language in the traditional sense. In particular, interactive developments require to be able to refer to all names even those "shadowed".

A rule of thumb guided by the notion of document seems reasonable to me: If a name occurs in a document, no reference to this name should occur in the document which requires using a different basename. Otherwise, you make static

[2019-02-18 18:04] #7385 closed

[2019-02-18 18:04] #7769 closed

[2019-02-18 18:37] #8461 closed

[2019-02-19 05:37] akr opened #9601 "Cic description about destructing a proof."
#### Description of the problem

I think the Cic doesn't describe following beahavior clearly:

[code]

This is failed but I think Cic description doesn't reject it.

I know this should be rejected for extraction, so
Coq implementation is no problem.

I think the expression is typable according to Cic description as:

1. or True True : Prop
2. or True True : Set
  because Prop is a subtype of Set.

[2019-02-19 12:44] mattam82 commented on #6682
It looks more like a canonical structure resolution failure to me. E.g:
[code]

I would expect canonical structure resolution to instantiate ?3 with NP_Type and then just add an i+1 <= j constraint.

[2019-02-19 12:51] maximedenes commented on #9587
@Zimmi48 can you be the assignee? If not, maybe @vbgl?

[2019-02-19 12:53] maximedenes commented on #9583
@herbelin can you be the assignee?

[2019-02-19 12:54] maximedenes commented on #9582
@ppedrot Can you comment on whether there's hope, and if we do plan to address this issue?

[2019-02-19 12:54] maximedenes commented on #9581
@mattam82 can you be the assignee?

[2019-02-19 12:57] ppedrot commented on #9582
There is hope indeed, but that requires non-trivial changes. I have a branch somewhere that replaces arrays with lists and solves the algorithmic issue, but for some reason it had performance penalty on seemingly unrelated developments. Name creation is even trickier, it would require a serious rework if we wanted to handle all corner cases (in particular regarding sections), but this also implies

[2019-02-19 12:58] maximedenes commented on #9573
@mattam82 can I assign this issue to you?

[2019-02-19 12:59] maximedenes commented on #9569
@herbelin can I assign this issue to you?

[2019-02-19 13:01] maximedenes commented on #9558
@ppedrot is this a known limitation? Can I assign this issue to you?

[2019-02-19 13:04] maximedenes commented on #9547
@ejgallego can I assign this issue to you?

[2019-02-19 13:09] maximedenes commented on #9580
Wow, this looks like it is a meta leak! Let's call @ppedrot to the rescue.

[2019-02-19 13:12] Zimmi48 commented on #9587
@vbgl Feel free to re-assign.

[2019-02-19 13:12] maximedenes commented on #9532
@herbelin can you be the assignee?

[2019-02-19 13:21] maximedenes commented on #2229
@herbelin is there any plan to address this or should we close the issue?

[2019-02-19 13:24] SkySkimmer commented on #7015
I was thinking we might be able to have some more variance info for the arguments to handle this, but we need to be complete somehow and that doesn't seem possible with static variance. ie consider this modified example:
[code]
The eta expansion of `foo@{i k} false` is irrelevant in `i`, and this relies on reduction in the type of the 2nd argument specifically when the 1st is `false`.

[2019-02-19 13:31] mattam82 commented on #9581
Hmm, that's quite a big program! If `ddelete_func` is defined then surely `ddelete` sould be, as it is just a wrapper doing the call to the fixpoint combinator. Let me try to reproduce.

[2019-02-19 13:32] mattam82 commented on #9581
With which version does the program_bug branch compile with?

[2019-02-19 13:38] mattam82 commented on #1885
There is hope of telling rewrite not to instantiate evars, certainly.

[2019-02-19 14:16] herbelin commented on #9358
Fixed in #9604 (but following the shortest path, option 1).

[2019-02-19 15:04] vbgl commented on #9587
Cannot reproduce.

Isn’t this a bug on your system, Théo?

[2019-02-19 15:51] Zimmi48 commented on #9587
How interesting! To be investigated.

[2019-02-19 15:52] ejgallego commented on #9547
I can't commit to fix this in the short term as it needs some deep coqpp modification; note that I already track issues I've submitted myself anyways.

[2019-02-19 16:16] mattam82 commented on #9598
Yes, that typical. I don't have another example from the top of my head. What I'm seeing more often in equations is that the recursive call or its structural argument is abstracted during a commutative cut with a match, and the guard fails to track this: morally, if the recursive call is not applied to enough arguments outside the match that's fine, as long at its instances in the branches are cor

[2019-02-19 16:19] mattam82 commented on #9598
Hmm, I guess for your example you can use the same justification as what we do allowing `fix f x := let _ := f x in foo`

[2019-02-19 17:07] #9358 closed

[2019-02-19 17:20] ejgallego commented on #6974
When doing porting of overlays I use Dune and the amount of warning I see is staggering, some of them really critical.

In particular, warning 8 is not fatal so Primitive Integers where not really ported to a lot of plugins [which will now segfault] This is a almost a critical issue.

Thus I propose we update Coq Makefile to use the same set of fatal warnings than in Coq, except for 3 (deprecation

[2019-02-19 17:36] maximedenes commented on #6974
Oh! I wasn't aware that the issue was so serious. Can you explain how the segfault occurs?

[2019-02-19 17:53] #7755 closed

[2019-02-19 17:53] #9407 closed

[2019-02-19 17:55] ejgallego commented on #6974
Missing case in pattern matching.

[2019-02-19 17:58] maximedenes commented on #6974
But how does it trigger a segfault?

[2019-02-19 18:02] ejgallego commented on #6974
Oh indeed maybe it is just an anomaly, I was under the impression that missing pattern cases would trigger segfaults under some conditions (flamba?) anyways missing match case is pretty much fatal.

[2019-02-19 18:10] ejgallego commented on #6974
PR submitted here, https://github.com/coq/coq/pull/9605

[2019-02-19 18:12] ejgallego commented on #6974
I'd like to remove the `needs: discussion` tag that I added; IMHO I gathered plenty of evidence on why this is a good idea [i.e. many many bugs are signaled by warnings and ignored by plugin writers.

[2019-02-19 18:20] maximedenes commented on #6974
That would be a bug I think, as a well typed OCaml program should not segfault. Of course, I'm not saying this is ideal, but at least it is easier to debug than a segfault.

The "needs: discussion" was added for the original issue, where you wanted to enable all warnings, including deprecation ones. I personally still strongly oppose to that.

On the other hand, the PR you marked as fixing the iss

[2019-02-19 18:25] ejgallego commented on #6974
Oh indeed it is clear that making deprecation warnings as fatal is for now not possible with our current infrastructure / tooling; I am happy to allow that warning for now, and we may revisit deprecation warnings in the future once tooling improves.

Indeed it is a good point that deprecation warnings should get their own issue, but I think it belongs to a different one which I'll open now.

[2019-02-19 18:28] ejgallego commented on #9084
This is fixed AFAICT, right? [Please reopen if not]

[2019-02-19 18:28] #9084 closed

[2019-02-19 18:29] ejgallego commented on #8445
Can we close this issue @Zimmi48 @silene @maximedenes ?

[2019-02-19 18:34] ejgallego commented on #4704
IMHO this is fixed now, windows installer is using `make install` since long ( 3e19c53bffa95c6c6f4fd5006d54668f36694dd2 )

[2019-02-19 18:34] #4704 closed

[2019-02-19 18:35] ejgallego commented on #4266
The makefile uses a different method for the preprocessor now so this should be alleviated.

[2019-02-19 18:35] #4266 closed

[2019-02-19 18:38] Zimmi48 commented on #7433
Fixed

[2019-02-19 18:38] #7433 closed

[2019-02-19 18:39] ejgallego commented on #8793
I suggest this information is added to some file in the coq-contribs repository or in `doc/` in Coq, IMHO the report has done its function so closing.

[2019-02-19 18:39] #8793 closed

[2019-02-19 18:40] Zimmi48 commented on #7755
For future reference, the solution that was chosen is to fail when a command fails in a snippet, unless an option is passed. This doesn't go as far as checking that the output is unchanged, together with a good promote rule. This is left as future work for whoever wants to address it.

[2019-02-19 18:44] Zimmi48 commented on #8445
Up to @silene. FTR I have done my part (Zenodo update).

[2019-02-19 18:49] ejgallego opened #9606 "Plugin maintenance meta-issue: tooling, repositories, etc..."
As of today, refactoring of the public API in Coq is needed but still remains hard to do due tooling / external repositories. Even if the `create_overlays` script + Dune support in some plugin does help, it is still not optimal as things tend to go out of sync and the process remains clunky [for example no way to test impact on tree easily]

In particular, whether to use a _monorepos_ for the ML p

[2019-02-19 18:53] Zimmi48 commented on #9547
@ejgallego Are these coqpp modifications described somewhere? Would it be appropriate to describe them here or should there be another issue opened about them. If there is such an issue or it is created, then we can label this one as "needs" something (how to put the label name is not yet clear to me though, it doesn't seem to be any of the ones that we already have, or it would have to be general

[2019-02-19 19:04] ejgallego commented on #9547
So basically you need `coqpp` to stop generating static initializers and instead produce a `register ()` function that is called by the users of the grammar files.

Not difficult, but time consuming.

[2019-02-19 19:05] ejgallego commented on #9547
No label needed IMHO, what to do is pretty clear [have all the right initializers called in the dep chain]

[2019-02-19 19:06] ejgallego commented on #8445
Well all the items seem to be done so indeed this should be closed as to keep the issue tracker consistent.

[2019-02-19 19:15] Zimmi48 commented on #9606
FWIW I'd really like to try (or at least discuss more) the solution I proposed in https://github.com/coq/coq/issues/6724#issuecomment-443550002 rather than the full monorepo approach: the repo of Coq contains a folder for each plugin, the plugins keep their repos, and some tool keeps everything synchronized. See also https://github.com/google/copybara / https://github.com/jsirois/sapling (used by

[2019-02-19 19:17] Zimmi48 commented on #9606
@ejgallego What is the current timeline ocaml/dune#1555, especially now that it has missed 1.7.0? It would make these kinds of refactoring much easier.

[2019-02-19 19:23] Zimmi48 commented on #9547
But is this something that you are considering implementing yourself or for which you would prefer to request the help of someone else in @coq/parsing-maintainers? And if so, do they understand the idea?

[2019-02-19 19:25] ejgallego commented on #9606
@Zimmi48 hard to say, I am optimistic about having it done before the 8.10 freeze; Dune releases pretty often so that doesn't worry me a lot, however there is still some work to do to implement things properly, and I don't have a lot of free time.

[Note that I am developing Coq + Dune in a separate tree from the PR as to avoid noise to Dune devs].

[2019-02-19 19:28] ejgallego commented on #9606
Interesting, thanks for the links; I have a lot to catch up, let's hope I have done my homework before the next WG where we can hopefully discuss/chat about this.

Something that worries me (a lot) is to have to rely on external tools for such a basic workflow such as having to do a API commit. This both increases complexity and risk in the basic workflow and the cost shouldn't be underestimated.

[2019-02-19 19:30] ejgallego commented on #9547
If I have time I'll implement myself but I cannot give a bound now, so anyone is free to take on it of course.

[2019-02-19 19:39] Zimmi48 commented on #9606
It's all a matter of tradeoffs. But the monorepo approach has other drawbacks in terms of process which I think would damage accessibility to Coq CI and would go against the efforts that we have made to encourage plugin authors to join. These human aspects must not be neglected. BTW, note that the monorepo approach is [not the Linux way](https://blog.ffwll.ch/2017/08/github-why-cant-host-the-kerne

[2019-02-19 20:15] xuanruiqi commented on #9581
program compiles with any released version, program_bug compiles only with master. (BTW, in dev, the naming of extracted hypothesis are named differently as in 8.8 and 8.9.0, breaking old code).

[2019-02-19 20:22] mattam82 commented on #9581
Aha, then @maximedenes ‘s refactoring did change something.

[2019-02-19 20:24] xuanruiqi commented on #9581
BTW, I mean they compile up to the end of the last `Program Fixpoint`. In no version does the last `Program Fixpoint` work.

[2019-02-19 23:12] ppedrot commented on #9558
I'll assign it to me, but I don't have time to explore this in the short term.

[2019-02-20 09:29] Zimmi48 commented on #7307
I'm going to close this as this is probably much less of an issue now that it was just after the migration. FTR, in the future, I would like the URL of the refman to work a bit differently: the "current" URL should redirect explicitly (and not silently) to the current version of the refman (then links don't break). And we could consider adding a warning (like is done e.g. here https://zenodo.org/r

[2019-02-20 09:29] #7307 closed

[2019-02-20 09:33] Zimmi48 commented on #7308
FTR the core issue here has been fixed already. The keyword discussion should happen elsewhere (maybe on Discourse).

[2019-02-20 09:33] #7308 closed

[2019-02-20 10:22] maximedenes opened #9608 "`Private Inductive` does not prevent generating a match"
I believe the following should not be accepted:

[code]

I'm very surprised because privacy is seen by the kernel, so how come it can be circumvented?

[2019-02-20 10:23] ejgallego commented on #9606
Indeed @zimmi48 you are right I am not very familiar with the terminology and I write monorepos when in many cases I may mean monotree. I don't believe we should restrict Coq's CI to the monotree indeed, removing this feature was never in my mind, and we should be able to add developments that are not in-tree for obvious reasons [I am talking here about the `plugins:` part but of course what about

[2019-02-20 11:08] SkySkimmer commented on #9608
The kernel stores privacy but currently doesn't read it.
What surprises me is that this one is accepted, but eg
[code]
isn't.

[2019-02-20 11:09] maximedenes commented on #9608
There's a test for privacy in the code generating the schemes, but it looks broken (as is probably `Inductive.is_private`). This is how I realized this issue.

[2019-02-20 11:10] maximedenes commented on #9608
Maybe that's unrelated, though, I haven't checked.

[2019-02-20 11:26] ppedrot commented on #9601
The phrasing in the documentation doesn't make much sense, `I : Prop` should be defined relatively to some environment rather than just as a rule with no premise.

[2019-02-20 14:12] Zimmi48 commented on #9505
Has been fixed by @SkySkimmer

[2019-02-20 14:12] #9505 closed

[2019-02-20 15:23] SkySkimmer commented on #8696
Fixed probably around #9027

[2019-02-20 15:23] #8696 closed

[2019-02-20 15:45] Tuplanolla opened #9611 "Color configuration does not affect text color in CoqIDE"
#### Version

Coq 8.8.2

#### Operating system

Red Hat Enterprise Linux Workstation 7.4

#### Description of the problem

The following actions demonstrate why dark color schemes are unusable.

* Open CoqIDE.
* Insert `Print True.` into the buffer.
* Navigate forward.
* Open the *Edit* menu.
* Open the *Preferences* window (with the title *Customizations*).
* Select the *Colors* widget.
* Open th

[2019-02-20 15:49] maximedenes commented on #9526
I have a fix that is almost complete, hoping to submit soon.

[2019-02-20 15:50] Zimmi48 commented on #8404
In the whole repo:

[code]

It seems that `tools/coqdoc/coqdoc.css`, `doc/sphinx/coqdoc.css` and `doc/common/styles/html/coqremote/sites/all/themes/coq/coqdoc.css` are identical up to whitespace. There should be only one and copy rules. On the other hand `doc/sphinx/_static/coqdoc.css` is very different and should probably be renamed.

[2019-02-20 17:02] Zimmi48 commented on #8220
Fixed in 8.9.0.

[2019-02-20 17:02] #8220 closed

[2019-02-20 17:38] Zimmi48 commented on #5636
Not relevant anymore.

[2019-02-20 17:38] #5636 closed

[2019-02-20 17:40] Zimmi48 commented on #5311
Not relevant anymore.

[2019-02-20 17:40] #5311 closed

[2019-02-20 17:47] Zimmi48 commented on #7720
Actually a duplicate of #5268.

[2019-02-20 17:47] #7720 closed

[2019-02-20 17:50] Zimmi48 commented on #6427
Duplicated in #8380.

[2019-02-20 17:50] #6427 closed

[2019-02-20 17:55] Zimmi48 commented on #8386
Actually a duplicate of #4508.

[2019-02-20 17:55] #8386 closed

[2019-02-20 21:52] RalfJung opened #9613 "coq.dev opam package fails to build"
#### Description of the problem

The coq.dev opam package fails to build, meaning many of our CI jobs are currently failing:

[code]

Is building master broken, somehow?

[2019-02-20 21:58] RalfJung commented on #9613
Hm, interestingly I cannot reproduce this locally. And yet it happens reliably in the opam builds of one of our projects.

[2019-02-20 22:19] SkySkimmer commented on #9613
I guess this is an example build? https://gitlab.mpi-sws.org/iris/stdpp/-/jobs/24670

You have `VALIDATE=1` in the environment, so after coq compiles each stdlib vo it will coqchk it.
And #9560 made -boot ineffective on it so it looks for coqlib in the opam. Since you cache opam it finds it and uses the cached(outdated) Coq to satisfy requires, so it breaks.
Our CI doesn't use that path for coqchk

[2019-02-20 22:23] SkySkimmer commented on #9613
https://github.com/coq/coq/pull/9614 should fix.

[2019-02-21 02:38] ejgallego commented on #9613
The `coq.dev` package is still on makefile; you need to pin for the local opam file to override the old one.

[2019-02-21 02:45] #9387 closed

[2019-02-21 06:02] andres-erbsen opened #9615 "lia regression since 8.9"
#### Description of the problem

[code]

#### Coq Version

8.9 good, c899b3085f2e15ef05fe3a66470df9bc25eeda59 bad, current-ish master bad (https://github.com/mit-plv/bedrock2/runs/66542251)

this is currently breaking bedrock2 build, I will look for a workaround tomorrow (it's 1am here).

[2019-02-21 08:00] RalfJung commented on #9613
Oh, that is surprising that random unscoped environment variables affect the build.

[2019-02-21 08:09] andreasabel opened #9616 "Weird lack of shadowing in pattern matching"
Playing with Coq 8.9.0 after a long abstinence (you want it that way!), I am stumbling over this mystifying error (with some dejavues):
[code]
[code]
I would have expected the pattern `sup I f` to shadow any previous bindings for `I` (which is apparently defined in the implicitly loaded prelude).  The printing of the environment seems to side with me, it displays a binding of `I : Type`.  Thus, it

[2019-02-21 08:16] andreasabel opened #9617 "Coq IDE 8.9.0 "Browse Coq manual" opens manual for 8.8.2"
Coq IDE 8.9.0 menu item "Help -> Browse Coq manual" opens manual for 8.8.2 at https://coq.inria.fr/distrib/V8.8.2/refman/ .

[2019-02-21 08:32] xuanruiqi commented on #9581
By the way, for the naming changes, should I open a new issue to address that? It would break a lot of old code that use `Program` for sure.

[2019-02-21 10:43] vbgl commented on #9617
The URL is stored in your local configuration file for CoqIDE. Mine is at: `$HOME/.config/coq/coqiderc`. If you remove the wrong lines (say running `sed -i '/^\(doc\|library\)_url/d' coqiderc` in the appropriate directory), you’ll get correct URLs instead.

[2019-02-21 11:57] ppedrot commented on #9616
If anything and without having looked at the code, that looks like a problem with pattern-matching compilation, probably calling some elaboration code in the wrong environment. Term name scoping in Coq is the sane thing you expect (not talking about tactics but that's another story).

[2019-02-21 11:59] ejgallego commented on #9616
Yup, it looks like a bug; it could be even be a printing one [not very likely tho]

[2019-02-21 12:05] ppedrot commented on #9616
Just realized I misread your example: the problem has nothing to do with name scoping.

It is just that `I` happens to be a constructor (for `True`) that is bound in the default environment, so that when you write a pattern `sup I f`, Coq rightly believes you are trying to deeply match on the `I` constructor and throws the type error at you.

You may rightfully complain that sane languages like OC

[2019-02-21 12:05] #9616 closed

[2019-02-21 12:06] ejgallego commented on #9616
Oh indeed that's so confusing; at least this should be in FAQ.

[2019-02-21 12:09] ejgallego commented on #9616
I also think that the error message is pretty poor; not even the location of `I` is given; we should at least fix that, WDYT @herbelin ?

[2019-02-21 12:10] ppedrot commented on #9616
I agree, the distinction between variables and constructors in pattern-matching is a real minefield, it is not uncommon to write e.g. a catch-all clause by mistyping the name of the constructor, leading Coq to believe you're actually writing a variable.

[2019-02-21 12:14] SkySkimmer commented on #9616
It's a trivial fix, see https://github.com/coq/coq/pull/9619 (at least for this case, there are probably other paths where locations are dropped)

[2019-02-21 12:14] ejgallego commented on #9616
Thanks folks

[2019-02-21 12:30] #9323 closed

[2019-02-21 12:58] ejgallego commented on #9615
That's a nice example to bisect, thanks! It should be easy to pinpoint candidates tho by looking at the changelog.

[2019-02-21 13:01] vbgl commented on #9615
I bet on this: 71280c8f38824e28bb0464ed15d951b542e33b48

Frédéric, are you aware of this? Maybe already working on it…

ping @fajb

[2019-02-21 13:32] fajb commented on #9615
I recently found regressions. This is one of those.
Sorry to hear they happen in real code...

For this specific case, the old code  works -- but this is a lucky case; it also has limitations.

Unset Simplex. is a current workaround.

I am working on it and hope to eventually find a satisfactory solution.

[2019-02-21 13:57] gares commented on #9617
I think we should just remove this "option" from the config file

[2019-02-21 15:53] andres-erbsen opened #9623 "anomaly universe undefined after Local Unset Simplex"
#### Description of the problem

After running `Local Unset Simplex` and `Local Set Simplex` inside a proof, an unrelated case later on fails with an undefined universe anomaly. Re-stating goal at which it fails using `Set Printing All` does not produce the same anomaly.

code https://github.com/mit-plv/bedrock2/commit/4fb867ff4ac8737f6cc308ee894dea7accab9fbe
(re-stated https://github.com/mit-plv/

[2019-02-21 17:41] Zimmi48 commented on #3034
Not relevant anymore since the Sphinx migration.

[2019-02-21 17:41] #3034 closed

[2019-02-22 10:52] fakusb opened #9625 "Documentation on (E)Constr.mkEvar?"
During my work on a ocaml-plugin for coq, I found myself in the following situation:
I had an `Evar.` in hand that I wanted to turn into an `EConstr`, but I had no idea how to call `EConstr.mkEvar`, as I need an `econstr array` to build the `existential` to pass to `EConstr.mkEvar`. And I was not able to unerstand what this array is/what it is needed for.

I found the following documentation in Co

[2019-02-22 10:53] #9613 closed

[2019-02-22 11:00] ejgallego commented on #9625
Thanks @fakusb , for reference this is the current pointer:
- https://coq.inria.fr/api/master/coq/Constr/index.html#term-constructors.
- https://coq.inria.fr/api/master/coq/EConstr/index.html#constructors

IMHO that's pretty poor for such key functions indeed.

[2019-02-22 11:46] ejgallego commented on #9606
Another point that is annoying with the current workflow is the need to open multiple pull request on the multiple repositories that form an overlay. Even so we are lucky most plugins are hosted on github, but on a more diverse ecosystem that could be tricky.

[2019-02-22 11:59] SkySkimmer commented on #9625
The manual explains that existential variables live in a context: https://coq.inria.fr/distrib/current/refman/language/gallina-extensions.html?highlight=existential#existential-variables
So to make a term from one you need to provide values for the variables in its context.

I don't know what you want to do with a naked evar so I can't tell you how to get those values.

[2019-02-22 12:36] Zimmi48 commented on #9606
:+1: Opening these PRs automatically was also one of the objectives I was listing in the [above mentioned comment](https://github.com/coq/coq/issues/6724#issuecomment-443550002). I feel like we can do a pretty low-tech solution to support the full generality of platforms which is: if the platform is not GitHub we can push to a fork on GitHub nonetheless and ping maintainers in the main PR thread t

[2019-02-22 12:43] ejgallego commented on #9606
Thanks @Zimmi48 , I don't recommend you try that route yet, so far the compositional build is only safe tor the ML parts.

I have however updated my toolchain so `create-overlays.sh` has moved to a more genera `overlays` script with a few more commands, I may add `overlays submit` indeed.

[2019-02-22 14:44] RalfJung opened #9629 "Allow anonymous section variables"
#### Description of the problem

It is currently possible to add an anonymous variable to a section by writing
[code]
However, the backtic also has something to do with generalization, so one might want to avoid it... but the following is rejected:
[code]
The error says that anonymous section variables are not supported. That is rather silly, because the first example shows that they are! Please a

[2019-02-22 14:47] fakusb commented on #9625
Ok, I now know for sure _why_ this is needed. In my case, I knew that the evar was instantiated in an evar_map I was holding, and I was wondering how to "look up" how exactly it was instantiated.

I got the naked evar from Proofview.Goal.goal, but just noticed that this is to be 'avoided if possible'. I fixed my problem in another way.

[2019-02-22 14:51] SkySkimmer commented on #9629
That's not really anonymous, it's auto-named to `Countable0`. Doing that with an explicit `_` might be confusing.

[2019-02-22 14:56] #9313 closed

[2019-02-22 15:11] RalfJung commented on #9629
But `{_:Foo}` is also auto-named (as one can see, e.g., with `About`). Coq doesn't have "really anonymous" variables, from what I can tell.

[2019-02-22 15:22] SkySkimmer commented on #9629
About (specifically the implicit argument system) is just lying to you, same as when you use `Arguments : rename`. The kernel sees anonymous, and the kernel doesn't allow anonymous section variables.

[2019-02-22 15:23] RalfJung opened #9630 "Coercion open_constr/uconstr to a pattern leads to surprising results"
#### Description of the problem

I'm afraid I don't even know how to summarize what is going on, it's just *really strange*... consider the following code
[code]
The comments explain what is weird about this: I'd like to abstract the `match goal ...` into a separate tactic, but when I do, that makes TC search fail *with an otherwise exactly identical tactic*.

Curiously, if I instead define `destr

[2019-02-22 15:30] ppedrot commented on #5640
Duplicate of #9321.

[2019-02-22 15:30] #5640 closed

[2019-02-22 15:36] ppedrot commented on #9630
The `open_constr` hint fails because this is #4482. The `uconstr` one fails because this is #9321.

[2019-02-22 16:38] JasonGross commented on #9630
The suggested solution of #9321 is porting to Ltac2 (which I consider somewhat unsatisfactory, especially because (a) Ltac2 is still not shipped with Coq by default, (b) there is still no satisfactory replacement for `idtac` during debugging, and (c) Ltac2 seems to be in stasis / I haven't seen much response to issues in the past couple of months).  Does `Hint Extern` support Ltac2?    Does Ltac2

[2019-02-22 16:40] SkySkimmer opened #9631 "Instance: anomaly grounding non evar-free term"
`Instance x : _.` and variants

[2019-02-22 16:42] JasonGross commented on #9321
@maximedenes @ppedrot I'd be more enthusiastic about porting to Ltac2 if
(a) Ltac2 was shipped with Coq by default, like the ssr tactics are
(b) Ltac2 got `Message.printf ` or some other satisfactory replacement for `idtac` during debugging, and
(c) Ltac2 would awake from the stasis it seems to be in; I haven't seen much response to issues in the past couple of months, and @ppedrot's most recent n

[2019-02-22 16:50] ppedrot commented on #9321
@JasonGross I haven't had much time for development since around the beginning of December, but this is hopefully going to change soon. Also, Ltac2 is probably going to be merged back into Coq for 8.10 assuming we work around the stdlib-related limitations of the build system. As for `printf`, that's pretty easy to implement using a dedicated parsing scope and an phantom type-annotated payload dat

[2019-02-22 18:10] #9537 closed

[2019-02-22 19:34] andres-erbsen opened #9633 "custom entry conflict with Ltac parsing"
#### Description of the problem

[code]

#### Coq Version

8.9.0

[2019-02-22 19:53] #9575 closed

[2019-02-22 22:00] #9363 closed

[2019-02-23 02:53] andres-erbsen opened #9634 "`eval unfold x in x` does other reduction than unfolding x"
#### Description of the problem

[code]

#### Coq Version

8.9.0

@JasonGross has this always been the case?

[2019-02-23 05:37] JasonGross commented on #9634
Yeah, I think this has been the case since at least 8.4.  Use `eval cbv delta [x] in x` to not do other reduction.

[2019-02-23 18:51] ejgallego opened #9637 "[ci] build:quick takes around 3 hours to complete sometimes."
Sometimes, the `build:quick` job takes around 3 hours to complete. Examples:
- https://gitlab.com/coq/coq/-/jobs/166438863
- https://gitlab.com/coq/coq/-/jobs/166471390

IMHO this makes the job fail the "reasonable build time" clause of the CI rules, thus we I suggest we place it on a 30-days quarantine, and if the problem is not fixed, remove.

[2019-02-23 18:58] ejgallego commented on #9637
Another job which is taking too long is the nix one. 1:30 for the build is just too slow.

[2019-02-23 19:51] SkySkimmer commented on #9637
Is it about the number of cpus? That log has very few coqc invocations, it seems more likely that one of them hung somehow.

[2019-02-23 19:52] ejgallego commented on #9637
Indeed it is not I've corrected my message.

[2019-02-23 23:32] samuelgruetter opened #9639 "Improve error message "This record contains fields of different records." if expected type of record is known"
[code]

Fails with

[code]

and the error position reported in ProofGeneral is the whole string `name1 := t; name3 := t;` inside `foo`.

Desired behavior: The error message should be

[code]

and the reported error posiition should just be `name3` inside `foo`.
This should be possible because I do give the expected type (`params1`), so the typechecker should already know whether I'm attempting to

[2019-02-24 00:44] staffehn opened #9640 "Bugs (Anomaly "Unknown Level"/"Lexer: location function", and Stack overflow) with Notation "Custom Entry"s."
#### Description of the problem

(After compiling this report I noticed that at least for "unknown level" #9521 and "Stack overflow" #9583 some Issues were already reported (I didn't check if they are _really_ the same bug though). The example #‌2 below, "Uncaught exception Invalid_argument("Lexer: location function").", seems to be new though.)

See these examples to reproduce:

#‌1
[code]

#‌2
[

[2019-02-24 00:59] JasonGross commented on #9639
What is the error message you get if you don't use `|` and do
[code]
Also, what error message do you get with `Program Instance `?

The first block to implementing this is, I think, a lack of bidirectional type-checking; Coq doesn't actually make use of knowledge of what record you're filling when trying to type check the body of the definition, I believe.

[2019-02-24 01:00] JasonGross commented on #9640
cc @herbelin

[2019-02-24 01:18] JasonGross commented on #9623
cc @ejgallego about side effects inside proofs?

[2019-02-24 01:22] staffehn commented on #9517
Hi, I gave this a go and this is how far I came with rewriting the grammar.
[code]

Very apparently, in the "x = y" rule, the "x custom expr" hint is completely ignored without warning/error,
since as you can see, the "1" get's parsed with the "stmt" rule, giving a value "2".

Instead of writing "y custom expr at level 0", an additional "right associativity" seems to do the same thing. Interesting

[2019-02-24 01:23] samuelgruetter commented on #9639
With

[code]

I get

[code]

which is almost perfect except that the reported position is the whole line instead of just `name3`.

Using `Program Instance` instead of `Instance` does not affect the error messages.

[2019-02-24 01:36] JasonGross commented on #9639
The reported position is hopefully fixable without too much trouble.  Getting this error message in the other cases should hopefully just involve enabling bidi typechecking (though as far as I know there's not yet an option for this)

[2019-02-24 10:48] SkySkimmer commented on #9639
On my Coq master `{| name1 := t; name3 := t; |}` says `This record contains fields of both params1 and params2.`

The issue is that the `{| field := term |}` syntax is turned into `Build_foo term` (reordering the fields as necessary) in the notation-resolution phase, not the typing phase, so there's no type info. (the `Instance := { field := term }` syntax is handled in a special way by Instance)

[2019-02-24 11:08] RalfJung opened #9643 "[feature request] profiling infrastructure for TC search and unification (and more?)"
#### Description of the problem

In our [weak memory branch of lambda-rust](https://gitlab.mpi-sws.org/iris/lambda-rust/tree/ci/weak_mem), we have quite a performance problem: we have individual files taking >10min to compile, and we have files that are almost identical to the version in master and yet they take more than twice as long. We'd like to figure out what is causing the slowdown, but tha

[2019-02-24 16:22] samuelgruetter commented on #9639
So would the following "recipe for coq users" make sense?

- To define typeclass instances, use braces without bar (eg `Instance foo: params1 := { name1 := t; name3 := t; }.` because that provides the best error messages.
- To define records which are not typeclass instances, use braces with bar `{| ... |}` because just braces alone doesn't work.

[2019-02-24 18:16] steffahn opened #9644 "Anomaly "Retyping.RetypeError(0)" and Anomaly "Not_found" when "Print"ing certain proofs."
#### Description of the problem
Examples to reproduce, first example:
[code]
second example:
[code]

#### Coq Version
[code]

[2019-02-24 18:42] ejgallego commented on #9644
Interesting bug!

[2019-02-24 18:43] SkySkimmer commented on #9644
It's an issue with delayed computation in a try block:
[code]
fixes it. @ppedrot does that seem like a reasonable patch?

[2019-02-25 12:52] ppedrot commented on #9644
Should be fine, I guess. I don't expect return clauses to be gargantuan.

[2019-02-25 16:38] gares commented on #9637
Is there a way to get some more info? Eg is the thing looping or I/O blocked?

[2019-02-25 20:12] andres-erbsen opened #9652 "rewrite silently generates subgoal identical to original subgoal"
#### Description of the problem

https://travis-ci.com/mit-plv/bedrock2/jobs/180373423#L1404
https://github.com/mit-plv/bedrock2/blob/24bd4f56b8fc3403d551422250816a79d2b6511f/bedrock2/src/Examples/bsearch.v#L151

In 8.9, [this line](https://github.com/mit-plv/bedrock2/blob/24bd4f56b8fc3403d551422250816a79d2b6511f/bedrock2/src/Examples/bsearch.v#L149) works on both occurrances of `word.unsigned` in

[2019-02-25 20:16] JasonGross commented on #7210
Note that the standard workaround for the first issue here is the rather verbose:
[code]

Note that the `return _` is so that Coq will not backtrack on failures causing exponential blowup, and the `clear f'` is so that we don't get an explosion in the size of the context as we recurse.

[2019-02-25 20:37] pi8027 commented on #8388
I didn't follow the status of this issue, but solutions seem to be provided in #8991 and https://github.com/ProofGeneral/PG/issues/407. Thank you so much @SkySkimmer.

[2019-02-25 20:37] #8388 closed

[2019-02-25 20:38] andres-erbsen commented on #9652
I have localized the issue to rewrite (not lia, as it turns out). I am hoping https://github.com/mit-plv/bedrock2/commit/ccd84fdeec3aeb48e2744edd4a02711fff432360 will fix CI.

[2019-02-26 17:54] #9526 closed

[2019-02-26 20:30] Janno opened #9657 "Confusing error message with incompatible notations using patterns: `[..] pattern at level 0 at level 0 [..]`"
#### Description of the problem

The following piece of code produces an error message that mentions a `pattern at level 0 at level 0` which is apparently distinct from `pattern at level 0`. (I took the liberty to make the message a bit easier to read.)
[code]

#### Coq Version
8.9.0 & master (from about a week ago)

[2019-02-26 21:53] ejgallego opened #9658 "[ci] base+async tends to fail often"
As pointed out on gitter it is not rare to see this job randomly failing. Example:

- https://gitlab.com/coq/coq/-/jobs/167989714

- https://gitlab.com/coq/coq/-/jobs/168148638

- https://gitlab.com/coq/coq/-/jobs/167922293

The term "@Logic.eq" of type "forall A : Type, A -> A -> Prop"
cannot be applied to the terms
 "Z" : "Set"
 "z" : "Z"
 "[|x|]" : "Z"
The 1st term has type "Set" which should b

[2019-02-26 21:55] ejgallego commented on #9637
Unfortunately not @gares, unless we add some debug code, or you get the hang on pyrolyse and are able to log in.

Unluckily this happens too often to be annoying and too rarely to be easy to spot.

[2019-02-26 21:55] andres-erbsen commented on #9652
Minimized:

[code]

[2019-02-26 21:55] ejgallego commented on #9637
In gitlab you can rerun jobs in debug more, but the odds that happens are low as this bug is non-deterministic.

[2019-02-26 22:29] SkySkimmer commented on #9658
People talk about our CI on twitter?

[2019-02-26 23:19] ejgallego commented on #9658
I mean Gitter.

[2019-02-27 11:23] RalfJung commented on #6042
FWIW, this is still an issue in Coq 8.9.  By mere accident, I found a few occasions where we accidentally rely on this "feature".

[2019-02-27 11:31] RalfJung commented on #6042
Also from https://github.com/coq/coq/pull/6319#issuecomment-349388725 I learned that one can actually add `!` to a TC instance declaration to get less generalization. But @SkySkimmer this does not actually seem to disable generalization entirely -- the following compiles:
[code]

[2019-02-27 13:42] pi8027 commented on #3219
A solution to this problem would also solve the problem of many ambiguous paths in MathComp because these ambiguous paths are convertible to each other. Relaxing the ambiguity condition of coercions by convertibility checking can eliminate meaningless warnings in the correct way. For example:

[code]

However, coercions are indexed by only the head symbols of types, therefore, I'm not sure of the

[2019-02-27 13:52] ejgallego commented on #9658
Failures are happening at an alarming rate (cc: @maximedenes @gares ) thus I'd dare to say that the status of this job in the CI may be demoted to `allow_failure` if things continues like that.

[2019-02-27 13:54] RalfJung opened #9661 "Add an option to disable automatic typeclass parameter generalization"
#### Description of the problem

The following currently compiles, and there seems to be no way to disable this kind of generalization:
[code]
I would like to have more control over what gets generalized. I can add a `!`, as in ``Context `{!tc_def3}.``, to "fix" this, but it is very burdensome when doing teaching or code review to tell people to always add the `!`.

So, what about an on-by-default

[2019-02-27 14:04] ejgallego commented on #9661
It is my impression that we have enough option creep in the system so I rather suggest that we collect all the desired behavior changes, and once we are happy we place **all of them** under a single flag.

Keep in mind that each new option needs a combinatorial grow of the number of test cases so it is clearly non feasible to go this route and still have a system we understand.

[2019-02-27 15:12] ejgallego commented on #8592
Well you swapped the logical and the physical path so no suprise this doesn't work. Try
`Add LoadPath "/home..." as tup.`

Regarding the rest of the bug, most of it seems invalid / or questions so I am leaning to close it, as the only valid part seems a request for documentation improvements.

[2019-02-27 15:53] Janno opened #9662 "Notation not printed despite matching the term perfectly."
#### Description of the problem

The following two notations demonstrate a weird quirk of the notation system that I do not understand: `mtry1` is parsed but doesn't print. `mtry2` is parsed and printed (but leaves an argument that cannot be inferred in my actual use case unspecified). They only differ in one place where `mtry2` has `_` instead of `_` for the fourth argument to `mmatch''`.

[code]

[2019-02-27 18:24] ggonthier opened #9663 "Miller pattern unification fails on evars"
#### Description of the problem

Miller patterns are an important sub case of higher order unification where functions have MGUs. Its implementation is instrumental in allowing, for instance, a function type `A -> R` match a generic pi-type pattern of the form `forall x : ?B, ?F x`. Unfortunately this is broken in Coq, when `R` is an evar `?RT`, as then Coq can try and fail to assign `?F x` to `?R

[2019-02-27 18:34] ejgallego opened #9664 "[meta] Organization of compatibility breaking changes."
I've opened this issue to discuss a possible implementation of the request in #6043 , that is to say, to have a model where we can perform changes to core parts of the system that won't retain backwards compatibility.

What this issue proposes is to "version" full subsystems in such a way that they can undergo a major revision incorporating many changes but still be controlled by a single flag.

T

[2019-02-27 18:57] jfehrle commented on #8592
No, don't close it.  We should certainly allow filing PRs against the documentation.  Indeed, I'd like to revise this section of the manual eventually.  This is already tagged as `documentation`.  The `resolved: invalid` is not appropriate--the documentation doesn't describe feature well enough to use it.

[2019-02-27 19:00] ejgallego commented on #8592
Then please: update the bug title and description, remove all the invalid items, and remove the tag, thanks!

[2019-02-27 21:43] gares commented on #9664
I think bleeding edge users may need a very local way to enable a feature than a Set. I think it is a good exercise to apply this to primproj, polyuniv and sprop. In some cases alpha is already there, beta too. But no next phase seem reasonable to me.

In general this proposal makes sense to me, but I'm afraid there is no golden/general rule here. It depends too much on the feature.
But maybe I'm

[2019-02-27 21:55] ejgallego commented on #9664
Indeed I think here I am thinking more of complete systems that need coherent design. For example notations or unification fall into that; these systems have many features and they interact in particular ways.

Set can be made local right? I'm not a big fan of `Set` but I used it as an example.

I guess these look more like features than design decisions. For example, I could imagine we revise typ

[2019-02-27 21:58] ejgallego commented on #9664
Another choice is to ltac2-style, or unicoq-style; so in that sense, what this proposal would be adding is just having a deprecation phase.

[2019-02-28 01:42] ejgallego commented on #8735
Still remaining:
- `doc-template`
- `test-suite-template`
- `nix-template`
- `test-suite:egde:dune:dev`

[2019-02-28 07:20] gares commented on #9664
Universes don't seem to have a stable design yet to me, so they would be in alpha according to your description.

To me type classes are not a component. The elaborator (pretyper) would be, but TC as of today are less and more. Eg they use hint databases, that are also part of tactics.They are part of the elaborator, they use HO unif, but are used by the pretyper algorithm.

Maybe a component is s

[2019-02-28 09:38] #2409 closed

[2019-02-28 10:01] Zimmi48 commented on #9664
In theory, this solution looked appealing. In practice, it has shown that:
1. We don't communicate enough about the newer alternatives.
2. There is no collaborative development of these alternatives, and they look like they end up dying before being merged, while the legacy component continues to be developed.

Overall, I'm favorable to your proposal except I wouldn't make such a strong distinctio

[2019-02-28 10:35] SkySkimmer commented on #8735
Keeping test suite logs is deliberate.

[2019-02-28 10:38] Zimmi48 commented on #8735
Then it should be kept as well in the nix-template since this is also about test suite logs.

[2019-02-28 10:46] dyukha commented on #5212
I have the same issue. Windows. No error message, no .vo file.

[2019-02-28 11:01] #9255 closed

[2019-02-28 11:03] Zimmi48 commented on #5212
@gares Is this supposed to work on Windows? I seem to recall that we don't install `make` anymore, so this menu should just print an error message saying that it is not supported on Windows or something like that, no?

[2019-02-28 11:36] zunction commented on #5212
@dyukha The compile buffer seems to be working for me now. I think what happened for me is that I did not step through the `.v` file before running the compile buffer command. Give this a try, step through the `.v` file follow by compile buffer. Hope this will work for you.

[2019-02-28 12:00] Janno commented on #9663
I can't say I really understand the issue but it got me curious and I found out that all of these definitions succeed when using Unicoq (and writing `id_depfn _ _` instead of just `id_depfn`). Not sure if this helps.

[2019-02-28 12:52] ppedrot commented on #5212
@Zimmi48 "Compile buffer" doesn't call make, but rather coqc. Note that in general this is not at all what one wants to do, because if the file is part of a development the loadpath used for the compilation is completely wrong.

[2019-02-28 12:52] gares commented on #9663
I think that in this writing the second underscore sees `x` twice, one because it happens to be under the binder and another one because you pass `x` as an argument to it. I did not look at the code, but I guess it is not in the pattern fragment for Coq.

Another way to put it, evars are not all quantified at the top level as you example seems to expect.

So this one seems the show a real bug (her

[2019-02-28 13:00] ejgallego commented on #9664
Indeed in this case we would be talking about a "logical component" that in this case spreads over many real components. But IMHO from the point of view of the user TC are a "component", for example, they should have their own section, and they need "coherent" design to work well.

Indeed I have been a proponent of shorter cycles since a long time.

I do support that (personally), however I am not

[2019-02-28 13:32] Zimmi48 commented on #9664
I think that for these users, this would be a net gain given that, as of today, we break their projects even more often, and thus they are stuck on an old Coq version. At least, they could update without pain during one year. If we get more funding, we could even consider extending the support of the 9.x.y series even after 10.0.0 is out.

[2019-02-28 13:38] #9617 closed

[2019-02-28 14:30] dyukha commented on #5212
@zunction , thanks, I tried it, it doesn't work.

[2019-02-28 16:25] gares opened #9669 "[ssr] fix documentation of `by [tacs]`"
The manual in unclear about `by [t1|t2]` meaning `first [done| t1;done | t2;done]`.

[2019-02-28 16:28] gares commented on #9669
CC @amahboubi @affeldt-aist @CohenCyril

[2019-02-28 17:15] Tuplanolla opened #9670 "Uncaught exception Failure("lexing: empty token") in Coqdoc"
#### Version

Coq 8.8.2

#### Operating system

Red Hat Enterprise Linux Workstation 7.4

#### Description of the problem

The following code demonstrates some quirks in Coqdoc
that eventually trigger a fatal error and corrupt the output.
I wrote it in the form of a poem to ease the frustration.

[code]

Following `]]` with `*)` is what causes the fatal error.

#### Notes

All of the strings we `C

[2019-02-28 22:30] erikmd commented on #9669
This documentation issue had been spotted during PR https://github.com/coq/coq/pull/9651#issuecomment-467574586, I can prepare a small related PR.

[2019-02-28 22:30] jfehrle opened #9671 ""coqc -async-proofs on xxx.v" doesn't print the location of some errors"
#### Coq Version 8.9+
#### Description of the problem

`coqc -async-proofs on xxx.v` doesn't print the location of some errors, whereas `coqc xxx.v` and `coqtop -async-proofs on <xxx.v` do.  (example and the input file below):

This is a problem for users who encounter one of these errors because they'll have no easy way to determine where the error is.  It's also a problem for output tests that g

[2019-02-28 22:54] jfehrle commented on #9671
Here's what I learned while trying to understand the problem:

Topfmt.print_err_exn generates the error message.  `loc` is `None` for the `coqc -async-proofs on` case, so the location line isn't printed.  It appears that when an exception is raised, the `loc` information must be saved through Exninfo/Store (perhaps this is necessary to pass the loc due to OCaml limitations?)

In the failing case,

[2019-02-28 22:57] ejgallego commented on #9671
This should indeed be fixed, however I do suggest you tweak the test file [hopefully you can] so this problem is avoided. Alternative you can add an `-async-proofs off` to the header as is done in a few files such as `output/FunExt.v`

[2019-02-28 23:41] jfehrle commented on #9671
The test is supposed to generate an error, so adding `-async-proofs off` is the only useful workaround.

[2019-02-28 23:58] SkySkimmer commented on #9671
Why aren't you using `Fail`? Especially considering you have code after the failing line.

[2019-03-01 00:17] erikmd opened #9673 "Unification failure even if the RHS contains a single evar with distinct vars"
### Description of the problem

During the development of coq/coq#9651 (tacticals `under` and `over`), I've noticed that sometimes Coq doesn't succeed in unifying goals of the form `expr(i,j) = ?Evar i j` despite the RHS is a single "Miller pattern".

It was blocking for the `over` terminator, but I noticed one could workaround it by manually changing the LHS to beta-redex form, in order to make t

[2019-03-01 03:05] JasonGross opened #9674 "Error message for "The user-defined tactic "..." was not fully applied" should not sort variable arguments alphabetically"
#### Description of the problem

Alphabetical sorting of variables is useless.  It makes it very hard to diagnose.  Consider this code:

[code]

The missing arguments are fine, but the provided variables are sorted alphabetically, which is silly.

#### Coq Version

8.9

[2019-03-01 04:42] jfehrle commented on #9671
What's the benefit?  Convention?  Documenting the point of the failure?  Avoiding running the 3 lines after the failure?  I've not used `Fail` before though it's not entirely unfamiliar.

[2019-03-01 05:03] JasonGross commented on #9673
It's not clear to me that this is a bug; which of the following do you want `?f` to be instantiated with in the last case?
- `fun i0 j0 => i0 * (i0 - 1) + j0`
- `fun i0 _ => i0 * (i0 - 1) + j`
- `fun i0 j0 => i0 * (i - 1) + j0`
- `fun i0 _ => i0 * (i - 1) + j`
- `fun i0 j0 => i * (i0 - 1) + j0`
- `fun i0 _ => i * (i0 - 1) + j`
- `fun _ j0 => i * (i - 1) + j0`
- `fun _ _ => i * (i - 1) + j`

Anyway

[2019-03-01 07:38] ggonthier commented on #9663
@gares you are correct, I had oversimplified the issue in some of the lines. I've edited them out to leave only the `id_depfn` ones, which are closer to the real problem anyway.

[2019-03-01 08:53] gares commented on #9673
You have to create the evar *before* `i` is introduced in the context, otherwise the evar sees `i` twice, once because it is in its original context and another time because you pass `i` to it explicitly.

[2019-03-01 09:07] SkySkimmer commented on #9671
Use Fail for commands which should fail. That way your test won't die after the failing command. Also Fail doesn't print location information so it works around this bug.

[2019-03-01 10:26] #9669 closed

[2019-03-01 11:20] #9110 closed

[2019-03-01 15:26] erikmd commented on #9673
Thanks for your comments.

@gares

Good catch! my minimal-working-examples were broken and the `over` tactic doesn't seem to require using the `beta_expand` workaround, even in the case where we relying on a "context lemma" with two binders such as `eq_mx`.
So I simplified the code in 3b1ccf2005aad90eb0d9f05c4f36f91c2aeccbf2

@JasonGross

Actually the `under` tactics starts by creating the evar(s)

[2019-03-01 15:26] #9673 closed

[2019-03-01 17:50] Janno opened #9679 "Anomaly "File "vernac/metasyntax.ml", line 512, characters 10-16: Assertion failed.""
#### Description of the problem
The second `Notation` command below triggers an anomaly. It only differs from the first one by one printing box around the `f |` part of the notation.

[code]

#### Coq Version
master

[2019-03-01 18:55] bor0 commented on #7035
@herbelin I noticed that `Definition` does not recognize `Compute`:

[code]

But in the [docs](https://coq.inria.fr/refman/proof-engine/vernacular-commands.html#coq:cmd.compute) it is mentioned that `Compute` is just a shortcut for `Eval vm_compute`.

Is there an issue for that?

[2019-03-01 18:55] jfehrle commented on #9671
What do you mean by "die"?  The test works.  coqc quits upon the first error, which is appropriate.

Also, `Fail` doesn't include the diff highlights, which is the point of the test:

![image](https://user-images.githubusercontent.com/1253341/53659283-0571d400-3c10-11e9-8749-b5b7a0f3731e.png)

[2019-03-01 19:00] SkySkimmer commented on #7035
That doc says it's for the command Compute, so it's accurate.

[2019-03-01 19:01] bor0 commented on #7035
So if `Compute 5` is equivalent to `Eval vm_compute in 5`, why is only the latter usable within `Definition` and not the former?

[2019-03-01 19:31] staffehn opened #9680 "Error "[...]:proofworker:0:0 STM: sending back a fat state" in CoqIDE, from a correct program that is using "Function" with "measure"."
#### Description of the problem
I'm not sure weather this is a bug in CoqIDE or the compiler, I so far was only able to get an error with the following example code when using CoqIDE.

The example is:
[code]

Sucessfully loads in coqtop. Also sucessfully is interpreted in CoqIDE, when stepping through it line-by-line. If hovever, in CoqIDE, I skip directly from anywhere before the "Function ..." d

[2019-03-01 19:42] staffehn commented on #9680
In another issue which is closed, #8609, I found the example:
[code]
Which, when loaded in CoqIDE, if you press "go to end", does the same, as the above (i.e. Message "[...]STM: sending back a fat state"), except with Error message: Attempt to save an incomplete proof (in proof Unnamed_thm).
This however is a program that also normally fails, though with the "Attempt to save an incomplete proof (i

[2019-03-01 20:29] SkySkimmer opened #9681 ""Print Grammar foobar." regression"
[code]

[2019-03-01 20:51] Janno opened #9682 "Exchanging order of an "only parsing" and a "only printing" notation breaks printing."
#### Description of the problem

In the following example, exchanging the order of the last two notations breaks the printing-only notation, i.e. the `Check` invocation would print `consumer..` instead of `mmatch`.
[code]

#### Coq Version
master

[2019-03-01 21:02] Janno opened #9683 "Automatically-generated format for `only parsing` notation overwrites format of earlier `only printing` notation."
#### Description of the problem
The following code shows how including the `'with'` and `'end'` keywords in the `only parsing` notation in `T1` and `T2` changes how the forced line breaks in the `only printing` notation in line 10 are printed or ignored, respectively. I can only hope that I am too tired to see some obvious mistake in what I am doing here.

[code]

#### Coq Version
master

[2019-03-01 21:20] staffehn commented on #9662
This is an example for another notation that won't print:
[code]
This not-printing might have something to do with the following fact: "* nil" expands to ```f (fun B : Type => @nil B)``` (if you print implicit arguments),
so that in "* nil", which is actually (pretty much) "* @­nil \_", you can't give anything for the "_" explicitly, since, syntactically, the "B" is not available.

I would be gues

[2019-03-01 21:45] staffehn commented on #9682
Reduced example:
[code]

[2019-03-02 01:24] ejgallego commented on #9680
This is a known problem, and there is hope the situation in 8.10 improves. Unfortunately it will be hard to fix in 8.9.

#9645 should greatly help towards fixing this.

[2019-03-02 01:24] ejgallego commented on #9680
For now the workaround is to either go step by step or to process that particular file with the `-async-proofs off` setting.

[2019-03-02 02:49] ejgallego commented on #9199
@MSoegtropIMC so this was basically solved by #9624 , even if we have a couple of minor places that still use bash, these should be very easy to fix. In fact we won't depend on bash neither on a shell.

So the big question is, how do we actually test the bash-less build?

[2019-03-02 02:58] ejgallego commented on #9680
I can confirm that in master this seems to work much better, would you mind trying a recent 8.10 build @staffehn ?

[2019-03-02 08:34] MSoegtropIMC commented on #9199
Well on Windows this is easy. My build scripts create a MinGW Coq in an folder outside of Cygwin so that it can be started without having a cygwin in the path. This folder than servers as a template for creating the installer. If Coq is started from this folder there there is no bash or other shell (besides CMD).

[2019-03-02 11:05] staffehn commented on #9680
@ejgallego Just managed to compile master ^^
The "STM: sending back a fat state" errors are gone.
It is however still possible to archieve the "Coqtop died badly." in CoqIDE.
#9431 is thee same bug, I'll comment on there.

[2019-03-02 11:05] #9680 closed

[2019-03-02 11:08] staffehn commented on #9431
This still applies to master. Minimal examlple:
[code]
Instructions (CoqIDE buttons):
1. Go to end.
2. Backward one command.
3. Backward one command.
4. Go to end.

[2019-03-02 11:14] staffehn commented on #9681
8.9 no output either.

[2019-03-02 11:34] staffehn commented on #9640
Today, I compiled myself the coq master.
#­2 doesn't produce any anomalies there. The other two examples still behave the same in master, but the respective issues (mentioned above) describe the same problems already.

[2019-03-02 11:34] #9640 closed

[2019-03-02 11:34] staffehn commented on #9521
This also applies to the current master.

[2019-03-02 14:06] Janno commented on #9662
Thanks for investigating this!

I am not sure if the implicitness here makes any difference. If you try `Arguments nil _ : clear implicits.` you will see that `* (nil _)` still will not be printed.

I wonder if the issue comes from a related(?) effect of "specializing" expressions in notations, as is the case with `nil` in your example. I think this can be seen with
[code]
where there is no issue

[2019-03-02 15:08] ejgallego commented on #9680
Thanks! Hopefully we can fix the other bug too.

[2019-03-02 15:21] ejgallego commented on #9199
Will ocaml even work in that case?

Anyways, you can try when you feel like it, another minor patch is necessary for coq but that's all to be done with the coq part of this bug.

[2019-03-02 17:23] mattam82 opened #9684 "Index out of bounds in native_compute"
#### Description of the problem

Running a native_compute in file examples/AlmostFull.v of this branch of Equations https://github.com/mattam82/Coq-Equations/tree/almost_full_native_compute_bug
on current master results in an "Index out of bounds" error. It's hard to minimize. I would bet we're doing something wrong with universes (there are a few polymorphic things there).

#### Coq Version

mast

[2019-03-02 17:43] ejgallego commented on #9431
That shouldn't be too hard to fix would the STM developers allocate some time to it:
[code]

[2019-03-02 17:43] ejgallego commented on #9431
But indeed the bug underlines a deficiency of the current proof-communication model.

[2019-03-03 16:05] ejgallego commented on #9658
Failures continue and indeed there seem to be some state handling problems in the STM, for example it is not clear to me if declarations that may involved hooks are correctly determined to be ```Sync`.

[2019-03-04 02:43] ejgallego commented on #4307
This is IMO a Fedora bug; the way Coq builds CoqIDE now depends on `ocamlfind` so that should sorted out at the OS install level. If `ocamlfind` returns a positive match for sourceview all its dependencies should be installed.

[2019-03-04 02:43] #4307 closed

[2019-03-04 02:52] ejgallego commented on #3691
Solved by f558a0552b49b533c1c79ee3eb6d49015eeb6084 and 26ddb1e22de1eead0bfb086adf4f2b21dca6ff19

[2019-03-04 02:52] #3691 closed

[2019-03-04 02:54] ejgallego commented on #3631
Solved by #7451

[2019-03-04 02:55] ejgallego commented on #3631
Not fully tho, reopening.

[2019-03-04 03:02] ejgallego commented on #4340
Fixed in master.

[2019-03-04 03:02] #4340 closed

[2019-03-04 03:05] ejgallego commented on #4638
Still a problem cc : @maximedenes , the parsing state is not there:
[code]

[2019-03-04 03:07] ejgallego commented on #5774
This should be fixed in master, please reopen if the problem persists.

[2019-03-04 03:07] #5774 closed

[2019-03-04 03:08] #5655 closed

[2019-03-04 03:13] ejgallego commented on #5446
Not reproducible case == bug closed IMO.

[2019-03-04 03:13] #5446 closed

[2019-03-04 03:14] ejgallego commented on #5675
Has this been fixed?

[2019-03-04 03:19] ejgallego commented on #4141
IMHO project-wide options should live in `_CorProject` or `dune`, so things work well around several IDEs.

I don't support having a mechanism to have Coq reload the loadpath dynamically so this can be closed. [too tricky to get right given the architecture]

[2019-03-04 03:19] #4141 closed

[2019-03-04 03:29] ejgallego commented on #5241
This is interesting, but so far we use a 100% standard OCaml toolchain, so if that's a problem, it should be handled in OCaml upstream.

[2019-03-04 03:29] #5241 closed

[2019-03-04 03:32] ejgallego commented on #9244
Fixed on master.

[2019-03-04 03:32] #9244 closed

[2019-03-04 03:36] ejgallego commented on #8715
@jfehrle can you still reproduce this bug?

[2019-03-04 03:51] #9190 closed

[2019-03-04 03:53] #5654 closed

[2019-03-04 04:00] ejgallego commented on #5758
We already ship an opam file, which should eventually be the right one to use.

[2019-03-04 04:00] #5758 closed

[2019-03-04 04:13] ejgallego commented on #7226
This got as improved as we could with the introduction of `-topifle` in #8991

[2019-03-04 04:13] #7226 closed

[2019-03-04 04:20] ejgallego commented on #7999
Please reopen if the issue persists.

[2019-03-04 04:20] #7999 closed

[2019-03-04 04:25] ejgallego commented on #3992
Is this still a problem?

[2019-03-04 04:29] ejgallego commented on #7610
This seems to be a problem of a missing gtk icon theme. Does the problem go away if you install `gnome-desktop`?

[2019-03-04 07:14] maximedenes commented on #4638
Is that after #9530?

[2019-03-04 07:20] jfehrle commented on #8715
You want me to try using 8.9 or master?

[2019-03-04 07:30] jfehrle commented on #8715
If @herbelin checks in the labgtk3 version, that may change the behavior a lot.

[2019-03-04 08:25] ejgallego commented on #4638
No, it is on master.

[2019-03-04 08:26] ejgallego commented on #8715
`master` or `gtk3`

[2019-03-04 08:28] MSoegtropIMC commented on #9199
Well no - this is the reason I started this mini posix shell project. I did an analysis back then and concluded that by replacing the OCaml library system command with this mini shell, OCaml and its support tools should work on Windows and furthermore that I could remove a lot of Windows hacks all over the place. If dune will fix this in the same way I can't tell.

[2019-03-04 08:34] ejgallego commented on #9199
Dune doesn't call bash [unless `(bash ...)` is used], however it does call OCaml, YMMV :)

[2019-03-04 08:35] MSoegtropIMC commented on #3992
It seems to be fixed. I did some explicit test with 8.9 and master and couldn't reproduce the problem any more and also I didn't notice it in the last year.

[2019-03-04 08:35] #3992 closed

[2019-03-04 08:45] MSoegtropIMC commented on #9199
It has been a while since I looked into it. Afair OCaml at some point calls gcc as a wrapper for gnu binutil tools and this was also slightly problematic e.g. in terms of command line length and quoting. This means it should work in not too exotic cases, but it likely won't work with very long command lines or file names requiring more subtle quoting.

I guess it is best if I again do some deeper

[2019-03-04 12:59] Zimmi48 commented on #8027
If we can't converge on this quickly before 8.10, we should consider putting attributes behind an experimental flag like was suggested in #9664. There are many reasons to consider that attributes are not yet refined enough and should be considered to be in alpha phase.

[2019-03-04 14:24] Zimmi48 commented on #9637
https://gitlab.com/coq/coq/-/jobs/171144745
Duration: 86 minutes 54 seconds

I'm assuming that the job is blocked and restarting it.

[2019-03-04 14:25] ejgallego commented on #9637
We are seeing close to 50% failure rate on async-related jobs :( :(

[2019-03-04 14:44] gares commented on #8027
Didn't we decide to just vote at the last WG? I was assuming @mattam82 would send an email for that.

[2019-03-04 14:49] Zimmi48 commented on #8027
Vote on what? I don't remember the questions to vote on to be clearly defined yet. But even if they were and the vote had happened, we would still need manpower to implement the result.

[2019-03-04 15:03] gares commented on #8027
IIRC the options were `@[` or `#[` and a third one. Was I dreaming?

[2019-03-04 15:05] ejgallego commented on #8027
`[@@ ...]` was also discussed.

[2019-03-04 15:06] SkySkimmer commented on #8027
something like this was also considered IIRC
[code]

[2019-03-04 15:47] #9431 closed

[2019-03-04 16:52] Zimmi48 commented on #5985
https://gitlab.com/coq/coq/-/jobs/171241794

[2019-03-04 17:10] Zimmi48 commented on #8027
OK, then you are talking about syntax. But that's far from being the only question, is it?

[2019-03-04 17:10] #8685 closed

[2019-03-04 17:17] ejgallego commented on #8027
The internals do need more work but Gaëtan's proposal seems to be doing pretty well so far.

[2019-03-04 17:25] JasonGross opened #9692 "Please include the reduction-effects plugin in the standard install"
This plugin is useful for debugging Gallina, but is extremely hard to discover (it took me three or four searches to find the PR that added support for it).  I just used it to [answer a discourse thread](https://coq.discourse.group/t/debugging-fixpoint-execution/183/2?u=jasongross).
The first step might be getting the plugin into opam and the CI.

cc @herbelin as the author of the plugin

[2019-03-04 19:58] Lysxia opened #9693 "On improving the doc on Generalized rewriting"
Current version: Coq 8.9

I have only recently started working with generalized rewriting, so I may be missing something, but I find that the currently documented way of declaring relations to rewrite with, via `Add Relation`/`Add Morphism`, is both cumbersome and confusing. It's much simpler to write the `Equivalence` and `Proper` instance directly, which those `Add` commands desugar to anyway.

[2019-03-04 21:19] Lysxia opened #9696 "Clarify doc about identity projection"
In the section about coercions (https://coq.inria.fr/distrib/current/refman/addendum/implicit-coercions.html#identity-coercions), what does the following sentence mean?

Taken literally, it can't do that (see attempt below). What I can do is define another `f'` equal to `f`, but which mentions `C'` in its type, and make *this* `f'` a coercion `C' >-> D`. However:

1. I really would like `f` to be

[2019-03-05 06:28] silene opened #9697 "Qualify identifiers using their root module"
To avoid potential shadowing issues, Why3 generates Coq scripts that contain fully-qualified identifiers, e.g., `Coq.Init.Datatypes.implb`. This has several disadvantages. The most important ones are as follows.

1. The Why3 scripts are meant for the user, yet the user is basically forced to run Coq (through some IDE) to decipher the generated definitions and theorem statements due to the visual s

[2019-03-05 07:58] gares commented on #9696
I was not there, so I don't know for sure. IMHO it makes sense only if you don't want to run type inference again on the coerced term. If you do, then there is no point whatsoever in the restriction. The condition tells you how to (trivially) synthesize the (other) arguments of the coercion out of the type of the casted term. You could just put _ and run inference.

We had some plans, but we did l

[2019-03-05 08:55] ggonthier commented on #9696
The intended "workaround" is that you use `C'` instead of `C`, whenever possible, throughout your work, including in the definition of the coercion function - in your case you should define
[code]
so that `Some' (Some 0) : list nat` will be accepted.
   The `Identity Coercion` declaration helps with that in that it lets `C'` inherit all coercions from `C`. A regular `Coercion` declaration would do

[2019-03-05 09:10] Zimmi48 commented on #5985
https://gitlab.com/coq/coq/-/jobs/171499322

[2019-03-05 09:11] Zimmi48 commented on #5985
This is one of our last regularly failing test.

[2019-03-05 09:13] Zimmi48 commented on #9473
This was not a random failure but it has disappeared since then.

[2019-03-05 09:13] #9473 closed

[2019-03-05 09:13] Zimmi48 commented on #5675
I don't remember seeing a recent occurrence. Let's close this in a few weeks if we don't report new occurrences in the meantime.

[2019-03-05 10:38] Lysxia commented on #9696
Thanks for the explanations. I'll think about digesting that into the docs.

[2019-03-05 12:32] Janno commented on #9683
Okay, I did some more minimizing:
[code]

My current hypothesis is that
1) the last notation matches the `only printing` notation perfectly and overwrites the format attached to that with the default format generated by coq, *even though* it is marked as parsing only.
2) the second-to-last notation doesn't match perfectly and thus doesn't affect the `only printing` notation.

[2019-03-05 12:37] Janno commented on #9683
And indeed, giving a format to the `only parsing` notation (the one with `with .. end`) does overwrite the format of the `only printing` notation. This is a strong indicator to me that this might also be the case when one doesn't specify a format for the `only parsing`—only that coq will use the default format, I suppose.

[2019-03-05 13:30] Zimmi48 commented on #9693
A PR doing this would be most welcome!

It's useful to depend on these three classes at once without having to repeat each one of them. I don't think it goes beyond this.

[2019-03-05 13:51] Zimmi48 commented on #9692
The reasons that pushed for this to be done as an external plugin were kind of dubious from the beginning, as this was not the choice of the author of the plugin, makes discoverability harder, etc. The experimental nature of the thing could instead be flagged as proposed in #9664.

Furthermore, the author is not used to having to maintain external plugins, and similarly to Bignums, we end up with

[2019-03-05 15:36] DanGrayson commented on #8196
@mattam82 : I've been learning about the code and making a bit of progress.  It seems the minimization could be more aggressive.  For example, here:
[code]
it would be good to have just one universe level instead of two, as in:
[code]

[2019-03-05 16:13] DanGrayson commented on #8196
Here is a concise bit of code that demonstrates the problem:
[code]
The first Check succeeds, but the second one fails with this error:
[code]

[2019-03-05 20:44] gares commented on #9697
Recently some "coqlib" cleanup landed in master. It is possible, at the ML side, to use a name like `core.implb` and have in a v file `Register long.long.path core.implb`. In elpi I've added recently a "quotaion" with syntax `lib:core.implb` that is supposed at some point to use the coqlib machinery to expand to the `long.long.path` and make elpi programs more portable across versions.

Would this

[2019-03-05 20:47] gares commented on #9697
I mean, the `lib:core.impl` thing is part of Coq terms, elpi programs contain Coq syntax inside quotations, and I've extended Coq syntax with `lib:...` when elpi is loaded). So you can write something like `{{ fun x : nat => lib:core.nat.add x x }}` to be sure you target precisely `Nat.plus` or whatever it will be called tomorrow.

Maybe this quotation makes sense not only for elpi.

[2019-03-05 20:53] gares commented on #9692
I think the simplest thing today is to have it part of coq-comunity, since the `external/` thing is not a thing yet, while coq-community is.

[2019-03-05 21:19] JasonGross opened #9702 "Notation scope stacks should be flattened / deduplicated before equality checking"
#### Description of the problem

I think this should not be an error:
[code]
As far as I'm aware, having multiple consecutive copies of the same scope in a stack doesn't change the interpretation.  Insofar as this is true, there should not be an error message about things like this.

cc @herbelin

#### Coq Version

8.9

[2019-03-05 21:43] #7632 closed

[2019-03-06 08:08] Zimmi48 commented on #9692
Right. @JasonGross Would you like to be the plugin's principal maintainer in coq-community? Given that we can also add it to Coq's CI at the same time (as you suggested), this will mostly consist in handling incoming PRs, and preparing new compatibility releases every six months.

[2019-03-06 08:09] JasonGross commented on #7210
Note that this is a very severe issue which makes it essentially impossible to pass *any* constrs through tactics in terms because there is no guarantee that the names bound in a constr will refer to the same thing.  Moreover, this breakage is silent, and doesn't show up until you run a term through `type of`, which is quite bad.  Here is an example that shows that this problem makes any complex u

[2019-03-06 08:09] Zimmi48 commented on #9692
(and we can keep this issue open until it is added to the Windows bundle)

[2019-03-06 08:25] JasonGross commented on #9692
Sure, I am fine with handling incoming PRs and branching / tagging / updating opam or whatever as necessary, every six months, as long as someone tells me what needs to be done the first time.  (I will probably write a script that executes the "prepare compatibility release" steps.)

[2019-03-06 08:54] JasonGross opened #9703 "Syntax notations for primitive projections of classes should not print underscores (regression since 8.6)"
#### Description of the problem
The 8.6 behavior here is correct, the later behavior is wrong:
[code]

See also https://github.com/HoTT/HoTT/issues/975 https://github.com/HoTT/HoTT/issues/1000

cc @herbelin @mattam82 @SkySkimmer @mikeshulman @Alizter

#### Coq Version

8.7.2, 8.8.2, 8.9.0, master (a83eac8463787c13a2dbd3903baf2b59ca1a4635)

[2019-03-06 08:56] JasonGross commented on #9703
Note that `Set Printing Primitive Projection Parameters.` fixes this, but I think there should be a separate setting for printing primitive projection parameters in notations (rather than in actual primitive projections), and that setting should be on by default rather than off by default.

[2019-03-06 09:15] Zimmi48 commented on #9692
See also coq-community/manifesto#49.

[2019-03-06 12:42] Zimmi48 commented on #5268
This has been fixed, at least in current master. For follow-up, see coq/www#93.

[2019-03-06 12:42] #5268 closed

[2019-03-06 12:45] Zimmi48 commented on #9411
Will come back to this after #9447.

[2019-03-06 12:53] Zimmi48 opened #9704 "Gather section-specific commands in section documentation."
`Context`, `Variable`, and `Hypothesis` (and their plural forms) should be documented in the "Section mechanism" section of the "Extensions of Gallina" chapter instead of where they are now.

[2019-03-06 13:00] Zimmi48 commented on #4515
@mattam82 Do you intend to address this in the foreseeable future? If not, please remove your assignment.

[2019-03-06 13:02] SkySkimmer commented on #4515
The doc says it can take Polymorphic, that's good enough until we have more general doc of what attributes can be used where IMO, shall we close?

[2019-03-06 13:05] Zimmi48 commented on #4860
That's a TODO for after a decision is taken on the future of template polymorphism (which I hope will be soon).

[2019-03-06 13:09] Zimmi48 commented on #6108
@mattam82 Do you intend to address this in the foreseeable future? If not, please remove your assignment.

[2019-03-06 13:11] fakusb opened #9705 "coq-makefile: print-pretty-timed-diff broken"
When trying to use the print-pretty-timed-diff target, there is some problem with the invoked python code (at least when using Python 3.7.2):

[code]

this occurs both on coq 8.8.2 and master (at least in a build from 2 weeks ago)

[2019-03-06 13:25] Zimmi48 commented on #6089
@mattam82 Do you intend to address this in the foreseeable future? If not, please remove your assignment.

[2019-03-06 13:26] Zimmi48 commented on #6880
@gares Do you intend to address this in the foreseeable future? If not, please remove your assignment.

[2019-03-06 13:26] Zimmi48 commented on #7846
@maximedenes Do you intend to address this in the foreseeable future? If not, please remove your assignment.

[2019-03-06 13:32] Zimmi48 commented on #5609
It looks like all that remained is to use the phrasing:

"Note that when make is called with the -j flag on multiple targets, it is possible that their shared prerequisites will be built more than once."

@gares Do you intend to address this in the foreseeable future? If not, please remove your assignment.

[2019-03-06 13:32] Zimmi48 commented on #7073
@mattam82 Do you intend to address this in the foreseeable future? If not, please remove your assignment.

[2019-03-06 13:42] Zimmi48 opened #9706 "specialize_eqs is undocumented"
#### Coq Version

8.10+alpha

[2019-03-06 13:43] Zimmi48 commented on #6717
This has been fixed. However, there is now no mention of `specialize_eqs` in the reference manual. See #9706.

[2019-03-06 13:43] #6717 closed

[2019-03-06 13:44] andres-erbsen commented on #7210
Ltac2 is not affected by this, right? is there any chance we could have ltac2 in the Linux version of coq, appropriately labeled as an experiment/preview/beta as necessary?

[2019-03-06 13:46] Zimmi48 commented on #4084
I think targets were documented as part of the coq_makefile2 effort.

[2019-03-06 13:46] #4084 closed

[2019-03-06 13:58] #4515 closed

[2019-03-06 16:17] gares commented on #5609
removed

[2019-03-06 16:19] gares commented on #6880
removed

[2019-03-06 16:30] JasonGross commented on #7210
No, I think Ltac2 is just as affected by this as Ltac1.  Perhaps a bit less so, because it is easier to pick a different name when recursing under binders, perhaps?

One solution to this is to never ever mix reuse of binder names

[2019-03-06 17:00] JasonGross commented on #6880
I can't quite tell from the discussion: is `exact <: foo` just a more concise alias for `vm_cast_no_check foo`?  And the suggestion here is to make it a more concise alas for `vm_compute; exact foo`?

[2019-03-06 17:16] HuStmpHrrr opened #9707 "8.9 no longer exports string parsing scope"
#### Description of the problem

8.9 no longer exports String by default. in 8.8.2 or ealier, text between double quotes will become string without having to import `String`, but 8.9 doesn't do it anymore. this breaks many libraries, in which string might be used to, for example, indicate which case the current bullet point is dealing with.

#### Coq Version

8.9

[2019-03-06 17:20] HuStmpHrrr commented on #9707
I guess one followup question is, how can I just export the parsing scope everywhere without exporting the functions in the library?

[2019-03-06 18:22] JasonGross commented on #9707
You can do
[code]

I'm inclined to close this bug report as either INVALID or WONTFIX; note that this change is mentioned in [CHANGES](https://github.com/coq/coq/blob/master/CHANGES.md):

  and `int31` are no longer available merely by `Require`ing the files
  that define the inductives.  You must `Import` `Coq.Strings.String.StringSyntax`
  (after `Require` `Coq.Strings.String`), `Coq.Strings.Asc

[2019-03-06 19:05] HuStmpHrrr commented on #9707
thx. I will come back to this if I have trouble doing the migration.

[2019-03-06 19:48] andres-erbsen commented on #7210
Hmm, I am not sure what is going on here in that case. Could you explain what each command does, (in particular, what names the body of `f` refers to at various points) and how they are represented? I totally thought it was just ltac treating the new `fun x` => in a way that ignores the old name bound to x...

[2019-03-06 20:35] JasonGross commented on #7210
Ah, it is possible that the new example deserves a new issue, because the repeating of names is a bit subtle.  Let me go for a lite explanation of what happens, and if that is not enough, then I will explain in more depth.

Very roughly the issue is that the following two `pose`s behave differently:
[code]
That is, whenever you pass from `constr` to tactics, all existing constrs in the Ltac enviro

[2019-03-06 20:39] JasonGross commented on #7210
I am guessing that there is a thing that is done when dynamically casting Ltac variables to `constr` when inside a `constr` that has them evaluated in the proof context outside the `constr` before inserting them into the new `constr` underneath whatever binders are created.  I imagine the same transformation could occur on all Ltac variables which hold `constr` things (and hopefully Ltac thunks ju

[2019-03-06 21:15] JasonGross opened #9708 "Ltac profiler display mishandles spacing on tactics which take over 27h 46m 39.999s"
#### Description of the problem

The spacing is wrong on this display:

[code]

This does not come up that often in practice, but I noticed it, so I figured I'd report it.

#### Coq Version

8.8.2 (but I'm sure it also applies to earlier and later versions)

[2019-03-06 23:00] JasonGross commented on #7210
Quoting @ppedrot on gitter, in response to me asking about the two `pose`s (as well as the variants with `ident:`, `uconstr:`, and `open_constr:` in place of `constr:` (only `uconstr` behaves differently; and it makes both behave like the `ltac:(exact ...)` version))

in the first case, you're evaluating `Var(n)` under a context `Var(n) : nat | n : Set ⊢`
the fun n is a DeBruijn rel, not a var
so

[2019-03-07 10:05] DanGrayson commented on #8196
I've started working on this here: https://github.com/DanGrayson/coq/tree/fix-issue-8196

[2019-03-07 11:58] DanGrayson commented on #8196
Here's a case where we *do* want to instantiate a universe level parameter with a global one:
[code]

[2019-03-07 15:35] Tuplanolla opened #9709 "Proof editing in progress despite aborting in CoqIDE"
#### Version

Coq 8.8.2

#### Operating system

Red Hat Enterprise Linux Workstation 7.4

#### Description of the problem

The following actions result in a stuck state.

* Open CoqIDE.
* Insert the following code into the buffer.

[code]

* Navigate to any point between the end of `Definition` and `End`.
* Navigate forward.
* Observe the suggestion.

[code]

* Insert `Abort All.` between the end

[2019-03-07 16:02] gares commented on #9709
The suggestion is unclear and outdate. It should tell you to Abort or Admit the proof of `no`.

[2019-03-07 20:38] HuStmpHrrr commented on #9707
@JasonGross it gives this error though:

I am pretty sure I am working with 8.9:

[code]

what could happen in this case?

[2019-03-07 20:43] HuStmpHrrr commented on #9707
I guess the explanation is, in 8.9 stdlib, there isn't such module?
https://github.com/coq/coq/blob/v8.9/theories/Strings/String.v

in master, it does though:
https://github.com/coq/coq/blob/master/theories/Strings/String.v#L487

[2019-03-07 21:55] JasonGross opened #9713 "Redirect Print ignores Set Printing Width"
#### Description of the problem

[code]

#### Coq Version

8.9

[2019-03-08 01:02] JasonGross opened #9714 "Error: Anomaly "File "pretyping/cases.ml", line 1694, characters 27-33: Assertion failed." Please report at http://coq.inria.fr/bugs/."
#### Description of the problem

[code]

In master, this is:
https://github.com/coq/coq/blob/29b85080afef1c83ee772de3e69c487627ae6ce5/pretyping/cases.ml#L1712

The function is:
https://github.com/coq/coq/blob/29b85080afef1c83ee772de3e69c487627ae6ce5/pretyping/cases.ml#L1683-L1750

#### Coq Version

8.9, also master

[2019-03-08 01:03] JasonGross commented on #9714
Note that if I replace the first `nil` with `_`, then the `Check` goes through fine

[2019-03-08 01:09] JasonGross commented on #9714
I suspect the issue is that there is a delayed constraint that `solve_simple_eqn` causes to become impossible (note that AFAIK, there is no well-typed solution for the implicits in this `Check`, and I expect Coq to inform me that `nil` has type `list _` while it's expected to have type `list _ -> _`).

cc @herbelin , who introduced this `assert false` in https://github.com/coq/coq/commit/b1b8243b7

[2019-03-08 01:20] JasonGross opened #9715 "Print Ltac gets implicits wrong"
#### Description of the problem

[code]
This printed Ltac is not valid, as it is missing the binding for `A`.

#### Coq Version

8.10+alpha (a83eac8463787c13a2dbd3903baf2b59ca1a4635)

[2019-03-08 01:21] JasonGross commented on #9715
Related: #5436

[2019-03-08 01:23] JasonGross opened #9716 "Print Ltac prints invalid Ltac by neglecting to insert constr:"
#### Description of the problem

[code]
This printed Ltac is not valid, as it is missing the `constr:`.

#### Coq Version

8.10+alpha (a83eac8463787c13a2dbd3903baf2b59ca1a4635)

Possibly a duplicate of #6613, though here it actually generates invalid Ltac rather than merely surprising Ltac.

Related: #5169

[2019-03-08 07:09] JasonGross opened #9717 "The documentation of `+` and `tclOR` both tell lies"
#### Description of the problem

The [documentation of `+` says](https://coq.inria.fr/distrib/current/refman/proof-engine/ltac.html?#coq:tacn.backtracking-branching):

This is a lie.  Consider:
[code]

Additionally, the documentation in the source for `tclOR` lies:  @aspiwack says:
https://github.com/coq/coq/blob/c9fd99644e223ada3aad53915f1cd0d2598882b3/tactics/tacticals.ml#L292-L304
However we se

[2019-03-08 07:11] JasonGross opened #9718 "There should be a way to partially focus"
#### Description of the problem

The tactic `[ > tac.. ]` runs `tac` on each goal separately.  I want a version of, e.g., `[ > | tac.. ]` which runs `tac` in aggregate on all goals other than the first.

#### Coq Version

8.9

[2019-03-08 07:13] JasonGross opened #9719 "Please add gprogress and grepeat and gtry and g+ and g[> tac.. ]"
#### Description of the problem

Coq is severely lacking in facilities for multigoal manipulation.  See #9718,  #9717, https://github.com/coq/coq/issues/9462#issuecomment-470822923

#### Coq Version

8.9

[2019-03-08 09:19] DanGrayson commented on #8196
@mattam82 -- I think we want the instantiation of universe variables with their lower bounds, even when the lower bound is global, sometimes to happen, for else we get horrible performance problems.  Do you see a way, even in theory, to distinguish the "GOOD" one from the "NOT GOOD" one in the examples below, so we can get it right, without unfolding the type of the term?
[code]

[2019-03-08 09:32] SkySkimmer commented on #8196
In GOOD the instantiation doesn't affect the type `X -> X`, in NOT GOOD it does affect `T@{?}`. Since minimization happens at the end of a definition/check (this explains the `why does this work`) it may be possible to differentiate these cases in practice.

WDYM?

[2019-03-08 09:34] DanGrayson commented on #8196
I mean, that if you have to start unfolding definitions to figure out what to do, it could take a gigayear.

[2019-03-08 09:43] aspiwack commented on #9717
Mmm… that was a while ago. I probably wrote the documentation, then realised something was wrong with `+` and “fixed” it.

The other thing in this commit is the interaction between `+`-in-ltac and Ltac's error thing. I'm really not sure why I decided the goal needed to be independent. Maybe there was an interaction with Ltac's errors? Or maybe it was just for `+` to behave uniformly with `||`. Pri

[2019-03-08 09:59] Zimmi48 commented on #9717
Wouldn't this be too disruptive to change this now in Ltac1 and doesn't Ltac2 solves the issue?

[2019-03-08 10:00] Zimmi48 commented on #9717
(in which case, this only becomes a documentation issue indeed)

[2019-03-08 12:12] JonasOberhauser opened #9721 "CoqIDE crashes randomly"
#### Description of the problem

CoqIDE crashes every few minutes. The files I have opened are irrelevant (it also crashes for files with just a few hundred lines). To be precise, CoqIDE stops responding and has to be shut down manually.

I think it is related among other things to searching in the file (using the text search, not the Search command), or maybe more generally, moving around in the

[2019-03-08 12:26] Zimmi48 opened #9722 "Windows packaging job failing consistently"
[code]

e.g. in https://gitlab.com/coq/coq/-/jobs/174132485

[2019-03-08 13:36] JonasOberhauser opened #9724 "Anomaly after compiling and using file"
#### Description of the problem

In CoqIde I just got the following:

[code]
I just compiled a file after changing something that I had the impression should have broken some parts of the proof, but the proof checker went through (this could mean that the effect of the change would only be visible in the next file).
When using the compiled file in the next file, I got this error.

[orderpaper18.zi

[2019-03-08 13:45] MSoegtropIMC commented on #9722
Thanks for reporting, I will fix it asap!

[2019-03-08 13:49] DanGrayson commented on #8196
If my guess is right that instantiation of lower bounds is hard to decide, then maybe what I have to do is to avoid having any lower bounds.  Here's one place where lower bounds cannot be avoided by me:
[code]
The file containing the line above is to be compiled with type-in-type, so it will work.  But notice the added constraint.  If I omit that, then the opposite constraint is imposed, namely `j

[2019-03-08 13:52] SkySkimmer commented on #8196
`Definition ResizeProp@{i j|} (T : Type@{j}) : Type@{i} := T.` should work, however it's currently bugged with type-in-type so we need to fix that.

[2019-03-08 13:54] SkySkimmer commented on #8196
Until we fix it you should be able to use `ltac:(exact_no_check T)`.

[2019-03-08 13:59] DanGrayson commented on #8196
Great, thanks!

[2019-03-08 14:00] Tuplanolla opened #9726 "Notations without variables quietly reserve levels"
#### Version

Coq 8.8.2

#### Operating system

Red Hat Enterprise Linux Workstation 7.4

#### Description of the problem

The following code causes an unexpected error.

[code]

[code]

There are two ways to recover.
The morally correct one is to omit the level of the notation for `!`,
which puts it at level `0`.

[code]

The morally questionable one is to reserve the notation for `?` beforehand.

[2019-03-08 14:04] SkySkimmer commented on #9726
When I run the example code the error is on the second Notation line, not on the Check.
Looks like a duplicate of https://github.com/coq/coq/issues/9079

[2019-03-08 14:12] SkySkimmer commented on #9507
I think it's refusing to unify some non-flexible universes in the syntactic equality fastpath (because the constant can be reduced), causing it to reduce.
Indeed if I insert
[code]
before the unify, the constr_eq is fast and doing unify after it is also fast.
(since https://github.com/coq/coq/pull/7491 (8.9) constr_eq means syntactic comparison, adding any univ constraints which come up)

Maybe we

[2019-03-08 16:09] gares opened #9727 "[dune] missing dependency on plugins"
[code]
I did that to be able to `Drop` as per `dev/doc/build-system.dune.md` but I got this error.

[2019-03-08 16:09] gares commented on #9727
I was indeed editing tok.ml, this is why `Tok` is there.

[2019-03-08 16:11] gares commented on #9727
I did remove `_build` and now I get
[code]

[2019-03-08 16:25] ejgallego commented on #9727
This is a know problem, you need to use the dev/shim for now. Indeed coqtop doesnt depend on the plugins as it is an optional dependency (you can load without the prelude)

This will be fixed hopefully in the next iteration by having a command to specify the lib to load.

[2019-03-08 16:48] MSoegtropIMC commented on #9722
This is caused by a package change in cygwin and needs to be back ported to all active branches. Shall I create a separate PR for 8.9?

[2019-03-08 20:02] xuanruiqi commented on #9581
Hello all! Any updates to this in the mean time?

[2019-03-08 21:51] mattam82 commented on #9581
Hi @xuanruiqi, I'll try to reproduce next week. In the meantime, it could also be because of the presence of side-effects that are not properly substituted. It might be that one of the obligations uses an induction scheme that is generated on the fly (you can inspect using Show Proof) or a use of `abstract`. I'm curious, what does `exact` do?

[2019-03-08 21:53] mattam82 commented on #9581
@xuanruiqi yes, the naming changes should be addressed. @maximedenes  did his best threading the program_mode to ensure names would be generated the same way but we might have missed a corner case.

[2019-03-08 22:03] mattam82 opened #9729 "Scheme should support the polymorphic universes attribute"
Even if the inductive is not polymorphic, we might want to generate a polymorphic elimator into `Type@{i}` for polymorphic `i`.

[2019-03-08 22:07] mattam82 commented on #6108
It's more likely `repeat topdown (once (choice (hints foo) (hints bar)))` for some definition of once which applies the stragegy once and otherwise is the identity.

[2019-03-08 23:35] xuanruiqi commented on #9581
Ssreflect `exact` more or less just tries to solve the current goal using `done`. An explanation is [here](https://coq.inria.fr/refman/proof-engine/ssreflect-proof-language.html#terminators-ssr); you see it's mostly equivalent to `done` unless there's an assumption in the goal.

`done` is implemented [here](https://github.com/coq/coq/blob/v8.9/plugins/ssr/ssreflect.v), and it seems that it just tr

[2019-03-09 00:06] JonasOberhauser opened #9730 "Weird Setoid behavior"
#### Description of the problem

The following according to my understanding should work:
[code]
This should also work:
[code]

The reason I expect them to work is that this works:
[code]

#### Coq Version

Coq 8.9 with windows 10 (and CoqIDE)

[2019-03-09 01:10] JasonGross commented on #9730
Both of these succeed if you add
[code]

The issue is that your instances are not resolving because the types don't match, and this tells typeclass resolution to allow them to be unfolded.

I'm inclined to resolve this as INVALID, but if you think this hint (or a similar one) should be in the standard library, or if you have a request about how the typeclass log should expose this information (wit

[2019-03-09 01:16] JonasOberhauser commented on #9730
Thanks so much! It's been very frustrating. I'll think about it.

[2019-03-09 04:08] #9730 closed

[2019-03-09 04:16] JasonGross commented on #9717
Indeed, Ltac2 fixes this issue.  I am not sure if it would be disruptive; I suspect the number of users who are (a) using `+` and (b) relying on its semantics of focusing are small (in part because so many tactics focus)

However, I do see a possible issue: do I understand correctly that the following succeeds today but would fail if `+` did not have `tclINDEPENDENT`?
[code]

Anyway, I have opened

[2019-03-09 14:45] gares commented on #9721
Could you please be more specific?
When CoqIDE freezes, and you are searching, is Coq also computing? (is the progress bar in the bottom-right corner active?)

[2019-03-09 14:45] JonasOberhauser opened #9732 "Anomaly with Setoid Rewriting: "assertion failed""
#### Description of the problem

A (setoid) rewrite takes forever.
The rewrite uses a hint like this:
[code]

Sometimes when I abort, I get the anomaly:

```Anomaly "File "plugins/ltac/tacinterp.ml", line 153, characters 4-10: Assertion failed." Please report at http://coq.inria.fr/bugs/.```

(not every time I abort that particular rewrite though)

This works by the way:
[code]
#### Coq Version

8

[2019-03-09 15:16] mattam82 commented on #9581
I found the cuprit. It should be an error rather than an anomaly, but Program Fixpoint does not support existential variables in the type of the fixpoint. Here one is generated by the `if c is Black then d > 0 else true` which gets elaborated to a match by Program, inserting an evar of type `c <> Black` for the second branch, which is not solved until we generate obligations. Before doing that we

[2019-03-09 17:43] ppedrot commented on #9717
@JasonGross IIRC, `exact` also focuses so it doesn't matter if you remove the `tclINDEPENDENT` from `+` in your example.

[2019-03-10 08:35] gares commented on #9727
The first error seems to match your description, but the second one is different. The instructions to run Drop seem to be outdated.

[2019-03-10 14:49] Zimmi48 commented on #9722
@silene might be able to answer this. Generally speaking, small changes are easy to backport automatically, as soon as the PR is put in the right milestone.

[2019-03-10 17:49] Zimmi48 commented on #9717
If you want, you can always open a PR removing this tclINDEPENDENT and see what happens in the test-suite and the CI.

[2019-03-11 01:43] JasonGross commented on #9717
@ppedrot I think you are mistaken about Ltac semantics here:
[code]

[2019-03-11 02:29] JasonGross commented on #9717
I believe this is because even though `exact I` focuses, the multi-goal tactic `exact I` (equivalent to `[ > .. exact I ]`) fails on the two goals, and so we backtrack into the second tactic for all goals at once.

This does break some things (pipeline [here](https://gitlab.com/coq/coq/pipelines/51163838)).  Perhaps this example should be added to the test-suite, if the test-suite (pipeline [here]

[2019-03-11 04:19] JasonGross commented on #7017
@SkySkimmer I just made a proposal at https://github.com/coq/coq/pull/7625#issuecomment-471399136 which might satisfy the relevant constraints:

[2019-03-11 05:02] jfehrle commented on #8715
I haven't yet been able to build coqide locally, even after several attempts.

[2019-03-11 07:57] ppedrot commented on #9717
@JasonGross You're right indeed, I was mistaken.

Regarding `Tacticals.tclOR`, I think it is a very bad idea to have an ML definition that shares the same name and a compatible type with a different one (`Proofview.tclOR` namely) while not having the same semantics. I'd rather remove it altogether and inline the specific use cases where we rely on that one, while reusing directly the other one for

[2019-03-11 08:24] gares opened #9735 "[dune] coq_config contents break coq_makefile"
Coq_config.ml contains `gramlib/.pack`, but with inside the dune build tree these files are elsewhere:
[code]

[2019-03-11 08:39] JasonGross commented on #9717
I agree

Are you proposing now that Ltac's `+` should lose `tclINDEPENDENT`?  I've changed my mind on this, after seeing the behavior I mention above, and think that the Ltac default with `+` should be focusing.  (I do think there should be another tactical we have access to for the non-focusing version, but it's going to be a pain to track all the points where things are not focused and use `[ >

[2019-03-11 08:46] ppedrot commented on #9717
I don't have a particular preference for that, as long as there is a way to access the non-focussing one (or we drop Ltac1 altogether). My comment was assuming you were going to perform the change.

[2019-03-11 08:52] JasonGross commented on #9717
I did perform the change, and it broke a bunch of things; see the CI for https://github.com/coq/coq/issues/9734 .  I am also pretty bad at naming things (my current leading name for the non-focusing one is an infix `g+`...).  I would prefer you or someone else submitting the PR.  I won't have time to make a decent PR for a couple of weeks, but I'll see if I can do it at the beginning of April if n

[2019-03-11 10:47] fakusb commented on #9705
Removing this `-` is a workaround for me, to at least get the diffs as a file.
https://github.com/coq/coq/blob/5f7bb95b6532a6983a2d1880aa531e4e4dd6568d/tools/CoqMakefile.in#L127

[2019-03-11 11:27] ejgallego commented on #9735
That seems weird, and I cannot reproduce. How are you calling Dune?

[2019-03-11 11:29] ejgallego commented on #9727
Indeed the second error I think is a bug in Dune, I was aware of it but didn't have time to investigate more, we should add a workaround for now.

[2019-03-11 11:32] ejgallego commented on #9727
@rgrinberg , indeed, given a bytecode binary `a/foo`, `dune exec a/foo.bc` won't properly install the necessary stublibs for it to run. Should I file a bug?

[2019-03-11 11:41] gares commented on #9735
Last time I did a `make -f Makefile.dune world`, but in any case I've never passed options or anything, just use targets for the makefile you provide.

[2019-03-11 11:42] gares commented on #9735
I'm on f902a4939ccdd59e7d178fd938fe4c59da81d68c

[2019-03-11 11:48] ejgallego commented on #9735
I cannot reproduce, are you sure you are not in a dirty build tree? What does `ls -l config` say?

`coq_config.ml` is special, as Dune will respect a user-provided one.

[2019-03-11 12:26] #5985 closed

[2019-03-11 13:18] pi8027 opened #9737 ""f is now a coercion" but f isn't registered to the inheritance graph"
#### Description of the problem

My examples are available below. I know how to fix this (because I extracted them from the implementation of `add_coercion_in_graph`), but I need to know whether this is a bug or not.

[code]

#### Coq Version

master

[2019-03-11 15:46] gares commented on #9735
It must have been dirty than, I can't reproduce it anymore (and I did run git clean).

[2019-03-11 15:48] Zimmi48 commented on #9637
Reopening as the problem is not visible anymore but still there anyway.

[2019-03-11 16:25] gares commented on #9735
OK, now I have an up to date work tree and a related problem is still there.
The directories for plugins are there, but gramlib is not.
[code]
I see a `gramlib/.pack` thing, but with inside the dune build these files are elsewhere:
[code]

[2019-03-11 16:27] gares commented on #9735
I've updated the issue. It is a different one but the title works for both, so I guess we can just leave this open

[2019-03-11 16:27] ejgallego commented on #9735
Yes that's the problem I was referring to before, will cherry pick from #8729 , but indeed Coq Makefile should use findlib to locate object files, depending on the layout is not a good idea.

By the way these are two totally separated issues so you should have opened a new, one, now the title is incorrect and the history a bit messy.

[2019-03-11 16:45] gares commented on #9735
I confirm that removing the `.pack` solves the problem

[2019-03-11 17:37] rgrinberg commented on #9727
Yeah, we're aware of this issue. The issue is that the stublibs aren't actually necessary to build the binary but to _run_ it. There's no way to express that runtime dependency in dune at the moment.

[2019-03-11 17:47] ejgallego commented on #9727
This seems like a bug in `dune exec`, right? In the same way `dune utop` works, exec should indeed generate the extra rules, right?

Is there an issue already for that?

[2019-03-11 18:32] JasonGross commented on #9705
Indeed, and you should also be able to pass `TIME_OF_PRETTY_BUILD_EXTRA_FILES=" "` or `TIME_OF_PRETTY_BUILD_EXTRA_FILES=/dev/null` on the command line.

I suspect this is yet another python 2/python3 issue, and I am not very familiar with the standard ways of fixing this.

[2019-03-11 18:36] JasonGross commented on #9705
I'm confused by this error message.  Shouldn't `encode` be giving us a `bytes` object already?

[2019-03-11 20:00] DanGrayson commented on #8196
Here's another concise example:
[code]

[2019-03-11 20:09] andres-erbsen opened #9741 "Only Printing notations break parsing by creating keywords"
#### Description of the problem

[code]

#### Coq Version

8.9.0

[2019-03-11 20:19] andres-erbsen opened #9742 "Is it possible to use double-quotes in notations?"
#### Description of the problem

I would like to use double quotes in a printing-only notation. However, it does not seem to work.

[code]
`File "./a.v", line 1, characters 13-14:
Error:
Syntax error: ':=' expected after [Prim.lstring] (in [vernac:syntax_command]).`

It would be useful to allow printing of arbitrary strings from a `.v` file, as a much more convenient alternative to extracting the

[2019-03-11 20:22] andres-erbsen commented on #9742
[code]

[2019-03-11 20:22] #9742 closed

[2019-03-11 22:31] gares commented on #9717
Hem, what about the distributivity law?
Anyway, I propose tclCHOICE, for the non focusing one.

[2019-03-12 06:26] luochen1990 opened #9745 "How to learn Coq's module system?"
I have finished the practices of `sf/lf` and part of `sf/plf`, and I'm familiar with many other language's module system, such as haskell/python/javascript, but still can't grasp Coq's module system, I think it is the most complex one.

To learn Coq's module system, I read the following resources:

First is the [official doc](https://coq.inria.fr/refman/language/module-system.html), it's all about

[2019-03-12 06:43] Zimmi48 commented on #9745
This kind of question is better asked on Coq's Discourse forum at https://coq.discourse.group.

[2019-03-12 08:59] rgrinberg commented on #9727
In fact, `$ dune utop` is broken the same way: try to load a library with stubs in the toplevel.

The way exec works is roughly as follows:

* Build the executable `foo.exe` (if it's a target)
* Run the newly built executable.

Obviously, this doesn't really work as running the executable has its own dependencies.

Basically, we need to teach dune that some binaries have runtime dependencies attac

[2019-03-12 10:43] ejgallego opened #9747 "[meta] coq/build-maintainers team"
So far, @Zimmi48 and I have been maintaining the Dune build system for Coq, with great consulting help from Dune developers, in particular @rgrinberg ; this arrangement has however placed a lot of strain on @Zimmi48 , so I'd be great if we could do a group and add a bit more of manpower.

I suggest we create a build-maintainers team and expand Dune maintainers ship; maybe @SkySkimmer could be inte

[2019-03-12 11:15] ejgallego commented on #9727
Ok, fix at https://github.com/coq/coq/pull/9748

[2019-03-12 11:58] #9595 closed

[2019-03-12 11:59] #9631 closed

[2019-03-12 12:38] ckeller opened #9749 "Micromega cannot be used independently from tactics anymore"
#### Description of the problem

I (in SMTCoq) use Micromega at the OCaml level independently from tactics. In particular, I use the function `dump_proof_term`.
This is not possible anymore (without copy-paste) since coq_micromega.mli now exposes only the tactics. It would be nice to expose also a bunch of functions that allow one to use it independently from tactics.
In addition, I am also using

[2019-03-12 12:39] ejgallego commented on #9749
cc: @fajb ?

[2019-03-12 13:16] clucas26e4 opened #9750 "tactic remember makes goal ill-typed"
#### Description of the problem
In the following example, the goal is "H a p" with "p : f a".
The tactic "remember (f a) as b" changes the type of "p" to "b", which makes "H a p" ill-typed.
[code]
#### Coq Version
8.9.0

[2019-03-12 13:18] fakusb commented on #9705
I don't have any deeper uinderstanding of python, but using `binary_stdout.write(table.encode("utf-8"))` instead of `print` solves the problem for me, and runs in both python2 and python3.
This fails if the code would use `sys.stdout` instead of `sts.stdout.buffer`, but I'm not sure this should/can happen here. (The [note here](https://docs.python.org/3/library/sys.html#sys.stdin) maybe says that

[2019-03-12 14:00] andres-erbsen opened #9751 "printing whitespace change on master"
#### Description of the problem

https://github.com/mit-plv/bedrock2/commit/9b427dc4cea9731a7869eb7c68a1de95047dd7be

prints an additional newline and space on master ([log](https://travis-ci.com/mit-plv/bedrock2/jobs/184001042#L1616)). I cannot find any CHANGES entry to explain this, and it seems undesirable anyway.

#### Coq Version

660732f bad, 8.9.0 good. ~~@JasonGross you said the first bit

[2019-03-12 14:04] andres-erbsen commented on #9751
This was found by adding a test requiring the 8.9 behavior to bedrock2 CI and seeing it fail on master. Currently the test in question is disabled, but we would like to re-enable it.

[2019-03-12 14:18] mattam82 commented on #9581
@xuanruiqi does that fix your problem entirely?

[2019-03-12 14:19] RalfJung commented on #6994
I think I just ran into this. I wasted an hour debugging why `eauto` with our custom hints would not solve a goal, and it boils down to `match goal` not matching a pattern with a goal when the pattern definitely applies. The term that fails to match is a primitive projection. I was unable to reproduce this in any smaller example.

[2019-03-12 15:14] mattam82 commented on #6994
This is due to the dreaded `unfolded` status of primitive projections that was introuced for compatibility with non-primitive ones (if you unset primitive projections, you'll see that indeed the second match goal cannot succeed).

[2019-03-12 15:22] JasonGross commented on #9751
That's from 2019-02-08, which was before I changed the behavior to include the commit hash.  The current package is 8.master~git~201903120218+20181-0~daily319-74534f8-74534f8~ubuntu14.04.1 which is commit 74534f8.

[2019-03-12 15:24] RalfJung opened #9753 "Proofs in sections are noticeably slower than proofs outside sections"
#### Description of the problem

@SkySkimmer pointed out on Gitter that hash-consing does not happen in sections. This is new to me, and since we have pretty much all our proofs in sections that seemed like it could have quite the impact. So, as an experiment, I moved most (but not all) of the proofs of one file in lambda-rust our of their section. The result was a 13% reduction in instruction cou

[2019-03-12 15:39] ppedrot commented on #6994
Pretty please, let's get rid of that wart a soon as possible and the devil with the *borken* compat layer.

[2019-03-12 15:42] SkySkimmer commented on #9753
That's not necessarily from hashconsing, it could also be from checking Proof Using data or some ltac nonsense.
AFAIK hashconsing is skipped in sections since modifying the term at the end would require hashconsing repeatedly.

[2019-03-12 15:43] ppedrot commented on #9753
Depends on what you do. Usually, not hashconsing is way more efficient that the converse, but you pay it in terms of memory blowup. For some reason, your use case seems to be better with hashconsing on, which is somewhat surprising.

[2019-03-12 16:12] RalfJung commented on #6994
Yes please indeed. Can we throw MPI consortium resources at this?^^

[2019-03-12 16:35] JasonGross commented on #9705
Perhaps the failure happens with your choice if you redirect stdout to a file?

[2019-03-12 16:59] xuanruiqi commented on #9581
Yes, it does. Thanks Matthieu!

[2019-03-12 17:56] andres-erbsen commented on #9751
Ok, hash updated above.

[2019-03-12 18:20] andres-erbsen opened #9755 "custom entry: allow inclusion of multiple other entries"
#### Description of the problem

[code]

In the default entry numbers and identifiers are disambiguated just fine, so the same should work for custom entries as well. See also #9516.

#### Coq Version

8.9.0

[2019-03-12 19:38] andres-erbsen opened #9756 "Anomaly: Bad recursive type in #9294"
#### Description of the problem

I was trying to understand what goes in #9294 and encountered this:

[code]

Expectedly `False`-proving minimized version:

[code]

#### Coq Version

8.9.0

[2019-03-12 21:00] Zimmi48 commented on #9749
It would be good to add SMTCoq to Coq's CI (whenever possible) to avoid encountering this kind of issues (removing of APIs that we don't know are used) in the future...

[2019-03-12 21:37] andres-erbsen commented on #9623
A similar anomaly also occurs when using `abstract`... (at `intuition congruence` in `lightbulb.v` in fiat-crypto). cc @samuelgruetter

[2019-03-12 21:48] fajb commented on #9749
Hi @ckeller ,

I have no problem exposing dump_proof_term.
For tauto_lia, my take is that it should not  be exposed -- it is dead code.
And probably disappeared for this reason.

@ckeller , my advise is be to directly use the linear prover i,e. Certificate.lia.
It is exposed and has a clear specification i.e. it generates a checkable proof of unsatisfiability.

[2019-03-12 23:59] andres-erbsen opened #9758 "feature request: printing hboxes"
cc @JasonGross

[2019-03-13 00:00] andres-erbsen opened #9759 "feature request: idtac_no_newline"

[2019-03-13 00:07] JasonGross commented on #9758
cc @herbelin

Is there a reason that Coq notations support `[hv` and `[v` (and implicitly `[hov` which is just `[`) but not `[h`?  It looks like the internal support is already there, and all that needs to be done is to extend
https://github.com/coq/coq/blob/f1d60cad76439d96da36ed7c52ff71b1b9573b80/vernac/metasyntax.ml#L143-L155
to parse `h` to `PpHB`.

[2019-03-13 00:12] JasonGross commented on #9759
This one may be tricky.  AIUI, `idtac` sends back an `infomsg` with no trailing newline (`<infomsg>....</infomsg>`, and the printer takes the infomsg and adds a newline.  You are asking for a version of messages in general that print no trailing newline, and a version of `idtac` which displays such a message?

cc @ejgallego

[2019-03-13 00:44] andres-erbsen commented on #9759
uh, if it's hard, don't bother, we can keep cutting off the newline after running coq.

[2019-03-13 00:45] ejgallego commented on #9759
What's the use case?

Indeed what to do with each diagnostic is specific to the backend; for example IDEs will place each located info msg as a list item.

Beware of using the printer as an interface; it is not designed for that, so in the end you will carry a large technical debt; there are better options these days IMHO.

[2019-03-13 00:49] andres-erbsen commented on #9759
the use case is outputting machinecode from coq. what alternatives would you recommend?

[2019-03-13 00:53] ejgallego commented on #9759
Wny do you use idtac and not a proper print function `print : foo -> string`?

[2019-03-13 00:54] ejgallego commented on #9759
We could for example provide an AST reflecting the `Pp.t` type of Coq, so you could properly compose documents.

[2019-03-13 00:54] andres-erbsen commented on #9759
we have a function like that, the string it outputs is passed into idtac

[2019-03-13 00:56] andres-erbsen commented on #9759
Pp.t would likely do the job but it sounds like overkill -- I can only foresee using it for concrete strings.

[2019-03-13 00:57] ejgallego commented on #9759
You can listen to the protocol directly (using sertop) and then you can do what you want with the messages.

Well, that shouldn't matter too much then, right? In fact you'd like to have a separator, otherwise how do you determine the boundary between two idtacs ? I guess that if you are parsing you don't care so much about the newline, right?

But indeed, that's a bit tricky to control at the tact

[2019-03-13 00:58] ejgallego commented on #9759
Well `Pp.t` provides you with much more flexibility, is a format akin to HTML so it can achieve much better display.

[2019-03-13 01:02] andres-erbsen commented on #9759
HTML sounds like the opposite of what we want. I just want to output a bytestring from a .v file dedicated to for that purpose. the output will then be redirected to a file, have chmod+x done to it, and executed.

[2019-03-13 01:06] ejgallego commented on #9759
So what's your problem then? I am afraid I don't understand it; do you have several calls to idtac? If so, you should use your own composition operator.

[2019-03-13 01:07] ejgallego commented on #9759
`idtac` is not of type `foo -> string` but of type `foo -> unit`, this is an important difference.

[2019-03-13 01:07] JasonGross commented on #9759
I believe the problem is that there is, at present, no way to make a `.v` file such that running that `.v` file through `coqc` will print a given string without a trailing newline.

[2019-03-13 01:08] andres-erbsen commented on #9759
I have one call to idtac. it adds an extra newline at the end of the string passed into it. Currently we cut it out afterwars. I was hoping it would be trivial to have coq not print this newline in the first place. It sounds like it isn't, so feel free to close this issue.

[2019-03-13 01:11] ejgallego commented on #9759
The thing is that `idtac` doesn't add a newline; the console printer does. That's an important difference. If you listen to the output you will get something such as `(Feedback Info (Pp_string "fooo...."))`

So if you have only call, why is that so important?

If you have several calls then there is a problem in the sense that supporting underlying composition is a tricky business, as in general t

[2019-03-13 01:13] ejgallego commented on #9759
We certainly want to be sure we provide adequate support for pretty printing, however indeed this kind of business tends to be very delicate so all the details should be carefully laid down. In particular the printing sub-system must render well in different output formats [such as tex, html, console, gtk] so spacing assumptions are not so easy to make.

[2019-03-13 01:15] andres-erbsen commented on #9759
it is "important" because after redirecting stdout I want to end up with a file that does not end in a newline

[2019-03-13 01:17] andres-erbsen commented on #9759
I think the reason we are not understanding each other here is the you are thinking of outputting a document (which then might be rendered using tex or so on), and I am thinking of outputting *bytes* (just to coqc stdout, without even plausibly supporting rendering of any kind).

[2019-03-13 01:19] ejgallego commented on #9759
The main problem I have is why are you using `idtac`; that's not meant for printing so it is a horrible hack.

It seems to me that you want `fprintf`, that'd be fine to add.

[2019-03-13 01:21] andres-erbsen commented on #9759
oh, yeah, my apologies. using idtac is definitely a kludge, it is just currently the closest to what I want (outputting only a newline, not a type annotation (`Check`) or identifier name (`Print`).

[2019-03-13 01:26] ejgallego commented on #9759
idtac _outputs_ a document; it is designed that way. It is not a low-level output primitive so indeed you have gonna have all kind of problems using it to print byte-precise stuff.

[2019-03-13 01:28] ejgallego commented on #9759
I think the best would be to add a `fprintf` primitive indeed, but without more context it is hard to say.

[2019-03-13 01:36] andres-erbsen commented on #9759
if `fprintf` would need more design, how about something like `puts`? I'm not looking forward to starting a sophisticated design effort just so that I can stop cutting out the last byte in a makefile pipe.

[2019-03-13 06:30] ckeller commented on #9749
Hi @Zimmi48
I am clearly thinking of that, but before I have to port it to Coq-8.9 ;-)

Hi @fajb
Thank you for your answer. I will try to use `Certificate.lia`.
When I am done, I will make a PR for exposing `dump_proof_term`.

[2019-03-13 09:50] SkySkimmer commented on #9759
Maybe you should make a plugin, then you can just do whatever makes sense for your use case.

[2019-03-13 10:20] ejgallego commented on #9759
Better printing facilities do make sense in the core, but there are a bit tricky for a few reasons. For example imagine working on a IDE, and you have some output, the IDE may re-execute them et voilà ! Duplicated stuff.

That requires some thinking, however I do have a proposal à la Jupyter for extraction, IO, etc... that could be OK for most users.

[2019-03-13 10:20] ejgallego commented on #9759
By the way the plugin is really trivial here indeed, just register to listen to feedback, write as you need.

[2019-03-13 10:23] SkySkimmer commented on #9759
I was thinking more about something to write a string-typed constr
directly to a file, without having to extern/mess with notations.

Gaëtan Gilbert

On 13/03/2019 11:20, Emilio Jesús Gallego Arias wrote:

[2019-03-13 10:35] #9735 closed

[2019-03-13 11:47] MSoegtropIMC opened #9760 "Fix pkg-config / dune issues in Windows build (follow up on #9279)"
This is a follow up on the pkg-config / dune discussion on PR #9279, since it gets increasingly off topic / lengthy there.

Summary of the problem: Cygwin replace pkg-config with pkgconf, so that pkg-config is now just a shell script calling pkgconf with suitable parameter for the configuration. This is especially useful for cross compilation (as we have it, MinGW on cygwin). With this change ther

[2019-03-13 11:52] MSoegtropIMC commented on #9760
One more notes: If we agree that creating an executable pkg-config for MinGW is the right solution, this would be quick. The use of pkg-config is anyway hacked in most modules which need it, because most call the cygwin pkg-config rather than the MinGW pkg-config. For this reason I copy the right pkg-config in the local bin-special folder, which comes first in path.

I think changing dune such tha

[2019-03-13 12:14] ejgallego commented on #9760
Oh, definitively I think Dune should learn about `pkgconf` if that is going to become the standard; we cannot expect users to have to hack stuff at this level just to build a package.

As for now, I dunno what to do; first step for sure is to see the detailed dune log.

[2019-03-13 12:33] MSoegtropIMC commented on #9760
Good point - one can make it an alternative. Is there some documentation on cross building and dune? What is the standard way to tell dune to use MinGW pkg-config? Or does Dune not work on this level of abstraction (make doesn't, but automake/autoconf does).

Ok, I do a local build to get it, although I am pretty sure that the "pkg-config not found" is the issue (If you ask windows to find an exec

[2019-03-13 12:34] avsm commented on #9760
See https://github.com/ocaml/opam-repository/issues/13636 for the corresponding opam issue

[2019-03-13 12:34] ejgallego commented on #9760
Thanks @avsm !

[2019-03-13 12:59] andres-erbsen commented on #9751
More explanation: the newly printed newline is just a printing width break, it is the space that needs to be explained.

[2019-03-13 13:14] ejgallego commented on #9760
I am not familiar with cross-compilation but I've heard Dune does support it: https://dune.readthedocs.io/en/latest/advanced-topics.html#cross-compilation

What do you mean? Cairo is indeed a dependency of lablgtk3 if that's what you mean, the build has been there since the beginning I think.

[2019-03-13 13:21] ejgallego commented on #9751
This should be a silly thing, likely due to the heavy refactoring we did for the toplevel.

If 8.9 was OK here I'm positive we can fix this. A bisect would greatly help.

[2019-03-13 13:23] andres-erbsen commented on #9751
I am working on minimizing, then bisect.

[2019-03-13 13:37] fakusb opened #9761 "Guardness checker and recursive call on x0 in return-type of match x as x0"
It seems that the well-guardedness checker does not know that in the return type of `match x as x0`, any subterm of `x0` is also a subterm of `x`?

I'm not sure if this is a bug or a feature request (and who even knows if this would be sound...)

The minimal example I came up with is (in coq 8.8 and master from less than three weeks ago):
[code]
produces the error
[code]

(btw: changing the return

[2019-03-13 13:57] andres-erbsen commented on #9751
minimized

[code]

expected output `A\n`, master gives `A \n`.

[2019-03-13 13:59] gares commented on #9761
Very tricky indeed. Let me just ping @barras @maximedenes

[2019-03-13 14:01] andres-erbsen commented on #9751
@ejgallego is there a recommended way of bisecting coq? e.g. should I add this as a test somehow, or something else?

[2019-03-13 14:04] ejgallego commented on #9751
@andres-erbsen we still don't have the best setup [hoping that Dune will make it easier]

I just use `git bisect run ` with a script that does `git clean -fxd` and then recompiles what's needed. In this case `make -j 10 states` should do the job.

The `git clean` should not be necessary once Dune is stable, however with the current setup it doesn't always work well in all cases.

[2019-03-13 14:04] gares commented on #9753
Can you compile with `-time` and tell us how much the execution of `End Section` costs in your case?
And give as an idea of the side of the proof terms?

Sections carry a cost, the cost of taking proof terms and putting lambdas in front. This is done at section ending time, so if is expensive you should be able to measure it.

[2019-03-13 14:07] erikmd opened #9762 "Minor regression regarding the warning message of `Extraction`"
#### Description of the problem

It seems that unlike Coq 8.7.2 that was displaying the following output:
[code]
this helpful message is not generated anymore:

[code]

[code]

[2019-03-13 14:10] gares commented on #9759
My impression is that your are using Ltac (and its idtac) to do something it was not designed for. There are no IO primitives, and given that the evaluation order is not very well specified (not to talk about backtraing), I believe IO primitives should not be there.

If you want to print a term in ASCII, I think you should generate an ADT (eg something of type string) and finally extract it to ML

[2019-03-13 14:14] ejgallego commented on #9762
This is on purpose, in 8.7 a special compatibility rule in the parser was kept for this purpose, however it was cleaned up in 8.8.

IMHO I'd close this as a won't fix, as the use of custom parsing rules to help with this doesn't scale.

However we could have a better parsing error recovering mechanism that would allow to plug for "hints".

[2019-03-13 14:18] andres-erbsen commented on #9759
@gares I call idtac only once, with the entire string in one call. Yes, idtac was not designed for it, but nothing in coq was, and idtac is the closest thing.

[2019-03-13 14:18] SkySkimmer commented on #9762
See https://github.com/coq/coq/pull/938

[2019-03-13 14:21] #9762 closed

[2019-03-13 14:31] vbgl opened #9763 "Primitive projection and elaboration"
In the following example, setting `Primitive Projections` breaks a definition with holes. It seems that the constructor of primitive record, `exist`, is not inferred.

[code]

[2019-03-13 14:32] MSoegtropIMC commented on #9760
Ah sorry. I meant the Windows 64 build went through after my pkg-config fix, but this was on master, not on the lablgtk3 branch.

So do we agree that in order to get things forward, I add a tiny C / executable wrapper to replace the shell script?

[2019-03-13 14:37] andres-erbsen commented on #9751
This bug does not occur when all notations above are in the same scope, so I managed to work around it in bedrock2.

[2019-03-13 15:24] gares commented on #9759
Oh, I thought you wanted to have `idtac "a"; idtac "b" = idtac "ab"`.

Then I think this is best.

[2019-03-13 16:02] fakusb commented on #9761
I think this is the important part of the termination checker:
https://github.com/coq/coq/blob/27ab0d69e87fa3ce414cdaa205f7f6266693e263/kernel/inductive.ml#L930
Maybe separating of `check_rec_call` on `p` would be a solution? Then all the indices and `c_0` should be supplied as the stack instead of `[]`? But getting the indices by computing the type of `c_0` again seems a bit fishy...

[2019-03-13 16:40] pi8027 opened #9764 "Implicit Types declaration doesn't work for binders in notations"
#### Description of the problem

[code]

#### Coq Version

master

[2019-03-13 18:18] andres-erbsen commented on #9751
[code]

[2019-03-13 18:22] ejgallego commented on #9751
Thanks @andres-erbsen , let's cc @herbelin who will eventually have a look.

[2019-03-13 18:38] erikmd commented on #9762
OK! Thanks for your feedback @ejgallego and @SkySkimmer

[2019-03-13 18:38] JasonGross commented on #9751
I wonder if the change in the output test in the test-suite file in 93a65415ff582d2ceb5bb9d994edaa6068da8280 was to correct for something like this bug...

[2019-03-13 18:43] ejgallego commented on #9762
Thanks to you! Note that I'd support keeping this bug open as an usability issue, but indeed it is likely better just to open a PR implementing a hint table for parsing error.

[2019-03-13 18:52] JasonGross opened #9765 "Grammar of `Arguments ` in the doc is incomplete; you can put multiple arguments in the same delimiters"
Note that the grammar of `Arguments ` here is still incomplete; you can put multiple arguments in the same delimiters, e.g., `Arguments map [A B] f l.`

_Originally posted by @JasonGross in https://github.com/coq/coq/pull/9757#issuecomment-472421221_

This should be fixed both for the implicits section about arguments and the scopes section, and note that for scopes, arguments can also be delimite

[2019-03-13 22:45] HuStmpHrrr commented on #9707
Is there any chance there can be a fix at 8.9.1 (or whatever version comes next)?

I had to rollback to 8.8.2 if there is no effective fix for all dependencies.

[2019-03-13 22:55] ppedrot commented on #9761
I don't think this is sound in general. It intuitively looks like you can perform ill-founded recursive calls in dead return branches with this kind of criterion. (I don't have a proper example though.)

[2019-03-14 06:45] JasonGross commented on #8446
I have updated the checklist with the version currently on master.  I have not changed which things are checked off, though I am suspicious of the current checking.

[2019-03-14 06:56] JasonGross commented on #9707
You can either pass `-compat 8.8` on the command line, or you can make your own module with
[code]
and then export that everywhere.

In fact, https://github.com/coq/coq/pull/8795 is one of the 44 PRs categorized under "Request Inclusion in 8.9.1" in the [Coq 8.9 Project](https://github.com/coq/coq/projects/29#card-14724234).  I'm not sure when 8.9.1 is slated to be released (@silene ?), but I beli

[2019-03-14 07:09] JasonGross commented on #9705
@fakusb Can you confirm if https://github.com/coq/coq/pull/9766 fixes your problem?

[2019-03-14 07:20] JasonGross opened #9767 "Timing diff scripts should support non-utf8"
#### Description of the problem

TimeFileMaker.py does not support files which emit non-utf-8 to stdout.  See [this job log](https://gitlab.com/coq/coq/-/jobs/176113494) and the conversation in https://github.com/coq/coq/pull/9752.  It would be nice for them to support this.  This requires using bytes/`rb` rather than `r`, etc.  I might do this on my own in about two weeks, though I'd love if some

[2019-03-14 07:24] JasonGross commented on #9767
@andres-erbsen or @samuelgruetter Can you point us at a particular file and commitish that prints non-utf-8 to the console, for inclusion in the test-suite, when I (or someone else) gets around to working on this?

[2019-03-14 07:28] ckeller opened #9768 "Dependencies in the Micromega pack are wrong"
#### Description of the problem

In the file plugins/micromega/micromega_plugin.mlpack , the dependencies are wrong: the module Mutils depends on the module Micromega but is placed before. This prevent users of this pack to use the module Mutils.

#### Coq Version

At least since Coq-8.8 (did not check for previous versions).

[2019-03-14 08:01] Zimmi48 commented on #9587
@vbgl I have just updated the channels of my systems. They are both on NixOS 18.09 while I'm installing CoqIDE from nixpkgs-unstable / our own pinned version of nixpkgs-unstable in `default.nix`, which apparently is the condition to reproduce the problem (a dependency version mismatch). Interestingly, I do not observe the segfault in one of the two systems (i3 session, with some tweaks https://git

[2019-03-14 08:23] ppedrot commented on #9759
Let's close as WONTFIX then.

[2019-03-14 08:23] #9759 closed

[2019-03-14 08:37] vbgl commented on #9587
I think you indeed need to add the dependencies. Caveat: all binaries will be wrapped. Is it good or not? I don’t know.

This particular problem should disappear when the nix package is split: the CoqIDE package only will get the gnome wrapping hook.

[2019-03-14 09:31] rgrinberg commented on #9760
Why C and not an OCaml executable?

Another issue could be is that the dune build might not use the pkg-config wrapper that is local to the project. But that is something that we can rectify in dune.

[2019-03-14 10:41] rgrinberg commented on #9747
I think I lack the qualifications to maintain the coq build system, but I'm quite happy to keep answering any questions regarding dune the coq might have.

I think the initial strain put the team is mostly due to the initial unfamiliarity with dune. Since dune isn't nearly as complicated as make (at least on the surface), this initial phase should hopefully pass. Most of the dune related PR's that

[2019-03-14 10:43] fakusb commented on #9761
@ppedrot Could you elaborate a bit more? To me, it is counter intuitive that the termination checker could accept an application of the return clause to the matched term 'in a vacuum' (in my example `(fun x0 => match x0 with .. end >= 0) x`), but that there would be a problem if this is used as a return clause in a match.

[2019-03-14 10:48] fakusb commented on #9705
#9766 fixes my problem, and works with both python2 and python3 and with redirecting the output to an file or stdout.

[2019-03-14 10:58] MSoegtropIMC commented on #9760
Well something which is one or two lines (except of headers ...) in C is probably more light weight if written in C.

Not in our setup. We anyway had the issue to force the build system to use the mingw pkg-config executable. We can use the same mechanism to force the build system to use our executable.

The mechanism is btw. that we have a folder bin_special which comes first in PATH and in which

[2019-03-14 11:32] ejgallego commented on #9760
Does configurator register the `pkg-config` wrapper as a dependency? Otherwise we may have indeed trouble building it.

[2019-03-14 12:13] rgrinberg commented on #9760
Configurator does not register any dependencies. However, the rule that invokes the configurator executable may do so.

[2019-03-14 12:24] Zimmi48 commented on #9747
The upcoming support for Coq in Dune is indeed going to make maintenance of the Coq build system lighter, especially as we gradually get rid of the legacy Makefiles, move step by step toward more standard flags, etc.

Anyway, creating a @coq/build-maintainers team is probably a good idea (as we are moving more and more our `CODEOWNERS` file to use maintainer teams). However, in the current situati

[2019-03-14 15:16] samuelgruetter commented on #9767
[Here](https://travis-ci.com/mit-plv/bedrock2/jobs/184001043#L1195)'s a log on Travis with some non-utf8 in the console. It's from commit https://github.com/mit-plv/bedrock2/commit/9b427dc4cea9731a7869eb7c68a1de95047dd7be, file [bedrock2/src/BytedumpTest.v](https://github.com/mit-plv/bedrock2/blob/9b427dc4cea9731a7869eb7c68a1de95047dd7be/bedrock2/src/BytedumpTest.v)

[2019-03-14 16:50] andres-erbsen commented on #9767
an alternative to updating the script would be up change bedrock2 build to not output binary to console. it would probably require changing the build organization (currently we just call coq makefile). fixing the script is probably preferred anyway.

[2019-03-14 17:18] #9749 closed

[2019-03-14 18:25] JasonGross commented on #9705
Great, thanks for testing!  (Btw, if you have a log file that the code previously failed on (the output of `make TIMED=1` or whatever), I'd be happy to add it to the test-suite if you upload it here or make a PR to add it.)

[2019-03-14 20:00] JasonGross commented on #3913
cc @ppedrot  I would very much like this as well.  For example, I want to define
[code]
And then be able to call it with a mix of strings and constrs.

[2019-03-14 21:18] RalfJung opened #9773 "Documentation missing for "change in""
#### Description of the problem

It turns out that `change Term in H` is a valid tactic invocation, but it is not documented at https://coq.inria.fr/refman/proof-engine/tactics.html#coq:tacn.change.

#### Coq Version

8.9.0

[2019-03-14 21:20] RalfJung commented on #9773
Hm, actually there is something about "in" in the next section in the docs, but I'd have assumed this to be mentioned in the part about `change` itself. The title "Performing computations" does not invite me to read that section when I am looking for "how to do something in the context".

[2019-03-14 22:26] Blaisorblade commented on #6865
Just run into the same issue.

And here's the OP's attachment in mobile-friendly form: https://gist.github.com/Blaisorblade/c147194d1874e113dbd9ecf35614d531.

[2019-03-15 09:48] DanGrayson commented on #8196
Perhaps this is the same problem:
[code]
If not, I can post it as a separate issue.

[2019-03-15 10:13] Zimmi48 commented on #9773
I don't get what you mean. `change ... in` is the last documented variant in the documentation of `change`. This is not in the next section "Performing computation" but in the section "Rewriting". I agree that the tactics chapter should be reorganized (see in particular point 1.2 in #8946: Consolidate the "Rewriting" and the "Performing computations" section in a single section on applying term tr

[2019-03-15 12:03] RalfJung commented on #9773
Indeed, you are right. I must have somehow entirely missed that *oops*

[2019-03-15 12:03] #9773 closed

[2019-03-15 15:18] SkySkimmer commented on #7929
So in the end it didn't make it in the sprop PR. It could still be done as a separate change, not sure if it's worth the added kernel complexity.

[2019-03-15 15:31] SkySkimmer opened #9778 "SProp and UIP"
Currently, `Inductive seq {A} a : A -> SProp := srefl : seq a a.` is squashed.
We could have a flag to allow it unsquashed, adding a computing UIP to the theory.

This requires making reduction depend on conversion, as `match foo : seq x y with srefl => bla end` should reduce to `bla` whenever `x` and `y` are convertible even if `foo` is blocked (as by proof irrelevance `foo == srefl`).
(specifica

[2019-03-15 15:32] SkySkimmer opened #9779 "VM/native conversion don't use proof irrelevance"
[code]

[2019-03-15 15:35] SkySkimmer opened #9780 "`set` tactic tests bad conversion problems, causing nonsense results with SProp"
[code]

[2019-03-15 15:41] SkySkimmer opened #9781 "coqchk and stdlib always allow sprop"
The stdlib is compiled with -allow-sprop (so that we get the foo_sind eliminators and users can do induction on nat to prove SProps).

Since the checker will check required libraries such as Coq.Init.Datatypes which contain such eliminators it also allows sprop.

Both behaviours should be configurable in some way (they're tied together so I'm making 1 issue for both). Maybe a configure option? I t

[2019-03-15 15:49] ppedrot commented on #9780
FTR this is not specific to SProp, this also prevents some optimizations of the conversion algorithm, like e.g. not converting parameters of constructors.

[2019-03-15 15:50] SkySkimmer commented on #9780
Is there also observable bad behaviour without sprop?

[2019-03-15 15:52] ppedrot commented on #9780
I guess that if you exploit the same setting as #5466 you can indeed observe it.

[2019-03-15 16:07] SkySkimmer opened #9782 "Improved treatment of non cumulative universes (sprop)"
Strictly speaking if we generate a universe variable `u` for a type we are not allowed to later decide that it's a strict proposition, as that would require `SProp <= u`. This is worked around by pretending SProp is cumulative during pretyping. If we could handle setting `u := SProp` maybe we could do something more principled.

This is related to being able to set `u := Prop` ie https://github.co

[2019-03-15 17:13] ejgallego commented on #9781
I think that should be fine w.r.t. Dune, Coq libraries should have flags; we will figure out how to manage it.

[2019-03-15 17:24] Zimmi48 commented on #9781
What is the issue with having this on? Only performance?

[2019-03-15 17:45] ejgallego commented on #9781
Once we move to Dune , it will be very easy vendor `cppo` or other preprocessors [including the upcoming one for `.mlx` ], so I say let's design something that will work.

[2019-03-15 19:32] SkySkimmer commented on #9781
What's mlx?

[2019-03-15 19:33] ejgallego commented on #9781
A ppx-based format for writing Coq extensions; I am tired of not having merlin on mlg.

[2019-03-15 22:12] moninjf commented on #9458
Further examples are provided in the following papers.

Cheers,

@Article{jfm-scp-96,
  author = 	 {J-F. Monin},
  title = 	 "{Exceptions considered harmless}",
  journal = 	 "{Science of Computer Programming}",
  ps = {http://www-verimag.imag.fr/~monin/Publis/Docs/scp96.ps},
  pdf = {http://www-verimag.imag.fr/~monin/Publis/Docs/scp96.pdf},
  abstract = {Program extraction is a well known techniq

[2019-03-15 22:26] lilred commented on #9012
I'd like to help with the LSP effort. Do you know of any relatively self-contained tasks that still need doing?

[2019-03-15 22:51] Zimmi48 commented on #9012
It would be helpful to have some feedback on the current status of the effort. In particular, I recently read in SerAPI's Gitter room + on Twitter that @ejgallego has a branch implementing a working LSP protocol for Coq. It would helpful to share this branch with the world, even if in a completely unpolished state and with many unmerged dependencies, so that people can evaluate the work that has s

[2019-03-16 10:40] mattam82 commented on #7929
It would be incorrect to have ‘pred n = n’, we should rather have ‘pred n = match n with 0 => assert false | S n => n` The match on NonZero is incorrect as you write it because NonZero is not a singleton whereas ‘NonZero n = match n with 0 => False | S n’ => S n’ = n` is fine (this is what the inversion yo put it in SProp would produce more or less). With a bit of dependent elimination at least `p

[2019-03-16 18:26] ejgallego commented on #9012
Hi folks, I will publish the branch soon, job interviews are keeping me too busy so sorry for the delay.

I'm afraid that until I finish the ongoing rework there is not a lot that can be parallelized, I am working on the base architecture [which is extremely tricky due to inter-process communication issues] and that indeed requires care. I won't publish the branch until I am not sure I am not goin

[2019-03-16 20:01] ejgallego commented on #9767
I am much afraid that I don't understand what is going on here, however we must get the `bedrock2` build fixed in the CI, please point us to what the right workaround is.

[2019-03-16 20:19] JasonGross commented on #9767
The right workaround for now is to redirect the output of `make ` to `/dev/null` for the bedrock2 ci, and cite this issue in a comment.

[2019-03-16 20:22] andres-erbsen commented on #9767
Actually, it should work just to grep out lines with high bytes...

[2019-03-16 20:31] andres-erbsen commented on #9767
`echo -ne 'ab\x80c\ndd\nas' | LANG=en_US.UTF-8 grep -a '^.*$'`
produces
`dd`
`as`

[2019-03-16 20:34] ejgallego commented on #9767
That seems pretty radical, if something else fails how are we going to debug it?

[2019-03-16 23:08] Lysxia opened #9788 "Documentation rebuilds from scratch after a failure"
When working on the documentation (e.g., refman) (which is slow to build), whenever an error occurs, the next time I run `make doc` (or `make refman-html`) somehow rebuilds everything from scratch, instead of only the files I touched. Is there a way to avoid this?

[2019-03-16 23:09] SkySkimmer commented on #9788
See https://github.com/sphinx-doc/sphinx/issues/6035

[2019-03-17 13:20] Zimmi48 commented on #9788
Yes this is a known problem of Sphinx. @cpitclaudel reported it upstream. Note that is the build fails because of fatal warnings, there are (documented) ways of making the warnings non fatal when building (see `doc/README.md`).

[2019-03-17 15:13] DanGrayson opened #9793 "cumulativity for records"
I wonder whether there is any possibility of getting this sort of cumulativity to work in the future.  I'm referring to the "Fail" command below, using Coq 8.9.0 or the latest on the master branch.
[code]

[2019-03-17 15:14] DanGrayson commented on #9793
@mattam82 -- this may be in your area of expertise.

[2019-03-17 17:34] SkySkimmer commented on #9793
Duplicate of https://github.com/coq/coq/issues/3353

[2019-03-17 17:34] #9793 closed

[2019-03-17 19:46] Zimmi48 commented on #6639
Not something we can do at the current time with GitLab CI.

[2019-03-17 19:46] #6639 closed

[2019-03-18 01:45] ejgallego commented on #9658
Plenty of failures https://gitlab.com/coq/coq/-/jobs/179101771 https://gitlab.com/coq/coq/-/jobs/179093502 https://gitlab.com/coq/coq/-/jobs/179053653 https://gitlab.com/coq/coq/-/jobs/179043712 https://gitlab.com/coq/coq/-/jobs/178917545

this is just on the first page of gitlab as of now; this misuse of resources is jeopardizing the whole CI infrastructure so I am much afraid that we cannot cont

[2019-03-18 07:20] maximedenes commented on #9658
@gares Any idea how we can debug this?

[2019-03-18 09:51] ppedrot commented on #9658
The universe errors are not surprising, I believe this is just the non-commutativity of the inference algorithm at work. I wouldn't have thought that this would happen in practice though. Some test failures are probably an instance of this as well. The SEGFAULT is much more concerning in my opinion.

[2019-03-18 11:59] #9788 closed

[2019-03-18 14:03] anton-trunov commented on #7348
This bug affects OCaml code extracted from a Coq development based on SSReflect. This happens e.g. if we compare elements of `finType` for equality.

[2019-03-18 14:05] anton-trunov commented on #7348
@Zimmi48 Would it make sense to add `ssreflect` tag here? (because SSReflect-style libraries have a lot of things like this one)

[2019-03-18 14:07] gares commented on #9658
No, I've no idea. But some of the links are about the `-quick` pass, that has nothing to do with the one doing `coqc -async-proofs on`. What are we talking about here?

The segfault: could it be a stack overflow?

[2019-03-18 14:07] dranov commented on #7348
Here is an example of what @anton-trunov mentioned:

[code]

The extraction includes:

[code]

... which is actually executed when `all` is called.

[2019-03-18 15:08] Zimmi48 commented on #7348
Sure.

[2019-03-18 16:47] anton-trunov opened #9798 "Missing warning message for move=> {u}/id u"
#### Description of the problem

Please consider the following script:

[code]

As noted by @ggonthier [here](https://github.com/coq/coq/pull/9341#issuecomment-473987927), this script should fail:

#### Coq Version

Coq 8.10+alpha (5ea4369bd4604b61ccc669f136827299920fb635)

[2019-03-19 05:22] xxchan opened #9799 "coqide can't open"
When I update to 8.9 (in Windows 10), CoqIDE can't open. Even if I uninstall and install again, it doesn't work.

Error message is:

Connection with coqtop failed!
Command was: ""C:\Coq\bin\coqidetop.opt.exe" -batch "
Answer was: While loading initial state:
  Warning: Cannot open C:\Coq\lib/theories [cannot-open-path,filesystem]
  While loading initial state:
  Warning: Cannot open C:\Coq\lib/plu

[2019-03-19 08:24] xxchan commented on #9799
Then I tried Coq 8.8.2, and it worked normally, but when I installed 8.9.0 again, it failed again

[2019-03-19 13:33] beta-ziliani opened #9802 "Notation not printing when using a binder"
#### Description of the problem

The bug reported in #9662 is related; the issue has to do with having a λ-abstraction in the definition of the notation.

As a simple example, the following notation works as expected:

[code]

However, once we enclose a term under a λ, it stops working:
[code]

#### Coq Version

The bug seems to be old, lately spotted in current master (9ac5483132b42e845a070849184

[2019-03-19 14:47] #7055 closed

[2019-03-19 17:25] TDiazT opened #9806 "Anomaly File "printing/ppconstr.ml" on wf definition"
#### Description of the problem

I defined a wf recursive function using Equations 1.2 and repeated two cases mistakenly, which resulted in an error msg:
[code]

The code (simplified a little bit) is the following:

[code]

(Also reported in the [equations repo](https://github.com/mattam82/Coq-Equations/issues/188))

#### Coq Version

The Coq Proof Assistant, version 8.8.1 (February 2019)
compiled

[2019-03-20 01:04] #9768 closed

[2019-03-20 01:12] ejgallego commented on #6130
This seems fixed in `master`, likely by some toplevel cleanup.

[2019-03-20 01:12] #6130 closed

[2019-03-20 01:55] #8366 closed

[2019-03-20 14:29] kyoDralliam opened #9809 "Anomaly : "not an arity""
#### Description of the problem
Trying to define the (not-well typed) function `fib0` below  raise an `Error: Anomaly "Not an arity." Please report at http://coq.inria.fr/bugs/.`. If `Program Definition` is used instead of `Definition` the type error is correctly reported. Inlining the parameters `gen_op` and `gen_ty` of `FreeF` also remove the error.

[code]

#### Coq Version
Version 8.8.2 and ma

[2019-03-20 16:36] herbelin commented on #9682
@Janno (short answer):

There is an underlying design choice issue (and a change since 8.9).

Should a notation (in the sense of a string such as `"##"` or `"|  p1  |  ..  |  pn"`):
- come with a data telling if it is only printing, only parsing, or both, making it impossible to be used with a different interpretation or different levels in parsing and printing (this was the view up to 8.8 which m

[2019-03-21 06:24] JasonGross opened #9810 "Uncaught exception: Sys_error("gramlib/.pack: No such file or directory")"
#### Description of the problem

https://launchpadlibrarian.net/415938028/buildlog_ubuntu-bionic-amd64.coq_8.master~git~201903210218+20216-0~daily319-4a547c6~ubuntu18.04.1_BUILDING.txt.gz

[code]
#### Coq Version

8.10+alpha / master / 4a547c6

[2019-03-21 06:25] JasonGross commented on #9810
Also
[code]

[2019-03-21 07:32] #9393 closed

[2019-03-21 07:32] #9704 closed

[2019-03-21 12:24] gares opened #9812 "CoqIDE on gtk3 has wrong defaults for selection BG"
In a standard gnome system (no color customization) and after wiping out the old coqide config file,
text selection has a transparent background an white text. As a result you don't see the text you are selecting. I've no idea what CoqIDE does wrong, but on gtk2 it was not the case

[2019-03-21 12:59] ppedrot commented on #9812
It seems you can tweak the `coq_style.xml` file to override these settings, but I don't know how to do this in a way that is consistent with the dynamic foreground color of the editor. The relevant stanzas to add to the style file are
[code]

[2019-03-21 17:54] ejgallego commented on #9812
Indeed I saw that but I thought it was an effect of my highly non standard gtk color scheme [I have some problem with apps from time to time]

[2019-03-21 17:56] ejgallego commented on #9806
Please provide a full reproducible case.

[2019-03-21 18:02] ejgallego commented on #9799
Can you try with `master`? [There should be binaries somewhere]

[2019-03-21 18:10] ejgallego commented on #9727
Upstream bug in Dune is https://github.com/ocaml/dune/issues/108

[2019-03-21 18:10] #9727 closed

[2019-03-21 19:21] andres-erbsen opened #9813 "feature request: allow assigning Set to a global universe variable"
#### Description of the problem

[code]

It would be nice if this worked, so that libraries that use global universe variables for definitions that could also have been written as universe-polymorphic can be used with standard library types that live in `Set`. (maybe the use of global universe variables is by accident, for performance reasons (e.g. #9507), or as a workaround for undesired behavior

[2019-03-21 22:06] Zimmi48 commented on #9799
Windows binaries for the master branch are super hard to find if you don't give a pointer (the link is documented nowhere, for reasons).

https://gitlab.com/coq/coq/-/jobs/artifacts/master/file/artifacts/coq-8.10+alpha-installer-windows-x86_64.exe?job=windows64
and
https://gitlab.com/coq/coq/-/jobs/artifacts/master/file/artifacts/coq-8.10+alpha-installer-windows-i686.exe?job=windows32

@ejgallego

[2019-03-21 22:22] samuelgruetter opened #9814 "`Set Printing Projections` should not print implicit arguments"
[code]

[code]

[code]

prints, as desired:

[code]

But:

[code]

Bug: this prints the implicit argument `int`:

[code]

Desired output:

[code]

Coq Version: 8.9.0

[2019-03-21 22:54] ejgallego commented on #9799
Yes I do; there have been a large amount of changes around that area, so I'd be good to test.

[2019-03-22 00:38] xxchan commented on #9799
@ejgallego I tried the version @Zimmi48 provided, and the same error occured again.

[2019-03-22 08:58] #9598 closed

[2019-03-22 09:23] Zimmi48 opened #9816 "Support `apply in *` and `apply in H1, H2`."
#### Description of the problem

It is quite annoying that the `apply in *` and `apply in H1, H2` syntax are not supported while the same syntax is supported for `rewrite`, `unfold`, etc.

#### Coq Version

8.9.0

[2019-03-22 14:11] Zimmi48 commented on #9587
I thought the addition of this line in `default.nix` would fix the issue for the Coq Nix package that we build from master, but it seems that it is not the case.

https://github.com/coq/coq/blob/1d68c24736b4cf68ac0c2f70122e3f3d28f0e876/default.nix#L50

[2019-03-22 14:12] vbgl commented on #9587
May you show a backtrace?

[2019-03-22 14:30] Zimmi48 commented on #9587
The `-debug` flag does not show anything: the "Segmentation fault" message is the first thing that happens after launching CoqIDE.

[2019-03-22 14:34] vbgl commented on #9587
I was thinking of using `gdb` or the like. Notice that since the CoqIDE binary is wrapped, you may have to run the wrapper manually before running the naked binary from your debugger.

[2019-03-22 19:06] JasonGross opened #9817 "Please add open_constr_wTC"
#### Description of the problem

See https://github.com/mit-plv/coqutil/commit/a7943e93797dafd6078c441fab565be9ddd4c900#r32879439 for motivation.  This would just involve forward-porting https://github.com/coq/coq/commit/8b7850fc26af8f2a9faab5ee199f900a37dc69a3 from 8.4.

(I don't know why #3774 was closed; it seems without justification.)  See also https://github.com/coq/coq/pull/637#issuecomment

[2019-03-23 04:47] jfehrle opened #9818 ""make sphinx" fails on Windows upon starting coqtop"
#### Description of the problem

`make sphinx` fails on Windows with the message from Python/expect `Cannot find a physical path bound to logical path matching suffix\r\r\n<> and prefix Coq.\r\r\n\r\r\n` upon the first invocation of coqtop.

Removing the COQLIB on this line in Makefile.doc fixes the problem on Windows.

[code]

Here's what you get running coqtop with COQLIB set by hand:
[code]

##

[2019-03-23 04:59] JasonGross opened #9820 "`make install` should not install CoqIDE when `-coqide no` is passed"
#### Description of the problem

`make install` creates `usr/bin/coqidetop`, `usr/bin/coqidetop.opt`, and `usr/share/man/man1/coqide.1`; see https://launchpadlibrarian.net/416209050/buildlog_ubuntu-trusty-amd64.coq_8.master~git~201903230419+20221-0~daily321-1d68c24~ubuntu14.04.1_BUILDING.txt.gz

This is wrong, and means I need to kludge the Debian packaging to manually remove these files.

This bu

[2019-03-23 09:04] gares commented on #9816
The LHS of the rewrite rule can occur in many places. Not so sure about the premise of a lemma. Which use case do you have in mind?

[2019-03-23 11:43] Zimmi48 commented on #9816
Simply not having to repeat a line when you do have several premises on which you want to apply uniformly a given lemma. And having a consistent syntax. I did hit this problem several times in the process of preparing the Coq project for my students this year, and I also had a student ask me exactly how to do this yesterday during a practice session, so that's what prompted me to record the enhanc

[2019-03-23 12:25] Zimmi48 opened #9821 "`rewrite ... in` and reduction tactics don't support `as` clause."
`apply ... in` supports an `as` close, which is very convenient when one wants to derive something new without losing the current hypothesis. It would be helpful to also support this `as` clause for the `rewrite ... in` tactic and the various reduction tactics as well.

Note that in the meantime, the obvious work around is to first copy the hypothesis with `pose proof ... as` before calling `rewri

[2019-03-23 12:33] Zimmi48 commented on #9818
Interesting. I'm wondering if it could have any relation to #9799. Did you check if this bug was already present in V8.9.0?

[2019-03-23 13:38] ejgallego commented on #9818
I think the culprit look legit, quoting in make this way doesn't work for windows I think. Does `make -f Makefile.dune refman-html` does work?

[2019-03-23 19:44] jfehrle commented on #9818
The problem is that coqtop expects the path in windows format, not in cygwin format:

[code]

Using / anywhere in the Windows path causes a failure, e.g. `COQLIB=C:\Users\Jim.DESKTOP-MMPNVGH\Documents\coqSource/coq` will cause a failure.  That's seems likely related to the problem in #9799.  Seems like we should have code that will convert such filenames into the right format as this seems like so

[2019-03-23 20:10] gares commented on #9816
I m curious since it never happened to me. Can I see the exercise?

[2019-03-23 20:34] jfehrle commented on #9799
@xchan CoqIDE will start if you remove COQLIB from your environment variables.  CoqIDE is not constructing the paths correctly.  In your output above, the `/` in `C:\Coq\lib/theories` is incorrect; it should be a `\`.

[2019-03-23 20:45] jfehrle commented on #9799
This is a regression.  8.8.2 64 bit works with a variety of COQLIB values, e.g.

[code]

[2019-03-23 20:49] SkySkimmer commented on #9799
I think COQLIB was just not considered by coq pre 8.9

Gaëtan Gilbert

On 23/03/2019 21:45, Jim Fehrle wrote:

[2019-03-23 21:02] gares commented on #9799
Question is, who sets COQLIB?

[2019-03-23 21:04] jfehrle commented on #9799
That appears to be the case since CoqIDE also comes up if COQLIB is "garbage".

[2019-03-24 10:30] brendanzab commented on #9012
Just cross-linking the discussion here, which might be of interest: https://github.com/siegebell/vscoq/issues/167

I'd recommend posting public branches in general @ejgallego - sometimes people can give you advice that actually speeds stuff up! In saying that, I know it can be hard to do if you've been working on something for a while and it's still unfinished and unpolished. Anyway, good luck wit

[2019-03-24 15:33] ejgallego commented on #9012
Thanks @brendanzab ; the branch is almost ready; indeed I am a fan of publishing branches early, however LSP + Coq is something many people has been looking forward to, so publishing unstable stuff may also make them lose a lot of time, in particular when the code is going to be fully rewritten.

Anyways that's a thing of the past, as the branch should appear very very soon [once I do a bit more o

[2019-03-24 16:48] Zimmi48 commented on #9816
I didn't look precisely at what the student was doing when he asked the question. However, I can extract two examples from my solution to the project (but I'd rather not show the solution in full :wink:).

My context contains:
[code]

and I'm doing the following:

[code]

Later, another example has the following in the context:

[code]

and I'm doing the following:

[code]

which gives me:

[code]

[2019-03-24 16:59] Zimmi48 commented on #9012
Thanks for the link @brendanzab! There is also an interesting discussion on Coq + esy in this thread.

[2019-03-25 04:38] jfehrle commented on #9799
Should I read that as a neutral question or perhaps "who in their right mind sets COQLIB"?

If it's a useful feature, we should fix it promptly.  I think in 8.10.  It's an easy fix.  I can do it.

If you're aware of any other paths that may have the same issue, please let me know.

[2019-03-25 07:39] gares commented on #9816
Thanks

[2019-03-25 07:41] Zimmi48 commented on #9799
That even sounds like something that should be backported.

[2019-03-25 07:42] gares commented on #9799
Maybe I misunderstood. Honouring the value of Coqlib seems useful to me. But it must be correctly set. So my question is: how is that we end up with a wrong value? Which scenario? It is not the installer that sets it, right?

[2019-03-25 08:00] Zimmi48 commented on #9799
That's a question that I'm also interested in knowing the answer to. Especially as the OP did not confirm yet that unsetting this variable did actually solve their problem.

But note that "wrong value" is a bit strong in that case. There are plenty of Windows tools that support paths mixing `/` and `\` and it would be good if it was the case of Coq tools as well.

[2019-03-25 08:39] jfehrle commented on #9799
When I compile `master` with a simple `make` rather than the windows .bat file used by the official build, `coqtop` uses `\` to add to the path, which works fine if I pass it a Windows style pathname.

When I compile `remote/upstream/V8.9` the same way (which AFAIK should have source for the released version of 8.9), it uses '/' to add to the path.  I don't see how this for Windows.

When I run th

[2019-03-25 09:00] jfehrle commented on #9799
No.  I do the install outside of cygwin.  I have no Windows environment COQLIB variable set.  Nor does my Cygwin start up with such a value.  So it would seem the user set this.

We would also need to translate "/cygdrive/c/..." to "C:\..." (simple) and for "/foo" we need to insert the Windows format home directory of Cygwin as a prefix (probably also simple by running `cygpath -w XXX` and catchin

[2019-03-25 09:00] MSoegtropIMC commented on #9799
Since these are MinGW applications they cannot handle cygwin paths, so if you say
[code]
in cygwin it cannot possibly work. This should work
[code]
In your case it doesn't work because the provided path is wrong. If I ask coqtop for the correct path I get:
[code]
So I guess it will work for you if you append lib/coq to your path. Btw.: the coq library path changed some time back (around 8.7 or so)

[2019-03-25 09:05] MSoegtropIMC commented on #9799
Refering to the original error report: I would expect that it does work if you simply remove all definitions of COQLIB from your system. I use 8.9 regularly and it definitely does work. The Windows installer is made such that the library path is derived from the executable path. You can install any number of Coq installations in parallel and each will find its proper library. But obviously this ca

[2019-03-25 09:14] MSoegtropIMC commented on #9799
P.S.: I just did a test and renamed the installation folder of an 8.9 installation. The effect is that coqtop -where returns the modified path. This shows that the library path is indeed derived from the path of the executable. I made sure to call coqtop from somewhere else to ensure that it has nothing to do with the current path.
So in summary, please don't define COQLIB, and if you think you mu

[2019-03-25 09:22] jfehrle commented on #9799
[code]
I see you're getting back a path with a mix of `\` and `/`.

I get something different:

local build of 8.9:
[code]

official build of 8.9:

[code]

Also, I can't use backslashes and `C:` in the command line the way you did.  Maybe you're not using `bash`?

[code]

[2019-03-25 09:32] MSoegtropIMC commented on #9799
@jfehrle :
[code]
Are you sure you don't have COQLIB defined to this path? I don't see how coqtop of the official installer could possibly return something not ending in lib/coq unless COQLIB is defined.

No this was all from a Windows command prompt. If you use a posix system, backslashes must be escaped. And if you supply any path to a MinGW coqtop from cygwin, you must make sure that they are i

[2019-03-25 10:00] jfehrle commented on #9799
Yeah, my bad.  Clearing COQLIB I get paths ending in `lib/coq`.

[code]

Also I can start the 8.9 release verison of CoqIDE now.  Not sure how the OP got the error:

[code]

[2019-03-25 10:26] MSoegtropIMC commented on #9799
@jfehrle :

There is (or should be) no need to define COQLIB in order to run coqide or coqtop from the official Windows installer. My recommended practice is to not define it. I cannot imagine a situation where this would do any good except if you want to experiment with different variants of the library.

@xxchan : can you please confirm that it works if you clear all definitions of COQLIB (in th

[2019-03-25 10:33] SkySkimmer commented on #9781
It's not about performance (https://ci.inria.fr/coq/view/benchmarking/job/benchmark-part-of-the-branch/664/console shows no difference from setting allow-sprop on by default), it's for people who don't want to check that their axioms are sprop-compatible, or who fear critical bugs in sprop, or similar concerns

[2019-03-25 11:12] xxchan commented on #9799
@MSoegtropIMC : Oh, I can start coqide now after I deleted COQLIB in the environment and installed 8.9

[2019-03-25 11:28] MSoegtropIMC commented on #9799
@xxchan : thanks for confirming. I will close the issue then.

[2019-03-25 11:28] #9799 closed

[2019-03-25 14:22] gares commented on #9799
We may still provide a better error message (that includes how Coq decided to look for the library in a place where it can't find it...).

BTW @xxchan can you tell us how you ended up setting COQLIB? Did you follow a tutorial somewhere? Was it suggested by another error message?

[2019-03-25 14:54] MSoegtropIMC commented on #9799
Yes, indicating the possible sources for COQLIB and which one was picked in case this fails would make sense.

Another / additional option might be to give a warning in the installer if COQLIB is set.

Problems with this have been fairly rare so far. As far as I know this behavior didn't change since I made the scripts.

@SkySkimmer : you wrote above that Coq prior 8.9 possibly ignored COQLIB. Was

[2019-03-25 15:06] xxchan commented on #9799
@gares : I did nothing other than simply remove COQLIB from the environment variables... I compiled my earlier project and didn't find anything wrong till now.

[2019-03-25 15:09] SkySkimmer commented on #9799
See 200fbd0cec4709bd1fb5f7a32e1c40270e343b5a

Gaëtan Gilbert

On 25/03/2019 15:54, MSoegtropIMC wrote:

[2019-03-25 15:40] vbgl commented on #8320
Is somebody working on this?

[2019-03-25 15:45] gares commented on #8320
I'm not, please deprecate it if you have the time

[2019-03-25 15:47] MSoegtropIMC commented on #9799
@SkySkimmer : thanks, interesting!

Since honoring COQLIB is a new feature in 8.9, I think it is worth discussing to have a configure option to ignore it. As I said, with the executables in the Windows installer it hardly ever makes sense to use the value from COQLIB.

[2019-03-25 15:50] MSoegtropIMC commented on #9799
@xxchan : what @gares (and me) wanted to know is how it happened that COQLIB is set on your system. The installer doesn't set it. So I would think you have set it manually. The question is: why did you set it manually? Is there some tutorial suggesting to do this? If yo, could you point us to it, so that we can have it fixed?

[2019-03-25 15:52] vbgl commented on #9763
Georges, by any chance, do you have a hint for us to understand how the `exist` constructor of the Σ type is inferred (in the non-primitive case)? Thanks.

Ping @ggonthier.

[2019-03-25 16:00] Zimmi48 commented on #9799
Disabling the feature at configure time looks a bit strong, especially as the user is not normally supposed to set this environment variable, so if they do (provided that it's not a tutorial that tells them to do it), then they are supposed to know why they do it.

[2019-03-25 16:17] ggonthier commented on #9763
The return type of the anonymous destructuring `let` in `inlined_sub_rect` will be specialised to `K (@exist _ _ x Px)` in the `in` branch, and exported as the conclusion of `K_S`. Thus matching the inferred and expected type of `inlined_sub_rect` will fix `?Sub := @exists _ _`.

[2019-03-25 16:26] MSoegtropIMC commented on #9799
I don't think that many users who have a reason to set COQLIB (for other reasons than just pointing Coq to the one and only correct coq library, which is not required on Windows) work with the Windows binaries, but for sure we can wait how this develops before we take any action.

[2019-03-25 16:30] SkySkimmer commented on #9799
In envars https://github.com/vbgl/coq/blob/11d1c70ce0747d03c849df1362119d4ccaccb443/lib/envars.ml#L97-L106 we verify that the coq_config.coqlib does contain the prelude.vo. We could do the same for COQLIB, so that if it's set to something invalid we use coq_config and warn.
ie
- unset COQLIB -> current behaviour
- valid COQLIB -> use it
- invalid COQLIB -> as unset COQLIB, except warn with "invali

[2019-03-25 16:33] xxchan commented on #9799
@MSoegtropIMC : Oh, sorry...
In my memory I didn't set it manually...
But I just tried to search and found some tutorials about "Coq + ProofGeneral + GNU Emacs + Windows" online, which exactly mentioned set COQLIB.
Although I did't use ProofGeneral, I think it is possible that at the very beginning when I didn't compile coq correctly, I saw these tutorials and randomly setted COQLIB, but I'm not v

[2019-03-25 17:32] MSoegtropIMC commented on #9799
It is still a bit dangerous. COQLIB might point to a path which is valid in the sense that Prelude.vo exists, but it might be from a different version of Coq. I guess one would get some interesting error messages then as well. From CoqIDE such error messages might not be visible.

Can we discuss what the valid use cases for setting COQLIB are in the Windows installer environment? If there really i

[2019-03-25 17:46] Zimmi48 commented on #9799
I don't see this improving the situation: if tutorials tell people to set `COQLIB`, they could tell people to set `COQLIB_WHATEVER` just as well.

[2019-03-25 17:52] MSoegtropIMC commented on #9799
Well people might remember it better then ;-)

But jokes aside: can someone tell me why one would like to set COQLIB to something else? Since the library version must match the Coq version exactly there is very little room for experimenting. If someone really absolutely needs a different COQLIB for some interesting experiments, (s)he can still pass it as command line argument (this also works with

[2019-03-25 18:33] jfehrle commented on #9799
I think @SkySkimmer has the right idea.  There should be a more specific check that COQLIB is valid and an associated error message that says "COQLIB is invalid" and maybe also "... and typically should not be set".  And make sure that message is visible in CoqIDE.

I noticed a couple details that are worth cleaning up at some point:

1. Coq is inconsistent in several places on the use of `/` and

[2019-03-25 18:44] SkySkimmer commented on #9799
How can it work if it's invalid?

[2019-03-25 18:47] ejgallego commented on #9799
It does not.

I thought I had fixed almost all that cases tho.

[2019-03-25 19:38] jfehrle commented on #9799
It worked in my experiments because I explicitly replaced the `/` with `\`.

[2019-03-25 19:41] ejgallego commented on #9799
Can you try this diff?
[code]

[2019-03-25 20:32] jfehrle commented on #9799
I was just experimenting with that but surprisingly it is not needed for a local build.  The local build on master always correctly uses `/` when appending to the path even without the change.  And the `-where` shows what it should.

I finally installed the 8.10-alpha from CI that @Zimmi48 referenced.  With COQLIB unset, the `-where` incorrectly includes '/'.  Would be nice to understand what's di

[2019-03-25 20:34] SkySkimmer commented on #9799
The logic when it finds a local coqlib is different, see guess_coqlib.

[2019-03-25 20:57] jfehrle commented on #9799
Commenting out the `not Coq_config.local` in guess_coqlib makes no difference.

Also looks like Sys.file_exists is agnostic on the separator, so `let prelude = "theories/Init/Prelude.vo"` is OK:

[code]

[2019-03-25 21:04] ejgallego commented on #9799
@jfehrle the problem only shows on absolute paths, @MSoegtropIMC described it accurately IMO.

[2019-03-25 21:41] jfehrle commented on #9799
I don't understand.  Which problem?  My most recent example that shows a problem when COQLIB is unset.  (And BTW almost all my experiments have used absolute paths.)

[2019-03-25 23:00] MSoegtropIMC commented on #9799
@jfehrle

As I already explained this is a perfectly valid Windows path. Every version of Windows since NT 3.5 understands such paths natively in the API. Try e.g. at a CMD prompt:

[code]

What of cause doesn't work is using \ in bash - I guess this is more likely your problem if you feel you have to fiddle around with the paths.

[2019-03-26 01:51] jfehrle commented on #9799
I wasn't aware Windows had started to allow forward slashes, but they aren't always accepted when backslashes are.  They must be quoted:

[code]

[2019-03-26 03:37] samuelgruetter opened #9832 "btauto performance"
#### Summary

It would be nice if `btauto` was faster.

#### Coq Version

8.9.0

#### Details

While working on a tactic to prove bit fiddling lemmas about encoding RISC-V instructions, I ran into a goal of the following form:

[code]

On this goal, `btauto` takes forever (I interrupted it after 4min, which is way too long for my needs).

Each `b` is a more complex expression, and it would be usef

[2019-03-26 08:47] MSoegtropIMC commented on #9799
as far as I know it has always been like this, even in DOS. Definitely all Windows NT derivatives support / as path separator (that is NT 3.5, NT 3.51, NT 4.0, XP, ...). The problem is more that / is treated specially in command line parsing by CMD. There is a DOS CMD config option "SWITCHAR=" which allows to change the switch character from / to -, but it was never required to enable / as path se

[2019-03-26 09:24] #8320 closed

[2019-03-26 17:51] ejgallego commented on #1225
@ppedrot @ggonthier is that fixed then ?

[2019-03-26 17:53] jfehrle commented on #9818
Correction: As @MSoegtropIMC points out in https://github.com/coq/coq/issues/9799, Windows does accept `/` in pathnames, though in the DOS shell, they typically must be quoted.  Windows certainly doesn't know how to handle `/cygdrive/c/`.

[2019-03-26 18:16] ggonthier commented on #1225
From what I gather, not really: the draft PR replaces the hidden bound variable type information with hidden inductive parameter information. There is a natural place to display these, however, in the `in` clause where now `_` are mandated; that seems to be a reasonable change to term syntax.
   I would like to mention that this is not the fix I had in mind when I raised this issue. I expected thi

[2019-03-26 18:31] ejgallego commented on #1225
That's the link to the draft PR sorry for the omission https://github.com/coq/coq/pull/9710

[2019-03-26 19:53] #9663 closed

[2019-03-27 12:23] Lysxia opened #9839 "Add a stricter version of "From _ Require _""
#### Description of the problem

`From x Require y.` looks for modules `x.x'.y` (i.e., it tries to guess some (possibly empty) `x'`), which is ambiguous if library `x` has multiple modules with the suffix `y` (e.g., `x.y` and `x.z.y`).

It would be nice if there were a `From`-like command which didn't implicitly try to add bits to the logical path of a module, but which still allows importing mult

[2019-03-27 13:34] Zimmi48 opened #9840 "Printing part of numeral notation does not work in all cases."
#### Description of the problem

While in the following case, the printing part of numeral notations works fine:

[code]

in these variations, it does not:

[code]

[code]

[code]

[code]

Found by @roglo while trying to use numeral notations for his rational numbers.

cc @JasonGross

#### Coq Version

8.9.0

[2019-03-27 13:41] #9818 closed

[2019-03-27 13:57] Zimmi48 commented on #9839
You mean you just want a shortcut for `Require Import Foo.Bar Foo.Baz Foo.Bay`? Isn't it mostly an issue of library developers not misnaming their modules?

[2019-03-27 13:57] Zimmi48 commented on #9839
We could at least emit a warning about the ambiguous path indeed.

[2019-03-27 14:00] ejgallego commented on #9839
This will realistically happen only after we do the coqdep refactoring which is scheduled for the after-dune merge. See also #9080

[2019-03-27 14:08] ejgallego commented on #9839
The mess is unfortunately a bit harder than that @Zimmi48 ; I will open an issue that should discuss libraries and imports soon; but maybe the default in Dune will be what @Lysxia proposes, so coqdep doesn't have to trash the filesystem to compute deps.

[2019-03-27 15:20] Lysxia commented on #9839
That's exactly right. I think that once you have `From _ Require _.` that's not too much of a stretch to expect there to be a stricter version. I guess I can also live with the repetition (which can certainly be found in other languages) so just adding a warning would be an adequate fix.

[2019-03-27 15:24] ejgallego commented on #9839
My proposal is to add a flag to coqdep so this is the default.

Some version of the Dune Coq format will force this flag, making it thus the default [a flag could set it to the previous behavior]

[2019-03-27 15:56] JasonGross commented on #9840
Numeral Notations only print ground terms; this is in some sense a feature, because we don't want to spend a lot of time fully normalizing fixpoints when reduction is blocked.

The failure with eq_refl is probably a missing case in the conversion to/from glob_constr.  I'm guessing it's a missing case for inductive type families, and it's probably safe to add such a case.

[2019-03-27 16:06] corwin-of-amber opened #9843 "Regression in tagging of identifiers for pretty-printed output"
#### Description of the problem

In Coq 8.8, references to global constants were tagged (and colored) differently from occurrence of variables. In Coq 8.9, they are both tagged as `constr.reference`, which makes for a somewhat uglier appearance.

This affects the REPL, Proof General, and jsCoq.

Coq 8.8
<img width="226" alt="coq8 8" src="https://user-images.githubusercontent.com/704372/55092257-e9

[2019-03-27 16:14] roglo commented on #9840
The case eq_refl is indeed the one I need. My rationals contain a proof that num and den are coprimes, that is a proof of equality between two nats (gcd n d = 1).

[2019-03-27 16:26] ejgallego commented on #9843
This is due to https://github.com/coq/coq/pull/7797

I am not sure how easy would it be to fix it, in fact the tag is currently unused on master.

See https://github.com/coq/coq/pull/7797/files#diff-6166907cf8fda81187632f1fb78e64ae

I am not sure how hard would this to fix, unfortunately when printing happens [at the AST level], it seems too late to know what the qualid was referring to [this is o

[2019-03-27 16:34] JasonGross commented on #9840
I don't know the relevant bits of the API (and don't have time to dig into it right now), but I believe if you add a case for inductive type families to
https://github.com/coq/coq/blob/738521ca3acb0f5b87cb1d23360350ed69f18cd1/interp/notation.ml#L645-L655
then the printing should work.

[2019-03-27 16:48] JasonGross commented on #9840
Okay, I think I actually found the issue this time.  I think a case for `Ind` should be added to
https://github.com/coq/coq/blob/738521ca3acb0f5b87cb1d23360350ed69f18cd1/interp/notation.ml#L633-L643

I don't have time right now you figure out what the right line to add is, but I imagine anyone familiar with constr and glob_constr should not have much trouble adding the correct line.

[2019-03-27 17:07] roglo commented on #9840
Seems to resolve the case when the type is 0=0 as for Theo's example, but not mine : my type is, roughly (n, d, Nat.gcd n d = 1).

[2019-03-27 17:20] JasonGross commented on #9840
I think this is part of the feature: we don't try to print things that are not ground.  Try either using `1 = Nat.gcd n d` or else explicitly fill the term with `eq_refl nat 1`.

[2019-03-27 17:22] JasonGross commented on #9840
Note: we should also document this in the section on numeral notations, because it is at least a little subtle.

[2019-03-27 17:23] JasonGross opened #9844 "Conditions of numeral notation printing support should be documented"
See discussion starting at https://github.com/coq/coq/issues/9840#issuecomment-477248872

Roughly the condition is "printing only works for ground terms" but what exactly "ground" means is subtle (currently it means "made only of app, construct, and GInt, but this might change to admit Ind and Sort).

[2019-03-27 17:39] Matafou opened #9845 "unimath vs UniMath makes create-overlay.sh fail"
#### Description of the problem

Reproduce by doing this:
[code]
After compilation (takes a while) the script fails because the directory created is `_build_ci/UniMath` instead of `_build_ci/unimath`.

Solution: either have the name of an "external projects" always match its git name, or make the infrastructure able to compute the name of the directory.

The problem comes from:
[this file](https:/

[2019-03-27 18:46] ejgallego commented on #9845
We are indeed doing this:

we have fixed quite a few but not UniMath, please submit a PR.

[2019-03-27 18:57] roglo commented on #9840
Changing my (Nat.gcd x y = 1) into (1 = Nat.gcd x y) in my definition, I get now

Error: Unexpected term
match
  PQ.PQred_gcd {| PQ.PQnum1 := 4; PQ.PQden1 := 0 |} in (_ = H) return (H = 1)
with
| eq_refl => eq_refl
end while parsing a numeral notation.

[2019-03-27 19:37] JasonGross commented on #9840
Yeah, you need to make sure your parsing function is fully transparent.  There's a trick for making proofs of equalities that are decidable transparent: write a transparent decider (I think `decide equality ` and `Scheme Equality ` give you something that is fully transparent in most cases), and then use the given proof of equality (which can be opaque) to do False-elimination only when the equali

[2019-03-27 19:54] roglo commented on #9840
Too complicated for me. Trying to change "Qed" into "Defined" in PQred_gcd, I now get a lot of insults starting with "Error: Unexpected term...". And, I am sorry, your explanations are just Coq jargon for me. Theo and Hugo try to explain me too, it is exactly if they spoke greek to me.

[2019-03-27 20:14] samuelgruetter commented on #9814
If `Set Printing Projections.` is on, this bug makes goals in bedrock2 so unreadable that it's not worth using `Set Printing Projections.`, so even though https://github.com/coq/coq/issues/6257 has been fixed, we still can't use `Set Printing Projections.`. Not the biggest problem but a bit unfortunate :wink:

[2019-03-27 20:19] roglo commented on #9840
What does "False-elimination" mean?

[2019-03-27 20:32] SkySkimmer commented on #9840
The idea is to only block on potentially opaque values when you're in some absurd branch (in which case a standard way to fill the branch is to prove False and eliminate the proof).
ie consider this example
[code]

[2019-03-27 20:42] SkySkimmer commented on #9814
This would mean we have to use the projection compatibility constants when the projection's principal argument is implicit. Considering we want to move away from the compatibility constants, I'd like to avoid adding a behaviour that relies on them.
OTOH I don't know how else we could get you nice goal printing. What would this even look like in a Coq without the compatibility layer?
I guess you co

[2019-03-27 21:01] JasonGross commented on #9840
@roglo Here is the definition I was suggesting:
[code]

[2019-03-27 21:08] JasonGross commented on #9840
If you make sure to apply `transparentify_nat_eq` to the equality proof of `1 = Nat.gcd x y` before inserting it into your record when canonicalizing your rationals, then they should parse (and print) fine.

[2019-03-27 21:09] JasonGross commented on #9840
And sorry about this.  I have learned to think in Coq, so I sometimes struggle a bit when trying to translate my thoughts into comprehensible speech.

[2019-03-27 21:21] liyishuai opened #9846 "_CoqProject: -R breaks compilation"
#### Description of the problem

In herbelin/reduction-effects#2, I could build the plugin without `-R` option in `_CoqProject`, which installs into `Top`. However, if I add `-R` back (in [dir](//github.com/liyishuai/reduction-effects/tree/dir) branch), the generated Makefile first complains that ML module was not found:

CAMLDEP -pp redeffect.ml4
COQDEP PrintingEffect.v
*** Warning: in file Print

[2019-03-27 21:29] ejgallego commented on #9846
You are missing the `-I` declaration; this is not a bug per-se, but more of an usability issue.

[2019-03-27 21:29] #9846 closed

[2019-03-27 21:29] ejgallego commented on #9846
See for example https://github.com/ppedrot/ltac2/blob/master/_CoqProject

[2019-03-27 22:25] vmurali commented on #3468
@JasonGross 's example of

`Notation foo a b := ((a + b)%type) (only parsing).
Notation bar a b := (let __ := ltac:(exact I) in (a + b)%type) (only parsing).
Check foo (Set + Set) Set. (* (Set + Set + Set)%type *)
Check bar (Set + Set) Set. (* Error: The term "Set" has type "Type" while it is expected to have type "nat". *)
`

Still doesn't work in 8.9.x

Is this issue really closed?

If so, what'

[2019-03-27 22:29] vmurali opened #9847 "Inline scopes don't work in the presence of inline tactics"
#### Description of the problem
Cross referencing #3468

`
Notation foo a b := ((a + b)%type) (only parsing).
Notation bar a b := (let __ := ltac:(exact I) in (a + b)%type) (only parsing).
Check foo (Set + Set) Set. (* (Set + Set + Set)%type *)
Check bar (Set + Set) Set. (* Error: The term "Set" has type "Type" while it is expected to have type "nat". *)
`

This still doesn't work in 8.9.x. The is

[2019-03-27 23:05] andres-erbsen opened #9848 "lia is slower than omega in large contexts"
#### Description of the problem

[code]

Rough breakdown shows that most of the time is spent in zify, but even xlia itself is slower than omega.

[code]

Cc #7878 #7872

#### Coq Version

8.9.0, a796822e5f57f74ff36e538fd2169f70a8c6c145 (the timings are from 8.9, on master the overall timings are very similar but the fine-grained breakdown cases vary within 50%).