[2020-05-08 06:05] herbelin commented on #12275
The error you see is normal: @Zimmi48 or @MSoegtropIMC will confirm but the windows package comes with Flocq preinstalled while the Mac package doesn't. So, you'll have to first install Flocq.

I'm afraid the basic way to do so is with the Terminal. Are you familiar with it? In any case, you need to download [Flocq 3.2.1](https://gforge.inria.fr/frs/download.php/file/38301/flocq-3.2.1.tar.gz) then

[2020-05-08 08:20] Zimmi48 commented on #12275
I do confirm. The macOS installer for now only installs Coq + CoqIDE (no packages) and it is the goal of the Coq platform to provide an experience similar to the current Windows installer on all operating systems.

[2020-05-08 10:25] #11903 closed

[2020-05-08 10:34] #12098 closed

[2020-05-08 10:39] Zimmi48 commented on #12280
Unfortunately, it can also happen on the make-based full refman build (HTML + PDF): https://gitlab.com/coq/coq/-/jobs/543727483
In this case we could limit the build to HTML only?

[2020-05-08 12:02] MSoegtropIMC commented on #12275
For the time beine (until we are further down the road with the platform project) I would suggest to install Coq and Coq libraries like Flocq via opam on OSX. Opam in turn can be installed e.g. via MacPorts and I guess also via homebrew. So the sequence of commands should be:

## Install MacPorts

Download .pkg file from (https://www.macports.org/install.php)

Double click on the pkg file in downl

[2020-05-08 12:18] ejgallego commented on #12280
Or add the same hack there? The hack is far from nice tho...

[2020-05-08 12:35] gares opened #12282 "[win] CoqIDE crash"
While testing the installer produced by https://github.com/coq/coq/pull/12032 I found out that executing a sentence from the script window crashed coqidetop. Running the same sentence via the query windows works fine, so I suspect is some code specific to the script window, possibly gtksourceview.

![Screenshot from 2020-05-08 14-29-49](https://user-images.githubusercontent.com/1013846/81405959-f9

[2020-05-08 12:36] gares commented on #12282
Note: I was running CoqIDE via wine.

[2020-05-08 15:24] QinxiangCao commented on #12275
I see. Thank you very much for your explanation and solutions @herbelin @Zimmi48 @MSoegtropIMC .

Actually, I am quite surprised when finding out it is a design choice that the windows package comes with Flocq preinstalled while the Mac package doesn't. I am wondering whether it is possible for the next Coq release to have a Flocq-preinstalled Mac as well, since the platform project seems to have

[2020-05-08 16:17] Zimmi48 opened #12283 "Clarifying the semantics of Ltac's ; [ ... ] and ; [> ... ]."
The documentation of `[> ... ]` says:

This surprised me a lot, as I rather thought that it was equivalent to `ltac_expr ; [> ... ]`.

Turns out both are wrong!

[code]

I understand the second and the third, but not the first. This behavior seems insane. Can someone explain it to me?

[2020-05-08 17:17] Zimmi48 commented on #12275
It's not a design choice. It's just more work. Windows was a priority because opam isn't well supported there. The current effort is focusing on the platform now. The first experimental versions for macOS should not be so far down the road that you seem to think.

[2020-05-08 17:20] QinxiangCao commented on #12275
Aha. Now I understand. Thank you very much for this explanation. Looking forward to seeing the platform!

[2020-05-08 17:29] ppedrot commented on #12283
Ltac has a very peculiar semantics when it comes to arguments. Due to the fact that some arguments need to be focussed, an Ltac expression can sometimes trigger a focus dynamically and dispatch the continuation on the focussed goals. I wouldn't be surprised if `idtac` was causing this here.

[2020-05-08 17:43] Zimmi48 commented on #12283
But how come the first and the second behave differently?

Another example of the difference:

[code]

[2020-05-08 17:45] Zimmi48 commented on #12283
Or are you saying that most of the time, `; [ ]`, should be understood as presented in the doc (`[> ... ; [> ... ] .. ]`) and there is an exception here due to how `idtac` focuses, but after the goals have been counted?

How do we justify this design choice for `; [ ]`?

[2020-05-08 17:46] #12275 closed

[2020-05-08 17:48] #12257 closed

[2020-05-08 17:48] #12258 closed

[2020-05-08 19:13] pi8027 commented on #6614
@ejgallego I think that most general solution for this value restriction issue is to replace
[code]
with
[code]

I heard from @garrigue that this is a usual workaround to bypass the (relaxed) value restriction. To implement this solution, we need to have an infrastructure to generate fresh names such as `x_` above, which may also help us to solve #2904, #3846, and #5397 properly.

[2020-05-08 19:26] andres-erbsen opened #12284 "shelved evars after a proof with delimiting bullets"
#### Description of the problem

When using bullets (+, -, *) to delimit cases in a proof, after all goals
are proven, the `Unshelve`d evars are considered a part of the last bullet.
This seems annoying, and I failed to find any justification for this behavior
when a student asked about it today. So I propose that the commented-out
errors in the next example should not be errors. But I also don't

[2020-05-08 19:41] pi8027 commented on #10502
@Lysxia I think your suggested solution has two downsides. 1) It may aggravate the computational complexity of the extracted code. 2) If we put a dummy argument to a constant in a module systematically, we will introduce another issue of module/signature type mismatch.

@ejgallego Since this issue seems a duplicate of #6614 as you said, should we close this? (I guess that #7954 is another duplicat

[2020-05-08 20:11] pi8027 commented on #12124
Yes. This is a typical module typing issue in extraction as in #10367, #5795, #5274, and #1957. (I think this issue is exactly a duplicate of #5795.)  Also, I have several examples of these issues with different flavors here: https://gist.github.com/pi8027/1a6050e5a90eeae1f4bb4de177d8ad08#file-1957-v.

IMO, we should implement an extraction flag to erase all the modules and functors from code prop

[2020-05-08 20:19] Zimmi48 commented on #12280
Yeah, I meant, use a similar hack but instead of succeeding immediately still run the HTML build.

[2020-05-08 20:42] herbelin commented on #12283
I'm not an expert at all in multigoal semantics but my own guess would be that there are two issues:
- the `[>` is inserted after the surrounding `let` in the equivalence between `t ; [ ... ]` and `[> t ; [> ... ] .. ]`
- there are non-focussing `let` arguments and `numgoals` (as well as `idtac`) are ones of them
[code]

[2020-05-08 21:27] SkySkimmer commented on #11939
@jamesjer Is this issue still happening?

[2020-05-09 04:55] jamesjer commented on #11939
I tried a scratch build tonight, with a prerelease of ocaml 4.11.0.  It succeeded on all architectures:

https://koji.fedoraproject.org/koji/taskinfo?taskID=44237522

Of course, the problem is intermittent, so this is no guarantee that the issue is gone.

[2020-05-09 10:49] #11739 closed

[2020-05-09 13:05] #12159 closed

[2020-05-09 14:53] ejgallego commented on #12280
Sounds OK to me; let's see if I can put some cycles to investigate pyrolise tho.

[2020-05-09 15:30] herbelin commented on #11998
Is it the case that `1` is not syntactically represented by the same structure field when a subterm of `*` or when a subterm of `+`? If yes, that would indeed require to hard-wire some "polysemy" (or reasoning up to conversion) . If not, would declaring two ring instances with well chosen operations (as they appear effectively, i.e. as `Zmodule` or as `comRing`) work:

[code]

Incidentally, for th

[2020-05-09 17:18] JasonGross commented on #12283
No, this is not the difference, and the difference you're observing is just a side-effect of the actual important difference:
- `[ > @multi_goal_tactics ]` will run `@multi_goal_tactics` on the list all goals currently under focus.  So, e.g., `[ > | ]` ensures that there are two goals under focus.
- `a; [ @multi_goal_tactics ]` will run `@multi_goal_tactics` on the list of all goals produced by th

[2020-05-09 17:33] JasonGross commented on #12283
The historical perspective might also be useful here: in Coq 8.4 and earlier, there weren't really any multi-goal tactics, and you could think of each tactic as operating independently on each goal under focus.  Hence a tactic was a thing that got applied to each goal in a list, and there was a special construct, `; [ ... ]` for dispatching across multiple goals created by an individual tactic.  I

[2020-05-09 22:08] #10725 closed

[2020-05-10 02:47] jfehrle commented on #12283
The commit message in 2925c97c852efd66656edebedba543c7c8335b73 agrees with you.  It says:

However, this equivalence doesn't cover the case where `; [ ... ]` contains `..`.  Maybe that's not useful.

Ah, only one character shorter!

[2020-05-10 03:24] JasonGross commented on #12283
No, it's six characters (+ six spaces).  The difference between `split; [ left | right ]` and `[ > split; [ > left | right ] .. ]`

I'm not sure what you mean.  Do you have an example where it's not equivalent?

[2020-05-10 05:38] jfehrle commented on #12283
Never mind, I confused some details.

[2020-05-10 13:01] Blaisorblade commented on #11939
@jamesjer I notice your link is building Coq 8.11.0 on Rawhide (Fedora/RH unstable, right) — I see Fedora 32 was released, but Rawhide might want to try 8.11.1.

-----------

BTW, there's something wrong with the Coq package, @jamesjer — the description "Python 3 runtime support for ANTLR4" is certainly wrong; I see how that's possible from the RPM spec (https://apps.fedoraproject.org/packages/coq

[2020-05-10 14:16] SkySkimmer opened #12290 "CI for SF broken"
Looks like the api call returns `[]` since about 15h ago (https://gitlab.com/coq/coq/-/jobs/545458364 is the oldest failing job)
Maybe because we fetch some old job which I guess got cleaned up.
cc @maximedenes @ejgallego

[2020-05-10 14:21] xavierleroy opened #12291 "Fatal error: exception CErrors.UserError(_, _)"
#### Description of the problem

Batch compilation (`coqc`) of source files containing bullet-related errors prints the correct error message then reports a fatal error `exception CErrors.UserError(_, _)`

#### Coq Version

Coq 8.11.1 compiled with OCaml 4.09.0.

#### Repro case

[code]

[2020-05-10 14:39] Blaisorblade opened #12292 "Ltac2 eintros is dead code, because views aren't supported yet"
@kyoDralliam writes in #12235:

I figured this might warrant an issue.
EDIT: concretely, whoever implements views should make sure to add a test for where `eintros Hfoo%lemma` succeeds and creates evars and `intros Hfoo%lemma` fails (see explanation below).

[2020-05-10 18:39] herbelin commented on #12233
The problem is different from #12234. Here is a short version:
[code]
It was introduced between 8.7 and 8.8.

[2020-05-10 18:45] ejgallego commented on #12291
Thanks for the report @xavierleroy , this was fixed in `master` by #11498, will submit a fix for the 8.11 branch.

[2020-05-10 20:12] herbelin commented on #12233
It was actually existing before but apparently revealed in 8.8... (I renounced to fully investigate).

[2020-05-10 21:19] JasonGross opened #12297 "Anomaly "Uncaught exception Not_found. only in coqtop; Set Ltac Backtrace results in coqtop crash"
#### Description of the problem

[code]

Interestingly, `coqc` reports the error correctly:
[code]

#### Coq Version

8.11, master (8c47247779b6db4c529510a7ce771162f54f5fbf)

[2020-05-10 22:43] JasonGross opened #12298 "Anomaly "Evar ?X166 was not declared." with (transparent_)abstract"
#### Description of the problem

(smaller example a couple comments later)

[code]
#### Coq Version

8.11.0

[2020-05-10 22:44] JasonGross commented on #12298
Note that adding `let v := (eval cbv beta in v) in` right before `cache_term Build_T_ty v Build_T` fixes the issue, presumably by evar-normalizing the term.

[2020-05-10 22:46] JasonGross commented on #12298
Here's a smaller example:
[code]

[2020-05-11 02:59] JasonGross opened #12299 "Backtracking fails to undo side-effects with a crucial effect on performance"
#### Description of the problem

If I have a tactic `t`, then `try (((once t) + idtac "backtracked"); fail)` should either print `backtracked` and leave no side-effects, or else it should not print `backtracked`.  I.e., if I backtrack through a tactic, there should be no side effects.  However, in the following code, despite the fact that `backtracked` is printed, removing the `Undo` causes a dras

[2020-05-11 08:42] ppedrot commented on #12299
I believe this is a duplicate of #3608.

[2020-05-11 10:29] JasonGross commented on #12299
Ah, I see.  Would it be possible to expose the `Future.purify` function in a way that allows me to wrap a tactic in it?  (I'd be happy with some 8.11-compatible plugin code that exposed this, while waiting for #3608 to be solved.). Also, what's the quadratic (or worse) overhead in the global env coming from?  Some sort of fresh name generation issue?  Or name-avoidance?

[2020-05-11 10:38] Zimmi48 commented on #12290
It's the biannual SF failing when the next release is approaching joke :laughing:

[2020-05-11 10:50] Zimmi48 commented on #12283
Thanks all, and in particular @JasonGross, for the explanations!

[2020-05-11 10:50] #12283 closed

[2020-05-11 10:55] SkySkimmer opened #12300 "merge-pr doesn't understand pagination"
For instance with #12129 it sees no APPROVED review because it's on page 2 (https://api.github.com/repos/coq/coq/pulls/12129/reviews?page=2)

Not sure if ignoring pagination can cause issues with the main api call.

[2020-05-11 11:01] Zimmi48 commented on #12300
In theory, it could miss a label, but I don't think the number of labels on a PR will ever come close to the pagination limit :laughing:

[2020-05-11 12:22] Blaisorblade commented on #7913
Let me bump this issue, in particular @SkySkimmer's proposal for folded fixpoints https://github.com/coq/coq/issues/7913#issuecomment-399866519. The downside of the current workarounds is that they require `Instance foo : T := bar` (e.g. `Instance AexpContainsFalse : ContainsFalse aexp := aexp_ContainsFalse.`), but `foo` and `bar` are syntactically different and have syntactically different types.

[2020-05-11 13:05] ejgallego commented on #12291
Closed by #12294

[2020-05-11 13:05] #12291 closed

[2020-05-11 14:59] SkySkimmer commented on #12280
See also https://github.com/sphinx-doc/sphinx/issues/7015 ?

[2020-05-11 16:06] Zimmi48 commented on #12280
@cpitclaudel Do you know why we need xindy?

@ejgallego A softer version of your hack would be to only disable xindy when the runner is pyrolyse.

[2020-05-11 16:26] ejgallego commented on #12280
That would be great.

[2020-05-11 16:28] cpitclaudel commented on #12280
Not really; we use it because Sphinx uses it by default.  Do you want me to investigate?

[2020-05-11 16:52] Zimmi48 commented on #12280
If you have some time to spare, that would be great. Removing a dependency and fixing a spurious failure at the same time would be a bliss.

[2020-05-11 19:54] JasonGross commented on #12300
A kludgy partial fix for this would be to add `?per_page=100` to the API calls

[2020-05-11 20:44] herbelin commented on #12297
Maybe related to #5479. See also #11829. I have no idea of the existing plans about this issue.

[2020-05-11 21:11] herbelin commented on #11678
This is expected. Coq names combine (so-called) logical names bound with `-Q` to directories, with subdirectories segments as well as with file names, as well as module/section names to form fully-qualified names which have to be distinct.

The directory `.` is bound to `Sth`. So file `T` in subdirectory `Foo` has logical name `Sth.Foo.T`. The second file `Foo.v` is in current directory, so its lo

[2020-05-11 21:11] #11678 closed

[2020-05-12 01:06] jfehrle opened #12302 "Should "ltac: (idtac 123)." and "integer: (1)." be syntactically valid?"
If you run "Print Grammar tactic.", the last nonterminal it describes is `tactic_arg`, which includes 28 productions that are defined by OCaml code rather than listed in the `.mlg`s in the usual way.

Attaching them to `tactic_arg` permits the following syntactically valid but pointless sentences:
[code]

Should these productions have been attached to `tactic_arg_compat` instead?  And if so, shoul

[2020-05-12 01:26] jfehrle commented on #12302
Also, the production using `test_lpar_id_colon` is never syntactically valid because it's a lookahead-only symbol for for `( ident :`.

[2020-05-12 01:38] jfehrle commented on #12302
Searching all the .v files in the library and tests, I see only the following uses:
- constr - > 100 times
- open_constr - 1 time
- uconstr - 1 time

[2020-05-12 02:49] JasonGross commented on #12302
These constructs are not pointless, and are quite important.  Consider `let f x := x; x in f ltac:(idtac 123)`.  This does not work without `ltac:`.  The same is true of any tactic construct that needs a specific kind of argument.

As for constr, uconstr, and open_constr, they are all important (though uconstr can perhaps disappear in Ltac2).  The first typechecks it's argument and fills in holes,

[2020-05-12 03:58] jfehrle commented on #12302
Read "sentences" instead of "constructs" at the top (which I updated).  These sentences (where the construct appears where a tactic name is expected) are pointless.  Your example has `f` as the tactic name, which is something different.  My question was:

[2020-05-12 03:59] JasonGross commented on #12302
Here are the ones that don't seem obviously about passing arguments to other tactics that I don't understand:
- glob_constr_with_bindings (parses constr_with_bindings) (what is this, and what is it for / used in?)
- casted_constr and glob (parses constr) - lconstr is a located constr, right?  Why does anything take non-located constrs, and what are these for?
- lglob (parses lconstr) - what is thi

[2020-05-12 04:11] jfehrle commented on #12302
According to the `Print Grammar tactic` they're defined identically here, all referring to `constr.lconstr`.  `lglob` and  `lconstr` are also equivalent the other 3.

[2020-05-12 04:18] jfehrle commented on #12302
Yes, there is an `orient` and `rewrite` and others use `orient`.

[2020-05-12 05:57] JasonGross commented on #12302
The parsing is the same, the interpretation/semantics are different.

Yes, but does `let x := orient:(->) in rewrite x lem` work?  Does `let v := fresh in let x := ipattern:([v]) in intros x` work?  Does this work for other related things?

[2020-05-12 07:11] herbelin commented on #6773
Error for the short example is:
[code]
There is apparently a proof created by `abstract` (the `BUG_subproof`) and the problem seems then to be a confusion with shadowed section variable `B` in `abstract`.

To add to the list of examples requiring to distinguish between section variables and intro-ed variables of same name. See #6254 (future of sections).

[2020-05-12 07:41] herbelin opened #12304 "Anomaly with renaming section variables in the goal context"
#### Description of the problem

I'm registering this for the record:
[code]

My conclusion is that the section variables mentioned in the goal should not be renamed as this breaks the identification of the copy of the section variable in the goal with the original section variable. But first, we need to be able to distinguish between a goal variable which refers to a section variable from an intr

[2020-05-12 08:15] Zimmi48 commented on #12300
The fix would be partial indeed, however, it seems to me that it would still be a good idea to do this since we are interested in all the reviews anyway (and it would certainly limit the occurrences of this bug a lot).

[2020-05-12 08:20] ppedrot commented on #12302
@jfehrle I am not sure about what you meant in your comment, are you complaining that these expressions can be used as a toplevel expression? If so, there are e.g. use cases of the form `let x := ltac:(blah) in bluh` to force Ltac to interpret some expressions in a particular way.

[2020-05-12 12:00] Zimmi48 opened #12305 ".. coqtop:: output regression"
A recent PR (#12272) was intended to improve the `.. coqtop::` output. Unfortunately, between the first version of this PR (whose output I checked) and the one that was merged, a regression was introduced in the sentence splitting.
Compare the printing of the output in the example in the two links below:
- https://coq.gitlab.io/-/coq/-/jobs/542422443/artifacts/_install_ci/share/doc/coq/sphinx/html

[2020-05-12 13:39] Zimmi48 commented on #10940
@ppedrot Do you intend to address this in time for 8.12? If that's the case, there should be an assignee. If not, please remove the milestone.

[2020-05-12 13:41] vsiles opened #12306 "`positive` delimiter doesn't seem to work"
#### Description of the problem

Consider the following script:
[code]
I would have expected a `1 : positive` or something similar. Am I doing something wrong ?

#### Coq Version
Coq installed via opam, on MacOs Catalina 10.15.4
[code]

[2020-05-12 13:43] Zimmi48 commented on #8805
@herbelin What is the status? Does the milestone still apply?

[2020-05-12 13:54] Zimmi48 commented on #7293
@gares It looks like this issue has been postponed already a number of times. Removing the milestone now. Please retarget as appropriate.

[2020-05-12 13:55] mpu commented on #12305
Hmm, the regex is wrong. I'd be of the opinion to do the simple more explicit thing and replace the call to `re.split` with my original loopy code.

[2020-05-12 13:56] Zimmi48 commented on #10559
@maximedenes What is the status of this? Should it still be considered for 8.12?

[2020-05-12 14:04] herbelin commented on #8805
#8187 has been reverted with no replacement yet. I'd prefer to have this part of a revision of notations, so, not for 8.12.

[2020-05-12 14:05] Zimmi48 commented on #11309
@JasonGross Was this addressed by #12211? If not, do you still intend to address it for 8.12?

[2020-05-12 14:07] cpitclaudel commented on #12305
Or just change `\s+` to `\s*`, no?

[2020-05-12 14:09] Zimmi48 commented on #11170
Who would be the right person to address this?

[2020-05-12 14:12] mpu commented on #12305
I tried that, but it drops sequences of newlines on the floor.

[2020-05-12 14:29] Zimmi48 commented on #11843
@MSoegtropIMC Do you still intend to address this for 8.12? (This can also be done after the branching of course.)

[2020-05-12 14:38] ppedrot commented on #10940
This is not urgent, so postponing.

[2020-05-12 14:46] Zimmi48 commented on #12057
@MSoegtropIMC Did you see this issue? Do you intend to look into it? If not, I could also take care of this.

[2020-05-12 14:55] Zimmi48 commented on #12206
@ppedrot Do you intend to address this for 8.12 or not?

[2020-05-12 15:00] MSoegtropIMC commented on #11843
Yes, I am just busy with the platform and reals stuff, but it should go into 8.12.

[2020-05-12 15:01] Zimmi48 commented on #9692
@MSoegtropIMC I can also address this if you don't have time.

[2020-05-12 15:01] MSoegtropIMC commented on #12057
It would definitely help, but I can also do it. I need to do a 8.12 prep day some time soon.

[2020-05-12 15:03] MSoegtropIMC commented on #9692
It would help, yes.

[2020-05-12 15:13] #10812 closed

[2020-05-12 15:29] #12161 closed

[2020-05-12 15:34] ejgallego opened #12308 "[ci] VST broken on master."
It seems CI is broken in `master`, but it build OK in 8.11, so this seems on our side.

PR #12254 seems like a candidate for introducing this breakage, @ppedrot @herbelin any idea?

Link to error: https://gitlab.com/coq/coq/-/jobs/548092462#L8481

[2020-05-12 16:37] JasonGross commented on #11309
Yes, this was closed by #12211 .  I guess I forgot I had reported this.  Perhaps the changelog entry should be updated?

[2020-05-12 16:37] #11309 closed

[2020-05-12 16:43] JasonGross commented on #12306
Does it work if you `Require Import PArith`?  I'm inclined to think you're just not getting the right file where the notation is defined

[2020-05-12 16:59] cpitclaudel commented on #12305
I'm happy with any strategy, but I think we should try to have a precise spec:

[code]

You can test that with `python -m doctest test.py`

[2020-05-12 17:05] proux01 commented on #12306
Indeed, you're right. Even requiring `BinPos` (where the numeral notation is defined) is enough.

So what's happening is that here no notation for `1` exists in scope `positive` so the one in `nat` gets used. This would then not be a bug. Should we close this?

[2020-05-12 17:24] Zimmi48 commented on #11309
Not a big deal.

[2020-05-12 18:12] #12306 closed

[2020-05-12 18:13] JasonGross commented on #12306
Feel free to open a new issue (e.g. that the documentation should be improved) if you think there's still an issue here.

[2020-05-12 19:09] #12152 closed

[2020-05-12 19:09] #12255 closed

[2020-05-12 19:11] ppedrot commented on #12308
This is weird, CI was green on #12254. I'll try to look into that.

[2020-05-12 20:04] jfehrle commented on #12302
@ppedrot > are you complaining that these expressions can be used as a toplevel expression?

Yes, observing that they don't seem useful at the beginning of toplevel expressions.  Maybe only useful for the parameters of a tactic.

@JasonGross > does let x := orient:(->) in rewrite x lem work?

It appears it doesn't.  For example, I tried modifying app_eq_unit in `theories/Lists/List.v`:

[code]

[c

[2020-05-12 20:30] ppedrot commented on #12302
The documentation is wrong. The Ltac runtime contains many more toplevel values, e.g. as generated by generic argument.

I don't think they should be removed. Even though Ltac is limited in its expressivity, there are still potential use cases for these quotations. For instance, if you want to make interact low-level ML code with Ltac.

[2020-05-12 20:32] ppedrot commented on #12302
Please don't make the language even less uniform than it is currently. Ltac has fancy beliefs about how you can manipulate data, e.g. discriminating between "lazy tactics" and "eager values". Disallowing let-bindings of quotations is likely to restrict what you can do with these values, since it's very hard to actually return values in Ltac. Usually you have to go through some form of CPS, see e.g

[2020-05-12 21:24] ppedrot commented on #12308
Maybe it's #12146 instead, or some lia improvement. There is a line containing a subst that succeeds in master, and fails on a trivial example before. Here is a minimal diff that makes it compile.
[code]
I'll try to submit a backwards compatible patch.

[2020-05-12 21:38] ppedrot commented on #12308
See https://github.com/PrincetonUniversity/VST/pull/417.

[2020-05-12 22:30] jfehrle commented on #12302
Not surprising.  We'd like to get it right in the not-distant future.

Don't panic.  I'm trying to understand the use case.  Not much point in documenting things without understanding the use case.

What is CPS?  `ring` is a Tactic Notation.  `constr_list` below is something else.

[code]

And what about `orient:( ... )` and `test_lpar_id_colon:( ... )`?  Where and how are those useful?

[2020-05-13 00:38] ejgallego commented on #12308
Thanks a lot for the research @ppedrot , indeed it seems that the problem is not due to some of our commits, but from the migration to `lia` upstream, which introduced a change not compatible with master. Confirmed by a bisect on my side.

So yeah, that's hard to check from our side, ideally we can uniformize contributions CI enough so they all test `master` too.

[2020-05-13 01:26] jfehrle commented on #9765
I think https://github.com/coq/coq/pull/11718 covered this.  Right?

[2020-05-13 06:37] gares commented on #7293
ok, sorry

[2020-05-13 07:52] ppedrot commented on #12302
Continuation passing-style. If you look a few lines above this, you'll see higher-order functions used for the sake of emulating the return of values, *because Ltac*.

The first one is automatically introduced by the generic argument extension. It's probably not very useful in practice, since there are no way to use it other than pass it around until some ML function (and I don't think there is an

[2020-05-13 08:59] Zimmi48 commented on #12302
Another way of asking Jim's question (taking into account PMP's concerns on making the language less uniform) is why does the syntax (in `tactic_expr1`) for a tactic applied to arguments, takes a `tactic_arg_compat` as argument instead of just a `tactic_expr0`? And why is there an indirection from `tactic_arg_compat` to `tactic_arg`?

@JasonGross AFAIK the difference between `constr` and `lconstr`

[2020-05-13 10:36] Zimmi48 commented on #9765
Yep, thanks!

[2020-05-13 10:36] #9765 closed

[2020-05-13 10:41] ppedrot commented on #12302
Aha. This is the kind of question that makes me cry. The answer is "historical reasons", i.e. at some point it was decided that when a user wrote a Ltac snippet `tac foo`, then for *convenience* `foo` should be interpreted first as a Coq term, and in case of *parsing failure*, backtrack to trying to parse it as Ltac. If you change that you virtually break any single Ltac development.

Note that th

[2020-05-13 10:50] Zimmi48 commented on #12302
Thanks for the explanation!

[2020-05-13 11:17] ejgallego commented on #12290
We need to write to Benjamin so somebody sends us a link to a valid artifact, not a big job I think.

[2020-05-13 11:20] Zimmi48 commented on #12290
Maybe a simple GitHub ping will be enough... @bcpierce00

[2020-05-13 11:22] #12308 closed

[2020-05-13 11:26] ejgallego commented on #12290
I think mail is better in this case as a link has to be sent, maybe not by Benjamin itself but by whoever is in charge of SF CI [and there could be some issue with tokens etc]

[2020-05-13 12:15] Janno commented on #9583
The code above no longer produces a stack overflow. Coq does report a parse error but I cannot say if that is the right behavior or not. In any case, I am going to close this issue.

[2020-05-13 12:15] #9583 closed

[2020-05-13 12:18] Janno commented on #9679
This code no longer triggers an assertion failure.

[2020-05-13 12:18] #9679 closed

[2020-05-13 12:27] Janno commented on #9683
This problem seems to be fixed on master but not on 8.11. Can I assume that the fix (whatever it was) will make it into 8.12?

[2020-05-13 12:34] Janno commented on #9500
I don't see this warning anymore on recent master and 8.11. It seems like subscript characters are now allowed to be part of identifiers. `Definition Testₛ := 1.` is valid Coq. Thus, I am closing this issue.

[2020-05-13 12:34] #9500 closed

[2020-05-13 13:17] ejgallego commented on #9683
Yes; it would interesting to know if we have a test case covering this.

[2020-05-13 13:18] ejgallego commented on #9679
Great, it would be good to know if we have a test case for this bug before closing tho [cc @herbelin ]

[2020-05-13 13:18] ejgallego commented on #9583
Same than other bugs, it would be nice to check if we added a test case (cc @herbelin )

[2020-05-13 13:30] bcpierce00 commented on #12290
Yishuai and I will take a look.

[2020-05-13 16:54] JasonGross opened #12314 "dev/tools/merge-pr.sh dies silently when the current branch has no remote"
The call
https://github.com/coq/coq/blob/d80458841316ca7edf7317ef412142e27133c931/dev/tools/merge-pr.sh#L84
will cause the script to exit (due to `set -e`) silently if there is no remote.  Perhaps there should be an `|| true` at the end?

[2020-05-13 17:15] Zimmi48 commented on #10940
This was already postponed once. Not a problem, but maybe the milestone could be simply removed?

[2020-05-13 18:01] gares commented on #6078
I guess so.

[2020-05-13 18:01] #6078 closed

[2020-05-13 19:08] vzaliva commented on #10583
this seems to be fixed in 8.11. At least `lt_not_gt` is no longer added.
Some of these hints are now in `OrderedType` and using `auto with ordered_type` works.

[2020-05-13 19:10] herbelin commented on #9583
Hi @Janno,

Yes, this is the right behavior: because `constr` is at level 200, which is higher than the level 10 of applications, it parses `0` as a function and `[ ]` as a potential argument of the function. But after `[`, a `custom bla at level 0` is expected which it does not find.

In particular, it works with `Notation "t" := (t) (in custom bla at level 0, t constr at level 9).`

[2020-05-13 19:16] vzaliva commented on #10583
I am sorry, I was too quick to re-open. Even though it does not change `core` hintsdb,
the only way to create `ordered_type` hints DB is to instantiate the module. it seems wrong to instantiate it just for side-effects (hints db).

[2020-05-13 19:16] vzaliva commented on #10583
reopening

[2020-05-13 20:27] JasonGross opened #12317 "Ltac2 should support deprecated attributes"
#### Description of the problem

[code]
gives
[code]
#### Coq Version

master

[2020-05-13 21:23] liyishuai commented on #12290
We've created a public repo for the latest source files: https://github.com/DeepSpec/sf
You can also donwload the tarballs via:
- https://deepspec.github.io/sf/lf-current/lf.tgz
- https://deepspec.github.io/sf/plf-current/plf.tgz
- https://deepspec.github.io/sf/vfa-current/vfa.tgz
- https://deepspec.github.io/sf/qc-current/qc.tgz

[2020-05-13 22:12] JasonGross commented on #12072
I believe the source of this was correctly identified by @SkySkimmer in https://github.com/coq/coq/pull/12071#issuecomment-622052014

[2020-05-13 22:50] ejgallego commented on #12072
Yes, I realized too that the semantics of the lseek was modified, but indeed I did so because the old one seemed to make little sense. But indeed we will revert that change and investigate later on what is going on.

[2020-05-13 23:50] ejgallego commented on #11761
@Matafou , what do you think?

[2020-05-14 00:47] JasonGross commented on #12072
The previous semantics was to reset the file offset to 0 during the unlock operation, unless it fails, in which case you'd roll back the file offset to it's present position (and very dubiously not report any issues).  The new semantics say to always roll the file offset back to it's initial position, meaning that the position is at the end of the file after unlocking.  As far as I can tell, this

[2020-05-14 03:23] samuelgruetter opened #12321 "inversion causes typechecking failure at Qed time"
A student in our FRAP class finished a proof all the way to "No more subgoals", but got a typechecking error when trying to process the `Qed`.
It looked like a Coq bug to us, so we had to tell the student that they will get full score for an `Admitted` proof, which is unfortunate.
I tried to minimize the problem, and got as far as this self-contained example:

[code]

When processing the `Qed`, I

[2020-05-14 03:34] JasonGross opened #12322 "Heisenanomaly: File "interp/constrextern.ml", line 844, characters 9-15: Assertion failed"
#### Description of the problem

@llelf Antonio Nikishaev [said on Zulip](https://coq.zulipchat.com/#narrow/stream/237656-Coq-devs.20.26.20plugin.20devs/topic/%28no.20topic%29/near/197471798)

Note that this is
https://github.com/coq/coq/blob/ed0803efd1c8418c54dcde1255db110e1f2e648d/interp/constrextern.ml#L840-L844

Interestingly, this seems to reliably occur on the first invocation of coqc on my

[2020-05-14 03:59] JasonGross commented on #12322
Strangely, I'm also getting more heisenanomalies in https://travis-ci.org/github/mit-plv/fiat/jobs/686845182 / https://api.travis-ci.org/v3/job/686845182/log.txt
[code]

[2020-05-14 04:16] JasonGross commented on #12321
This is a regression of 8.5 over 8.4, interestingly enough.  (The proof passes fine in 8.4pl6, though I have to replace `Unshelve` with `Grab Existential Variables.` and remove `all:`.)

[2020-05-14 04:19] JasonGross commented on #12321
This is almost certainly an issue in the handling of evar substitutions, as replacing `eauto` with `exact pr1'.` makes the proof go through, but replacing it with `exact pr2'.` makes it fail.  Perhaps some of the transformations done by `inversion` / `subst` are not performed correctly in existential instances / substitutions?

[2020-05-14 04:32] JasonGross commented on #12321
Here's another fun error message:
[code]

[2020-05-14 04:55] JasonGross commented on #12321
Here's a reduced test-case.  I have no idea why both calls to `inversion` are necessary, but they seem to be.
[code]

[2020-05-14 04:56] JasonGross commented on #12321
By the way, @samuelgruetter, if you want your student to not have to use `Admitted`, tell them to run to replace `eexists` with `unshelve eexists; revgoals.` and then to solve the existential first.

[2020-05-14 04:57] JasonGross commented on #12321
And here's a small test-case for the universe error:
[code]

[2020-05-14 05:09] samuelgruetter commented on #12321
Thanks for the hint, either `unshelve eexists; revgoals. 2: eauto.` or just `exists Done.` work, but at the time this came up, we did not even know that it was related to this `eexists`...

[2020-05-14 08:28] Matafou commented on #11761
I agree. We should add a check or make the un-parenthesized version forbidden. For compatibility reason maybe the check is probably better.

[2020-05-14 09:15] #12290 closed

[2020-05-14 09:26] kyoDralliam opened #12325 "Implementation details of Coq universes are pushed onto the user (aka Algebraic universes are a pain)"
#### Description of the problem
In the following definition, the argument `t` cannot be instantiated because its type contains an algebraic universe `u+1`. As a first feature request, it would be great to warn or to error at the point of definition rather than in all subsequent attempts of applying `tnat`.

[code]

The current fix of the above code that I'm aware of is the following
[code]

This i

[2020-05-14 09:28] ppedrot commented on #12325
cc @mattam82

[2020-05-14 11:58] Janno commented on #9683
`git bisect` points to:

[code]

A quick glance didn't result in an obvious test case for this particular bug here (which was not mentioned in the commit). @herbelin can surely say for certain!

Reading the diff does seem to indicate that specifying a format for parsing-only notations is now met with a warning which says that the format is irrelevant. Hopefully that also applies also to the defaul

[2020-05-14 11:59] Janno commented on #9583
Thanks for the detailed explanation and thanks for fixing this (and adding a test case, too)!

[2020-05-14 12:32] ejgallego commented on #9658
This is still going on, example

https://gitlab.com/coq/coq/-/jobs/552074644

together with #9637 this makes me wonder about whether it is worth the effort to keep these jobs in the CI, and for example to spend considerable manpower in supporting them in Dune.

It's been 1 year and a half and we have not managed to make these jobs to work reliably in our own CI; also most users report the modes ar

[2020-05-14 13:07] Zimmi48 commented on #11501
@maximedenes FTR there was also no formal 8.11.2 announcement either but it should happen pretty soon according to @ppedrot. If you feel like this is an important fix, maybe you can find some time to finish it in the upcoming days (note to @ppedrot there is no obligation to have 8.11.2 tagged before the v8.12 branching; however the earlier, the better for the release notes preparation).

[2020-05-14 13:19] JasonGross commented on #12321
I'd say that maybe roughly 80% of error messages like this (proof succeeds but Qed fails) I've seen are due to issues either with evars or with `simpl` or a mix of the two.

[2020-05-14 13:37] Matafou commented on #11501
@maximedenes the fix is not entirely ready for me. There is a indentation problem in the output of the goal. The goal should be pushed to the left. Currently here is what is displayed:
[code]
Notice the left margin.

[2020-05-14 14:18] herbelin commented on #9683
#10832 has already two tests, but none with `only printing`. If @ejgallego is not afraid of the extra burden of managing an extra PR adding a test, I can add one.

[2020-05-14 15:08] gares commented on #9658
Async has nothing to do with vio, that has space overhead.
Async tests what happens when a user open a file with CoqIDE or VScoq and jumps to the end.

[2020-05-14 15:25] #12234 closed

[2020-05-14 16:53] Zimmi48 commented on #12314
@JasonGross The issue is that the script should exit with an explicit error, right? Then if you put some `|| true`, you also need to put some new check below, right?

[2020-05-14 17:30] JasonGross commented on #12314
There is already a check below, so the effect of `|| true` is to make the script exit with an explicit error:
https://github.com/coq/coq/blob/d80458841316ca7edf7317ef412142e27133c931/dev/tools/merge-pr.sh#L84-L90

[2020-05-14 17:46] Zimmi48 commented on #12314
Oh right! Sounds good.

[2020-05-14 17:46] ejgallego commented on #11927
@JasonGross I think we should close this as not a bug in Coq and indeed defer to https://github.com/actions/virtual-environments/issues/698

[2020-05-14 18:00] JasonGross commented on #11927
I think we should at least work around it for now, perhaps with

_Originally posted by @miketimofeev in https://github.com/actions/virtual-environments/issues/698#issuecomment-613549747_

[2020-05-14 18:05] ejgallego commented on #11927
Ugh, I'd rather host it in some of our mirrors.

[2020-05-14 19:34] #4925 closed

[2020-05-14 19:34] #5159 closed

[2020-05-14 19:34] #5764 closed

[2020-05-14 19:34] #11727 closed

[2020-05-14 20:44] JasonGross opened #12331 "Set Printing Depth 0, 1, 2, 3, 4 are no-ops"
#### Description of the problem

[code]
Also, some tests of `Set Printing Depth` should be in the output test-suite if they are not already

#### Coq Version

8.11.1

[2020-05-14 20:48] SkySkimmer commented on #12331
Isn"t it just that there are a bunch of boxes before you get any strings?

[2020-05-14 20:49] ejgallego commented on #12331
This is not a bug, printing depth is not a precise parameter and indeed depending on the concrete way to print a term may get wrapped in less or more boxes. Your example is not fixable for example without breaking quite a bit of other stuff.

I know that is weird but it is the way the formatter works, from a UI point of view what makes sense is to have an increase / decrease current printing depth

[2020-05-14 20:53] JasonGross commented on #12331
What I'm confused about is the fact that printing depths 0, 1, 2, and 3 all print
[code]
which is more than is printed by higher printing depths.  Neither explanation really makes sense to me to explain this behavior.

[2020-05-14 20:58] JasonGross commented on #12331
Oh, I see what's going on here.  `Show` for printing depths 0 and 1 prints nothing (so PG does not update the goal), and it is not until depth 4 that "1 subgoal" is printed, and so PG doesn't recognize a goal update until then.  Agreed, this is not a bug.

[2020-05-14 20:58] #12331 closed

[2020-05-14 21:01] SkySkimmer commented on #12331
0 and 1 should have no effect as ocaml does `let pp_set_max_boxes state n = if n > 1 then state.pp_max_boxes <- n` (the option just forwards to the ocaml stdlib setting)

[2020-05-14 21:56] jfehrle commented on #12302
That's correct in the .mlgs, which is relevant for #11761.  But confusingly, it appears that the `constr:(...)` and `lconstr:( ... )` both map to lconstr in the grammar.

[2020-05-14 22:24] JasonGross commented on #12302
Yes, this is because there is already parentheses around `constr:(...)`, so if it mapped to `constr` rather than `lconstr`, then you'd need to write `constr:((id foo))`.

[2020-05-14 22:25] JasonGross commented on #12302
Hence I don't think `lconstr:(...)` is useful, as it's a duplicate of `constr:(...)`.

[2020-05-14 22:32] jfehrle commented on #12302
I think it makes sense to document only `ltac:( ... )` and `constr:( ... )` for now.  We _might_ include a note saying there are others, some of which appear not to be useful.  And direct users to look at `Print Grammar tactic` to see the others.

This sounds like such a corner case--it would be in a plugin?--that we could safely deprecate these (and some others) and later remove them.  Removing u

[2020-05-14 22:42] JasonGross commented on #12302
No, `open_constr:(...)` and `uconstr:(...)` are quite important for writing powerful and performant automation in Ltac1.  In particular, `uconstr:(...)` is essential for building large terms while delaying their typechecking, as well as for passing around patterns with holes in them without allocating evars.  By contrast, `open_constr:(...)` is quite essential for creating evars without needing to

[2020-05-14 22:52] jfehrle commented on #12302
According to `Print Grammar tactic`, their syntax is identical to `lconstr:(...)` or `constr:(...)`, so they're actually not useful, either.

`ident`, `reference`, `integer` and `string`, yeah, I guess.  `reference` is just an `ident` though it looks like it preserves the `loc` information.  Not clear how that matters outside of ML code.

[2020-05-14 22:54] JasonGross commented on #12302
Yes

Generating a modified script is quite easy and at the same time quite ugly.  Every single application of a tactic to a constr would need to wrap the constr in `constr:(...)`, or for lighter impact, every single application of a tactic to another tactic would need to wrap the tactic in `ltac:(...)`.  Figuring out where it's used is significantly harder, but it shouldn't be too hard to write a

[2020-05-14 22:58] JasonGross commented on #12302
The *parsing syntax* is identical, but the *semantics* are quite different.
[code]

[2020-05-14 23:00] JasonGross commented on #12302
Once again, the syntax may be the same, but the semantics are quite different:
[code]
and
[code]

[2020-05-14 23:03] JasonGross commented on #12302
To me, this seems kind-of like saying that it's not useful to have both `pose` and `pose proof`, or to have both `match goal` and `match reverse goal`, because the syntax of these is the same.

[2020-05-15 03:54] jfehrle commented on #12302
Not at all.  `Print Grammar tactic` clearly suggests the _semantics_ are the same.  If they behave differently, then this rules are incorrect.  Here are the things where the lhs doesn't match the parenthesized nonterminal:

[code]
Versus, say `  | IDENT "occurrences";  ":";  "("; tactic:occurrences;  ")"` which is consistent.

@ppedrot if this is reasonably easy to fix and you give me instructions

[2020-05-15 04:36] JasonGross commented on #12302
I don't understand, and am getting out of my depth in parsing.  I know that each grammar entry has three parts in the type signature, though I don't recall what they are.  Anyway, what about the rules suggests they have the same semantics to you?  I read them as just about parsing and not about interpretation.

[2020-05-15 04:51] jfehrle commented on #12302
_Incorrectly_ suggests, at least to me.  You showed they behave differently.  Let's leave it at that.

[2020-05-15 04:59] jfehrle commented on #12302
Do you have an example where `reference` is accepted and different from using `ident`?  Both your examples above failed for `reference`.  (Not necessarily planning to include such as example in the doc.)

How about cases where `integer` and `string` are necessary, not optional?

[2020-05-15 07:59] MSoegtropIMC commented on #9692
Btw.: my plan is to deliver a Coq platform based Windows installer for 8.12 in the intended timeframe (1..3 months after the 8.12 release - it will likely be less than 2 months). I also plan to deliver a beta for 8.12 beta. So I don't know if it is required to add this to the 8.12 legacy Windows installer. I am currently concentrating on getting the dependency wise complicated pieces of the platfo

[2020-05-15 08:56] ppedrot commented on #12302
I think that if you only consider things from the angle of syntax, you're having a *really* partial understanding of the situation, notwithstanding the fact that Print Grammar is probably buggy in its printing. As @JasonGross said, these constructions have different semantics.

What did you infer this from?

[code]

[code]

[code]

[2020-05-15 08:56] Zimmi48 commented on #12302
@jfehrle This seems completely absurd to think that parsing should determine semantics. If `Print Grammar` only prints the parsing rules, where is the problem? This doesn't say anything about the semantics.

[2020-05-15 10:27] kyoDralliam commented on #12325
Also a bit puzzled by this example
[code]
Why does the explicit universe application change anything ?

[2020-05-15 10:36] ppedrot commented on #12325
It probably changes the way universe unification is performed. In the first case a fresh universe is generated and is tentatively unified with an algebraic universe, which fails.

[2020-05-15 10:38] SkySkimmer commented on #12325
sigT is template poly so you get `v+1 <= u+1` (where `v` is the fresh one) and universe inference doesn't handle that.

[2020-05-15 11:04] kyoDralliam commented on #12325
So does that mean that the `Algebraic universe on the right` error is used for two distinct (but closely related) problems: the first one is a universe inference failure and the second one is an actual limitation due to some restriction to non-algebraic universes in some places ?

Understanding this partially solves one of the issues I had at the beginning (in the polymorphic case):
[code]

[2020-05-15 11:38] #12232 closed

[2020-05-15 12:47] Matafou commented on #11761
Thanks. If this goes well I will also adapt then (undocumented) "soft functional induction" the same way.
Also if this goes merged, should I provide something in doc/changelog/ ?

[2020-05-15 12:50] kyoDralliam commented on #12325
Yet another quirky case, when a polymorphic universe level is unconstrained:
[code]
Also fails if `sigT` is replaced by a universe-polymorphic version, or by a record (with and w/o primitive projections, with and without universe-polymorphism).
That annoys me because the concrete case I want to work with actually have this kind of example...

[2020-05-15 12:53] Janno opened #12332 "Reference manual does not build (raises fatal warnings) with Sphinx 3."
#### Description of the problem

When building refman-html (via `dune` or `make`) the build is stopped by the following fatal warning:
[code]

#### Coq Version
master+changes from #12329.

### Python package versions:

[code]

[2020-05-15 12:57] Janno commented on #12332
Small addendum: looking at /tmp/warn.log after running `SPHINXWARNOPT="-w/tmp/warn.log" dune build @refman-html` gave me (amongst many other lines) these two here that might be helpful:
[code]

Note the whitespace! Could that be relevant?

[2020-05-15 12:57] Zimmi48 commented on #10559
Removing the 8.12 milestone. Let's address this before removing support for no specified database, but not urgent.

[2020-05-15 13:03] SkySkimmer commented on #12325
Not sure what else you would expect from that code.

Using explicit algebraic universes is not really supported, if your goal is anything other than trying to understand the implementation I recommend you stop.

[2020-05-15 13:26] kyoDralliam commented on #12325
Looking at these examples that sounds like a sane advice. I can indeed write my code using the encoding above (but I need 4 universes where I would expect only one in a pen&paper proof).
Besides complaining I'm also interested in understanding what's happening inside Coq and what can be improved. Shouldn't coq warn the user by default when it finds algebraic universes in the source for instance ?

[2020-05-15 13:39] SkySkimmer commented on #12325
https://github.com/coq/coq/pull/7490 was attempted and abandoned.
Maybe I got too ambitious with the kernel check and should have stayed with only the pretyper check.

[2020-05-15 13:55] gares opened #12333 "[changelog] DOC TODO"
Check if it is really the case that the documentation is missing.

[2020-05-15 14:07] Zimmi48 commented on #12332
@Janno Could you please also report your version of Sphinx? (Run `sphinx-build --version`)

[2020-05-15 14:08] Janno commented on #12332
`sphinx-build 3.0.3`

[2020-05-15 14:30] ejgallego commented on #12206
Hi @ppedrot , sorry for the ping again; it would be great if you could at least adjust the milestone to the one you think it would make sense, thanks! [If that's a fix we'd be happy for it to target 8.12.0]

[2020-05-15 15:12] gares opened #12334 "Release 8.13"
# Release process #

## As soon as the previous version branched off master ##

In principle, these steps should be undertaken by the RM of the next
release. Unfortunately, we have not yet been able to nominate RMs
early enough in the process for this person to be known at that point
in time.

- [x] Create a new issue to track the release process where you can copy-paste
  the present checklist (f

[2020-05-15 15:30] ppedrot commented on #12206
Changing this behaviour can be considered a fix, but I'd need to assess the breakage first.

[2020-05-15 15:42] #12322 closed

[2020-05-15 16:15] Zimmi48 commented on #12332
OK, so this seems to be a newly introduced bug in Sphinx (or a Coq bug that only appears on recent Sphinx versions). Could you check if downgrading to 2.4.4 makes the issue disappear? I'll try to investigate whether I can get a minimal reproducible example for this issue, but we may have to document that Coq requires Sphinx < 3.0.

[2020-05-15 17:24] Matafou commented on #12302
After being helped by @JasonGross I found "lconstr" pretty useful. It probably means "List of CONSTR, interpreted as an application". It should be documented IMHO.

[2020-05-15 18:38] jfehrle commented on #12302
@Matafou I'll put it in.  `lconstr` is syntactically equivalent to `operconstr` level 200 in the mlg, which allows application, whereas `constr` is equivalent to level 8, in which application needs to be parenthesized.

[2020-05-15 19:05] JasonGross commented on #12302
I think `lconstr` is quite useful for `Tactic Notation` (assuming it's supported) and `TACTIC EXTEND`, but I think `lconstr:(...)` is useless, being both syntactically and semantically identical to `constr:(...)`.

[2020-05-15 19:06] JasonGross commented on #12302
@Matafou where did you get the interpretation "list of constr" from?  I thought @herbelin and others did not recall what it stood for (though "list of constr") makes more sense than anything else I've heard.

[2020-05-15 19:15] jfehrle commented on #12302
Certainly not limiting myself to syntax--but syntactic clues are relatively easy for me to find, while the semantic differences could be extremely hard to deduce from the code or examples.
Figuring out how this stuff works involves a lot of guesswork and experimentation.

I said "suggests", not "inferred".  From the mismatch between the IDENT and the nonterminal within the parentheses.  Looking at

[2020-05-15 19:39] jfehrle commented on #12302
But I didn't say that.  Grammars may document semantics a bit.  For example, `g_tactic.mlg` has these productions:

[code]

Since the parser action just copies the `constr` value, they add no syntax.  Presumably they were created to help document which semantics are applied to the `constr` in various productions.  For example, you would expect `| "replace" uconstr clause` will be applying semantic

[2020-05-15 19:39] ppedrot commented on #12302
I did a bit of archeology, and the `lconstr` name was introduced in 46e708f92deef78043f4f221293df131e29aeff1 from the renaming of `lcommand`. Tracking the latter, it seems to have meant indeed "list of commands" as far as the Coq 4.X branches, and slowly evolved over time when seemingly commands were separated from terms.

[2020-05-15 19:51] jfehrle commented on #12302
Sigh.  They are syntactically different things in the grammar.  It's perverse that `constr:(...)` actually accepts the syntax for `lconstr`.  A bug or maybe intentional to make it "easier" to use an undocumented feature.

[2020-05-15 22:15] ppedrot commented on #12302
I don't see the perversity, but I do see the uniformity. The rule is that any generic argument defines both a tactic notation scope *and* and an Ltac quotation entry which parses this scope. What I find perverse is the fact that one has to define a new generic argument to merely change the level at which the corresponding entry is parsed, and that `lconstr` shouldn't exist at all.

[2020-05-15 22:40] jfehrle commented on #12302
The name in constr(...) doesn't match the underlying construct.  I think this is perverse ("contrary to the accepted or expected standard or practice").

Meaning that they should support the same set of items?
`int_or_var` is not accepted as a quotation entry:

[code]

Thanks for all your comments.  I think I'm done with this for now.

[2020-05-16 08:10] kyoDralliam commented on #12325
That's good to know, I was not aware of this attempt. Preventing the user from writing algebraic universes in places not really supported by coq looks like a good move so that users like me do not get wrong expectations (but warning/documenting more clearly the use of universes in coq may have a more direct effect).

However, it does not help with the universe proliferation and the difficulty to d

[2020-05-16 11:15] Blaisorblade commented on #11631
FWIW I get the same warnings while using `-Q` — it might be because I write `From A Require Import B` to import `A.foo.B`.
But the Import is still perfectly well-defined...

[2020-05-16 12:42] MSoegtropIMC commented on #12057
@Zimmi48  : how do we handle this?
- you do it
- I do it
- postpone to 8.12 platfor,m delivery?

@VincentSe : do you think it would be a problem to delay it to the 8.12 platform delivery, which should be about 4..6 weeks after the Coq release (also for 8.12+beta1).

[2020-05-16 12:45] VincentSe commented on #12057
@MSoegtropIMC We can wait 6 weeks. Besides, depending on our meeting on Wednesday CoRN might be split into smaller packages.

[2020-05-16 12:59] MSoegtropIMC commented on #11531
@Blaisorblade : after gaining some more experience with OSX and various install methods I would propose to supply an application package in a disk image (.dmg) file which installs to the Application folder. This is similar to what we do on Windows and offers a similar user experience. If users would like to use command line tools, they would have to add the /Applications/CoqXYZ/bin to the path in

[2020-05-16 13:05] MSoegtropIMC commented on #12057
@Zimmi48 : do you think it would be time to introduce a milestone `8.12+beta+platform`? As I mentioned in a few PRs / issues my plan is to do a platform delivery for 8.12+beta and 8.12.0 in the intended timeframe (1..3 months) with a likely ETA of 4..6 weeks after the Coq core release - maybe some OSes will be available earlier or later.

[2020-05-16 13:55] Zimmi48 commented on #12057
@MSoegtropIMC I'll simply remove the milestone and add this to the platform project for now. But eventually, we should create the platform repo in the Coq organization, and then we can migrate this issue there. I just want us to adjust the platform charter to better correspond to our shared vision before moving the repository in the official organization. (I will send you adjustment proposals ASAP

[2020-05-16 14:08] MSoegtropIMC commented on #12057
OK, I will keep a local list for the time being to track this. Please put a note to me in all issues which shall be addressed in the platform release. Something like:

`@MSoegtropIMC : move to platform 8.12+beta`

[2020-05-16 17:10] #12265 closed

[2020-05-16 17:18] ejgallego opened #12338 "[search] Add removal warning for ssr's Search"
#8855 removes ssr's `Search` from scope when ssrflect is loaded, this will be quite confusing for users, thus we should add a warning in this case to remind them to either load `ssrsearch` or to disable the warning if they wish to migrate.

[2020-05-16 17:21] #12253 closed

[2020-05-16 17:44] #12072 closed

[2020-05-16 17:47] #11761 closed

[2020-05-16 17:59] Zimmi48 commented on #12332
I retract what I said of this being a new bug. It's just that the Ltac2 chapter abuses `productionlist` by redefining over and over the `ltac2_term` token. I think that the following patch should be enough as a temporary workaround until @jfehrle rewrites the grammar in this chapter to use `prodn`:

[code]

[2020-05-16 20:45] jfehrle commented on #12332
@Janno Add `SPHINXWARNERROR=0` on your make command line to let the build complete on your system.

[2020-05-16 21:23] herbelin opened #12339 "Selectors reorder goals"
#### Description of the problem

Is this expected?
[code]

Added: apparently, this was done like this because focusing was only able to focus consecutive goals. Should we try to preserve the order?

#### Coq Version

At least since 8.7

[2020-05-17 00:26] JasonGross commented on #11710
Is this because it's an option that needs to be set via menus in CoqIDE?

[2020-05-17 04:28] YunosukeY opened #12340 "limit_in in Coq.Reals.Rlimit dosen't require that x can't be the same as x0."
#### Description of the problem

limit_in in Coq.Reals.Rlimit dosen't require that x can't be the same as x0.
In the usual epsilon–delta definition, I think x can't be the same as x0, but Coq library isn't so.

If x can be the same as x0, it leads a problem.
Let f : R -> R be a function such as f(0) = 1 and f(t) = 0 (where t != 0).
I think the limit at 0 of f should be 0.
Let x0 = 0, l = 0, and ep

[2020-05-17 05:36] YunosukeY commented on #12340
Now I noticed D_x which requires different point is used in the definition of continue_in and D_in.
But I think the above problem haven't been resolved.

[2020-05-17 07:45] herbelin commented on #12340
@YunosukeY: The library was mostly based on French curriculum (e.g. https://books.google.de/books?id=caH1CQAAQBAJ&pg=PA486&redir_esc=y) for which having a limit on a defined point [seems](https://fr.wikipedia.org/wiki/Limite_(math%C3%A9matiques)#Limite_et_continuit%C3%A9_en_un_point) to imply continuity in this point. I'm not a specialist of the subtle differences in real analysis conventions depe

[2020-05-17 08:43] YunosukeY commented on #12340
I didn't know that.
Thank you for your comment!

[2020-05-17 08:43] #12340 closed

[2020-05-17 09:35] Zimmi48 commented on #12332
@jfehrle `SPHINXWARNOPT="-w/tmp/warn.log" dune build @refman-html` does the same thing for Dune.

[2020-05-17 14:24] Zimmi48 commented on #12339
No, this is correctly following the specification. This was done like this because multi-goal tactics may generate several goals, but we cannot associate them to any one of the selected sub-goals. And the tactic monad doesn't have a notion of single goal tactics, for which this tracking could be done more precisely.

cc @cmangin who implemented the feature

[2020-05-17 17:08] herbelin commented on #12339
The tactic monad could be changed to reflect what would be (at least in this case) a (more) intuitive semantics. For instance, it would be understandable that the focused goal are systematically moved to the first position, but it is strange that the first one is left at the same place but not the other ones.

More generally, I agree that it is not always clear how subgoals should optimally be ord

[2020-05-18 09:01] Zimmi48 commented on #12339
I've had very similar thoughts than you, cf. for instance this interesting discussion that you may have missed: https://github.com/coq/coq/issues/10688#issuecomment-594014556

Anyway, I'd be glad if we could adapt the tactic monad to give a reality to some of our intuitive notions, like side conditions, the relation between goals and subgoals, etc. Food for thoughts for the long-term.

[2020-05-18 13:04] gasparattila opened #12348 "Anomaly "Uncaught exception Not_found." with pattern matching"
The following code raises an anomaly:
[code]
This variant results in "Ill-typed evar instance":
[code]
When `let b` is removed, the return clause cannot be inferred:
[code]
Note that all the errors disappear when either the pattern matching or the `: _` at the end is removed.

#### Coq Version
8.11.0

[2020-05-18 13:20] #12338 closed

[2020-05-18 14:30] ejgallego commented on #12264
I think that `cp` + `chmod` is the safest choice for now; cp should ensure that we don't have a hardlink anymore, indeed I'm concerned about nongnu.

[2020-05-18 14:41] ejgallego commented on #7390
@Zimmi48 should we close this as `wontfix` ?

[2020-05-18 15:26] ejgallego commented on #12264
Let's get this fixed for the beta.

[2020-05-18 15:58] Zimmi48 commented on #7390
We could still move `dev/v8-syntax` and `doc/whodidwhat` to `dev/doc/archive` and we could stil remove the various `doc.tex` at the root of some components. But it's true that we won't go as far as removing our LaTeX dependency since we will continue to need it to build PDF versions of the doc.

[2020-05-18 16:09] JasonGross opened #12351 "Redirect ignores Set Printing Width"
#### Description of the problem

[code]
This makes it much more annoying to make fiat-crypto compatible with #11980 in a backwards-compatible way.

#### Coq Version

8.11.1

[2020-05-18 16:11] JasonGross opened #12352 "#11980 had no changelog entry"

[2020-05-18 16:40] Zimmi48 commented on #12352
I feel like instead of removing your assignment, you could have closed with "won't fix". Spacing changes do not look like they deserve a changelog entry @JasonGross. If they break stuff because people do output tests, well, people will notice.

[2020-05-18 16:40] #12352 closed

[2020-05-18 18:01] jfehrle commented on #12280
Just a shot in the dark: Pyrolyse is an 8 core machine and I see NJOBS=2 (and AFAICT native Linux, not on Windows at all), whereas IIUC most of the build machines are single-core.  Perhaps there's some synchronization problem that only shows up for this parallel case?

[2020-05-18 20:06] ejgallego commented on #12352
Indeed it is pretty hard for us to support regressions against human-targeted output; on the other hand maybe a small section "changes on user-visible output" for the changelog wouldn't hurt. IMHO if someone wants to do a PR for that I'd be OK.

[2020-05-18 20:08] ejgallego commented on #12351
That's not hard to fix but annoying; the reason `Redirect` is not working very well is that in a sense we consider it a bit deprecated vs using shell redirection; the behavior of such command is undefined under modern language servers.

I'll try to cook up a fix for 8.12 if that's useful for you tho @JasonGross

[2020-05-18 20:18] JasonGross commented on #12118
@ppedrot You commented in https://github.com/coq/coq/pull/8255

Can you elaborate on the lack of hope?

[2020-05-18 21:39] ppedrot commented on #12118
I could solve the quadratic behaviour in the kernel thanks to the fact we use a delayed representation for conversion. Doing the same in the pretyper would require changing much more code, I believe.

[2020-05-19 06:34] Zimmi48 commented on #12352
IMHO we'd have to report *all* fixed bugs long before we start to report spacing changes.

[2020-05-19 09:42] Matafou commented on #11587
ProofGeneral is getting old and was never sufficiently documented, but it is expectable that it breaks if message formatting changes.
We have regexp to distinguish real errors from warnings/info. These regexp have been simplified over time because coq messages have been standardized.
<infomsg> is used in particular to discard things that may look like an error message but aren't.
So yes can you pl

[2020-05-19 10:46] ejgallego commented on #12352
Umm, I'm not sure if all fixed bugs would be interesting, many would be not relevant for users?

[2020-05-19 12:39] Zimmi48 commented on #12352
Indeed, for many of them, this would just amount to noise. But technically, all are "user-visible". (There is no reason to distinguish those from spacing changes.)

[2020-05-19 13:56] ejgallego commented on #12352
Not all bugs are user visible, for example CI failures, improvement in tooling, internal API changes, etc...

[2020-05-19 14:19] Zimmi48 opened #12360 "Carefully select the version to include in the Windows installer."
Before tagging and releasing 8.12+beta1 we need to select more carefully (than #12355) the version of the add-ons that will be in the installer. As often as possible, we should aim for tagged versions (releases), possibly slightly patched for compatibility.

[2020-05-19 14:33] Zimmi48 commented on #12352
OK, but I wasn't talking about those kinds of bugs.

[2020-05-19 14:44] Zimmi48 opened #12361 "Multiple index keys for the same command does not work in the PDF output."
#### Description of the problem

In the 8.12 version of the reference manual, it is possible to have a single command that is referred to by multiple index keys (this is the case of `Definition` / `Example`, `Theorem` and variants, `Parameter` and variants, `Require` / `Require Import` / `Require Export`, `Implicit Type` and plural form, `Record` / `Structure`). This works fine in the HTML output,

[2020-05-19 15:01] ejgallego commented on #12352
Ah OK, if we are talking about all _user visible_ bugs, then indeed it wouldn't be IMO a bad thing to have a list [maybe without description] of "all bugs fixed in a release"

We'd need some kind of tag to determine that list tho.

[2020-05-19 15:05] Zimmi48 commented on #12352
If the bugs are listed without a description, then it brings nothing compared to the milestone IMHO. Notice that I've added automation to @coqbot to add fixed bugs to the milestone, so it is, in fact, pretty complete.

[2020-05-19 15:08] Zimmi48 commented on #12352
IMHO if we want to have a more complete changelog, then we need to make more efforts in structuring it. [For instance, each category could be subdivided into "Major changes and features", "Minor changes and enhancements", "Bug fixes".]

[2020-05-19 15:27] #11936 closed

[2020-05-19 17:02] gasparattila opened #12365 ""exists a, b" can fail even if "exists a; exists b" succeeds"
#### Description of the problem

[code]
The failure is caused by the evar constraints from `ex_intro _ a p` being present when `I` is used. These constraints cannot be solved by unification without additional information from the goal.

#### Coq Version
8.11.0

[2020-05-19 17:05] SkySkimmer commented on #12365
You mean it should interleave using terms and interpreting them instead of first interpreting all of them then using all of them?

[2020-05-19 17:08] gasparattila commented on #12365
Yes, that way more information is available for unification.

[2020-05-19 18:36] cpitclaudel opened #12367 "Could we make coq-ltac2 a dummy package in 8.11 instead of requiring Coq < 8.11?"
#### Description of the problem

I'm trying to support 8.9 through 8.11 in the same project.  I use Ltac2, so I have a dependency on the coq-ltac2 package.  But currently that package requires Coq < 8.11.

Could the coq-ltac2 be marked as compatible with 8.11 and made to install a dummy package there?  Or is there a simpler solution that I overlooked?

cc @ppedrot

[2020-05-19 18:52] SkySkimmer commented on #12367
Can't you depend on coq-ltac2 || (Coq >= 8.11)?

Gaëtan Gilbert

On 19/05/2020 20:36, Clément Pit-Claudel wrote:

[2020-05-19 19:05] JasonGross commented on #12367
According to https://opam.ocaml.org/doc/Manual.html, the correct syntax is probably `"coq-ltac2" | "coq" { >= "8.11~" }` (the `~` allows capturing also the beta versions, I believe)

[2020-05-19 19:10] cpitclaudel commented on #12367
Thanks, I should have looked there.  I only looked at https://dune.readthedocs.io/en/stable/dune-files.html#package, and AFAICT dune doesn't support that.  Am I missing something?

[2020-05-19 19:23] JasonGross commented on #12367
Indeed, it looks like this feature might be missing from dune.  @ejgallego?

[2020-05-19 19:59] ejgallego commented on #12367
I don't recall the status of that, at least on master you should be able to do:
[code]

[2020-05-19 20:10] cpitclaudel commented on #12367
This is an OR between versions, but we need an OR between packages.

[2020-05-19 20:19] ejgallego commented on #12367
If that's not yet implemented I'd suggest you file a feature request and hopefully will solved soon. I can check what's the status of this but not today sorry.

[2020-05-19 20:24] cpitclaudel commented on #12367
https://github.com/ocaml/dune/issues/3497

[2020-05-19 20:42] jfehrle commented on #11320
I see some of these failed jobs still show the cancel icon next to them.  Any idea whether these might count against the total?  Any objection to cancelling such failed jobs even if they were started by other developers?

![image](https://user-images.githubusercontent.com/1253341/82375905-27eb3b00-99d6-11ea-811d-5de97c5f2cf3.png)

[2020-05-19 20:51] jfehrle commented on #11320
Furthermore: I cancelled my job and restarted it.  It's running, but it still shows "error" in red with the "Pipeline activity limit exceeded!" tooltip, which should have been cleared.

The stages info shows it is actually running:

![image](https://user-images.githubusercontent.com/1253341/82376941-bc09d200-99d7-11ea-8105-3c85f7189eb7.png)

[2020-05-19 20:52] cpitclaudel opened #12370 "Level is already declared right associative when importing a module"
#### Description of the problem

Notation level errors are sometimes delayed until a module is imported.  For example, save this as `Vect.v`:

[code]

Then run `coqc Vect.v` (no problem) and try to import `Vect`:

[code]

For some reason, importing `NArith` fixes the issue:

[code]

… but not fully: `Require Import Vect` works, but `Require Import Vect Vect` still fails:

[code]

`Vect` doesn't ne

[2020-05-19 20:54] cpitclaudel commented on #12370
This is similar to https://github.com/coq/coq/issues/11626, with the refinement that it breaks when importing a module twice, not once.

[2020-05-19 20:56] Zimmi48 commented on #11320
No idea.

No objection.

Yes, I've also noticed this. This could be reported to GitLab, but might not be worth the effort.

[2020-05-19 21:10] jamesjer commented on #11939
Sorry for the delay responding; $DAYJOB got extra busy there for a few days.  Okay, I will update to 8.11.1 and see what I can do about fixing that package description.  Thanks for pointing that out.

[2020-05-19 21:17] jfehrle commented on #12361
Also, the general index only includes the last provided name, e.g. `Variables`.

[2020-05-19 21:33] ejgallego commented on #11320
Worse, they could even realize of the bug we are exploiting to workaround the limitation and make our life bad :) :)

@jfehrle , I'd say that indeed using some common sense to manage the pipeline is very fine.

[2020-05-19 21:49] tchajed commented on #11936
Thanks for fixing this @cpitclaudel!

[2020-05-20 01:34] cpitclaudel opened #12373 "Documentation request for printing levels and associativity"
#### Description of the problem

The following code (example by @kyoDralliam) creates two notations at the same level, with left associativity.  The second one fails, complaining that level 8 is right associative.  I couldn't find documentation about this in the manual:

[code]

After processing the first notation, `Print Grammar Constr` shows this:

[code]

So presumably the first notation should

[2020-05-20 02:24] cpitclaudel commented on #12370
Another puzzling example: This fails:

[code]

but this works:

[code]

[2020-05-20 07:31] Blaisorblade commented on #11631
As explained in #12251 but not here,

[2020-05-20 08:57] lthms opened #12374 "[extraction] Allow to customize primitive integers init function"
#### Description of the problem

Currently, when one uses primitive integers and extraction, they has to provide a `Uint63` module with at least a `of_int` function. Neither this function name nor the module name is customizable.

#### Coq Version

Relevant for any version of Coq with native integers support.

[2020-05-20 09:45] Zimmi48 commented on #12373
Strange, I see this when using `Print Grammar constr` (in Coq 8.11.1, but also in Coq master and in Coq 8.10.2):

[code]

(but I still get the error that you described)

[2020-05-20 09:48] Zimmi48 commented on #12373
Interestingly, the test-suite contains the following:

https://github.com/coq/coq/blob/2cd3c71ab3acf75a97e600feea9730461c08e0b8/test-suite/success/Notations.v#L17-L25

[2020-05-20 09:49] Zimmi48 commented on #12373
I will also note that while the second notation fails when specified in this order, in the reverse order, they both pass:
[code]

[2020-05-20 09:49] Zimmi48 commented on #12373
I have no idea what this all means but it looks more like a bug than a documentation issue to me. cc @coq/parsing-maintainers

[2020-05-20 10:22] Zimmi48 opened #12375 "Not the right version of Elpi in nixpkgs"
I tried using `dev/ci/nix/shell Elpi` but I got Elpi 1.10 whereas 1.11 is required. Elpi has not been updated yet on nixpkgs. I tried a naive patch but it didn't work:

[code]

The error is:
[code]

cc @vbgl and @gares

[2020-05-20 11:37] gares commented on #12375
See https://github.com/NixOS/nixpkgs/pull/87711

[2020-05-20 11:38] #12264 closed

[2020-05-20 11:42] gares commented on #12375
BTW, there should be a less error prone way to update a dependency. Next time I bump elpi I'll have to first have opam and nix right, then modify the windows script, docker, nix ... other?

It would be nice to have the versions of dependencies in a single place, eg a file `key=value` file that can be read by make, shell, whatnot. And then have CI tell me: you don't have a nix package ready for ver

[2020-05-20 11:44] gares commented on #12375
Hum:
[code]

[2020-05-20 11:52] gares opened #12376 "[dune] which version?"
[code]

I guess we should centralize this piece of info, one way or another, in order to avoid duplication.

[2020-05-20 11:58] Zimmi48 commented on #12376
Right. FTR, the correct version is the one that you can see in `coq.opam` and `dune-project` and `Dockerfile`, i.e. Dune >= 2.5 is needed. The best way to remove some duplication and potential for inconsistency is to start generating the opam files through Dune (which we should be able to do nowadays). I think it's fine if the `dune-worskpace` file as an older version of the language listed. As fo

[2020-05-20 12:06] Zimmi48 commented on #12375
Thanks @gares! I should have checked there. Note that this `dev/ci/nix` tools are just provided for developers' convenience, so it is not a huge deal if there is a bit of delay.

[2020-05-20 12:14] Zimmi48 commented on #12375
We could have CI build external projects using both the `Dockerfile`-based environment and the Nix-based one, but it would be a waste of resources. Or we could build external projects only in a Nix-based environment, and then you wouldn't have to care of the `Dockerfile`.

[2020-05-20 16:43] chdoc commented on #12370
If I'm not mistaken, then Notations are _always_ (re)evaluated _in the context of the import command_ when the module is imported.

So what happens is that `Notation "'Ob'" := 0 (at level 7).` defaults to making level 7 right associative, unless the level is already left associative (e.g., because Omega has been imported beforehand). If you then try to import `Vect.v` in a context where level 7 is

[2020-05-20 17:03] chdoc commented on #8872
What about allowing the standard coq/ssreflect `rewrite` tactic to rewrite under binders (using the selection mechanism/strategy of `setoid_rewrite`) whenever there is no other redex for the given rule. I think this this would be useful, even if disabled for rules prefixed with a pattern selecting the redex.

If the rewrite is so complicated that one needs pattern selection, one can (and maybe sho

[2020-05-20 18:01] andrew-appel opened #12378 "benign-looking 'replace' causes Qed to blow up"
#### Description of the problem

In Coq 8.11.1, a 'replace' command causes the Qed to blow up (I killed it after 1 hour), but without the 'replace', the Qed takes about 0.2 seconds.

That is:  In my theorem, after 100 lines of nontrivial proof script (but the kind that is normally well within Coq's capacity), I come to this proof goal:

[code]

If I finish the proof with  `auto. Qed.`   then the Q

[2020-05-20 18:15] JasonGross commented on #12378
I see that shortly above your line you have `simpl eval_binop in H7` at https://github.com/PrincetonUniversity/VST/blob/f2549d0d66ef99911e12acbd0c52abedaa5ea92f/progs/verif_binary_heap.v#L584  Furthermore, none of the lines between that and `replace` introduce cast nodes in the proof (basically you are just posing variables, which does not impact typing, and running `change` (via things like `set`

[2020-05-20 18:19] andrew-appel commented on #12378
It's definitely not the `simpl eval_binop in H7` that causes the problem, but it could be some earlier `simpl`.

[2020-05-20 18:23] JasonGross commented on #7316
I believe this bug, though, is specifically about the fact that conversion in the `change` tactic treats `Opaque` as a hint to delay unfolding.

I continue to believe that we should have the following knobs available:
- `Qed`-level-opaque, kernel never unfolds, doing this can break subject reduction, maybe mark it as pseudo-unsafe (you can't break consistency with it, but you can break subject red

[2020-05-20 18:35] JasonGross commented on #12378
@andrew-appel How do you know that the problem shows up before line 522?

Btw, if you do
[code]
is that enough to cause the slowdown?

[2020-05-20 18:44] andrew-appel commented on #12378
Yes, with `pose proof H7` instead of those other lines, it still blows up.

The reason I know the problem is already lurking before line 522 is this:  The original proof script that had the Qed problem went to line 522, then I had a `forward_if ...` tactic and then other stuff.  In diagnosing what caused the problem, I unfolded the `forward_if` into its component parts, recursively, until I found

[2020-05-20 18:51] JasonGross commented on #12378
Does `forward_if` invoke `simpl`?  If so, I'd be 80% confident that the issue is `simpl` (`replace` just turns it into a problem that `Qed` can see rather than one it can't, much like `pose proof`).  As for why `forward_if` would make this proof blow up and not others, the reason lies in the details of the type of `H7` before you simplify it.

If you issue `Opaque derives.` or `Strategy 100 [deriv

[2020-05-20 19:07] andrew-appel commented on #12378
Yes indeed, the `simpl in v` at line 540 is part of `forward if`, in effect, and when I remove that line, the Qed goes fast.

Putting `Opaque derives` just before Qed does not help, and putting it much earlier can't work for me because some of my tactic scripting seems to rely on the transparency of derives.

`Strategy 100 [derives]` does not make a difference, even if I put it just before the `Le

[2020-05-20 19:12] JasonGross commented on #12378
So it sounds like we found the root of the issue.

In that case, this is beyond my ability to debug further without having it running in Coq in front of me.  If you know exactly which constants should be unfolded by `simpl`, you can issue `Strategy -100 [list of constants always unfolded by simpl]`, and perhaps you'll also need to issue `Strategy -50 [list of constants only sometimes unfolded by s

[2020-05-21 02:23] andrew-appel commented on #12378
I have adjusted VST's forward_if tactic so that `simpl v` is used in fewer subgoals, such that it doesn't seem to cause the Qed blowup.  Still, the underlying Coq problem is probably, indeed,  "simpl doesn't leave any evidence in the proof term, causing Qed to blow up because it uses a different conversion strategy".

[2020-05-21 02:34] cpitclaudel commented on #12361
I blame this from `sphinx/writers/latex.py`:

[code]

[2020-05-21 02:59] cpitclaudel commented on #12361
Maybe adding this to coqdomain.py (or even conf.py) is enough:

[code]

[2020-05-21 10:21] Mbodin opened #12381 "Coq allows one to try to prove `forall (P : SProp) (x y : P), x = y`, despite being ill-typed."
#### Description of the problem

I found this line in a Coq project: https://gitlab.inria.fr/kmaillar/dijkstra-monads-for-all/-/blob/master/theories/sprop/SPropBase.v#L262
I don’t know much of `SProp`, but as I didn’t see this issue reported here, I wanted to make sure that this issue is referenced here too.

Here is a minimal example:
[code]

#### Coq Version
Coq 8.10.1.

[2020-05-21 10:28] SkySkimmer commented on #12381
It's explained in the manual https://coq.github.io/doc/master/refman/addendum/sprop.html#issues-with-non-cumulativity

[2020-05-21 10:28] #12381 closed

[2020-05-21 12:32] ejgallego opened #12382 "[zulip] Please move notifications to their own stream."
The notifications topics currently live in the "Coq dev" stream; IMHO they would be better in their own stream "Github notifications", the current setup:
- pollutes the list of topics in the stream [the topics are consistently at the top]
- makes it harder so follow the dev stream. I know I could mute them but sometimes I'd like to have a look at them too.

[2020-05-21 12:47] #12300 closed

[2020-05-21 12:47] #12351 closed

[2020-05-21 15:27] Zimmi48 commented on #12382
cc @CohenCyril (I will take care of this)

[2020-05-21 19:44] JasonGross opened #12384 "Request: Configurable native_compute optimization flags"
#### Description of the problem

I have a case (https://github.com/mit-plv/fiat-crypto/pull/803#issuecomment-632291776) where `vm_compute` takes about 240 seconds, `native_compute` takes 31.29 secs (31.081u,0.114s) (of which 31.08720 are spent in evaluation and 0.02058 are spent in reification.  This is less than half the size of the test-case I'd like to be running.  I'd like to have the option t

[2020-05-21 20:14] JasonGross opened #12385 "Notation .. does not recognize printing boxes well enough"
#### Description of the problem

[code]
I think this is a bug, but maybe @herbelin will point out something I'm missing.

#### Coq Version

8.11.1

[2020-05-21 20:19] Zimmi48 commented on #12382
Done

[2020-05-21 20:19] #12382 closed

[2020-05-21 21:21] JasonGross commented on #12384
Btw, here's a `native_compute` that takes about 26 s, with the corresponding `vm_compute` taking about 203 s: https://github.com/mit-plv/fiat-crypto/pull/804/files#diff-0b199ed57c23a6e98f314caf3a05ab46R139

[2020-05-21 21:49] herbelin commented on #12385
Hi @JasonGross, this is addressed by #10835, which is in 8.12.

[2020-05-21 21:49] #12385 closed

[2020-05-21 21:53] JasonGross opened #12386 "dev/tools/make-changelog.sh should automatically handle bugs fixed by the PR"
I'd like `dev/tools/make-changelog.sh` to also ask me if the PR fixes any bugs (say, a space-separated list of numbers), and it should automatically generate the "Fixes" part of the changelog as well

[2020-05-21 21:55] JasonGross opened #12387 "make print-pretty-timed-diff will raise a python exception if either "before" or "after" has no files"
[code]

[2020-05-21 22:02] JasonGross commented on #12385
Neat, thanks!

[2020-05-22 07:52] RalfJung commented on #6294
@maximedenes any update? That PR you mentioned last time is still open, and AFAIK it is not being blocked on Iris.

[2020-05-22 10:04] #12233 closed

[2020-05-22 11:04] ppedrot opened #12390 "Anomaly with ill-typed arity in inductive types"
In Coq master (ea9463bc10e83759586a41d562e996e1d34e627f):

[code]

This bug was not present in 8.11.

[2020-05-22 12:01] ejgallego commented on #12390
The `NotArity` exception is not caught and doesn't have a printer when it reaches the toplevel.

It is an exception that should be printed by the toplevel ? It doesn't seem so, so maybe the caller of reductionops should handle it?

[2020-05-22 12:05] ejgallego commented on #12390
Concretely this code in comInductive is not working anymore:
[code]
seems due the lower-level layer using a different exn?

[2020-05-22 12:11] ejgallego commented on #12390
Adding this:
[code]
fixes the issue, exceptions...

[2020-05-22 15:47] #5030 closed

[2020-05-22 20:18] herbelin commented on #12373
There is at least one bug which can be considered either as an inconsistency in some table registering camlp5 levels wrt the actual grammar. One could do an easy fix (namely adding `RIGHTA` at level 8 and 9 in `g_constr.mlg`) but it is probably worth to make a smarter fix, such as not imposing an associativity until there is strict a need for it.

[2020-05-23 12:45] Zimmi48 commented on #11157
FTR, I am currently preparing the draft PR with the release notes.

[2020-05-23 12:48] olaure01 opened #12394 "injection does not work with Scheme Equality for type constructors"
#### Description of the problem

`Coq 8.5` introduced automatic simplification of sigma-type equalities generated by `injection` in presence of decidable equality generated by `Scheme Equality`. It does not work with type constructors such as `list`:
[code]
Rather than failing, it should at least provide the sigma-type equality (the behavior in `Coq 8.4` or without `Scheme Equality`).

#### Coq Ve

[2020-05-24 10:17] Zimmi48 opened #12395 "[refman] Version switcher is broken"
The version switcher doesn't appear anymore on https://coq.github.io/doc/master/refman/ and https://coq.github.io/doc/v8.12/refman/. I assume this is a consequence of the update of the version of the theme (part of #12224 that we failed to notice when reviewing the output of this PR).

cc @cpitclaudel (is this something that you think would be easy to fix)

[2020-05-24 11:53] cpitclaudel commented on #12395
Thanks for the heads up; I'll look at it today.  It shouldn't be hard to fix.

[2020-05-24 14:58] Zimmi48 commented on #12373
If there is one easy fix and one better fix but which could take longer to materialize, maybe the easy one should still be merged now to be included in 8.12. WDYT?

[2020-05-24 15:52] Zimmi48 commented on #12332
After investigating, it seems that there are two sources of fatal warnings when building with Sphinx 3:
- tokens that are redefined in multiple `productionlist` in the same production group (only happens in the Ltac2 chapter);
- tokens that are defined in `productionlist` do not seem to be referable from a `tacn` or `cmd`.

The second problem might be considered a bug of coqrst (cc @cpitclaudel).

[2020-05-24 17:03] #12314 closed

[2020-05-24 20:57] JasonGross opened #12400 "Coq's CI fails on at least some developments using native_compute due to incompatible OCaml versions (fiat-crypto)"
#### Description of the problem

[code]
https://gitlab.com/coq/coq/-/jobs/565436568

cc @coq/ci-maintainers

#### Coq Version

16e0877c6e3ec6228875e10afb1ec17d640eb1e9

[2020-05-24 21:28] JasonGross opened #12401 "[engine-bench] "Fatal error: ref_table overflow" is uninformative and missing location info"
#### Description of the problem

What does this error even mean?
https://gitlab.com/coq/coq/-/jobs/565431385

#### Coq Version

16e0877c6e3ec6228875e10afb1ec17d640eb1e9

[2020-05-24 21:32] JasonGross commented on #12401
Seems to probably come from the OCaml GC? https://github.com/ocaml/ocaml/blob/10561873487c185c0727f08b26706226dbb1a7b6/runtime/minor_gc.c#L614-L622

[2020-05-24 21:40] JasonGross opened #12402 "Docker is sometimes unreliable (ERROR: Preparation failed: Error: No such image registry.gitlab.com/coq/coq:bionic_coq-...)"
[code]
https://gitlab.com/coq/coq/-/jobs/565521645

[2020-05-24 21:41] JasonGross commented on #12402
Possibly relevant: all times that I've seen this have come from me retrying a single failed job

[2020-05-24 21:44] JasonGross commented on #12232
@ejgallego I hit a variant of this in Coq's CI (https://github.com/coq/coq/issues/12400); is the CI build system broken?

[2020-05-24 22:25] ejgallego commented on #12402
Unfortunately we still do manual cleanup of old/stale docker images; at some point we may automate this, but still, out-of-date branches may need a merge/rebase to run successfully.

This is in general hard to avoid without introducing a non-trivial startup penalty on the CI side.

[2020-05-24 22:25] ejgallego commented on #12402
To be clear, what happens is that your PR is using an out-of-date docker image version; the solution is to rebase it, or run the job with `SKIP_DOCKER=false`

[2020-05-24 22:29] ejgallego commented on #12232
No idea, here we have 3 build systems involved, the one in Coq's kernel, fiat-crypto's, and CI. One of them is doing something wrong indeed.

[2020-05-24 22:33] JasonGross commented on #12232
It's not fiat-crypto's, I'm pretty sure; we're just compiling a Coq file that issues a call to `Eval native_compute`.  I suspect there's a fourth "build system" that you're missing here, which is the CI setup

[2020-05-24 22:37] JasonGross commented on #12402
I don't think that's the issue here.  Perhaps this was true of the first time I got it, but the second time I got it, I retried it just a couple hours after the pushing, and no commits have been merged into master in the meantime, so the branch is still up to date

[2020-05-24 23:09] ejgallego commented on #12402
That's bizarre, indeed that docker image is actually OK and available in the registry

[2020-05-24 23:42] JasonGross commented on #12402
Interestingly, I retried two different jobs from https://github.com/coq/coq/pull/11029 at the same time, and one went through, and the other failed with this error.

[2020-05-25 00:14] ejgallego commented on #12402
Maybe some gitlab mirroring problem?

[2020-05-25 00:28] JasonGross commented on #12402
And, in fact, it keeps failing again and again on engine-bench in this way, almost every time I retry: https://gitlab.com/coq/coq/-/jobs/565574321

[2020-05-25 09:06] SkySkimmer commented on #12402
Looks like it happens iff the runner is `VM-07e3a7b9-6845-48d2-a942-2899dd2e5f73 (#857051)` (at least I've seen multiple shared runner jobs and 1 pyrolise job succeed, and the first VM-XXX job I found failed https://gitlab.com/coq/coq/-/jobs/565943260.)
Since gitlab detects it as a "runner system failure" it gets auto-retried and I guess we only see it if the retry gets the same runner.

[2020-05-25 09:36] SkySkimmer commented on #12400
Indeed we have
[code]
ie we switch to non-flambda 4.05 but use dependencies compiled with flambda 4.10

Since succeeding job https://gitlab.com/coq/coq/-/jobs/564129619 only #12379 and #12392 have been merged to Coq, neither have a plausible impact.
On the fiat crypto side the failing file was added https://github.com/mit-plv/fiat-crypto/commit/b5d9ba0385443fa9b3d7d6ca7ca63600f2b01efa
So I guess w

[2020-05-25 09:42] Blaisorblade opened #12406 "Type error in `dependent induction`"
#### Description of the problem

The definition of elim_tac in `theories/Program/Equality.v` is ill-typed (as noticed by @mattam82), causing `dependent induction` to sometimes produce ill-typed terms — here's the needed fix:

[code]

`elim` comes from
[code]

My attempt using that run into further problems (maybe #8275), but I guess this should still be fixed. I'll try to send a PR, even tho I don

[2020-05-25 13:28] Zimmi48 commented on #12402
So IIUC this runner never works? Then a quick fix is to just pause it (https://gitlab.com/coq/coq/-/settings/ci_cd) since it is one of our own runners.

[2020-05-25 17:10] ejgallego commented on #11157
I will take care of the PR with the beta version bump. Two main points seem:

- Ensure the Credits chapter has been updated.
- Ensure that an appropriate version of the plugins we will distribute with Coq has been tagged.

I understand @mattam82 is already working on the first item, how's the status on the second point tho? Seems like quite a complex process?

[2020-05-25 17:26] #12365 closed

[2020-05-25 19:35] Zimmi48 commented on #11157
I'll look into it possibly with help from @MSoegtropIMC.

[2020-05-25 21:05] MSoegtropIMC commented on #11157
I am about to finish my reals PR and then will pick up the platform work. Do you have a timeline?

[2020-05-26 10:17] #12387 closed

[2020-05-26 10:40] #12386 closed

[2020-05-26 10:58] Zimmi48 commented on #12305
So, is the latest code shown by @cpitclaudel the one which should be integrated to fix the issue?

[2020-05-26 11:05] ejgallego opened #12413 "[lexer] Expose comments as tokens"
It would be nice to have a `COMMENT` token type, so users of the lexer can actually see the comments in streams. This has been requested a few times, for example:

- https://github.com/ejgallego/coq-serapi/issues/191
- https://github.com/ejgallego/coq-lsp/issues/353
- https://coq.discourse.group/t/would-coq-benefit-from-docstrings

Even if some of these requests would require more than extending t

[2020-05-26 11:17] Zimmi48 commented on #11157
Yes, and it is short (we're supposed to release 8.12+beta1 early next week). I'll work on this today.

[2020-05-26 11:30] MSoegtropIMC commented on #11157
I see - unfortunately I have little time until the weekend, but I have time to review it and help in case you need it. You might want to take the file from the 8.11 release branch - it might be closer to what you finally need and contains in comments the reasoning for the picks I did then which is likely very similar for 8.12.

[2020-05-26 12:17] Janno opened #12414 "Universe with Prop <= i not minimized to i := Set, resulting in costly, unconstrained universes"
#### Description of the problem
The following snippet fails at the last `Check` invocation.
[code]
While this is not *wrong*, it essentially means that users pay a very heavy and unnecessary price for using universe polymorphism and later instantiating the definitions with propositions. It is very easy to amass thousands and sometimes tens of thousands of universes in a single definition and in my

[2020-05-26 13:49] Zimmi48 commented on #11157
Thanks, I'm using it as a reference, but virtually all tested projects have received compatibility fixes in 8.12, so they will all have to be updated.

[2020-05-26 14:37] ppedrot commented on #12414
FTR, I believe that the kernel should not even accept these constraints. Unfortunately we use the same code for universe unification and universe type-checking, so we have to tolerate these transient constraints during unification...

[2020-05-26 14:40] SkySkimmer commented on #12414
@ppedrot what constraints are you talking about?

[2020-05-26 17:21] VizorKit opened #12416 "Creating a new Extraction "language"?"
I am trying to create my own extractor to a different output than Scheme, OCaml, C, and Haskell. I am sorry to even bother anyone with this question. But there doesn't seem to be a lot of documentation on how the original creators did so. Any direction at all would be helpful, as far as where to look at someones previous work. Any documentation that might be helpful with contributing to Coq. Etc.

[2020-05-26 17:40] JasonGross commented on #12416
The code implementing extraction lives in https://github.com/coq/coq/tree/master/plugins/extraction .  Each language has it's own .ml and .mli file.

[2020-05-26 18:06] bfbonatto opened #12417 "Encountered an Anomaly when defining a Function"
## Description of the problem
Hi, I am trying to define a function with a non-standard recursion pattern and encountered an
anomaly on the sum_total function: ' Anomaly "Uncaught exception Retyping.RetypeError(0)." '
[code]
#### Coq Version
8.10.1 on MacOs Mojave 10.14.5

[2020-05-26 19:06] ppedrot commented on #12414
AFAIK nothing in the kernel enforces that `Prop <= i <= Set` implies `i = Prop ∨ i = Set`. I believe that none of the specific universes `Prop`, `Set` and `SProp` should even be contained in the `UGraph`, i.e. the latter should only contain either global or local universes.

[2020-05-26 23:49] satnam6502 opened #12418 "File "pretyping/cases.ml", line 1719, characters 29-35: Assertion failed."
#### Description of the problem
I get the following error message:
[code]
I suspect I have done something wrong :-(

Repo:

[code]

#### Coq Version

[code]

[2020-05-27 09:38] SkySkimmer commented on #12418
@ejgallego why do you put resolved label without closing?

[2020-05-27 09:49] ejgallego commented on #12418
Hi @satnam6502 , thanks for the bug report and nice repro instructions; this is a bug, fixed in `master` / Coq 8.12.

Unfortunately I don't think a fix for 8.11 will happen, and it is still present in the branch.

[2020-05-27 09:49] ejgallego commented on #12418
I was testing on v8.11 before posting my comment.

[2020-05-27 10:37] maximedenes commented on #12384
This should be pretty easy to implement. Are there any restrictions about these flags w.r.t. dynamic linking? I.e. can units compiled with different values for these settings be linked together without trouble? If not, we should pass the same options as the ones used to compile Coq itself.

[2020-05-27 10:39] maximedenes commented on #6294
@RalfJung that PR is unfortunately blocked on the bug revealed by fiat-crypto-legacy. Let's discuss on the PR what needs to be done, hopefully Matthieu will have some ideas.

[2020-05-27 10:40] Zimmi48 commented on #12384
IIUC unfortunately OCaml doesn't provide any compatibility guarantee between object files compiled with a different set of options. cc @ejgallego

[2020-05-27 10:50] ejgallego commented on #12384
I understand that it should be possible to still link files compiled with different `-O` choices in flabmda, but we need confirmation from upstream.

[2020-05-27 11:50] SkySkimmer commented on #12384
It would be strange if there was a problem, we already link to the stdlib without caring what options it was compiled with.

[2020-05-27 12:20] Zimmi48 commented on #12384
Oh right! The only thing we do ensure as of today is that it was compiled with flambda.

[2020-05-27 13:53] ejgallego commented on #12418
Sorry I was not careful about testing this bug, I tested the wrong commit.

I did reproduce on `master`:
[code]

[2020-05-27 13:56] ejgallego commented on #12417
In master:
[code]

[2020-05-27 16:30] satnam6502 commented on #12418
I am sure this is the result of me doing something wrong and when I finish the refactor correctly the crash goes away, but I thought I would report it anyway in case it is useful for you.

[2020-05-27 16:31] satnam6502 commented on #12418
Oh, and thank you. I will switch to using master!

[2020-05-27 16:36] JasonGross commented on #12418
Assertion failures are always bugs in Coq, even if you're code is not supposed to work anyway. Thank you for reporting.

[2020-05-27 18:00] ejgallego commented on #12418
Indeed, sorry for the false lead @satnam6502 ; I tested the wrong commit, this is a bug, and still present on master so you may not get any benefit from upgrading.

[2020-05-28 17:35] herbelin commented on #12418
Fixed in #12422. Thanks for reporting.

[2020-05-29 03:01] jfehrle opened #12424 "assert_fails and assert_succeeds issues?"
I get unexpected behavior in the following cases:

[code]

For comparison:

[code]

The "equivalents" in the current documentation are syntactically invalid.  The one for `assert_succeeds` don't work even if adjusted.

[code]

For `assert_fails` I'm not sure how to interpret "This behaves like :tacn:`idtac` if `ltac_expr` fails, and behaves like `fail 0 ltac_expr "succeeds"` **if `ltac_expr` has a

[2020-05-29 03:19] JasonGross commented on #12424
It's actually not possible to write a tactic that has the "right" behavior here, because you're getting tripped up by the semantics of Ltac.  Note that `assert_fails (idtac; match False with | False => fail end)` and `assert_succeeds (idtac; match False with | False => fail end)` behave as expected.  This might be worth documenting here with a link to the relevant section on the semantics of Ltac

[2020-05-29 07:35] jfehrle commented on #12424
AFAIK there's no section defining those semantics.  I can only guess--"success" and "failure" clearly don't have there usual meanings--very unexpected!  I've seen no explanation of that in the old doc.  Can you fill me in?

What part did you not understand?  By "adjusted", I meant copying the "equivalent" from the old doc "This behaves like `tryif (assert_fails @ltac_expr) then fail 0 @ltac_expr "

[2020-05-30 16:14] affeldt-aist opened #12428 "Extraction of real numbers"
#### Description of the problem

I'd like to report what could be an extraction bug when real numbers are involved:
[code]
Compilation of the extracted files fails as follows:
[code]

#### Coq Version

[code]

[2020-05-30 19:39] herbelin commented on #12428
This is a bug with extraction of inlined constants in modules with a signature. The inlining is too eager and it should not remove constants expected to be exported.

For the record, a shorter example (not referring to `Reals`):
[code]
resulting in:
[code]

Fixed in #12429.

[2020-05-31 01:38] JasonGross opened #12430 "-profile-ltac-cutoff does not show up in coqc -help"
#### Description of the problem

The flag `-profile-ltac-cutoff` does not show up in `coqc -help`.  It's effect is to set the default cutoff for `Show Ltac Profile`.

#### Coq Version

8.11

[2020-05-31 12:59] andrew-appel opened #12433 "Record 'is defined' message, when record is not defined"
In Coq 8.11.1, processing the following lines,

[code]
leads to the two lines of feedback,

[code]

The `foo already exists` is an error message; the record definition is not accepted by Coq; and therefore, it is not the case that R is defined.  The second line of feedback is inappropriate.

[2020-05-31 22:15] jfehrle commented on #12424
@JasonGross I'd appreciate your respose to this.  Thanks.

[2020-05-31 22:50] JasonGross commented on #12424
I think there's too big of an inferential gap to respond to the questions directly; my responses rely on having a working understanding of the fundamental but perhaps quite complicated semantics of Ltac.  Please read http://coqhott.gforge.inria.fr/blog/coq-tactic-engine/ and also the blurb I wrote at https://github.com/coq/coq/pull/12103/files#r432990765 explaining the semantics of Ltac.  Would yo

[2020-05-31 23:11] jfehrle commented on #12430
Also appears to be accepted by `coqtop` and `coqide`.

[2020-06-01 10:21] SkySkimmer commented on #12424
@jfehrle it's an order of evaluation issue: the match gets evaluated and fails or succeeds before being passed to assert_*, if it succeeds assert_* only sees the result of evaluation (in the example `fail`).

[2020-06-01 10:53] #12400 closed

[2020-06-01 14:37] #12418 closed

[2020-06-01 19:01] jfehrle commented on #12424
Is that behavior a bug or a feature?  How useful are the assert_*?  It seems like they're good for writing tests and maybe a bit in the documentation to make clear that a failure was expected.  I don't see how they'd be very useful in most Ltac tactics.

If they're not that useful, the doc should mention that there are limitations.  If they're useful, they should eventually be fixed or documented

[2020-06-01 21:12] JasonGross commented on #12424
Let's call it a very questionable design decision.  There's a lot of code out there that relies on this "feature", currently.  I don't think it's going to change, and at the same time I think it's good that Ltac2 doesn't suffer from this design choice.

They're useful for rolling back the side-effects of a tactic when you still want to be sure it would succeed.  e.g., "only do this if `clear H` wo

[2020-06-01 21:14] JasonGross commented on #12424
The doc should definitely include a warning about Ltac evaluation order here.  Something to the effect of "note that `assert_fails` and `assert_succeeds` only happen *after* expression-evaluation of the passed argument.  This means that they will not catch failures that occur during expression-evaluation, which notably include *all* failures of top-level `match`, `multimatch`, and `lazymatch`.  To

[2020-06-01 21:17] JasonGross commented on #12424
I would say "Let us say that a tactic succeeds if it has at least one success.  Let us say that it fails if it has no successes.  The behavior of `assert_succeeds` and `assert_fails` with regard to multi-success and multi-goal tactics is to focus each goal separately and then to collapse all backtracking points of the tactic in the process of answering the question "does this tactic have at least

[2020-06-01 22:18] jfehrle commented on #12424
`Fail` seems to work as expected for my error case above--but italways prints a message whether the sentence failed or not.

[2020-06-01 22:33] jfehrle commented on #12424
"top-level" meaning that the construct is the first thing in the ltac expression, e.g.

[code]

or that the match is the outermost construct?

[code]

[2020-06-01 22:33] JasonGross commented on #12424
`Fail` is a vernacular command, and not a tactic.  Vernacular commands are not subject to Ltac evaluation rules.  I'm not sure if I've answered the question you may be asking, here, though.

[2020-06-01 22:39] JasonGross commented on #12424
I was being a bit loose with terminology.  Yes, "top-level" meaning that the construct is the first thing in the Ltac expression, but actually the correct thing to say is "which notably include all failures of match, multimatch, and lazymatch expressions which show up as the top-level expression at any point during expression-evaluation of the arguments."  I think this is more confusing than it is

[2020-06-02 01:17] jfehrle commented on #12424
Does that fix the problem in all cases?  If so, why don't we add `idtac ;` to the definition of assert_*?

[2020-06-02 01:20] JasonGross commented on #12424
Yes

Because that wouldn't do anything.  The issue is that the semantics of Ltac are a little bit insane, and the confusing behavior occurs before the definition of `assert_*` is even run.

[2020-06-02 02:14] jfehrle commented on #12424
OK, I think I'll mention the fix and give an example of the problem without going into detail (which I could easily get wrong).

[2020-06-02 02:40] jfehrle commented on #12424
I'm going with this:

   .. note:: :tacn:`assert_fails` and :tacn:`assert_succeeds` work as described when
      :token:`ltac_expr3` is a :token:`simple_tactic`.  In some more complex expressions,
      they may report an error from within :token:`ltac_expr3` when they shouldn't.
      This is due to the order in which parts of the :token:`ltac_expr3`
      are evaluated and executed.  For example

[2020-06-02 03:49] JasonGross commented on #12424
Sounds good.  (Though you have one too many backticks in ```:tacn:`match`` ```)

[2020-06-02 06:21] SkySkimmer commented on #12424
they may report an error from within :token:ltac_expr3 when they shouldn't.

I don't think that's correct, the error is required by ltac1 semantics. I would rather say that `assert_fails` will not capture some errors from complex expressions.

[2020-06-02 15:55] Zimmi48 commented on #12332
My proposal for "resolving" this bug for 8.12+beta1 is to document in `doc/README.md` and the changelog that the manual is known not to be compatible with Sphinx 3. For 8.12.0, we might be able to just get rid of the remaining `productionlist`.

@cpitclaudel: WDYT?

[2020-06-02 15:55] Zimmi48 commented on #12305
ping @cpitclaudel: Do you want to open a PR with the code above?

[2020-06-02 15:56] Zimmi48 commented on #12395
ping @cpitclaudel: If it's easy to fix, it'd be good to do it now, otherwise we should remove the changelog entry I added about it from the 8.12+beta1 release notes.

[2020-06-02 17:23] jfehrle commented on #12424
I think it's fine.  "Shouldn't" refers to a deviation from the definition given for `assert_fail` in the preceding text, which one can reasonably consider a bug.  The text is:

[code]

[2020-06-02 18:25] jfehrle opened #12435 ""idtac ; idtac" in coqtop:: directive in doc behaves differently from coqtop binary and coqIDE"
Running `idtac "x"; idtac "y".` in the coqtop binary or coqIDE gives the correct output:

[code]

whereas the same tactic in a `coqtop::` directive in the doc only shows

![image](https://user-images.githubusercontent.com/1253341/83554797-29caf900-a4c2-11ea-90fe-945df34c9fb9.png)

I see this even if it's not the last tactic in the `coqtop::`.

This is with coqtop from master and coqIDE 8.11 and th

[2020-06-02 21:42] jfehrle opened #12436 "Doc General index has 2 "Symbols" sections but both links go to the first one"
The second link section is after 'Z'.  It's also odd that `_` gets its own category.

![image](https://user-images.githubusercontent.com/1253341/83572581-b2f02900-a4de-11ea-9298-54e681801061.png)

With the fix, it would be nice to use this approach for the handful of tactic names that start with symbols.

[2020-06-03 03:38] jfehrle commented on #12201
Why not use WSL (Windows Subsystem for Linux), which doesn't have this limitation?  I find the old version very functional and the new version (in Windows 2004, not widely available yet) has a full virtual machine for WSL.

[2020-06-03 03:52] jfehrle commented on #11926
Interesting detail here about what's being measured.  To get the net increase in the heap size from a tactic, you probably have to force garbage collections before and after each tactic.  It may be easier to get an idea how much memory a tactic allocates (including discarded items), though that would be thrown off by garbage collections in the middle of a tactic.

[2020-06-03 03:57] jfehrle commented on #12271
I see you've filed a number of performance-related issues.  It would be nice to understand the practical impact of each if you can figure that out.  Or better yet, describe their relative priorities at some point based on user impact.  Not all performance issues are necessarily worth fixing.

[2020-06-03 12:05] anton-trunov opened #12438 "Parser stackoverflows on large files"
#### Description of the problem

Consider the following snippet with a lot of identical lines:
[code]

It can be generated with the following script (the file is called `coq_stress.v`):

[code]

Note: `6288` is the number of `let x := 0 in` in `coq_stress.v`.

When I run it like so
[code]

I get
[code]

The discussion with @ejgallego and @JasonGross on Zulip
showed this happens deep in the parser

[2020-06-03 12:21] SkySkimmer opened #12439 "Checker checks too little on primitives"
The checker seems to ignore the definition of primitives https://github.com/coq/coq/blob/db768e6828af62e06eb03d36509be6f8fc1efbf3/checker/mod_checking.ml#L55
so we could have a vo with `int : False` or some such silliness

[2020-06-03 13:12] ejgallego commented on #12438
Indeed this is a legitimate stack overflow, there are many strategies that could be used to improve the parser here, in terms of tail-call and stack use.

[2020-06-03 13:20] ejgallego commented on #7560
I'm updating with some discussion from https://github.com/coq/coq/pull/12347

In particular, such a registration API could make use of the features in
https://caml.inria.fr/pub/docs/manual-ocaml/extensiblevariants.html

In particular, the example about private extensible variants would be really close to what we want, so errors have to be properly registered with a printer, extractable doc, etc...

[2020-06-03 14:33] Zimmi48 commented on #12282
I couldn't reproduce on Windows 32 bits with Coq 8.11.1 nor Coq master.

[2020-06-03 16:48] ejgallego opened #12441 "[ci] coq-ext-lib build is broken"
Coq ext lib has been broken for a while, following upstream changes:
[code]

[2020-06-03 17:11] gasparattila opened #12442 "Confusing error message when the intro pattern of "apply in" fails"
#### Description of the problem

When `apply in` is used with a tuple and the intro pattern fails, the error message incorrectly states that the application failed:

[code]
Note that this bug does not occur when there is no tuple:
[code]

#### Coq Version
8.11.0

[2020-06-03 19:15] SkySkimmer commented on #12441
https://github.com/coq-community/coq-ext-lib/pull/91

[2020-06-03 20:18] erikmd opened #12444 "`Proof <term>.` fails if it follows a non-Lemma-like command"
#### Description of the problem

If there is a (setting, query, ...) vernacular between `Goal/Lemma` and `Proof <term>.`, then the proof term is rejected.

MWE using coqtop:

<pre>
Lemma test : True.
Check 0. (* or  Set Printing All.  or … *)
Proof I.
<b>(* Toplevel input, characters 0-8:

   Error:  (in proof test): Attempt to save an incomplete proof *)</b>
</pre>

This is reproducible with Coq

[2020-06-03 20:57] jfehrle commented on #12435
@Zimmi48 I hope we can fix this sooner rather than later.  I created 3 useful examples for the Ltac chapter that don't make sense without the correct output.

[2020-06-03 21:00] Zimmi48 commented on #12435
Any chance for this to be related to #12305?

[2020-06-03 21:02] Zimmi48 commented on #12444
I think this issue is more or less known and there is no intent to fix it. But rather to deprecate and remove the `Proof <term>` command as soon as `Lemma :=` (cf. coq/ceps#42) is available.

[2020-06-03 21:06] Zimmi48 commented on #12444
This is possibly a duplicate but `Proof <term>` is too hard to search for me to dig up the relevant issue.

[2020-06-03 21:34] jfehrle commented on #12435
Seems like a good guess though I haven't looked at any code.

[2020-06-03 21:41] erikmd commented on #12444
@Zimmi48 indeed, I found there are at least 2 duplicates :)
* https://github.com/coq/coq/issues/5592
* https://github.com/coq/coq/issues/8229
but as these two issues are a bit more specific (they only speak of `Unset Silent`), would it make sense to close them as duplicate, then close #12444 as wontfix (now or later)?

[2020-06-03 21:42] Zimmi48 commented on #12444
Sure!

[2020-06-03 21:43] erikmd commented on #5592
Duplicate of #12444

[2020-06-03 21:43] #5592 closed

[2020-06-03 21:43] erikmd commented on #8229
Duplicate of #12444

[2020-06-03 21:43] #8229 closed

[2020-06-03 21:44] erikmd commented on #12444
done, I didn't close #12444 as wont-fix for the time being, but feel free to do so when you see fit

[2020-06-04 00:44] mwuttke97 commented on #10939
I also just stubled into this issue. It can be simplified:

[code]
My use case for this was the following. I wanted to `pose proof` a lemma application, but I knew that I wouldn't be able to prove a premise (because some other definitions have to be refined first, but I was procrastinating). So that why I used 'admit' here :)

Perhaps a better error message should be shown.

(I am using `Coq v8.11

[2020-06-04 07:47] jfehrle opened #12445 "How to describe unification done in match constructs?"
Is the following, for the doc, an accurate description of how `match` does unification?  I added the "non-linear unification", not sure that's right.  Also would be nice to get an example of second-order unification.

   Matching is done with non-linear unification: if a
   metavariable occurs more than once, each occurrence must match the same
   expression.  Matching is first-order except on var

[2020-06-04 12:32] SkySkimmer commented on #12414
So what should the kernel see if I have `Polymorphic Definition foo@{u} : Type@{u} := Set.` (ie a `Set < u`)?

[2020-06-04 12:42] ppedrot commented on #12414
Every universe should also remember that it's greater than `Set` (and `Prop` for that matter). Essentially, I want to keep the dynamic graph structure from the static one.

[2020-06-04 12:47] Matafou opened #12447 "Proof using suggestion appear even outside sections"
#### Description of the problem
Proof Using suggestion appear even for proofs outside sections.
Is it intended? It forces IDEs to be smart about inserting the proposed annotations.
Proof using annotations are allowed outside section but mainly useless, aren't they?

[code]
==>
[code]
#### Coq Version
master

[2020-06-04 16:39] #12444 closed

[2020-06-04 17:16] gares commented on #12447
The code I wrote a long ago was under such a test (actually it tested if the section variables list was empty). Then the code was moved outside the kernel by #1103 by @SkySkimmer which kept the test as far as I can tell. Then the code was moved around by @ejgallego , I don't have time to exactly find the commit that lost that condition, see:
https://github.com/coq/coq/blob/0ae20176df146b90f11e131a

[2020-06-04 17:19] SkySkimmer commented on #12447
Ideally it should be the same test as the one used by the stm to decide if delegating is ok
I believe that's https://github.com/coq/coq/blob/0ae20176df146b90f11e131aff3673584e6ffb3a/stm/stm.ml#L2550

[2020-06-04 17:25] gares commented on #12447
Yes, that one also covers "open sections with no variables" with is a bit better

[2020-06-04 18:45] mwuttke97 opened #12452 "Combined Scheme anomaly"
#### Description of the problem

I needed to create functional induction lemmas manually. Then I tried to join them using `Combined Scheme`, but I got an anomaly.

The reason why I needed to create functional induction lemmas manually is described here:

<https://coq.discourse.group/t/mutual-recursion-with-function-unfolding/869>

[code]

Note that this works if I remove the parameters [Ai : nat -

[2020-06-04 20:23] mwuttke97 opened #12453 "Functional Scheme not working for a simple mutually recursive function"
#### Description of the problem

`Functional Scheme` fails to build the functional induction lemma for the following mutually recursively defined identity functions.

[code]

#### Coq Version

[code]

[2020-06-04 21:15] jfehrle commented on #12435
That patch appears to affect input, not output.  So not relevant.

I added a print statement to show the output gathered by Coqtop.sendone().  It is not seeing the output from `idtac "y"` in `idtac "x"; idtac "y".`, so it appears the problem is related to `expect`.  I see the same problem in 8.11.2 and 8.9 alpha, so it's not new.  (I forgot the incantation to download a release & didn't feel like

[2020-06-04 23:31] JasonGross opened #12454 "Coq Standard Library should be consistent about using "<" and "<=" for prop-valued things and "<?" and "<=?" for bool-valued things"
#### Description of the problem

https://github.com/coq/coq/blob/0ae20176df146b90f11e131aff3673584e6ffb3a/theories/Numbers/Cyclic/Int63/Int63.v#L72-L80
This is inconsistent with the notations for most other types.  The standard is to use `=?` for boolean equality, `<?` for ltb, and `<=?` for `leb`.

cc @maximedenes

Is fixing this a candidate for 8.12?

#### Coq Version

master

[2020-06-05 00:42] ejgallego commented on #9581
I think this bug still applies.

[2020-06-05 01:39] bcpierce00 opened #12455 "Custom entry regression (?) from 8.10 to 8.12?"
The following example compiles in both 8.10 and 8.12, but uncommenting the next-to-last command causes it to fail on 8.12 only.  Is this expected behavior? If so, can someone tell me how to achieve the effect of "application syntax" in a custom grammar?  Thank you!

[code]

[2020-06-05 09:37] maximedenes commented on #12001
Sorry to report on this a bit late. I spent some time thinking about the issue, and I believe a clean way to do it would be to redesign the named arguments machinery. We could introduce a system similar to the OCaml labels :
- arguments could be applied by name only for explicitely labeled binders
- labeled binders would have to be fresh, so they won't be renamed on the fly by Coq

[2020-06-05 09:44] maximedenes commented on #12414
@Janno we (@SkySkimmer and I) made a bit of progress in https://github.com/coq/coq/pull/12449, but changing the minimization strategy breaks a lot of exisiting code :(

[2020-06-05 09:47] maximedenes commented on #7922
@tchajed any news on this front? did you package your proof-of-concept?

[2020-06-05 10:06] Janno commented on #12414
Thanks for picking this up again! I appreciate every bit of progress on this!

I see some of the failures are because definitions need fewer/(more?) universes now. I consider those technical debt in the sense that the current way of instantiating universe-polymorphic code is not very user friendly. It's not just that I don't *want* to write out 25 universes in braces, it's that I need to *change*

[2020-06-05 10:07] RalfJung commented on #7922
@tchajed wrote an "Iris plugin" using Ltac2 for this at https://gitlab.mpi-sws.org/iris/string-ident.

My main concern right now is that we need different code for Coq 8.11 and 8.12, with no way (that I know of) to have one codebase that works across both Coq versions. Until such problems are resolved, it is impossible for us to rely on this approach in Iris proper.

[2020-06-05 10:17] ejgallego commented on #12455
Let's research this before we release 8.12, @herbelin any immediate idea?

[2020-06-05 10:46] herbelin commented on #12455
This is indeed a change of behavior but of the "bug fix" kind, not of the "regression" style. Indeed, 8.10 had a "severe" bug which was causing
[code]
to be wrongly interpreted as:
[code]
If you want to preserve the 8.10 behavior (but using the right incantation for it!), use the latter (with `com`). If you really intend to parse any application of a `constr` to a `constr`, you can do it, typicall

[2020-06-05 10:47] Zimmi48 commented on #12395
The cause of the issue is likely something else than the bump in the update of the theme, because the version switcher still works in PR builds (e.g. https://coq.gitlab.io/-/coq/-/jobs/581141713/artifacts/_install_ci/share/doc/coq/sphinx/html/index.html), but it doesn't on deployed builds.

[2020-06-05 10:51] Zimmi48 commented on #12395
OK, I think I've got it. It's a dependency registration issue with Dune!

[2020-06-05 11:20] Zimmi48 commented on #12360
#12415 does a first selection, but we will have to come back to this selection and update it for the final release, so I'm changing the milestone.

[2020-06-05 11:25] SkySkimmer commented on #12414
Because replacing `i <= Prop` by `i := Set` is not the same as "removing redundant universes".
Indeed removing redundant universes would be nice, but I don't know how to define redundancy.

[2020-06-05 11:28] Janno commented on #12414
Ah, I suppose I don't understand the terminology well enough. There isn't anything lower than `Prop`, is there? If so, then we have no choice when instantiating the `i` in `i <= Prop`. That's what I meant by redundant. There's probably a better term for that.

[2020-06-05 11:39] bcpierce00 commented on #12455
Many thanks, Hugo, for the quick response!  Your last suggestion for the better way to parse applications seems to work. (This fragment was extracted from our syntax for Hoare Logic assertions in SF, where we want to be able to parse things like [[ Y = 0 /\ Z = factorial X ]] without heavy brackets to escape from the assertion syntax back to the main grammar.)

Something else failed a few lines be

[2020-06-05 11:42] bcpierce00 commented on #12455
P.S.  Although the example now compiles, I am not sure I understand why: there is no instance of "something followed by something else" in the last line, so why does the production for parsing such things matter?

[2020-06-05 11:49] Zimmi48 commented on #9692
Let's delay this issue to the platform. We can always decide to add it in a patch-level release of Coq if the platform work hasn't progressed as much as expected.

[2020-06-05 11:55] ppedrot commented on #12414
That's also my impression. Universe unification is extremely fragile. I think that *at the very least* one should be forced to write the bound universe variables in polymorphic mode, i.e. the strict mode should be the default. Not sure whether this scales much though.

[2020-06-05 11:58] Zimmi48 opened #12458 "Sphinx still transforms some symbols in prodn."
#### Description of the problem

In the PDF output of the refman, `>>` and `<<` in `prodn` are transformed into `»` and `«`.
Strangely enough, it isn't the case in notations `:n:`.

#### Coq Version

8.13+alpha but probably since forever

[2020-06-05 12:01] Zimmi48 commented on #11170
Not going to be addressed for 8.12+beta1.

Who did we say we should ping when we discussed this in the Coq Call?

[2020-06-05 12:01] SkySkimmer commented on #12414
Woops I should have written `Prop <= i`

[2020-06-05 12:05] Janno commented on #12414
Well, that explains why my reply made sense to me locally but why, at the same time, I just couldn't figure out why I was talking about universes with upper bounds. I really should have re-read the preceding discussion.

In what kind of situation will `i := Set` cause problems (if `Prop <= i` is the only constraint on it)?

[2020-06-05 12:09] Zimmi48 commented on #12305
I tested the regexp proposed by @cpitclaudel but it doesn't seem to fix the issue of consecutive lines not being split. @mpu Would you be available to open a PR with a fix (any fix as long as it works)? Otherwise, we should revert #12272 in v8.12.

[2020-06-05 12:09] Zimmi48 commented on #12332
I'm going to implement the strategy I proposed.

[2020-06-05 12:25] SkySkimmer commented on #12414
There's some kind of conflict between universe polymorphism and cumulativity: cumulativity means the fully general form of lemmas can involve huge numbers of universes related by `<=`, and unverse polymorphism means having many universes is very slow and impractical (also if you care about the universes when trying to understand the meaning of a lemma having thousands of them makes it impossible).

[2020-06-05 12:26] SkySkimmer commented on #12414
When you later want to instantiate `i` by non-Set. `Prop <= i` being the only constraint doesn't mean much wrt to the use of `i` in your term.

[2020-06-05 12:35] Janno commented on #12414
Okay, I am beginning to understand the difference in perspective. For me, when debugging universe issues, universes usually have some kind of semantic meaning attached to them. "This is the universe of that type former `M`" or something like that. In that scenario, if `M` is instantiated with a `Prop` then the universe that Coq generates for that instantiation certainly shouldn't ever be used for

[2020-06-05 12:44] cpitclaudel commented on #12395
:+1: I need to be more careful about promising to do things "today"

[2020-06-05 13:18] Zimmi48 commented on #12332
#12459 documents the incompatibility. Keeping this issue open (until compatibility is fixed) but now targeting 8.12.0.

[2020-06-05 13:23] Zimmi48 commented on #12395
In the end, it gave me time to figure things out :wink:

If you do find out some available time, the most pressing issue to look into now is #12305 (because it is a regression). And if you have even more time, #12435 could be worth a look as well.

[2020-06-05 13:49] Zimmi48 commented on #7560
Commenting to note that in a Zulip discussion @gares pointed out that `CError.user_err` raises an error that is catchable by the tactic monad, and we should ensure when moving to a newer error mechanism to not break this (errors that were caught should continue to be caught, and in fact catchable errors should be the default behavior).

[2020-06-05 15:27] ejgallego commented on #7560
Yup, that should be fine. Adding error registration opens the door to some interesting features, for example we could have a small language for specifying fixes and suggestions, and provide errors with a bit more structure that is usually much welcome by users.

[2020-06-05 15:31] #12395 closed

[2020-06-05 15:32] #12280 closed

[2020-06-05 16:53] herbelin commented on #12455
Yes, I'd be interested in knowing more about the situations which you were not satisfied with, and to understand if it is inherent to the custom notations, to camlp5, or to some other issues, ideally in an interactive way.

If the question is why adding a rule to parse `[[ t u ]]` (for `t` and `u` constr) breaks the parsing of `[[ 3 ]]`, it is a limitation of camlp5 which does not compile rules to

[2020-06-05 17:09] bcpierce00 commented on #12455
P.S.  Thank you for the explanation of the mis-parse — that was very illuminating!  I wonder if something like this belongs in the manual…?

[2020-06-05 19:39] tchajed opened #12463 "Ltac not fully applied error no longer displays tactic name"
#### Description of the problem

The error message here now says "An unnamed user-defined tactic was not fully applied" even though the tactic is named:

[code]

#### Coq Version

8.13+alpha e766d3168355

[2020-06-05 21:39] jfehrle commented on #12280
Yeah, dropping xindy lets build the pdf on Windows/WSL.

[2020-06-06 01:58] JasonGross opened #12465 "only printing notations should never have level clashes"
#### Description of the problem

I think this should work.  @herbelin , do you agree?
[code]

#### Coq Version

8.11.1, 831e901a8b796c3f2e7cec7f2b5d8adae4dfbea3

[2020-06-06 02:57] jfehrle opened #12466 ""fresh" should accept "ident"s instead of "qualid""
The `fresh` tactic only uses the last component of a `qualid` passed to it, so we might as well change the syntax so accepts `ident`s instead.  That way the user won't be puzzled by this and don't have to mention this oddity in the doc.

This example from @Zimmi48 generates the symbol `barHbar`.

[code]

[2020-06-06 03:01] JasonGross opened #12467 "Error: Anomaly "Inconsistent substitution of recursive notation." Please report at http://coq.inria.fr/bugs/."
#### Description of the problem

[code]

cc @herbelin

#### Coq Version

8.11.1, also 831e901a8b796c3f2e7cec7f2b5d8adae4dfbea3

[2020-06-06 03:07] jfehrle opened #12468 ""fresh": need a better message for invalid characters in strings"
It would be clearer to report something like "Can't build a fresh identifier using ';'".  In a longer script, it may not be as obvious that the problem is in the `fresh`.

[code]

[2020-06-06 03:28] jfehrle opened #12469 "Ltac command should take an "ident" instead of a "qualid" before ":=""
Since this is semantically prohibited, we should change the grammar so it only takes an "ident".

[code]

[2020-06-06 19:03] SkySkimmer opened #12470 "`Inductive foo : nat := .` produces uncaught NotArity"
[code]

[2020-06-06 19:05] SkySkimmer commented on #12470
This was a regular error in 8.11.

[2020-06-06 19:12] ppedrot commented on #12470
Duplicate of #12390

[2020-06-06 19:12] #12470 closed

[2020-06-06 20:07] #12361 closed

[2020-06-06 21:09] Zimmi48 commented on #12469
`Ltac a.b ::=` is authorized though and that's probably not possible to parse it without also parsing `Ltac a.b :=`. So that is, I think, the reason why it is rejected at evaluation time and not parsing time.

[2020-06-06 21:16] JasonGross opened #12472 "Parsing list notations in the body of hypotheses for Ltac match"
_Originally posted by @jfehrle in https://github.com/coq/coq/pull/12103#discussion_r436237691_

This comes from considering the following example:
[code]

This is based on parsing in the grammar rule https://github.com/coq/coq/blob/d0e4e7e106b7b27340f37c62d4da99ea2cc8e95f/plugins/ltac/g_ltac.mlg#L240-L252

In theory we ould at least support patterns like `H := []` and `H := [?x; ?y; ?z; ?w]` (ones

[2020-06-06 21:20] #12469 closed

[2020-06-06 21:51] jfehrle commented on #12469
I had forgotten about modules.

Nor did I expect you could redefine symbols defined in modules.  Are you generally allowed to redefine module symbols--is Ltac consistent on this?

[code]

[2020-06-06 21:58] JasonGross commented on #12469
I believe Ltac and Ltac2 can redefine symbols in modules.  I don't believe any other part of the system allows redefinition of symbols.

[2020-06-07 04:57] MSoegtropIMC opened #12474 "Collision between module and defined names in extraction"
#### Description of the problem

As far as I can tell usually module names and definition names do not collide, but in extraction they seem to do. I added an `Require Import Qpower` in `theories/Reals/ClassicalDedekindReals.v` and then got this error in a test-suite run:
[code]
The name `Coq.QArith.Qpower` is a module while `Coq.QArith.QArith_base.Qpower` is a definition.

Is this intended behavio

[2020-06-07 08:10] SkySkimmer commented on #12474
This is intended behaviour, read the warning.

[2020-06-07 08:22] SkySkimmer commented on #12474
Why's the error message broken after the `or`?

Regardless I guess this is reasonable behaviour, we could try to favour refs over modules for Recursive Extraction but that may be too complex behaviour for what it's worth.

[2020-06-07 09:04] MSoegtropIMC commented on #12474
Are there other places where it is unclear if a name is a module name or the name of a definition? If extraction is the only place where this can happen, this would be a bit unfortunate. Up to now I assumed that the name spaces for modules and defines are separate.

In case this is intended: should the standard library take better care to avoid collisions in these names separate?

I think it is no

[2020-06-07 09:07] MSoegtropIMC commented on #12474
P.S.: I omitted the last line of the error. In full it is:
[code]

[2020-06-07 09:12] MSoegtropIMC commented on #12474
sorry, this was silly - of cause one can fix this on the user side by giving a fully qualified name in the extraction. Just the way I fixed this in my case was to fully qualify the require in the standard library, since I added this require and caused this problem this way.

Still I think it is not terribly nice that extraction depends on if somewhere deep in the standard library require statement

[2020-06-07 09:34] SkySkimmer commented on #12474
The way it works currently is that we lookup for modules and for references in parallel, and if both succeed we have no information to pick between them.
Maybe we could keep a nametab of module_or_ref such that when looking up a qualid which may resolve to either a module or a reference we can tell which was imported more recently.
ie
[code]

[2020-06-07 09:37] SkySkimmer commented on #12474
There's `Print` which picks definitions when ambiguous (https://github.com/coq/coq/blob/d0e4e7e106b7b27340f37c62d4da99ea2cc8e95f/vernac/prettyp.ml#L405-L419)

[2020-06-07 10:49] MSoegtropIMC commented on #12474
Well I meant something not used interactively. For Print, this is of cause what is expected.

[2020-06-07 14:53] Zimmi48 commented on #12469
In Ltac2, this feature is more principled since you have to define the symbol as mutable in the first place, and when you use a different command to redefine it, so there is no syntax clash. See https://coq.github.io/doc/master/refman/proof-engine/ltac2.html#ltac-definitions.

[2020-06-07 16:14] #12435 closed

[2020-06-07 18:47] JasonGross commented on #7922
It's not that hard have one codebase working across two versions of Coq.

You can write something like
[code]
and then have `ltac2_string_ident.v.v811` and `ltac2_string_ident.v.v812` files, and then depending on what version of Coq you're using, it'll copy over the correct one automatically.  Let me know if you have questions about any of this or have trouble making use of it.  (Perhaps some of t

[2020-06-07 19:05] jfehrle opened #12478 "Generate messages for ignored values in Ltac (solve, first); make rewrite non-existent lemma error fatal"
In Ltac, `solve` and `first` (and maybe other constructs) ignore non-tactic values that appear in the list of tactics to apply.  For example, `solve [ () | 1 | constructor ]` is equivalent to `solve [ constructor ]`.  This is likely a coding error, which would may not be so obvious if the non-tactic value comes from an Ltac variable.  We're not aware of a beneficial use for this behavior.

How abo

[2020-06-07 19:08] jfehrle commented on #12478
@JasonGross says:

expected" an exception that does not use user_err, and marking it as
critical / uncatchable by the tactic monad.

[2020-06-08 09:01] Zimmi48 commented on #12478
I think the first problem can easily be fixed. OTOH, fixing second one (regarding `rewrite`) would be a clear change of semantics that seems out of scope for Ltac (because a "lemma" might also be a hypothesis from the context, which is looked for dynamically). I believe that Ltac2 already solves this issue.

[2020-06-08 09:22] #12305 closed

[2020-06-08 10:21] #12390 closed

[2020-06-08 10:33] #12447 closed

[2020-06-08 16:16] proux01 opened #12483 "Incorrect specification of PrimFloat.leb"
[code]

Coq Version: 8.11

The issue comes from the specification of PrimFloat.leb:
[code]
Since `Le` is not a constructor, it becomes an unused variable (without warning).

The correct specification should replace `Le` by `Lt | Eq` (I'm preparing a PR).

[2020-06-08 22:59] JasonGross commented on #12271
Indeed, I'm working on a systematic survey of this with @achlipala and @andres-erbsen , and hope to have some results / paper / descriptions to share within the next couple weeks/months.  Though I believe the overhead of name-generation in Coq is worth fixing.  It should be possible to do all operations on names in time that is at most logarithmic in the size, and I think it's important to impleme

[2020-06-08 23:39] jfehrle commented on #12271
I'll be interested to read your results when they're available.  I'd appreciate it if you'd email me then.  Indeed, if you like, I"ll proofread it.

Separately, I would love to understand what drives maximum memory use.  Seems like it should be roughly:

(# of steps in the open proof) * (average size of the proof at each step) + (total sizes of all closed proofs)

IIRC Adam mentioned runs that nee

[2020-06-08 23:52] achlipala commented on #12271
I have indeed had individual Coq sessions go over 32 GB of memory use (it at least used to be quite easy to do with a long enough proof script using a lot of automation), but more commonly the scaling challenges come from several Coq sessions at once via a parallel build.

[2020-06-09 00:27] jfehrle commented on #12472
Arbitrary lookahead isn't difficult.  See `check_for_coloneq` in `g_tactic.mlg` for a complex example.
For this one, you'd probably want to keep a running nesting count of square brackets and then check for the final `:`.  (Though I expect that could be broken by a notation that's with an unbalanced number of square brackets.

If there are other common cases that don't play well as patterns here,

[2020-06-09 00:34] jfehrle commented on #12478
These would both by dynamic checks.  For the first one the non-tactic value could come from a variable, not easy to check that statically.

For the second, clearly you'd check for both a lemma or a hypothesis.  That wouldn't be much of a change in semantics at all.  While it's great that Ltac2 may already solve the issue, it's premature to stop considering small improvements to Ltac1.  There's lot

[2020-06-09 00:40] JasonGross commented on #12271
The [old fiat-crypto pipeline (branch sp2019latest)](https://github.com/mit-plv/fiat-crypto/tree/sp2019latest), which I believe still builds with Coq master, contains an example of Coq memory usage growing exponentially with input size:
![mem (ko) vs  nlimbs](https://user-images.githubusercontent.com/396076/84092554-b7787e00-a9c5-11ea-9777-9cc0cbbbace1.png)
I don't have a machine with more than 60

[2020-06-09 01:39] JasonGross commented on #12271
Btw, @jfehrle , if you plan to track this down, the fastest file that uses ~10 GB RAM is `src/Specific/montgomery32_2e165m25_6limbs/femul.vo` which builds for me in about 7.5 minutes and takes 10,212,660 ko RAM.  The stats for all files are available [here](https://github.com/mit-plv/fiat-crypto/blob/sp2019latest/time-of-build-after-pretty.log).

[2020-06-09 02:53] jfehrle commented on #12271
It's tempting--it seems like a fun problem that may identify significant opportunities for improvement.  I'll take a quick look now.

Is there another file that takes less time to run that still shows the problem?

[2020-06-09 02:56] JasonGross opened #12486 "Error: Anomaly "variable H unbound." Please report at http://coq.inria.fr/bugs/. on autorewrite using a cleared section variable"
#### Description of the problem

[code]

#### Coq Version

8.11.1

[2020-06-09 03:14] JasonGross commented on #12271
I'm currently working on making it build on master (turns out it only builds on 8.11).  https://github.com/mit-plv/fiat-crypto/pull/812 should fix this.

The first file over 5 GB is `src/Specific/montgomery32_2e152m17_5limbs/femul.vo` at 3m57.47s , 5258312 ko.  I think this is probably the first one that stands out from the rest.  The first file over 4 GB is only about 4 seconds faster, and there

[2020-06-09 03:19] JasonGross commented on #12271
Btw, my first guess, knowing nothing about what's going on internally, is that kernel conversion is taking some unfortunate path and the intermediate terms it's generating in the course of doing conversion are blowing up.

[2020-06-09 03:26] JasonGross commented on #12271
On master (I'm using 831e901a8b796c3f2e7cec7f2b5d8adae4dfbea3), things are somewhat better than on 8.8, but not drastically so:
[code]

Btw, the timing breakdown for subtactics:
In src/Specific/montgomery32_2e152m17_5limbs/femul.v:
[code]
In src/Specific/montgomery32_2e165m25_6limbs/femul.v:
[code]

So my guess looking at this is that the time and memory is spent in typeclass resolution, possibly

[2020-06-09 03:27] JasonGross opened #12487 "Coq sometimes takes enormous amounts of RAM for unclear reasons"
The [old fiat-crypto pipeline (branch sp2019latest)](https://github.com/mit-plv/fiat-crypto/tree/sp2019latest), which I believe still builds with Coq master, contains an example of Coq memory usage growing exponentially with input size:
![mem (ko) vs  nlimbs](https://user-images.githubusercontent.com/396076/84092554-b7787e00-a9c5-11ea-9777-9cc0cbbbace1.png)
I don't have a machine with more than 60

[2020-06-09 03:27] JasonGross commented on #12271
Moving discussion to #12487

[2020-06-09 03:27] JasonGross commented on #12487
Btw, @jfehrle , if you plan to track this down, the fastest file that uses ~10 GB RAM is `src/Specific/montgomery32_2e165m25_6limbs/femul.vo` which builds for me in about 7.5 minutes and takes 10,212,660 ko RAM.  The stats for all files are available [here](https://github.com/mit-plv/fiat-crypto/blob/sp2019latest/time-of-build-after-pretty.log).

_Originally posted by @JasonGross in https://github

[2020-06-09 03:28] JasonGross commented on #12487
It's tempting--it seems like a fun problem that may identify significant opportunities for improvement.  I'll take a quick look now.

Is there another file that takes less time to run that still shows the problem?

_Originally posted by @jfehrle in https://github.com/coq/coq/issues/12271#issuecomment-640997056_

[2020-06-09 03:28] JasonGross commented on #12487
I'm currently working on making it build on master (turns out it only builds on 8.11).  https://github.com/mit-plv/fiat-crypto/pull/812 should fix this.

The first file over 5 GB is `src/Specific/montgomery32_2e152m17_5limbs/femul.vo` at 3m57.47s , 5258312 ko.  I think this is probably the first one that stands out from the rest.  The first file over 4 GB is only about 4 seconds faster, and there

[2020-06-09 03:28] JasonGross commented on #12487
Btw, my first guess, knowing nothing about what's going on internally, is that kernel conversion is taking some unfortunate path and the intermediate terms it's generating in the course of doing conversion are blowing up.

_Originally posted by @JasonGross in https://github.com/coq/coq/issues/12271#issuecomment-641003791_

[2020-06-09 03:28] JasonGross commented on #12487
On master (I'm using 831e901a8b796c3f2e7cec7f2b5d8adae4dfbea3), things are somewhat better than on 8.8, but not drastically so:
[code]

Btw, the timing breakdown for subtactics:
In src/Specific/montgomery32_2e152m17_5limbs/femul.v:
[code]
In src/Specific/montgomery32_2e165m25_6limbs/femul.v:
[code]

So my guess looking at this is that the time and memory is spent in typeclass resolution, possibly

[2020-06-09 03:30] JasonGross commented on #12487
Let me also copy over the initial comments that started this off:

[2020-06-09 03:30] JasonGross commented on #12487
I'll be interested to read your results when they're available.  I'd appreciate it if you'd email me then.  Indeed, if you like, I"ll proofread it.

Separately, I would love to understand what drives maximum memory use.  Seems like it should be roughly:

(# of steps in the open proof) * (average size of the proof at each step) + (total sizes of all closed proofs)

IIRC Adam mentioned runs that nee

[2020-06-09 03:31] JasonGross commented on #12487
I have indeed had individual Coq sessions go over 32 GB of memory use (it at least used to be quite easy to do with a long enough proof script using a lot of automation), but more commonly the scaling challenges come from several Coq sessions at once via a parallel build.

_Originally posted by @achlipala in https://github.com/coq/coq/issues/12271#issuecomment-640946982_

[2020-06-09 04:28] jfehrle commented on #12271
I'm trying to make on 8.11.2.  I see this:

[code]

[2020-06-09 04:29] jfehrle commented on #12487
I'm trying to make on 8.11.2.  I see this:

[code]

[2020-06-09 04:47] JasonGross commented on #12487
`git submodule update --init --recursive`

[2020-06-09 05:07] jfehrle commented on #12487
How about this?

[code]

[2020-06-09 05:28] JasonGross commented on #12487
You're missing the relevant flags from _CoqProject.  Also possibly missing a COQPATH setting.  Use `make src/Specific/montgomery32_2e165m25_6limbs/femul.vo` instead.  If you need to see the correct flags to pass to coqc, pass VERBOSE=1 (or it might be V=1) to `make`.  If you need to see the COQPATH setting, run `make printenv`

[2020-06-09 07:09] jfehrle commented on #12487
I'll try that.  In the meantime, I was trying to set up the `spacetime` memory profiler, which is described here: https://blog.janestreet.com/a-brief-trip-through-spacetime/ and here: https://caml.inria.fr/pub/docs/manual-ocaml/libref/Spacetime.html

And this is how far I got:
https://discuss.ocaml.org/t/spacetime-on-windows-subsystem-for-linux/5942

If you have Linux rather than Windows and/or >3

[2020-06-09 07:10] jfehrle commented on #12487
PS the opam build segfaults while compiling Byte.v

[2020-06-09 08:41] ppedrot commented on #12487
Note that to use the spacetime feature, you need to (minimally) patch Coq. I have a branch somewhere on my disk that does that, if you want.

[2020-06-09 09:26] ppedrot commented on #12472
Fixing this instance will still leave the grammar fragile, since we have arbitrary notations.

[2020-06-09 09:29] ppedrot commented on #12472
What is more confusing to me is why we have to wrap the body of the hypothesis inside square brackets in the Ltac matching syntax...

[2020-06-09 09:55] sleepyprof opened #12488 "Wrong type class implicit resolution"
#### Description of the problem

Perhaps I do not understand some concepts of type classes correctly, but in the example below I do not understand why Coq expects a type `@inner_fa A (fun _ : A => P) P x` (see error message below). The second argument of `@inner_fa` should be an instance of the type class `InnerElem`, whereas `fun _ : A => P` is not.
If I make the instance `ie` explicit everywhere

[2020-06-09 10:43] #11932 closed

[2020-06-09 11:15] ppedrot commented on #12487
I've just realized that I don't use spacetime for Coq profiling, because it's usually too costly on the kind of CPU-bound runs typical in Coq. Instead, I use the statistical-memprof patch of the OCaml compiler. It seems that [it is currently being revamped and integrated](http://gallium.inria.fr/~scherer/doc/chameau-sur-le-plateau/2019-11-12-jacques-henri-jourdan-statmemprof.pdf) into upstream OCa

[2020-06-09 12:08] ppedrot commented on #12487
Look no further: this memory explosion is due to the reallocation of identity evar instances in pretyping, namely in `GlobEnv.new_evar`.

[2020-06-09 12:28] RalfJung commented on #7922
Followed by a 20-line Makefile rune. :rofl:

I am not sure how to integrate that with our otherwise `coq_makefile` based system ([this](https://gitlab.mpi-sws.org/iris/string-ident/-/blob/master/Makefile) is what our makefile looks like for all projects). But yeah, I guess we could apply Makefile trickery to have different code for different Coq versions -- thanks for pointing that out. It's not g

[2020-06-09 12:49] ppedrot commented on #12487
@JasonGross could you try with https://github.com/ppedrot/coq/tree/share-val-context-new-evar to see if the problem persists?

[2020-06-09 13:11] Zimmi48 commented on #12478
Agreed. I'm just not sure this qualifies as a small improvement. But nothing prevents from opening a PR to assess the compatibility breakage. If it is limited, why not?

[2020-06-09 14:48] JasonGross commented on #7922
If you drop the snippet I gave in `Makefile.coq.local`, that should be sufficient.

[2020-06-09 17:10] Zimmi48 opened #12490 "Polishing the new pages of the restructured manual."
In Coq 8.12, the [reference manual](https://coq.github.io/doc/v8.12/refman/) was given a new organization following coq/ceps#43. The existing content has been split up into new pages and the purpose of this issue is to coordinate volunteers willing to help polish the resulting pages.

*[Note that there are parts of the manual that are still expected to be split into multiple pages, such as the tac

[2020-06-09 17:35] jfehrle commented on #12487
@ppedrot An excellent start.  That reduced memory use after the proof completed from ~4GB to <2GB for `montgomery32_2e152m17_5limbs`

as reported by `Print Debug GC`
[code]

[2020-06-09 17:51] jfehrle commented on #12487
`montgomery32_2e165m25_6limbs` was using 10GB, is now under 4 GB:

[code]

@JasonGross I can rerun some of the other scripts and see if the growth is still exponential.  Which ones should I run?

[2020-06-09 18:37] #12483 closed

[2020-06-09 18:40] JasonGross commented on #12487
If you run `src/Specific/montgomery*_<n>limbs/femul.vo` for a variety of values of `n`, that should give a good sense (it doesn't really matter which of the many `montgomery` files you run for a particular value of `n`, you can see the variation in how much the dots overlap or not for each value of `n` in my plot).  You can look up how long each file took for me in [this table](https://github.com/

[2020-06-09 18:53] ppedrot commented on #12487
Next in line is another evar-manipulating function, namely `Evd.restrict`. It keeps generating identity substitutions, and there is probably a way to introduce a bit more of sharing.

[2020-06-09 21:47] jfehrle commented on #12487
Here's what I got.  It seems to run faster, too, though part of that is that my hardware is somewhat faster.

![image](https://user-images.githubusercontent.com/1253341/84203485-5c469a00-aa5e-11ea-8e78-807a2b8c5a2e.png)

The .vo file generated for the 8 limb case is only 26MB.  Would be interesting to understand why, in contrast, the process still has 4GB of live data on the stack.  Understanding

[2020-06-09 21:56] ppedrot commented on #12487
The live data is due to a huge proof state. There are seemingly gazillions of evars with very large contexts, and even though they probably collapse to trivial terms in the end, they do exist transiently.

[2020-06-09 22:03] jfehrle commented on #12487
When are those evars released.  Are they there even after the proof has ended with `Defined` or `Qed`, `Optimize Heap` and `Optimize Proof`?  An easy experiment.

[2020-06-09 22:04] ppedrot commented on #12487
They are collected after `Qed`, `Defined` and `Optimize Proof`.

[2020-06-09 22:05] jfehrle commented on #12487
The numbers I gave are already after `Defined`.

[2020-06-09 22:08] ppedrot commented on #12487
I don't know what the GC considers "live" at this point, it might be that this data is still considered reachable because the GC has not performed a traversal of the memory graph yet. You could try forcing this with `Optimize Heap` after the `Defined` command to see whether it reclaims more memory.

[2020-06-09 22:19] jfehrle commented on #12487
This is the 5 nlimb case.  The GC reduces the live data by almost half, but it's still 97MB while the .vo file is only 8 MB.  Maybe that's a lot, maybe not.

[code]

[2020-06-09 22:55] jfehrle commented on #12487
Math is hard.  It's actually 773MB after GC.  That seems fishy.

[2020-06-10 00:10] jfehrle commented on #12487
Updated to show post-GC live and heap words.  The GC doesn't reduce the heap size that much.  And probably there's nothing that tries to keep the free space to a sensible size.

To address this, perhaps we could set an alarm function for major collections with Gc.create_alarm.  It could look at the stats and call Gc.set to make the heap smaller.  The 8 nlimbs did 13 major collections while 2 limbs

[2020-06-10 04:16] jfehrle commented on #12487
@JasonGross What's the incantation needed to run this file, which is in the montgomery64_2e511m187_8limbs directory?  I want to compare the size in this case to the size after processing femul.v.

[code]

[2020-06-10 04:22] JasonGross commented on #12487
The way to write the file is
[code]
If you've already built the .vo file, the incantation is
[code]

[2020-06-10 04:46] jfehrle commented on #12487
Got it, thanks.  For that file, heap = 40019968 words, live = 38057975, about 1/20th the hep and 1/10th the live memory compared to the process that compiled `femul.v` (all post-GC).  Better evidence that Coq retains memory it doesn't need after a proof.

[2020-06-10 05:01] JasonGross commented on #12487
Is some of it for backtracking?  Or is it all about the proof?

[2020-06-10 05:25] jfehrle commented on #12487
Dunno.  TBD.  Let's see if @ppderot has any ideas.  If not, then we try the memory profiling tool and see what we can figure out.

[2020-06-10 05:38] jfehrle commented on #12487
_Wandering off topic_: it looks like there's a considerable repetition within the proof term.  It would be interesting to apply classic common-subexpression elimination to the proof term and see how much smaller it gets.  If it's significant, that would reduce memory use for anything importing the proof and I expect it would be type-check faster.  Indeed, it might be applied in the middle of a lon

[2020-06-10 10:11] jadephilipoom commented on #9937
Just bumping this thread -- I also ran into this issue and found it problematic, because then I had to go through a large proof trying to figure out where the illegal `instantiate` was. Would be nice to have an earlier error.

[2020-06-10 22:43] jfehrle commented on #12487
@JasonGross BTW, "make clean" misses a few spots:

[code]

[2020-06-10 22:58] JasonGross commented on #12487
You want `make cleanall` to also clean the coqprime dependency I believe.  It also doesn't clean vo files that aren't tracked / part of the project.

[2020-06-11 02:28] jfehrle commented on #12487
@ppedrot I ran memprof for the 4 largest cases.  The 8 nlimbs case looks most interesting.
My code writes the stats upon process exit, which is after an `Optimize Heap`.  That led to several profiles in each file.  The last one looks should be `femul.v`.  This is on your `share-val-context-new-evar` branch.  Let us know what you see, thanks.

[prof_5.txt](https://github.com/coq/coq/files/4762159/p

[2020-06-11 08:23] ppedrot commented on #12487
@jfehrle It's definitely weird, since the two top memory contributors shouldn't be there. They correspond to evar instances, so at that point of the program the should have been collected. There is probably some way to reach them via STM data structures or some future? I need more dynamic analysis to understand what's going on.

[2020-06-11 11:06] #12442 closed

[2020-06-11 11:21] SkySkimmer opened #12496 "dune-dbg broken (no ../ide/coqide_main.bc)"
cc @ejgallego

[2020-06-11 15:06] ejgallego commented on #12282
I couldn't reproduce it either, let's postpone to 8.12

[2020-06-11 16:28] Zimmi48 commented on #11970
The conclusion from the discussion in #12493 is that on-the-fly declaration of constants will be done only in 8.13. In the meantime, the warning should be kept but adjusted. But given that this is only a user message change and that no PR has been opened yet to do this adjustment, it is reasonable if nothing is done for the beta.

[2020-06-11 16:46] Zimmi48 commented on #11843
This will have to be delayed to 8.12.0.

[2020-06-11 16:47] #10843 closed

[2020-06-11 16:48] Zimmi48 commented on #10843
Hum, maybe I should have actually waited on 8.11.2 to be properly announced before closing this :thinking:
When is this going to happen BTW? I still see no macOS installer on the GitHub release.

[2020-06-11 18:05] ejgallego commented on #12441
Fixed.

[2020-06-11 18:05] #12441 closed

[2020-06-11 22:00] #12496 closed

[2020-06-12 01:30] jfehrle commented on #12487
What do you mean by "future"?

I took a look at Stm.VCS.vcs.  It still has an entry for each sentence in the .v file.  I don't see why it has this for `coqc`.

I marshaled !vcs at the end of the process for a couple cases (admittedly crude).  There's considerable data there, but not nearly enough to explain everything.  And the growth rate across cases doesn't fit.
 That seemed like the main data

[2020-06-12 03:06] jfehrle commented on #12487
If you send me code I'll try it.  The setup takes a long time: each time I change Coq, it takes 25 minutes to rebuild Jason's code.  (There must be a way to disable Coq's version check but I haven't looked for it yet.)

[2020-06-12 09:12] SkySkimmer opened #12503 "Polymorphic Add (Parametric) Morphism misclassified"
For instance modifying the example in the doc to add Polymorphic:
[code]
Running to the end in coqide / running coqc with async proofs fails with `Anomaly "Cannot delay universe-polymorphic constants."`.

The issue seems to be only with the attribute, `Set Universe Polymorphism` works (maybe because univ poly is tested in `Stm.async_policy` https://github.com/coq/coq/blob/13e8d04b2f080fbc7ca169bc3

[2020-06-12 09:13] SkySkimmer commented on #12503
If I do
[code]
it still works in 8.11.1 but fails in master (same cannot delay anomaly). Not sure how meaningful this is.

[2020-06-12 10:10] ppedrot commented on #12487
I confirm that in the above examples, the evar instances are not released by the GC despite a call to `Gc.compact`. I thought at first I might have misread the callstacks and that the remaining memory would refer to the instance variables, which would have been possible since these variables may remain in the proof term. But according to my analysis, the evar instance *lists* are still reachable,

[2020-06-12 11:05] ppedrot commented on #12487
New suspect: the VM compilation which happily uses global references *because we can*.

[2020-06-12 12:41] ppedrot commented on #12487
The following snippet reliably generates a dangling evar instance:
[code]
Note that proving the definition with either `Defined` or `Qed` still leaks the instance, while using `Axiom` instead correctly collect it after its generation. I am puzzled.

[2020-06-12 13:14] SkySkimmer commented on #12487
If I hack constr.ml so that
[code]
and make `of_kind` go through it, on
[code]
(using coqc so no cache)
I get
[code]
The 2 dangling `push` are for the 2 `foo`.

If I do instead
[code]
I get an extra dangling `push` for each lemma (including for `bar`).

I guess something keeps the starting info of open lemmas around even after they close.

[2020-06-12 13:52] ejgallego commented on #12503
It could well be that polymorphic constants can indeed be delayed and the check I added in `Declare` is wrong.

[2020-06-12 13:56] SkySkimmer commented on #12503
No, they can't be delayed.

Gaëtan Gilbert

On 12/06/2020 15:53, Emilio Jesús Gallego Arias wrote:

[2020-06-12 14:04] ejgallego commented on #12487
Not likely but some object stored in `Summary` could be culprit.

[2020-06-12 14:05] ejgallego commented on #12503
Then this plan seems OK.

[2020-06-12 14:41] ppedrot commented on #12487
After a careful analysis, it turns out that the STM keeps a pointer to the global state of Coq at the entrance of every single proof, seemingly to allow a faster `Undo`. No wonder why we are eating a crapload of memory...

[2020-06-12 14:50] ejgallego commented on #12487
Maybe this very simple compiler can be of help to debug stuff https://github.com/ejgallego/coq/tree/simple_compiler

[2020-06-12 14:55] ejgallego commented on #12487
By the way I did experiments in the past with such simple compilers as to see if there was an speedup, I didn't measure one so moved on, but indeed didn't check memory use.

[2020-06-12 15:20] ppedrot commented on #12487
@ejgallego unfortunately the simple compiler is too simple for this test, I need to be able to add loadpaths to coqc...

[2020-06-12 15:48] ejgallego commented on #12487
Let me fix that in a sec.

[2020-06-12 16:50] ejgallego commented on #12487
Sorry, I got a call just while I was doing this, commit pushed.

[2020-06-12 16:55] ejgallego commented on #12487
On the more general issue of `coqc` , indeed I identified problems of this kind in the past, unfortunately I could not see simple fix other than rewriting the Stm , as the uses of large closures there is pervasive so it is hard to track what is going on.

One has indeed to be very careful in the DM w.r.t. caching, memory use, etc...

[2020-06-12 17:15] samuelgruetter commented on #10743
Here's another example where I think `lia` is slow because of CNF conversion:

[code]

Coq version: 8.11.0

Contrary to the original example in this issue, this goal came up without using `Z.div_mod_to_equations` (which generates many implications and disjunctions), but this time, I assume it's because of the disjunctions that `zify` creates for nat subtractions.

I didn't make a new issue for thi

[2020-06-12 17:23] thery commented on #10743
:+1:

[2020-06-13 12:48] ppedrot commented on #12487
So the simple coqc didn't help, these evar instances are still reachable somehow even when dropping the STM cache...

[2020-06-13 13:01] ejgallego commented on #12487
Aha, interesting; thanks for the info. We still need to be sure that `cloop` is tail recursive, and the GC is properly triggered. Next step is Libobject / Summary. What does OCaml report the size of the `st` structure (of type `Vernacstate.t`) to be?

[2020-06-13 13:11] ppedrot commented on #12487
From your code it's fairly obvious that `cloop` is tail-rec, isn't it? Furthermore, I called the GC in two places, once by hand in Coq with `Optimize Heap` and the second time with an `at_exit` ML callback before tracing the remaining live instances. It took a bit of time so I am fairly sure it was triggered not once but actually twice.

As for the size of the vernacstate, I am not sure about whic

[2020-06-13 13:11] ejgallego commented on #12487
I'm gonna push some stats code I have that should print memory consumption for some objects.

[2020-06-13 13:13] ejgallego commented on #12487
Indeed, I've added a warning just in case.

Look at the newer commit, I'm gonna print more detailed stats to see if something looks off.

[2020-06-13 13:15] ejgallego commented on #12487
There are many places an `evar_map` could remain dangling, even in the parsing state.

[2020-06-13 13:16] ejgallego commented on #12487
But a preliminary run shows:
[code]
So proof state seems to be correctly collected [my example is a toy one tho]

[2020-06-13 13:37] ejgallego commented on #12487
[basic] Libobject stats added, moving on to summary.

[2020-06-13 13:50] ejgallego commented on #12487
summary stats added.

[2020-06-13 16:46] CohenCyril opened #12507 "[ssr] Anomaly when using a ssreflect `reflect` view"
## Description of the problem

[code]
Failure message is
[code]
whereas it should fail with a message indicating that Coq cannot infer arguments `A` and `B` of `centsP` (here `G` and `G'`).

#### Coq Version

(I think the mathcomp version does not matter)
- coq 8.11.2 + mathcomp 1.11.0
- coq 8.10.2 + mathcomp 1.10.0
- coq 8.9.1 + mathcomp 1.9.0
  with additional error message: `Ltac call to "rewri

[2020-06-13 16:47] CohenCyril commented on #12507
@gares

[2020-06-13 17:23] gares commented on #12507
Can you pass -debug to Coq?

[2020-06-13 17:31] CohenCyril commented on #12507
[code]

[2020-06-13 17:55] ejgallego commented on #12507
That backtrace seems fishy, one from master:
[code]

[2020-06-13 18:57] gares commented on #12507
I guess this has to be fixed first:

https://github.com/coq/coq/blob/13e8d04b2f080fbc7ca169bc39e53c8dd091d279/plugins/ssr/ssrequality.ml#L392

since it may catch an anomaly and generate a different one.

[2020-06-13 19:02] gares commented on #12507
Anyway, the bug is clearly that `aux`
https://github.com/coq/coq/blob/13e8d04b2f080fbc7ca169bc39e53c8dd091d279/plugins/ssr/ssrequality.ml#L397-L402
does not carry and update an `env` via `push_rel` when it goes under a binder (and calls `whd_all` with the initial `env`)

[2020-06-13 19:19] gares commented on #12507
I could not test the fix. If you have a minute @CohenCyril could you test it?

[2020-06-13 21:47] JasonGross opened #12510 "rewrite_strat is much, much worse at binders than setoid_rewrite"
#### Description of the problem

Consider the following code:
[code]

Then on `Goal goal <n>. redgoal ().`, we can consider running `repeat setoid_rewrite <- plus_n_O`, `repeat rewrite_strat topdown <- plus_n_O`, or `repeat rewrite_strat bottomup <- plus_O_n`.  (Note that the `repeat` is actually spurious here in all cases.)

We can plot the results:
<img src="https://mit-plv.github.io/engine-benc

[2020-06-14 01:28] CohenCyril commented on #12507
I tried, followup on #12508

[2020-06-14 22:21] JasonGross opened #12513 "coq no longer reports mismatched version numbers"
#### Description of the problem

[code]
Then
[code]
gives
[code]
but with Coq master (831e901a8b796c3f2e7cec7f2b5d8adae4dfbea3 is the version I'm using) I get
[code]

My configuration is
[code]

This makes it significantly harder to figure out what version of Coq I compiled a given file with.  What caused this change?

#### Coq Version

master / 8.12

[2020-06-15 06:03] Zimmi48 commented on #12513
This is not surprising as the vo format changed in #12092, so the old format probably looks completely foreign to the new code and the new format looks foreign to the old code. I think there is nothing we can do about the latter, but we could probably do a bit better about the former. @ppedrot WDYT?

[2020-06-15 06:05] Zimmi48 commented on #12513
@JasonGross Can you confirm that the problem doesn't appear (Coq still reports a mismatched version number) when you try to load a file compiled with master in Coq 8.12+beta1 and conversely?

[2020-06-15 11:04] ppedrot commented on #12513
We could try a best effort from the newer code, upon realizing the format is not correct it could try to parse the old version number. That's a bit ugly though, and I don't know for how long we should maintain this kind of hack.

[2020-06-15 12:31] lag47 opened #12514 "Custom Entry Notations Sometimes Don't Properly Set Associativity"
#### Description of the problem

Associativity annotations don't seem to work when adding Notations to custom grammars when the production uses other grammars to parse substrings. I have an example where the generated production should be left associative, but is right associative.

For instance in the below code, I try to add left associative function application of expressions parsed by the defa

[2020-06-15 12:54] maximedenes commented on #7916
@RalfJung Sorry for the delay, we'd like to help again on this issue. Would you like that we arrange a call with @SkySkimmer, to discuss what is needed?

[2020-06-15 13:06] maximedenes commented on #7922
@RalfJung please let me know if we can do more on this issue, or if we can close it.

[2020-06-15 13:11] RalfJung commented on #7922
I think the concrete issue can be closed. But what would be good to have is clearer messaging on the future compatibility guarantees for ltac2 -- if we want to only use those parts of ltac2 that are most likely to remain stable, which parts are that?

[2020-06-15 13:18] RalfJung commented on #7916
"needed" is a strong word, this is not our most critical issue. ;) To restate the issue here: in terms of general TC design, we learned the hard way that `Hint Mode` should be set to `!` as often as possible to avoid diverging TC search when evars are involved. And for `Reflexive`, that is not currently possible, for reasons I do not understand. Almost all questions in this issue are well beyond m

[2020-06-15 13:23] SkySkimmer commented on #7916
BTW it doesn't help with this issue but shouldn't the mode for Reflexive be `- !` rather than `! !`? eg with `! !` it fails on `Reflexive eq` (where the type is an evar).

[2020-06-15 15:51] mattam82 commented on #12510
`rewrite_strat` and `setoid_rewrite` are based on the same code, but `setoid_rewrite`'s stategy is
[code]

That's quite different from the bottomup or topdown strategies you are using with rewrite_strat, which are defined as:

[code]

I would look for the difference there.

[2020-06-15 15:54] mattam82 commented on #12510
Bottomup and topdown are certainly doing more work by trying the rewrite strategy again in case of success.

[2020-06-15 17:07] maximedenes commented on #7488
@ppedrot what's your take on this?

[2020-06-15 17:10] maximedenes commented on #5122
@ppedrot the PR you mention has been merged, but the issue is still there. Any idea of what is going on?

[2020-06-15 18:44] bcpierce00 commented on #11121
Coq devs (@herbelin ? @maximedenes ?): Could we raise the priority of this custom entry issue?  It's been pending for a while now...  Thank you!!

[2020-06-15 18:45] bcpierce00 commented on #11121
P.S.  Here is a minimal example from Irene Yoon...
`Declare Custom Entry example.

Reserved Notation " x '==' 1 " (in custom example at level 0, x constr).

Fail Fixpoint stupid (x : nat) : nat := 1
where " x '==' 1" := (stupid x).
`

[2020-06-15 19:04] maximedenes commented on #11121
@bcpierce00 Sure, I'll have a look ASAP.

[2020-06-15 19:23] maximedenes commented on #11121
There seems to be several problems here.

First, I'm not sure why the following is rejected:
[code]

while the following is accepted:
[code]

Second, I guess as Jason wrote above, the `in custom` syntax should be accepted in `where` clauses.

[2020-06-15 21:51] herbelin commented on #12514
The associativity has no effect on this particular rule (since the subentries are not in the same entry as where the rule is), but I agree that the `left associativity` should not be ignored.

[2020-06-15 22:27] lag47 commented on #12514
Thank you for the response! Also, thank you for pointing out that in the example I provided it would not make a meaningful difference. I have gone back, improved my example, and now am confident that I have found an example where this causes a significant difference.

The below code adds enough to the example to give an actual idea of what I am trying to do, and changed the function application no

[2020-06-15 22:32] maximedenes commented on #11121
And a third strange behavior:
[code]
is rejected, while:
[code]
is accepted

[2020-06-15 23:13] herbelin commented on #12514
Hi, not only associativity is relevant only when the borders of the entry are in the same entry as where the rule is, but it is useful only when these same subentries have no explicit level. Indeed, the associativity is just another way to assign levels to the borders of an entry. I.e., morally, `"x + y" (at level 10, left associativity)` is basically the same as `"x + y" (at level 10, x at level

[2020-06-16 07:06] RalfJung commented on #7916
Hm... `! !` was under the assumption that the workflow is always: something figures out a mostly concrete relation, and then wants it to be reflexive. So it seems odd that the type would be an evar here.

But as long as the relation itself has a non-evar head, it seems unlikely that this would lead to diverging TC search... I think?^^

[2020-06-16 07:16] ppedrot commented on #7488
This seems solved on master (13e8d04b2f080fbc7ca169bc39e53c8dd091d279).

[2020-06-16 07:17] #7488 closed

[2020-06-16 09:25] maximedenes commented on #11121
@herbelin I see that the original custom notations commit introduced the following ADT:

[code]

but I'm not sure why levels in custom entries are treated differently than the `constr` ones (which here can be omitted). Can you explain a bit how they differ?

[2020-06-16 11:15] herbelin commented on #11121
This is because precedences for printing are managed at the level of the printer for constr (in `ppconstr.ml`, with the insertion of parentheses in the printing loop) but at the level of externalization (in `constrextern.ml` with an explicit grammar rule for `"( x )"`) for custom entries.

[2020-06-16 11:19] maximedenes commented on #11121
Yes, this is exactly what I was looking at. But why this difference?

[2020-06-16 11:23] herbelin commented on #11121
As far as I can judge, the following are bugs:
[code]
[code]
The two `where` examples are a priori correct failures. But one would need a way to tell that this is about a custom grammar (e.g. with a syntax `"'+a' x y" := (add x y)  (in custom example)`).

[2020-06-16 11:32] herbelin commented on #11121
Originally, the insertion of parentheses to go from level 0 to some higher level n>0 was not thought as a grammar rule, but as a special, say, disambiguation mechanism.

It is only with the introduction of custom grammars that the insertion of parentheses has been seen as a particular case of a grammar rule rather than as an ad hoc disambiguation mechanism. I could have changed `ppconstr.ml` so th

[2020-06-16 11:38] maximedenes commented on #11121
I see, thanks for the explanation.

This discrepancy in the data structures seem related to the bug(s): the map used for storing levels is indexed by a notation "key", which for `constr` is fine but for custom entries also contains the level, which makes no sense at that particular point.

I don't know if the right fix is to change notation keys, so that they don't contain a level, or to simply ch

[2020-06-16 11:49] ppedrot commented on #3395
I believe this should be closed.

[2020-06-16 11:49] #3395 closed

[2020-06-16 11:56] herbelin commented on #11121
Probably the second option (assuming this is compatible with the other uses of this map, if any).

[2020-06-16 12:24] maximedenes commented on #11121
There's something that I still understand: if a notation can be defined only at one level, in a given entry, why is the level part of the `notation` type (for custom entries)?

[2020-06-16 12:32] maximedenes commented on #11121
Related question: why are there two levels in `Metasyntax.syn_data` (i.e. `level` and the second component of `not_data`)?

[2020-06-16 12:58] herbelin commented on #11121
That's probably correct that it should be retrievable by an access in a table. That may clarify things (up to a probably time-insignificant indirection), e.g. by avoiding a difference between `notation_entry` and `notation_entry_level` in `constrexpr.ml`. Might be tempted if you have the courage.

This is because of the `{ ... }` syntax hack. The first level is the intended one. The second, in `no

[2020-06-16 13:21] fajb opened #12519 "vm_compute/native_compute does not properly compute with int63 in functors"
Hello,
In the following code, `vm_compute` does not normalise the term and `native_compute` fails.
The problem seem to arise when using native integers through functors.

[code]

#### Coq Version
8.12+alpha

[2020-06-16 13:40] ppedrot commented on #12486
Duplicate of #12486

[2020-06-16 13:40] #12486 closed

[2020-06-16 14:54] arthuraa opened #12521 "`simpl` fails on mutual fixpoint with a section variable."
#### Description of the problem

[code]

#### Coq Version

8.11.0

[2020-06-16 15:47] bcpierce00 opened #12522 "Documentation needed for the output of "Print Custom Grammar""
(1) Is there someplace where Coq users can read about how to interpret the output of the "Print Custom Grammar" command?

(2) Could we put (at least a pointer to) it in the reference manual?

[2020-06-16 16:16] Janno commented on #11112
I wonder if the same underlying issue is responsible for this oddity here:
[code]

[2020-06-16 16:27] Zimmi48 commented on #12522
In 8.12, there is a bit of explanation in the description of `Print Grammar`: https://coq.github.io/doc/v8.12/refman/user-extensions/syntax-extensions.html#coq:cmd.print-grammar
Is that sufficient? If not, what is missing? And should we link to it from the description of `Print Custom Grammar`? (I guess we should.)

[2020-06-16 16:35] maximedenes commented on #11121
https://github.com/coq/coq/pull/12523 is a first draft for this feature and the bug fixes.

[2020-06-16 18:20] bcpierce00 commented on #12522
Thank you -- this is already helpful, though I didn't understand this part (which I think is related to things I didn't understand when trying to figure it out for myself -- the precedence and associativity are easy to guess): "SELF represents the tactic_expr nonterminal at level 5 (the top level)."

A slightly larger example might be even more helpful.  (Also, this might be a good opportunity for

[2020-06-16 18:26] JasonGross opened #12524 "setoid_rewrite and rewrite_strat are cubic in the number of binders even when there are no matches"
#### Description of the problem

Consider the code of code #12510, with the `+ v`s commented out:
[code]

Then on `Goal goal <n>. redgoal ().`, we can consider running `repeat setoid_rewrite <- plus_n_O`, `repeat rewrite_strat topdown <- plus_n_O`, or `repeat rewrite_strat bottomup <- plus_O_n`.

We can plot the results (plot coming soon, as soon as it's done being generated):
<img src="https://mi

[2020-06-16 18:28] JasonGross commented on #12510
Does this really account for the difference?  I suppose it might...  I've reported the fact that the matching algorithm seems to be ~cubic in the number of binders as #12524

[2020-06-16 18:57] pi8027 opened #12525 "Search command inside a module fails to see declarations coming by module inclusion"
#### Description of the problem

[code]

But if we search for `Nat.add` instead, it works. I guess this is a bug of the new `Search` functionality introduced in 8.12 (#8855).

#### Coq Version

master

[2020-06-16 19:24] JasonGross commented on #12524
@ppedrot, is the time here spent in evar instance creation?

And I'm still confused where the cubic factor could come from; my hypothesis above predicts merely quadratic behavior.

[2020-06-16 19:43] JasonGross commented on #10820
Duplicate of #10206

[2020-06-16 19:43] JasonGross commented on #10820
(The duplication message needs to not have a period)

[2020-06-16 19:46] ppedrot commented on #12524
So, this is indeed quadratic due to evar creation, namely because of `Evarutil.push_rel_context_to_named_context` which is repeatedly called by `Rewrite.new_cstr_evar`. I think we can use the same strategy as in the pretyper, i.e. share those computations.

[2020-06-16 19:46] JasonGross opened #12526 "Evar substitutions should have an abstract/compact/efficient representation of the identity substitution"
I'm becoming more and more convinced that identity substitutions in evars being non-constant-time is the source of the next large wave of performance issues in Coq tactics (the previous "wave" having been related to pervasive evar-normalization and having been mostly fixed by EConstr).  I'm creating this issue in part as a reference, and in part so that we have a place to discuss this particular c

[2020-06-16 19:52] ppedrot commented on #12524
(It's probably cubic because evar context creation uses name generation which is *already* quadratic.)

[2020-06-16 20:01] Zimmi48 commented on #12522
cc-ing @jfehrle who authored this explanation

[2020-06-16 20:02] Zimmi48 commented on #12525
Ouch, that's a serious regression!

[2020-06-16 20:04] Zimmi48 commented on #12525
cc @herbelin

[2020-06-16 20:24] anton-trunov opened #12527 "Defining an inductive type is quadratic in the number of constructors"
#### Description of the problem

I generate a bunch of inductive types of the form:
[code]

using the following Python script

[code]

and get these results

[code]

which show that the time complexity is approx. quadratic here.

#### Coq Version

8.11.1

[2020-06-16 21:03] SkySkimmer commented on #12527
What about without schemes?

[2020-06-16 21:06] herbelin commented on #12525
A priori, this is not related to the new `Search` but to suspected changes in the semantics of `Include`. Here is a reduced example in the empty state:
[code]

[2020-06-16 21:07] herbelin commented on #12525
Or maybe in the equality of kernel names across `Include`??

[2020-06-16 21:14] anton-trunov commented on #12527
If I add `Unset Elimination Schemes.` just before `Inductive foo ...` it does not really change the running times (within some error margin), so it's still quadratic. (Using `Variant` also has no impact).

[2020-06-16 22:03] ppedrot commented on #12527
master (a006765a56f2af1e0726fa1dd502bf6e9b5d8ced) seems way faster on this particular example, although still superlinear (due to a List.nth in VM compilation, it seems...)

[2020-06-16 22:16] gares commented on #12526
Let me refine my post. In Matita the type is a bit more sophisticated:

https://github.com/LPCIC/matita/blob/794ed25e6e608b2136ce7fa2963bca4115c7e175/matita/components/ng_kernel/nCic.ml#L28-L35

You have 2 integers, one for the length and one for the lift, so that compact metas stay compact when you lift them.

[2020-06-16 22:57] jfehrle commented on #12522
@bcpierce00:

Indeed, this is incorrect.
- On the left-hand side of a production, `SELF` means the next level in the `Print Grammar` output.
- On the right-hand side of a production, `SELF` means the next level within `LEFTA` levels and the current level within `RIGHTA` levels.
- In the middle of a production, `SELF` means the top level

In the doc, `ltac_expr` at http://localhost:63342/Coq2/html/

[2020-06-17 00:35] xuanruiqi commented on #9581
I haven't re-checked this on latest Coq yet; if I find time I'll check to see if the same error is still raised.

[2020-06-17 05:12] jlottes opened #12528 ""Canonical" failing due to primitive projection with universe polymorphism."
#### Description of the problem

    Set Primitive Projections.
    Set Universe Polymorphism.
    Record ptd := Ptd { t : Type ; p : t }.
    Definition type := Ptd Type (unit:Type).
    Definition type' := Ptd Type (p type).
    Fail Canonical type'.
    (* The command has indeed failed with message:
    Undeclared universe: Var(2) (maybe a bugged tactic). *)

On the other hand `Canonical type`

[2020-06-17 05:38] jlottes opened #12529 "SProp does not match SProp, but does match Prop"
#### Description of the problem

    Goal SProp.
    Fail match goal with |- SProp => idtac end.
    (* The command has indeed failed with message:
    No matching clauses for match. *)
    Abort.

    Goal Prop.
    match goal with |- SProp => idtac end.
    Abort.

I would guess this is related to the failure of an attempt to declare some typeclass instances on SProp (using explicit patterns):

[2020-06-17 08:40] SkySkimmer commented on #12526
That sounds like the identity of length `n` is `Rel 1; ... Rel n`, but in Coq it's some arbitrary `Var` list depending on the evar.

[2020-06-17 08:57] SkySkimmer commented on #12529
Fix at https://github.com/coq/coq/pull/12530

[2020-06-17 09:00] ppedrot commented on #12526
We can do a similar thing in Coq, I am envisioning a type of evar substitutions defined as
[code]
where the integer signals the length of the prefix of the substitution that is canonically generated from the evar context.

But this doesn't change the fact this requires a lot of changes to the API and that you need to preserve a quotient.

[2020-06-17 09:57] anton-trunov commented on #12527
@ppedrot I tried that commit and it seems much better in the beginning, but then performance deteriorates

[code]

[2020-06-17 10:48] ppedrot commented on #12527
#12531 solves the remaining sources of quadraticity.

[2020-06-17 11:16] gares commented on #12526
@SkySkimmer if we *forbid* clearing of section hyps, then their names are fixed and an integer can represent a prefix of that list

[2020-06-17 12:16] herbelin commented on #12525
Update: This is related to the new `Search` which relies on the table of kinds (`csttab` currently in `dumpglob.ml`) which seems to have a problem with `Include`. I'm investigating.

[2020-06-17 12:23] #12507 closed

[2020-06-17 12:48] Janno opened #12534 "Setting Implicit arguments for constructor of a record breaks record-style pattern matching syntax"
#### Description of the problem

The following code fails and I can't find a way to make it succeed with the `{| ..|}` syntax:

[code]

This very likely related to #11112 but apart from being a confusing error message, in the example above it also means that the record syntax cannot be used at all (as far as I can tell). Thus, I am reporting it as a separate bug, assuming that it can probably be f

[2020-06-17 12:51] SkySkimmer commented on #12534
Same error with Record instead of Class.

[2020-06-17 15:56] herbelin commented on #12525
The bug comes from an incorrect use of the delta-resolver when in a `Module`. The call to `Module M` reinitializes the delta resolver and this breaks the delta-resolution of names brought by the `Include`. Therefore `B.a` (in the short example) is not anymore resolved into its canonical name. See #12537 for a fix.

[2020-06-17 16:10] JasonGross opened #12538 "Ltac2 should expose utility types from OCaml (or bundle reimplementations of them)"
I'd like to be able to use IntSet and IntMap at least.  I can try to come up with a complete list of such types that I'd like exposed later.

[2020-06-18 07:57] gares opened #12540 "deprecate some search commands"
Looking at https://coq.github.io/doc/v8.12/refman/proof-engine/vernacular-commands.html#coq:cmd.search is seems only some search-like commands were deprecated but not all of them (in favor of the new and more flexible search).

deprecated:
- SearchHead
- SSR Search

not deprecated:
- SearchPattern
- SearchRewrite

To my understanding SearchPattern is totally subsumed and should be deprecated.

I'm

[2020-06-18 08:00] gares commented on #12540
CC @herbelin @Zimmi48

[2020-06-18 08:03] gares commented on #12540
Also CC @mattam82  , in SSR we call an API to ask the TC databases if a symbol `f` is a `RewriteableRelation` but IIRC setoids don't use this class. I'm asking because the "syntax" I had in mind was something like `headconcl:instance_of(Rewriteable)` but if setoids accepts a bunch of classes, then it would be impractical.

[2020-06-18 10:24] Zimmi48 commented on #12540
@gares There's a use case of `SearchPattern` that is not yet covered by `Search` which is to match a *partial conclusion*, i.e. how do you replace: `SearchPattern (_ ?n ?m -> _ ?m ?n)`?

[2020-06-18 16:10] erikmd commented on #11157
Hi @Zimmi48, thanks for the ping! currently `coqorg/coq:8.12 = coqorg/coq:8.12-alpha` and I recently made some progress for https://github.com/coq-community/docker-coq/issues/4 but this large refactoring is still on-going − so yes I'm going to bump that image from now on with the current build system: it should be ready in less than 2 hours, I'll let you know in this issue.

[2020-06-18 16:21] erikmd commented on #11157
Regarding bignums, the compatible version is already in extra-dev, but for 8.12.0 I'll need to release coq-bignums.8.12.0 (say, from the last commit of the `v8.12` branch of bignums) as well. This could be done from now on, but I guess it's better to wait for the opam package of coq.8.12.0 do to that, isn't it?

[2020-06-18 18:05] Zimmi48 commented on #11157
Yes, it sounds better to wait in case there's a last minute API change.

[2020-06-18 18:09] erikmd commented on #11157
Done:

<details>

[code]

</details>

[2020-06-18 20:00] jfehrle commented on #12487
Is this stuck because we can't tell what variable(s) point to the leaked memory?

Perhaps we could track it down by:
- Using the address of one of the leaked objects from memprof
- Modifying [`caml-do_roots`](https://github.com/ocaml/ocaml/blob/82f77b8ebd5e96ccbe8aa6d25382c35acb766e41/runtime/roots_nat.c#L399) to identify which root(s) can reach that address.  (And maybe also report how many roots

[2020-06-18 21:07] jfehrle commented on #12487
@ejgallego I had assumed you intended `simple_compiler` was meant for @ppedrot to use.  Or did you mean that I should run it?  From my cursory examination of the code, it looks like it gets `reachable_words` for a few key variables.  Is that right or is there more to it?

[2020-06-18 21:28] ejgallego commented on #12487
@jfehrle It was meant to be used by anyone that may want to analyze "core" memory consumption, without involving other layers such as the document manager.

[2020-06-19 10:56] chrisfcarroll opened #12543 "CoqIDE on macos frequently doesn't work"
## Steps to reproduce

1. Download and install from https://github.com/coq/coq/releases/tag/V8.11.2
2. Run coqIDE and type some examples from, for instance, Coq in a Hurry:
[code]
Then Menu->Queries->Check

Expected:
[code]

Actual: NO Output at all

### Other info:
`Check True.` and `Check False.` work as expected
coqtop on the commandline works as expected

### Coq Version

coqtop -v
The Coq Pro

[2020-06-19 14:50] #12527 closed

[2020-06-19 15:24] Blaisorblade opened #12545 "coqdoc not mentioned in index"
Noticed the word "coqdoc" appears nowhere in https://coq.github.io/doc/master/refman/genindex.html (low-prio thanks to search function).

[2020-06-19 16:51] andrew-appel opened #12547 "Hint Resolve 0%Z : Z"
In Coq 8.12beta1,

This declaration is fine:  `Hint Resolve Z0 : Z.`
But this gives a deprecation message:   `Hint Resolve 0%Z : Z.`
[code]
Somehow I thought that Z0 and 0%Z are exactly the same term; that Notation is fully transparent.

[2020-06-19 16:54] herbelin opened #12548 "Confusing interaction between type classes and delta-reduction: projections from classes not opaque enough?"
#### Description of the problem

I found an unexpected interaction of types classes and the rest of unification (originally when using the HoTT library):
[code]
So, when trying to solve `@le ?A ?Le == lt`, `le` is expanded and `?Le` is instantiated by `lt` leaving the wrong impression that the class has been resolved with a true instance of the class `Le`. Note that `Opaque le` does not help.

Thi

[2020-06-19 17:05] RalfJung commented on #7922
Well that didn't last very long, seems like not even Coq 8.11 and 8.12 are sufficiently compatible...

[2020-06-19 17:36] andrew-appel commented on #12547
Furthermore, it appears that

`Hint Resolve @foo : whatever.`

is now deprecated in Coq 8.12beta1.  **I protest.**  It's extremely useful to be able use "naked" terms as Hints (whether for resolve or rewrite), without any implicit arguments.

[2020-06-19 17:53] JasonGross commented on #12547
Contrary to what it looks like, `Hint Resolve foo` has always(?) been using the naked term `@foo`, and if you wanted the implicits, you'd have had to write `Hint Resolve (foo)`

[2020-06-19 18:00] andrew-appel commented on #12547
Somehow I don't believe the "always".  I've been using Coq for 15 years, and some number of years ago I found that I had to put in the @ signs.

[2020-06-19 18:39] JasonGross commented on #12547
Indeed, the `@` signs are needed by `Hint Rewrite`

[2020-06-19 19:14] andrew-appel opened #12549 "Ltac2 chapter of refman needs improvement"
In Coq 8.11 or 8.12beta1, the Ltac2 chapter of the reference manual could be improved by a substantial reorganization, and in places it is incomplete.  I have been using Ltac, heavily, for a long time, and I would like to switch to Ltac2.  But when I tried it recently, I found that the Ltac2 documentation is difficult to use, and I gave up.

1.  The chapter starts with a long explanation of why Lt

[2020-06-19 20:33] andrew-appel commented on #12547
OK, I admit, it's true experimentally that the @ signs are not needed in Hint Resolve.  But I still claim that in these two cases,  (Notation and @), the deprecation warning is being more strict than necessary; in each case the Hint _is_ a global reference.

[2020-06-19 21:35] ejgallego commented on #12549
Thank you very much for the feedback @andrew-appel ; doing a shout out to @jfehrle @JasonGross as they may indeed be able to help; there are quite a few other Ltac2 users so please don't hesitate to cc them.

Note that if you would feel like doing a pass on the manual yourself [even if adding some TODOs], the current reference is at https://github.com/coq/coq/blob/master/doc/sphinx/proof-engine/lt

[2020-06-19 22:29] jfehrle commented on #12549
That chapter definitely needs a lot of work.  I'm currently working on getting the syntax in that chapter current and complete, which would include incremental improvements TBD.  Perhaps we can manage a more comprehensive rewrite for the 8.13 release.

[2020-06-20 06:36] #12406 closed

[2020-06-20 12:17] roger-witte opened #12551 "New square bracket implicit in Context misinterpreted"
#### Description of the problem
[code]
#### Coq Version

8.12 beta 1

[2020-06-20 12:19] roger-witte commented on #10873
This is fixed in 8.12 beta 1

I haven't checked 8.11.2 but my guess it's the change from GTK window surround to windows window surround that did the trick

[2020-06-20 12:22] roger-witte commented on #10431
I just reproduced this in 8.12+β1

[2020-06-20 16:10] ejgallego commented on #10873
Thanks for the feedback @roger-witte

[2020-06-20 16:10] #10873 closed

[2020-06-21 00:46] JasonGross opened #12553 "`ring` is unusable in robust tactic automation"
#### Description of the problem

Because `Add Ring` follows `Import` rather than `Export` and because there seems to be no way to pass a ring structure to the `ring` tactic locally, `ring` is unusable in automation that needs to be robust to reuse.  Please add a variant of `ring` that allows passing the ring structure, or a way to pick up `ring` structure from the context.  (Why not just make `Add

[2020-06-21 04:46] JasonGross opened #12557 "unification stack overflows in trivial cases"
#### Description of the problem

[code]

#### Coq Version

8.11.1

[2020-06-21 04:50] JasonGross opened #12558 "Error: <in exception printer>:<original exception:Anomaly "Uncaught exception Stack overflow." Please report at http://coq.inria.fr/bugs/."
#### Description of the problem

[code]

See also #12557

Reporting this separately because it seems that there's an issue with error catching here that's distinct from the underlying stack overflow.  Also, that happens in 8.11, but this one happens only in master

cc @ejgallego ?

#### Coq Version

master (43dba0d74b6cc39eea149c2908291e9108d21e71)

[2020-06-21 16:01] ejgallego commented on #12558
Seems like some kind of cyclic term is being created, the anomaly is due to the printer getting into a loop:

[code]

[2020-06-21 16:02] ejgallego commented on #12558
I think error catching is working properly, what the message means is that we got an exception inside an exception handler [when printing]

[2020-06-21 16:12] ejgallego commented on #12558
Actually after reading #12557 I'm indeed not sure this bug is worth keeping open; what should the printer do in this case? Seems like hard to avoid.

[2020-06-21 16:13] ejgallego commented on #12557
See the backtrace in #12558 for more information, some kind of cycle seems to be created.

[2020-06-21 18:24] #12545 closed

[2020-06-22 01:37] liyishuai opened #12561 "Two definitions cannot compile together"
#### Description of the problem
In https://github.com/liyishuai/vst-itree/blob/master/pred.v#L44-L77, two `Definition`s can each compile, but cannot compile with the other defined.

#### Coq Version
8.11.2
Further instructions to replicate this issue are documented in the [repo](https://github.com/liyishuai/vst-itree)'s README.

[2020-06-22 06:37] ppedrot commented on #12561
Looks like a unsatisfiable universe constraint error. I guess that you need to have some of your definitions to be universe polymorphic.

[2020-06-22 07:19] herbelin commented on #12557
A shorter example is:
[code]

The occur-check in `Evarsolve.occur_evar_upto_types` is too weak. It accepts the circularity `?x := ?f[v:=?x] 0`.

It is not bad that it accepts this circularity, because this is an erasable circularity. For instance `?f[v] := fun _ => v` would be an ok solution. But it is bad that it accepts it w/o first restricting the problem to its valid solutions.

Possible strat

[2020-06-22 09:14] Janno commented on #12557
I noticed that the example does not crash when using Unicoq. It might be worth looking into what their solution is.