[2018-09-19 14:41] beta-ziliani commented on #8454
If I change the last line to `ssrpattern (X in X = _)` it fails the same. This sounds like a real bug.

[2018-09-19 14:53] gares commented on #8454
It is a bug ;-)

https://github.com/coq/coq/blob/master/plugins/ssrmatching/ssrmatching.ml#L1369 should use `pf_env gl` and not `Global.env ()` in which `n` is not defined.

`set foobar := (match _ with 0 => _ | S n' => _ end).` works :-/

[2018-09-19 15:04] Zimmi48 commented on #8480
I'm sorry @herbelin I realize that I started this with a quite negative tone so let me explain again what I meant: If all these great editors and their large package ecosystems had existed at the time CoqIDE was developed, it wouldn't have been necessary to develop CoqIDE and time could have been spent more usefully on providing good support for modes in these various editors. But the context was

[2018-09-19 15:27] beta-ziliani commented on #8454
I'm lost now, why set doesn't use ssrpattern?

[2018-09-19 16:04] ejgallego commented on #8480
Note that since #180 CoqIDE is already an external package that happens to be built with Coq.

[2018-09-19 16:36] JasonGross opened #8507 "#8387 should be backported to v8.9"
#### Version

v8.9

#### Description of the problem

https://github.com/coq/coq/pull/8387 should be backported to the v8.9 (and then most of #8374 on top of that)

[2018-09-19 16:37] anton-trunov opened #8508 "coqwc is missing from the manual"
#### Version

Coq 8.8, master

#### Operating system

any

#### Description of the problem

The description of the `coqwc` tool is missing from the manual.

By the way, I added it to wiki: https://github.com/coq/coq/wiki/Tools#utilities, creating a new section "Utilities". I hope it is the right way to do it.

[2018-09-19 16:38] ejgallego commented on #8507
Up to now, these kind of issues where not necessary as the milestone should hint the RM what needs to be done

[2018-09-19 17:48] JasonGross commented on #8507
I think part of the complication here is that #8387 was merged before v8.9 was branched, but v8.9 was branched from a commit prior to #8387.

[2018-09-19 17:50] JasonGross commented on #8492
Duplicate of #4612

[2018-09-19 17:50] #8492 closed

[2018-09-19 17:57] herbelin commented on #8487
Interesting example. So, you would like that the subterm comparison done to decide which notations is used, here between the `a` bound `@eq_op A x x` and the other `a` bound `@eq_op B x x` is done not on the source but on the result of the printing `x == x` of these expressions. That may be tried...

[2018-09-19 18:50] anton-trunov commented on #8487
@herbelin That would be great to have, Hugo!

[2018-09-19 19:12] anton-trunov commented on #8424
@herbelin From the practical point of view I'd prefer that SSReflect's `in` worked with section variables.

I sometimes (try to) use section as if they were like a section in a mathematical book grouping some related lemmas. So I tend to use section variables as means to reduce boilerplate. But this model often does not work, because besides the notations-section interaction, I sometimes have to c

[2018-09-19 19:19] ejgallego commented on #8424
@anton-trunov #6254

[2018-09-19 19:19] ejgallego commented on #8424
@anton-trunov #6254

[2018-09-19 20:49] anton-trunov commented on #8424
@ejgallego Thanks a lot for the link.

It looks like the [excerpt](https://github.com/coq/coq/issues/6254#issuecomment-377206303) cited by @Zimmi48 describes what I mean in my comment above. I didn't know it was problematic, though.

[2018-09-19 21:56] herbelin commented on #8487
I tend to have a huge todo list but let me explain how this could be implemented if ever someone is interested to do it in the short term.

[Matching term against notations is done in function `Notation_ops.match_`. This builds a substitution of the variables of the notation to subterms of the expression. In case of non-linear pattern-matching, the subterms are compared with a function called `uni

[2018-09-19 22:41] JasonGross commented on #7380
I have successfully backported packages for OCaml 4.05 and other relevant Coq dependencies to precise, trusty, and xenial, so I'll be able to fix my travis builds if this gets merged.

[2018-09-19 22:43] ejgallego commented on #7380
Good to know @JasonGross ; note that you could also use the Docker image we hope to provide soon.

[2018-09-19 22:44] ejgallego commented on #7380
So in fact you may want to comment in #7753 @JasonGross ?

[2018-09-19 22:47] ejgallego commented on #7753
On an additional thought, I also quite like the Nix approach here. That kinda puts us in a dilemma, IMHO we should strive to have a single recommended solution. Docker seems a bit more standard, and maybe provides better ways for people to start from our base image and customize theirs; however, Nix seems simpler and quite efficient.

I dunno,

[2018-09-20 08:49] Zimmi48 commented on #7753
No really, I think having a (small) diversity of solution is good (at least to start with). Since the Docker-based solution will be based on opam, it could be simpler to use for people adding OCaml dependencies to their plugin and more experience with opam than with Nix on how to install those.

[2018-09-20 09:53] MSoegtropIMC opened #8511 "merge-pr.sh does not check if user.email and user.signingkey match"
The PR merge script does not check, if the git configurations

- user.email
- user.signingkey

match. If the don't match, the signing will not report an error, but the merge will be unverified. It is easy to check this.

[2018-09-20 10:42] ejgallego opened #8513 "EConstr.eq_constr doesn't properly take into account universe variables"
As discussed in https://github.com/coq/coq/pull/6343, it seems that evar normalization doesn't properly commute with `EConstr.eq_constr`.

This seems like a serious bug and forces us to perform normalization before conversion tactics.

A test case generously provided by @SkySkimmer is:
[code]

[2018-09-20 13:27] herbelin commented on #8480
@Zimmi48

At the time CoqIDE was created, there was no long term view. It was started shortly after lablgtk was released and, my perception from outside was that CoqIDE was before all an experiment for fun to exploit lablgtk. I believe it took only a few weeks for Benjamin Monate to make something already nice and then a synergy developed with contributions from Pierre L, Jean-Christophe F, ... in

[2018-09-20 14:27] Zimmi48 commented on #8383
@JasonGross After porting (or trying to port) some projects myself, I feel like the removal of these deprecated notations is putting a heavy burden on library maintainers (especially those that emits hundreds of such warnings) for little gain, which could even delay the adoption of 8.9. So I see two possible ways out:
- provide a script that will use the compatibility-notation warnings emitted by

[2018-09-20 14:34] Zimmi48 commented on #8480
Absolutely. And even if CoqIDE was indeed a nice and successful experiment it is becoming more of a burden nowadays (even if it's still the only editor to properly support all of Coq's features -- and this is a shame).

Sure, I totally get that.

[2018-09-20 15:12] #7754 closed

[2018-09-20 15:30] Zimmi48 opened #8514 "New Windows spurious CI failures."
I've seen two recent spurious failures of the Windows CI builds:
- https://gitlab.com/coq/coq/-/jobs/98687333
- https://gitlab.com/coq/coq/-/jobs/99619726

One is on win32 and the other on win64.
In the two cases, it fails during the installation step of ocamlbuild. I have no idea what could be going wrong. The logs that were uploaded as artifacts do not show any error...

cc @MSoegtropIMC

[2018-09-20 15:32] herbelin commented on #8480
So, could you give a short summary of the difficulties to support CoqIDE on Windows and MacOS X so that I get an intuitive picture of what shall have to be done if my affection for CoqIDE eventually pushes me to take over the packaging?

[2018-09-20 15:41] ejgallego commented on #8480
@herbelin you can start at https://github.com/garrigue/lablgtk/issues/2

[2018-09-20 15:57] #7500 closed

[2018-09-20 16:01] JasonGross commented on #8383
I do have a (weak) preference for the first one.  Writing a perfect script is quite hard (probably requires parsing the .glob files, so that we don't, e.g., replace `Definition sigS_string := "sigS"%string.` with `Definition sigT_string := "sigT"%string.`), but writing a simple one is quite easy.  If we have a list of all the identifiers and their replacements, then we can do something like
[code]

[2018-09-20 16:11] MSoegtropIMC commented on #8514
I would say this is caused by not deleting cygwin. If a cygwin is reused, ocamlbuild already exists and the installation of it fails.

Commit 6a8c37c02504463afaa677641d75d9977020edf6 should fix this and also help in debugging such issues. This is very easy to port from v8.8 to master, so I think it would make sense to do this as a separate PR (the addons might take a bit longer).

[2018-09-20 21:15] Zimmi48 commented on #8480
Regarding Windows, @MSoegtropIMC can tell you better than I can.
Regarding macOS, @maximedenes (and now @vbgl) are confronted to the problem of the package signing. The process is not clear, not well documented, and even more complicated when you have to go through a VM because you don't own a Mac yourself. If we stopped distributing CoqIDE as part of the main Coq distribution, then we wouldn't ha

[2018-09-20 21:18] Zimmi48 commented on #8383
Math-Comp is already fixed and was not a big issue (not many warnings). Corn and Flocq both generate hundreds (or thousands) of warnings and will be the real tests. I will try that script and report on my impression.

[2018-09-20 21:20] Zimmi48 commented on #8383
Though what I was suggesting was to piggy-back on the warnings emitted by Coq given that they are shown on stderr and provide, the line number, the character location, the term to replace and the term to replace it with.

[2018-09-20 23:52] JasonGross commented on #8383
@Zimmi48 That doesn't work in all cases, because the warning system misreports character locations.  e.g., on `Notation foo := nat_compare.`, it claims the location as characters 0-28, i.e., the whole line.  (And we can't just do the search-and-replace, because `Notation foo := Compare_dec.nat_compare.` will report as `nat_compare` being deprecated, at location the-entire-line.)  Anyway, here is a

[2018-09-21 07:34] MSoegtropIMC commented on #8514
Since the logs show this behavior

- cygwin is deleted and freshly installed
- ocaml, sed and flexdll are build and installed
- ocamlfind is build

Then magically, before installing ocamlfind, this folder exists:
[code]
exists. The only explanation for this I have, besides ocaml randomly installing ocamlfind, is that the cygwin folder is used by someone else.

Shall I switch to randomly generated

[2018-09-21 09:14] MSoegtropIMC commented on #8480
@herbelin : regarding Windows: initially it was quite hard, because GTK was only available for MSys/MSys2 and both were unusable for building complex Linux oriented projects like Coq. It took me quite a while to cross compile GTK and all its dependencies for MinGW under Cygwin. Meanwhile MinGW GTK packages are supplied by Cygwin and building and packaging CoqIDE for Windows is close to zero mainte

[2018-09-21 11:39] herbelin commented on #8480
That would be a pity, after all the efforts made by @maximedenes to improve the building of packages.

[2018-09-21 12:40] herbelin commented on #8480
@MSoegtropIMC: Thanks, taking note.

I'm supporting high expectations of users in IDE, but what do we have to propose at the time of today? I don't have recent news, but what is for instance the status of @siegebell's [VSCode](https://github.com/siegebell/vscoq) plugin?

[2018-09-21 12:45] ejgallego commented on #8480
@herbelin indeed this is an area we are lacking and indeed there are quite a few reasons we do so.

A lack of manpower, a lack of IDE expertise, some strange technical / management choices, and a lack of understanding of what people on the UI side need are just a few factors that mean we are not looking great so far.

Admittedly, UI are very hard to begin with, but yeah, we could do way better.

[2018-09-21 12:47] Zimmi48 commented on #8383
Thanks Jason! I'll test both scripts and compare their reliability.

[2018-09-21 12:48] maximedenes commented on #8480
Any suggestion of what could be a concrete action on that topic? I've heard rumors that you had an intern working on the topic. If that is correct, why not make this effort a bit more open / public, so that we can see where we can help?

[2018-09-21 12:58] ejgallego commented on #8480
I have complained/suggested already way too many times about some topics I understand essential in order to have effective development. I am not sure what is the point in stating them for N+1 time; in that sense, I have the feeling that any effort towards effective development in Coq is hopeless these days so I dunno.

[2018-09-21 13:01] Zimmi48 commented on #8480
Indeed @herbelin I agree that at the current time, we have nothing better than CoqIDE to propose.

Well even after all these efforts, the situation wrt to macOS is quite bad. @maximedenes can confirm but I feel like he would drop the macOS packages with great pleasure.

More communication can never hurt. Of course, you might be reluctant because it would take some of your time to communicate on th

[2018-09-21 13:03] ejgallego commented on #8480
Oh well, more communication when what you have to say is not positive can indeed hurt, so it is better just to move on.

[2018-09-21 13:05] Zimmi48 commented on #8480
True. I meant more communication on what you are doing, not on what you think of others.

[2018-09-21 13:08] MSoegtropIMC commented on #8480
@herbelin : I tried @siegebell's VSCode plugin last shortly after the workshop in Nice. I am still using CoqIDE ... The main issues is speed but also Coq feature wise it is behind (things like background and parallel proofs). And it is a bit tricky to setup. For users like university students, it should work out of the box.

Actually I typically use both, CoqIDE and VSCode together, but the latter

[2018-09-21 13:11] anton-trunov commented on #8480
@Zimmi48 I'm just curious, what features are unique to CoqIDE? Or, an alternative formulation: what feature PG does not have compared to CoqIDE?

(I recently switched to spacemacs and from time to time I'm trying to tweak my [spacemacs-coq](https://github.com/anton-trunov/spacemacs-coq) fork, so I'd be interested in implementing those features and would eventually try to add them to the vanilla PG

[2018-09-21 13:13] maximedenes commented on #8480
Ok, as you like. Can you at least say if you do have an intern working on the topic or not?

[2018-09-21 13:17] ejgallego commented on #8480
Well, I am actually doing nothing these days UI-wise [other than to finish the work started with the package format]. What I wanted to do is just not possible to do. Think of what happened in Isabelle, an effort on the scale of implementing modern UI support in Coq is not something we can achieve with the current development model. In Isabelle, Macarious just took a "dictatorial role" and did what

[2018-09-21 13:20] ejgallego commented on #8480
Of course, our intern just finished work over LSP and Dedukti. I am gonna look for a new intern on the topic of proof documents but I am skeptical I will recommend they to contribute directly to Coq. I still have to write the concrete proposal for this year but wanna discuss first with some potential co-advisors.

Regarding the rest, I feel like I have nothing more to say that I haven't repeated s

[2018-09-21 13:22] ejgallego commented on #8480
Note that I am OK repeating what I think N+M times, I just don't see the point of doing so, and in fact I am even afraid of being "bullied" again.

[2018-09-21 13:22] maximedenes commented on #8480
@ejgallego ok, thanks for the clarification!

[2018-09-21 13:29] ejgallego commented on #8480
No problem, note that internship proposals will be uploaded to my web page https://www.cri.ensmp.fr/people/gallego/ in fact, you can still see the ones of last year.

@anton-trunov , indeed, PG is in need of a full revamp. We tried something long time ago (https://github.com/cpitclaudel/elcoq) , however, right now there are some hard-to-solve technical limitations in particular due to STM architec

[2018-09-21 13:33] maximedenes commented on #8480
Where can we read a report about the LSP + Dedukti work? I guess it will give us a good idea on the feasibility of an LSP-based middleware between Coq and UIs.

[2018-09-21 13:37] ejgallego commented on #8480
I'm afraid I have to differ [and won't comment more as it is offtopic] in both accounts. Regarding personal interaction, I was described in unfair, and far from flattening terms repeated times. Regarding technical interaction, I have to say that many of the PRs I have been trying to push in order to improve the interface offered to the upper layers / serialization have not been welcomed at all.

I

[2018-09-21 13:38] ejgallego commented on #8480
That's Ismail page for the atom plugin: https://github.com/lachhebo/dedukti-editor , that's the Dedukti server https://github.com/ejgallego/lambdapi/tree/plof/lp-lsp written by me

[the Coq one is not public as it requires a heavily patched Coq]

[2018-09-21 14:23] #8431 closed

[2018-09-21 14:31] ejgallego commented on #8431
Despite #8443 an additional couple of tweaks to installation of tools are needed so the resulting opam package can compile most contribs, the PR has been ready for a few days, will submit asap I reach my computer.

[2018-09-21 16:06] anton-trunov opened #8525 "[ssr] performance issue with "move: " and "case""
#### Version

Coq 8.8.1, master (7b6f1f0ed0872cd16d7d01683673fd9323122f30)

#### Operating system

macOS 10.13.6

#### Description of the problem

While developing FCSL-PCM library we hit a major performance issue. I tried to minimize the following snippet further, but still to reproduce the issue, one needs the mathcomp/ssreflect and fcsl-pcm libraries. Both are in Coq's CI and are available on O

[2018-09-21 16:07] anton-trunov commented on #8525
CC @ aleksnanevski

[2018-09-22 09:12] Zimmi48 commented on #8507
Another complication is that #8387 was part of the 8.8.2 milestone. As soon as I put the 8.8.2 tag (hopefully tomorrow or on Monday) I'm going to open a PR backporting to v8.9 everything that is part of 8.8.2 and not in v8.9 yet.

[2018-09-22 10:48] MSoegtropIMC opened #8528 "Addon dependency management in Windows installer"
This is a follow up on the discussion in PR #8322.

Currently there is no dependency checking in the installer, so one can end up with an installation where addons required by another addon are not installed.

The goal is to automatically check dependencies in the NSIS installer.

[2018-09-22 18:25] jfehrle opened #8529 "Formulas not displayed correctly in Sphinx"
#### Version 8.8.2

#### Operating system Windows

#### Description of the problem

Formulas don't render correctly any more.  IIRC they worked fine a week or two ago.  For example, in my locally built version of the doc in ..../coq/doc/sphinx/_build/html/language/cic.html#typing-rules:

![image](https://user-images.githubusercontent.com/1253341/45920522-fe24ee00-be59-11e8-94e4-2d49137fa0c0.png)

[2018-09-22 23:32] Zimmi48 commented on #8529
More precisely, this is a regression that comes with the PDF manual PR:
- here is this chapter right before this PR was backported to v8.8: https://coq.gitlab.io/-/coq/-/jobs/99619717/artifacts/_install_ci/share/doc/coq/sphinx/html/language/cic.html
- here it is right after: https://coq.gitlab.io/-/coq/-/jobs/100292516/artifacts/_install_ci/share/doc/coq/sphinx/html/language/cic.html

This is crit

[2018-09-23 13:41] ejgallego commented on #7366
I see  you folks doing a lot of progress on Windows builds, I am thinking if using flambda as the default build wouldn't be the wiser choice. cc: @Zimmi48 @MSoegtropIMC

[2018-09-23 13:43] georgydunaev opened #8532 "Print Assumption anomaly (Assumptions of a parameter in a Module). kind: anomaly"
#### Version
The Coq Proof Assistant, version 8.8.1 (September 2018)
compiled on Sep 5 2018 13:38:41 with OCaml 4.02.3

#### Operating system
Debian GNU/Linux 9 (stretch) 64-bit

#### Description of the problem

This code raises an anomaly.
[code]
It was discovered during the use of Coq.Structures.Equalities library.

Maybe this tiny example has no sense, but this anomaly leads to impossibility of

[2018-09-23 13:46] ejgallego commented on #6455
Dear @herbelin, thanks for opening this issue, and sorry for the long
delay in adding my thoughts about the possible printing-related
roadmaps.

First, let me note that we already have 2 CEPs
https://github.com/coq/ceps/pull/26
https://github.com/coq/ceps/pull/19 and an issue
https://github.com/coq/coq/pull/505 discussing some ideas wrt to
printing. This comment should supersede all my comments in

[2018-09-23 14:26] ejgallego opened #8533 "[ci] Bedrock is routinely failing in the CI system."
Since a few days, `ci-bedrock2` is routinely failing in the CI system, due to what it looks like a memory exhaustion problem. Example: https://gitlab.com/coq/coq/-/jobs/100472191

This should be mitigated or `ci-bedrock` will be put in the allow-failure category. Possible mitigation strategies include: removing the problematic files from the ci build, forcing `-j1`, removing parallelism from the C

[2018-09-23 15:01] ejgallego commented on #8513
Updated original report with test case provided by @SkySkimmer

[2018-09-23 15:02] herbelin commented on #8532
Thanks a lot for reporting this regression. A fix is available in #8535.

[2018-09-23 15:42] herbelin commented on #6455
Thanks for this interesting post. I'm not expert to comment, but, with naive eyes, moving from Pp.t to a richer type looks a good move.

I confirm that this would be a great improvement.

One question I have though is: in a context where several GUI are developed (VScode, atom, ...), how to ensure that every feature which can be factorized between the different GUIs has been factorized. In particu

[2018-09-23 15:46] ejgallego commented on #6455
@herbelin I think API-wise there are many choices, for example (LSP)[https://microsoft.github.io/language-server-protocol] or an evolved version of what the STM provides. However, "printing"-wise almost all modern IDEs are based on some version of the HTML + CSS + JS, so indeed, that seems like a safe bet; or course we should provide a textual renderer for other clients.

Indeed that's a very hard

[2018-09-23 15:54] ejgallego commented on #8513
I confirm #8536 fixes this.

[2018-09-23 15:56] Zimmi48 commented on #8533
What has been done previously when fiat-crypto was hitting a similar wall was to split the target into two, run the first with `-j2` and the second with `-j1`. This did the trick.

[2018-09-23 16:26] ejgallego commented on #8533
Indeed, -j2 may be the culprit here but however some workers only have 2Gb of RAM so that's not a lot.

[2018-09-23 16:31] JasonGross commented on #6455
document model, implicits and notations can be represented in the
output document, and thus should be always sent by default to the
client, which can then manage them [using a simple CSS rule for
example]. Imagine the convenience of hovering with the mouse and
getting rich information on implicits and notations.

additions of some conditional processing, but for the large majority
of users this sh

[2018-09-23 16:34] Zimmi48 commented on #6455
@JasonGross

I think "the large majority of users" does not include users such as yourself.

[2018-09-23 16:37] ejgallego commented on #6455
With what concretely? What percentage of Coq users do you estimate to have the special needs you have?

I am not sure what are you measuring here, care to share your perf numbers?

Keep in mind that many components are involved in the printing path; I wouldn't be surprised if emacs and coqide are eating most of your CPU in this case [and yes, I've done some experiments, and yes, in Coq the biggest

[2018-09-23 16:38] ejgallego commented on #6455
Nobody can beat for example the Chrome layout engine at rendering large stuff, not the `Format` module for sure.

[2018-09-23 16:47] JasonGross commented on #6455
Perhaps I was too strong in my disagreement.  If there continue to exist reasonable editors where the printing path does not get slower (even if I have to set some options to get the Coq-side conditional processing), I'm fine with that.  I'm opposed to losing the current possibilities of Coq-side decrease in the amount of text.

The amount of time between `Show` and when text starts appearing in t

[2018-09-23 16:52] ejgallego commented on #6455
Certainly at a first stage we should keep all the current options regarding term non-elaboration. In particular what's the most problematic part for you? Notations? Implicits?

Well indeed we should get more concrete numbers on where is time spent, but printing per-se may not be the culprit here, I wouldn't be surprised if there are some superlinear parts in `Constrextern`.

[2018-09-23 17:36] herbelin commented on #6455
So, you mean Coq playing the role of a "language server" which would be able to treat requests like "user asked me what notation or implicit arguments expansions are possible at position X-Y, tell me what items I should show to the users in response to the right-click", or "please return the ast where the subterm at loc X-Y has its notation expanded"?

Or you mean an intermediate "language server"

[2018-09-23 17:38] Zimmi48 commented on #8529
Another minor regression is the location of the first footnote on this page: https://coq.gitlab.io/-/coq/-/jobs/100292516/artifacts/_install_ci/share/doc/coq/sphinx/html/index.html
I forgot to check the rendered output before merging even if I had said I wanted to.

[2018-09-23 17:39] Zimmi48 commented on #8529
Another minor thing I'd like to fix at the same time is to use `refman-pdf` and `refman-html` as the name of the targets and preserve the previous meaning of `sphinx` as a synonymous of `refman-html`.

[2018-09-23 17:47] MSoegtropIMC commented on #7366
@ejgallego : I must admit I don't understand flambda well enough to contribute in such a decision. If those who understand these matters conclude that flambda should be the default for Windows, I am happy to change it (after 8.8.2 is out ;-)

[2018-09-23 17:49] ejgallego commented on #6455
I don't see both options as different. As of today, `coqidetop` is a language server; it sits on top of "Coq" proper, but we consider part of Coq. After all, a language server is little more than an specialized toplevel.

I'd be cool to try to list all the potential improvements we could get here. It could be good material for a Summer of Code project.

[2018-09-23 17:50] jfehrle opened #8538 "Full table of contents not shown at all in the on-screen table of contents"
#### Version 8.8/8.9

#### Operating system Windows 10

#### Description of the problem

The reference manual includes a full table of contents under https://coq.inria.fr/distrib/current/refman/#table-of-contents, however that doesn't appear anywhere in the on-screen table of contents.  It should be shown--it is a standard part of almost all non-fiction books.  In fact, it should be a top-level en

[2018-09-23 17:51] Zimmi48 commented on #8529
@cpitclaudel The first problem mentioned seems to be that the new implementation of `.. preamble::` simply does not work.

[2018-09-23 17:52] jfehrle commented on #8538
PS It seems rather unconventional to have the indexes appear first in the table of contents.  No doubt this was intentional, but what was the thinking?

[2018-09-23 17:59] ejgallego commented on #7366
@MSoegtropIMC , IMO using flambda would the equivalent of setting some aggressive optimization options in the C world `-O3` for example.

The flambda optimizer is indeed less well-tested than the regular OCaml code generation backend, on the other hand it provides close to 10% speedup, so it is a huge amount of hours gained when you take into account Coq Windows users. Note that in some cases flam

[2018-09-23 18:11] anton-trunov commented on #8538
Hi @jfehrle. Issue #7764 is relevant here.

[2018-09-23 18:18] herbelin commented on #6455
Are you saying that we could try a first attempt at such "local notation expansion" feature already with `coqidetop`?

Let's for instance assume a model where, for efficiency, `constrextern.ml` attaches in advance IDs for possible alternative renderings which the GUI could request on user demand. E.g. if the term to display is `eq nat x 1`, `constrextern.ml` would produce an ast for `x = 1`, attac

[2018-09-23 18:29] ejgallego commented on #6455
Indeed; in my experience tho we should try first a model where for example notation expansion is already present in the document sent to the client. State [and for example, keeping ids] in the language server has been proven to be very difficult to handle and most modern protocols [including Isabelle and LSP] avoid it.

Thus, the client would get something such as
[code]
and that could be even map

[2018-09-23 18:40] herbelin commented on #6455
This would be a radically new `Pp.t` then if the structure allow to superimposes different alternative printing of the same expression? But why not, this is justified by the providing the new feature.

What's the exact positioning of Serapi by the way? Is it an alternative to the `xmlprotocol.ml` decoding/encoding used by CoqIDE?

[2018-09-23 18:55] ejgallego commented on #6455
Note that indeed you can implement this with the current `Pp.t` Use `Pp.tag` and make the clients filter the pp document. Indeed, what is not convenient of the `Pp.t` format is that is not properly box-based so it is a bit harder to map to HTML / TeX.

SerAPI arose as a request by some users and PG developers to have certain kind of serialization. I already had such support in JsCoq [in fact for d

[2018-09-23 18:56] ejgallego commented on #6455
Encoding / decoding wise it uses meta-programming so we remove quite a large part of the programming burden these kind of programs carry with them.

[2018-09-23 21:47] herbelin commented on #8188
The problem is not about "Sufficiently dependent types". It is about the name of the variable bound by `fun`. Since `fun _ => eq` is elaborated into `fun x => @eq x`, the binder is not matched against the anonymous variable `_`. The following works:
[code]

[2018-09-23 21:58] herbelin commented on #8074
The notation you gave is not "illegal". Single quotes do not have to go by pairs. As shown by `Print Grammar constr`, this defines a notation with symbol `'bind_ex`. In particular, the following works:
[code]

The use of simple quotes is indeed maybe a bit tricky. The idea was to have a syntax for symbols made from pure identifiers which was light and not too heavy to read. But, maybe, one should

[2018-09-23 23:00] cpitclaudel commented on #8529
I'll look at it right away.  Thanks for the ping.

[2018-09-24 00:44] anton-trunov opened #8540 "Identity Coercion example in refman is not clear"
#### Version

Coq 8.8.1

#### Operating system

any

#### Description of the problem

[The manual][1] presents a series of the examples that are supposed to demonstrate how coercions work. But it seems to me that `Identity Coercion` example does not do its job. Here is the snippet from the manual (I have taken the liberty of deleting some non-relevant parts):

[code]

`Check (T d')` works the same

[2018-09-24 06:17] samuelgruetter commented on #8533
@ejgallego does `-j1` fix the problem?
(Another culprit might be the `par:` in [DecodeEncode.v](https://github.com/mit-plv/riscv-coq/blob/21993a3401647c7bc6da9b6f7bd0fa978d61001b/src/proofs/DecodeEncode.v#L267), but that one is critical to keep the development "round trip time" short)
And btw, can't you just increase the RAM limit?

[2018-09-24 08:18] Zimmi48 commented on #8538
IIRC the fact that the table of content doesn't appear as a section of the introduction chapter is a Sphinx bug, not something that we can do anything about. That being said, I feel like this TOC is much more important in the PDF version than in the HTML version which already has the left-bar TOC. Thus, I propose to close as "won't fix".

[2018-09-24 08:26] Zimmi48 commented on #6455
@ejgallego side-question: how hard would it be to merge SerAPI in Coq and have CoqIDE use it (and deprecate the XML protocol)?

[2018-09-24 08:47] ejgallego commented on #6455
I dunno, I am not sure I understand the question about merging, you would just copy the folder over? However the development policies of Coq and SerAPI are very different for this work maybe.

As for CoqIDE, there already was a prototype, with the current version it wouldn't be so hard to port as SerAPI is a superset of the XML protocol, however future versions will make the protocol quite differe

[2018-09-24 08:56] MSoegtropIMC commented on #7366
@ejgallego : I don't understand your thoughts on risk in the last paragraph. Could you please reformulate it or explain the thought a bit?

The main question is of cause speed vs. risk. I think if we make flambda the default, we should also check all major developments in CI using flambda.

[2018-09-24 09:02] ejgallego commented on #7366
I just mean that bugs in the OCaml platform is a risk when using Coq. So would I have an organization that uses Coq I would check our development with a Coq compiled with different version. Our CI does already do that but not in an exhaustive way [overkill].

All the "major" ones are already checked using flambda.

[2018-09-24 09:10] MSoegtropIMC commented on #7366
Thanks for the explanation, something I should look into!

Do you think it makes sense to choose the Coq version (flambda, 32/64 bit, possibly different OCaml versions) randomly in CI? This would increase the coverage without increasing test time and if we find that some versions do result in trouble, we can separate out the troublesome versions in CI.

[2018-09-24 09:55] #8513 closed

[2018-09-24 10:07] #8401 closed

[2018-09-24 10:31] ejgallego opened #8543 "Repository tags are missing / wrong"
As of the time of submission of this bug `git describe` gives us:
[code]
which is plain wrong. Please fix the tags.

[2018-09-24 12:15] CohenCyril opened #8544 "[ssr] dispatch intro pattern is too permisive"
#### Version
[code]

#### Operating system
```Linux [...] 4.14.67 [...]-NixOS SMP Fri Aug 24 11:09:23 UTC 2018 x86_64 GNU/Linux```

#### Description of the problem

The following should fail because there should be two members in the dispatch.
Now the intro pattern between brackets is applied to the first subgoal.
[code]

[2018-09-24 12:16] CohenCyril commented on #8544
@thery

[2018-09-24 12:35] #8498 closed

[2018-09-24 12:50] CohenCyril commented on #8544
@gares do you know when this became possible?

[2018-09-24 13:34] cpitclaudel commented on #8529
I'm working on this, but I'm having trouble building:

[code]

I installed `xindy` from the Ubuntu repositories:

[code]

[2018-09-24 14:51] samuelgruetter commented on #8533
This would be bad:
*    It makes the claim "it builds locally if and only if it builds on CI" less true
*    It complicates the Makefile
*    It means we miss an opportunity to have a bigger-than-toy-example regression test for Coq's `par:` feature

According to the [CircleCI docs](https://circleci.com/docs/2.0/configuration-reference/#resource_class), this is possible.

I want to use Coq as a too

[2018-09-24 14:57] ejgallego commented on #8533
@samuelgruetter a few points:
- first, we are not using CircleCI, but GitLab free runners, these come with those limitations,
- second, we can agree on your views on the future of software verification, but we have to be more pragmatic here. As of today, Coq's CI has the resources it has, we welcome improvements / donations, but in the short term, it means that we are able to fit your development

[2018-09-24 15:14] andres-erbsen commented on #8533
The documentation [suggests](http://web.mit.edu/jgross/Public/tmp/doc/sphinx/_build/html/addendum/parallel-proof-processing.html#limiting-the-number-of-parallel-workers) that `coqworkmgr` can be used to limit the number of parallel jobs. Would that be applicable here? Alternatively, `find . -name '*.v' | xargs sed -i 's/par:/all:/'` might be the appropriate level of kludge to apply here.

[2018-09-24 15:15] Matafou opened #8547 "Function fails on some recursive functions"
#### Version 8.8

#### Operating system

#### Description of the problem
Due to a change in the behaviour of Fixpoint (not accepting non recursive definition on non recursive types). Functiona also fails. This is related to #8226.

Require Import FunInd.

Record t : Set := mk_t
  { xxx : nat;
    yyy : bool }.

Function fff (n:t) {struct n} : bool :=
  match n with
  | mk_t x y =>
    let res := m

[2018-09-24 15:15] Matafou commented on #8226
I renamed this bug to split it into two separate bugs: the current one is about a misleading error message: when there is no recursive call in a fixpoint definition the error message should not be "cannot guess recursive argument" but "use Definition instead".

The other bug is to make Function react by calling "Definition"'s backend intead of fixpoint's.

[2018-09-24 15:19] ejgallego commented on #8533
@andres-erbsen , I am not sure how `coqworkmgr` is supposed to work (cc: @gares ) I was under the impression that you had to set the flag when calling `coqc` itself.

That looks like a fairly ugly klugde indeed, I'd prefer we find a cleaner solution, but if that's what works for you OK then.

[2018-09-24 15:52] samuelgruetter commented on #8533
Couldn't this be as [easy](https://docs.gitlab.com/runner/configuration/advanced-configuration.html#the-runners-docker-section) as adding something like

[code]

to coq's `.gitlab-ci.yml`?

[2018-09-24 16:03] ejgallego commented on #8533
I'm afraid not. What you are looking at is at the configuration of the runner daemon itself.

[2018-09-24 16:21] jfehrle commented on #8538
Well, at times I do want to skim the full table of contents, especially when I can't find some concept in the index.  The left-bar TOC is not conducive to skimming: you have to click to expand each chapter and subsection to see nested items, which appear in a relatively small section of the window.

Let me see if I can get it to work.

[2018-09-24 16:56] gares commented on #8544
I guess it was when the ipats were ported to the tactic monad. The line
https://github.com/coq/coq/blob/master/plugins/ssr/ssripats.ml#L219
seems fishy, since it extends the dispatch with idtacs.

[2018-09-24 16:59] gares commented on #8544
Can you confirm it is only the first `[]` (the ssr exception where `[]` is not doing case, again) is affected?
Because this code changed, I pre-process the ipat by turning a `IpatCase` to `IpatDispatch` and that one was, I don't know why, implemented with a non-strict semantics (and it has no concrete syntax, but it will get one with the new ipats...).

Thanks for reporting.

[2018-09-24 17:06] Zimmi48 commented on #8533
@ejgallego Note that @coqbot itself needs to be adapted to not report about bedrock failures if the decision taken is to move it in `allow_fail`.

[2018-09-24 17:11] Zimmi48 commented on #8529
You can't build the PDF version of the reference manual anymore? That's really weird. We didn't change much since you submitted your PR and I suppose it was working at the time, wasn't it?
Isn't your problem that you are missing the `xelatex` dependency? Are you using the same machine as you were using when you last worked on the PDF manual? I personally have texlive-full (installed with Nix) on m

[2018-09-24 17:13] cpitclaudel commented on #8529
The problem seems to be with Sphinx 1.8.0 :/ I'll investigate further after fixing this issue with formulae.

[2018-09-24 17:39] ejgallego commented on #8533
Then we may just disable it entirely until the fix is implemented, as it is really bugging us.

[2018-09-24 18:35] Zimmi48 commented on #8529
There's one last regression with the PDF manual, which is that `install-doc-sphinx` disappeared. I recommend keeping it as it was before and adding `install-doc-refman`, `install-doc-refman-html` and `install-doc-refman-pdf`. I'm sorry for not having noticed all these issues before. I think that as I was finally involved in the PR to make it move quicker and I became frustrated with all the hurdle

[2018-09-24 18:41] jfehrle commented on #8538
I have it working, save for two minor details:

- I want to add "Introduction" and "License" as top-level sections similar to "Credits", but I don't quite understand how to set up a file similar to `credit-wrapper.t`.  Can you explain when you have time?
- Incremental sphinx build doesn't pick up the change for the TOC; I had to `touch` the .rst files for them to show the change.  Fixing that is a

[2018-09-24 18:46] cpitclaudel commented on #8529
I think we briefly discussed this.  I'm happy to fix this, but I'm puzzled by that code: none of the `install-doc-*` targets have dependencies, so I'm not sure how to write the new rules.

That peculiarity dates back to this:

[code]

[2018-09-24 18:52] Zimmi48 commented on #8529
So this is probably linked to this:

https://github.com/coq/coq/blob/fb8365e96ccb5d25d3810af99c36e7b27fec8fad/Makefile.doc#L15-L19

`make documentation` is run in every case, and probably `make install-doc` as well. This seems crazy but for now we should probably preserve this behavior. There's the plan to get rid of `configure` entirely when we move to a full Dune-based build system.

[2018-09-24 18:58] Zimmi48 commented on #8538
I'll leave it to @cpitclaudel to give you advice on this (but after we resolve the problems blocking 8.8.2 as this has lower priority :wink:).

[2018-09-24 19:03] Zimmi48 commented on #6455
I was thinking making SerAPI a first-class, official protocol. But yes, I understand that you prefer to work on it on the side as it gives you greater flexibility regarding the development strategies.

[2018-09-24 19:06] Zimmi48 commented on #8543
I'm not sure the blocker label is relevant here, especially as it can perfectly be fixed at any time *after* a release. We should also start looking for a RM for 8.10 BTW.

[2018-09-24 19:12] ejgallego commented on #8543
The blocker label is like 110% percent relevant, for git master is still 8.8+alpha!

[2018-09-24 19:29] Zimmi48 commented on #8543
You missed my point (or you ignored it).

[2018-09-24 19:33] ejgallego commented on #8543
I did not, the branch cannot just be in the state it is, specially when the beta is announced.

[2018-09-24 21:13] herbelin opened #8551 "Notation printing bug when a notation exists both lonely and in scope"
#### Version

All versions 8.X.

#### Description of the problem
[code]
The printer fails to see that the default interpretation of the notation is the lonely notation: a `%nat` is missing around `# x`.

Fix coming as part of #8187.

[2018-09-24 22:29] samuelgruetter commented on #8533
This is certainly ugly, but if this problem can be "solved" just by putting the above line somewhere in `.gitlab-ci.yml`, let's do that, as long as we don't have better solutions at hand.

[2018-09-24 22:41] ejgallego commented on #8533
That seems too radical, if we have to go this route I suggest we do that only for the problematic file.

[2018-09-24 23:00] samuelgruetter commented on #8533
If you specify each file separately, you'll have to update `.gitlab-ci.yml` each time someone adds a new memory-intensive proof using `par:` to bedrock2. So far the whole codebase contains only 1 `par:`, so this might happen only rarely. Up to you to decide :wink:

[2018-09-24 23:07] ejgallego commented on #8533
Well, the thing is that if Bedrock is going to become a memory-intensive development [which of course it is a 100% legitimate thing to do] we may really need to do a toned-down version for CI until we can have a better infrastructure. I agree that 2GiB runners is a bit low but so far this is what we have.

It is your development folks, if you think the full `par:` replacement is the way to go let'

[2018-09-24 23:53] gares commented on #8533
You can pass `-async-proofs-tac-j $N` to cap what `par:` spwans, but IIRC the default is only 2.

`coqworkmgr` can be used to cap globally, you could have `par:` capped at 8, do a make -j 5 but globally cap workers to 20. I guess here we should -j1 and -tac-j 1.

I'd like to keep `par:` in place, even if capped at 1 worker.

[2018-09-25 00:00] ejgallego commented on #8533
Thanks @gares , so what do you recommend? Should we cap `par:` with `-async-proofs-tac-j 1` or do you think that `coqworkmgr` would work better.

Meanwhile, @samuelgruetter , I guess we could try adding an option to beckrock's makefile so we can set `-async-proofs-tac-j $PAR_JOBS` and we will set `PAR_JOBS` to 1 in the CI.

[2018-09-25 00:00] ejgallego commented on #8533
Indeed I'd rather keep the `par:` in place.

[2018-09-25 00:28] gares commented on #8533
I'd pass `-async-proofs-tac-j 1` and then try `make -j2` or `make -j1`.

If it uses coq_makefile, then setting `COQEXTRAFLAGS` should suffice

[2018-09-25 00:48] samuelgruetter commented on #8533
The subproject in question (riscv-coq) does use `coq_makefile`, so can you just add

[code]

somewhere in `gitlab-ci.yml` and that's it?

[2018-09-25 01:11] gares commented on #8533
`make -f Makefile.coq -j2 COQEXTRAFLAGS="-async-proofs-tac-j 1"` should do it

[2018-09-25 07:32] Zimmi48 commented on #8533
Not in `.gitlab-ci.yml` for sure but rather in `dev/ci/ci-bedrock2.sh`.
But anyways, sorry for realizing this late but there is another solution since we have the pyrolyse runner: we could tag this job to run only on Pyrolyse although I need to understand how to run more than one build in parallel on a single runner. Pyrolyse has 32 GB of RAM and 32 CPUs. We could at least run 8 jobs in parallel.

[2018-09-25 08:50] Zimmi48 commented on #8529
@cpitclaudel If you manage to fix the problem with Sphinx 1.8.0 today this would be great. Otherwise, too bad for 8.8.2 but the release of this version cannot be delayed even more.

[2018-09-25 09:21] ejgallego commented on #8533
We had more capable runners in the past, see issue #6962

In the end, that's a bit of a pain for people willing to use their own gitlab; I feel that at least for this particular issue we should try to limit the amount of workers.

[2018-09-25 10:17] anton-trunov commented on #5773
This issue bit me too. How to reproduce:

[code]

CoqIDE's GUI reports a failure: "The spawned process did not connect back in 10 s"

@herbelin Hi Hugo, AFAIK, you are one of the core CoqIDE developers. Do you happen to know if there is a workaround? Thank you!

[2018-09-25 10:50] herbelin opened #8553 "Regression of tactic `change` under binders"
#### Version

Since 8.5.

#### Description of the problem

Reported by @cpitclaudel on Coq-club.

[code]
It used to work with Coq 8.4.

Fix to come.

[2018-09-25 11:36] ejgallego commented on #8533
So I added a `coqworkmgr -j 1` call here: https://gitlab.com/ejgallego/coq/-/jobs/101252135 but however something seems veeeery wrong, a normal bedrock build takes around 23 minutes, this build is taking close to 80 minutes and counting...

[2018-09-25 11:38] herbelin commented on #5773
Hum, let's say that I'm one of the developers which by necessity fixes issues with CoqIDE when I find some, but I must confessed that I'm not a big expert in GUI. I'm not a user of `_CoqProject` either. If no one has the expertise (@ejgallego?) I can have a look but I just would need to learn first how `_CoqProject` is managed.

[2018-09-25 11:42] ejgallego commented on #5773
I am not so familiar with `_CoqProject` but indeed I guess that there is a problem with the way it is calling the IDE. Doing some debug [for example with `COQ_CONFIGURE_PREFIX=_build/install/default dune utop lib` then `CoqProject_file.xxx`] should help understand what's wrong.

[2018-09-25 12:58] CohenCyril commented on #8544
@gares Yes, for example
[code]
has the right behaviour.

Also, you might already know, but the same bug extends to other cases, e.g.
[code]
does not complain, even though there are only two intro patterns, etc...

[2018-09-25 13:04] cpitclaudel commented on #8529
Right, I don't think we should hold anything up for the build issue that I ran into :)

[2018-09-25 14:13] samuelgruetter commented on #8533
The build https://gitlab.com/ejgallego/coq/-/jobs/101252135 built all files (`Fibonacci.v` and `EditDistExample.v` are the last files in the dependency graph), but after building all Coq files, it seems to hang on `Pulling docker image gitlab/gitlab-runner-helper:x86_64-cde4a2d1 ...`

[2018-09-25 14:18] ejgallego commented on #8533
It just timed out, so something is very wrong when we call `coqworkmgr`

[2018-09-25 14:48] anton-trunov commented on #5773
@herbelin @ejgallego I'm not a CoqIDE user myself. Is there anything you could recommend to work with projects in CoqIDE?

It's needed for a conference artefact submission: we provide an Ubuntu-based virtual machine with the source code and tooling preinstalled. We include only ProofGeneral, but I'd like to add CoqIDE as well.
E.g. if I clone https://github.com/imdea-software/fcsl-pcm and build th

[2018-09-25 15:17] JasonGross commented on #5773
I suspect this is a quoting bug.  It sounds like CoqIDE thinks it should pass the string `"-w -notation-overridden"` rather than the two strings `-w` `-notation-overridden`.

[2018-09-25 15:17] MSoegtropIMC commented on #8514
@Zimmi48 : just wanted to ask if you experienced any spurious windows CI failures after the fix. Should we doe more testing?

[2018-09-25 15:34] #8529 closed

[2018-09-25 15:34] Zimmi48 commented on #8514
No more failures indeed.

[2018-09-25 15:34] #8514 closed

[2018-09-25 15:57] gares commented on #5773
use `-arg -w -arg -notation-overridden`

[2018-09-25 15:58] gares commented on #5773
The idea is that _CoqProject has no quotation rules, eg it is not related to make or bash or ...

[2018-09-25 16:01] herbelin commented on #5773
Actually, where is the documention for `-arg`? Also, @anton-trunov, are you saying that the same `_CoqProject` did work with Proof General?

[2018-09-25 16:21] MSoegtropIMC commented on #8528
I reopened it, because it also needs to go into master.
This will take a short while, because I must first properly add the addons in master (#8322).

[2018-09-25 17:01] herbelin opened #8557 "A transition path from Ltac to Ltac2?"
Ltac1 and Ltac2 have different front-end in the sense that Ltac1 syntax has more implicit information than Ltac2 syntax (in the order of evaluation, in the use of coercions between arguments, in the use of the concrete syntax of tactics, ...)

I was wondering though whether it would make sense to plug Ltac1 interpreter on top of Ltac2 interpreter, and, maybe even also to reuse Ltac2 type-checker t

[2018-09-25 17:13] anton-trunov commented on #5773
@gares I was a bit too quick with my response :) Now CoqIDE works, but ProogGeneral is *not* happy about the change -- it refuses to step over the file and I see the following in PG's `*coq*` buffer:

[code]

[2018-09-25 17:27] JasonGross commented on #5773
Does
[code]
work?  (You might or might not need to update the version of PG?)

[2018-09-25 17:30] Zimmi48 commented on #5773
It's not documented in the refman yet, see #8453.

[2018-09-25 17:32] ppedrot commented on #8557
Migration is, I believe, quite easy if you stay in a reasonable fragment. On a typical proof (non-ssr) it is only a matter of cosmetic syntactic changes. There is a `Lists.v` example file in the Ltac2 tests.

Obviously if you start doing fancy stuff à la @JasonGross it is another matter, but for that you can already plug Ltac1 into Ltac2 in an incremental way through `ltac1:(...)` and `ltac2:(...)

[2018-09-25 17:33] Zimmi48 commented on #8528
Well, I was assuming that you would include it in master from the beginning. Anyways, if this must be kept open, please remove the 8.8.2 milestone.

[2018-09-25 17:34] herbelin commented on #5773
Note that `coq_makefile` is also ok with `-arg "-w ,-redundant-canonical-projection"`.

I found a documentation on Proof General [documentation](https://proofgeneral.github.io/doc/userman/ProofGeneral_12/): "Remarque: -arg must be followed by one and only one option to pass to coqtop/coqc, use several -arg to issue several options. One per line (limitation of Proof General)". There is actually a s

[2018-09-25 18:13] #8532 closed

[2018-09-25 18:59] JasonGross commented on #8557
I still think the most annoying missing feature, syntax-wise, of Ltac2 is `idtac`/`printf`

[2018-09-25 20:16] andres-erbsen commented on #7161
I would love to see officially supported binary packages for Linux -- I *also* have my own hacky homegrown solution for producing them which I would like to replace. For me the use cases are both CI and interactive, and I think a reasonable sketch of the requirements is:

1) usable without root access
2) fast to unpack
3) either do not depend on ocaml (no `native_compute`), include ocaml, or provi

[2018-09-25 20:36] gares commented on #5773
@erikmd @cpitclaudel any idea why the example with 4 successive `-arg` lines above fails?

[2018-09-25 21:47] gares commented on #7161
I think the build time for Coq alone is negligible (if you have an opam root ready). So I don't see the point of doing this unless we also put in the package a bunch of user contributions, as we do in the windows installer.

[2018-09-25 21:59] JasonGross commented on #8383
Updated version of python script:
[code]

[2018-09-25 22:42] eponier commented on #8383
I wanted to give it a try too. I wrote a python3 script based on @JasonGross 's initial script. The tests on corn and flocq went on pretty well (4 changes to do manually for corn, 0 for flocq). Sorry for the duplicate effort, but I was not sure if I had the motivation to finish my script properly.

[code]

[2018-09-26 04:16] andres-erbsen commented on #8244
@ppedrot I am interested in discussing potential improvements on this issue (and #8237). I would hope that there is something that can be done here, but even if the conclusion is that fixing this would really require rewriting most of Coq, it would be good to document the tradeoffs in this corner of the design space.

The context is that @samuelgruetter and I have an idea for how to make bedrock2

[2018-09-26 06:01] maximedenes commented on #8018
@ppedrot any progress on that? Not having locations is a very serious regression w.r.t. camlp5.

[2018-09-26 07:52] ppedrot commented on #8244
It might be possible to provide you with a high-level tactic that does that efficiently though. Can you describe the exact expected semantics?

[2018-09-26 09:02] #8215 closed

[2018-09-26 11:32] Zimmi48 commented on #7161
Note that we are now routinely building a Nix binary that is usable on any Linux / macOS with Nix installed. I should write documentation on how to install it.

@andres-erbsen Your point about addons is interesting. We included these addons in the Windows package because it was much more complicated to get them compared to Linux / macOS, but now the situation is reversed and it is (comparatively)

[2018-09-26 11:40] Zimmi48 commented on #8383
Thanks @JasonGross @eponier! You even saved me some work by testing already.
@eponier Could you open a PR on https://github.com/coq-community/corn with your patched version? As for the fixed flocq, if you push it somewhere, we can ask @silene to pull it.

[2018-09-26 11:47] ejgallego commented on #7161
Nix seems indeed like a good candidate for that, Docker is maybe too heavy and not so user-friendly.

[2018-09-26 12:05] #8344 closed

[2018-09-26 13:39] #8454 closed

[2018-09-26 13:53] #8496 closed

[2018-09-26 14:05] andres-erbsen commented on #8244
Hmm. I don't know what else to ask for than `Ltac newintro mark := let H := fresh in intros H; mark H`. This would be used in the main loop of the overall proof procedure preferentially whenever it succeeds, interleaved with other tactics like simplification by rewriting.

Maybe it indeed is crazy to try to use Ltac (Ltac2?) for a rather tight loop in a proof script, but it is unclear what there i

[2018-09-26 14:22] SkySkimmer commented on #8018
I guess instead of READABLE_ML4 we should have KEEP_GENERATED. I don't think you often look at the binary camlp5 output.

[2018-09-26 14:27] ejgallego commented on #8018
That mostly matters for the workflow of the dependency rules, the dependency chain is different and so is parallelism. In the Dune version we will surely keep the generated files for now as it simpler [and they don't bother as they are placed in _build].

[2018-09-26 14:27] ppedrot commented on #8244
If you can define variables in batches, then the process can be speed up. It costs essentially the same to introduce one binder than `n` binders at once.

[2018-09-26 14:36] eponier commented on #8383
Ok, I will do this evening.

[2018-09-26 14:56] JasonGross opened #8564 "Numeral notations should maybe use Coqlib for constants"
Is this the wrong way to do things?  If so, it should be fixed in master:
https://github.com/coq/coq/blob/7cc70b0df61718a946327d5bfb056b140eeb54ba/plugins/syntax/numeral.ml#L36-L40

[2018-09-26 15:01] JasonGross commented on #8383
Should we put the script in a gist somewhere and mention it in the changelog / the releasing doc when we merge the removal of compat notations?

[2018-09-26 15:10] JasonGross commented on #8383
To be clear, I'm talking about @eponier 's script; even my updated script does not handle multiline warnings.  (Though if you want to make the script a bit more robust, you could do some test to see if the character report is correct and not do find and replace in that case, e.g., test if the character locations are within the current line and define a substring that contains no spaces and `endswi

[2018-09-26 15:19] andres-erbsen commented on #8244
I think we could batch a bunch of the introductions by first `change`ing the goal into a form where the binders are visible and then calling intros once. These binders would be able to reference each other, right?

There would still be other introductions in the main loop, but I think having multiple intros at a time for the cost of 1 would improve things enough so that something else (existential

[2018-09-26 15:27] Zimmi48 commented on #8383
I think @eponier's script is robust enough given the result they got on large examples. Yes, it should be put in a gist with precise documentation on how to run it (i.e. making it explicit to run Coq 8.8 and how to redirect the make output so that the script can use it, etc.). Then PR #8374 should include a CHANGES entry explaining that the compat notations were removed, that people should use the

[2018-09-26 17:49] HuStmpHrrr commented on #8557
Apologies if I am super uninformed. Is there any documentation on Ltac2, or is there going to be one when corresponding version releases, ideally in reference manual?

[2018-09-26 18:00] ppedrot commented on #8557
Currently Ltac2 is not released as a part of Coq, but the [Ltac2 repo](https://github.com/ppedrot/ltac2) does contain a bit of (terse) documentation.

[2018-09-26 20:37] gares commented on #7161
@Zimmi48  I thought you were doing this for human users. CI is another matter, and I agree 10 minutes are a lot there

[2018-09-27 08:59] eponier commented on #8383
@Zimmi48 I opened a PR on https://github.com/coq-community/corn. I forked flocq on https://github.com/eponier/flocq and pushed the changes there.

[2018-09-27 10:12] herbelin commented on #8557
I could not find it. You intend [here](https://github.com/ppedrot/ltac2/tree/master/tests)?

My question is the other way round. I'm convinced by the type-checker of Ltac2. I find the ability to define proper Ltac2 types natural and powerful (rather than using an encoding in `constr`). I like the principled way with which Ltac2 is written. But I would like also to understand how to combine these a

[2018-09-27 10:35] Zimmi48 commented on #8383
Thanks a lot @eponier! @silene could you pull https://github.com/eponier/flocq?

[2018-09-27 10:39] ejgallego commented on #7149
I guess such scripts will have to be updated at some point.

[2018-09-27 11:04] Zimmi48 commented on #7161
@gares Regarding the part you just quoted I was mostly thinking of Windows users when I wrote this.

So yes: one goal is to support easy access to the development version for all humans, including humans on Windows (OPAM or Nix are already enough for Linux and macOS users, although it gets more complex if you want to also test the latest CoqIDE on macOS), and another goal is to support CI (see als

[2018-09-27 12:34] SkySkimmer commented on #7483
https://gitlab.com/coq/coq/-/jobs/102208976

[2018-09-27 14:44] ejgallego commented on #8543
I've added https://github.com/coq/coq/releases/tag/V8.10%2Balpha to point to https://github.com/coq/coq/commit/f61ee79e4a6db070e3bf26f76e8bdb42b85c3a72 as suggested by @Zimmi48 ; however, we are missing the `V8.9+alpha` tag, thus marking this bug not fixed yet.

[2018-09-27 16:14] Zimmi48 commented on #8543
See also the discussion that happened in #7008.

[2018-09-27 23:57] ejgallego commented on #6342
This will be closed when #8580 #8581 #8582 and #8493 [among others] are merged.

Minor parts of internal code will still be using some evar passing by reference, but shouldn't be visible from outside.

[2018-09-27 23:58] ejgallego commented on #6353
This is solved by #6857

[2018-09-27 23:58] #6353 closed

[2018-09-28 00:00] ejgallego commented on #8543
Well, the discussion didn't converge, so indeed I propose we continue with the current scheme and thus close #8543 adding a v8.9+alpha tag for bc0fa22.

I will add the tag in a few days unless somebody opposes.

[2018-09-28 00:04] ejgallego commented on #7378
Is this fixed @Zimmi48 ? [Seems so]

[2018-09-28 08:49] Zimmi48 commented on #7378
This is a Nix-specific problem that is still there. The workaround is to use the artifact generated by GitLab CI.

[2018-09-28 08:54] ejgallego commented on #7378
Ok so should we retitle the bug?

[2018-09-28 08:54] ejgallego commented on #7378
Do we want a new tag for "Nix"?

[2018-09-28 13:34] #8478 closed

[2018-09-28 15:05] JasonGross opened #8587 "Feature request: Disable Scope"
<!-
#### Version

8.10+alpha

#### Description of the problem

Quoting https://github.com/coq/coq/pull/8187#discussion_r221281541:
If a scope is bound to a type, or if it is bound to an argument location, then the scope can be automatically opened in a way that `Close Scope` and `Undelimit Scope` have no effect on.  I'd like to see a separate command `Disable Scope` which has the combined effect o

[2018-09-28 17:00] Zimmi48 commented on #8507
Fixed in #8583.

[2018-09-28 17:00] #8507 closed

[2018-09-28 19:09] rudi-cilibrasi commented on #7510
[code]

[code]

[2018-09-28 22:18] jfehrle opened #8592 ""Add LoadPath" broken on Windows; poor documentation for directory/path setup; use with OPAM"
#### Version 8.8+
#### Operating system Windows 10

#### Description of the problem

1. The doc doesn't describe the syntax for `dirpath` (the Coq name to assign)--whether it's quoted or not, what to use on Windows vs Linux, etc.  Also the name `string` doesn't clearly suggest that it's the OS name for the directory.  So hard to figure out what `dirpath` should be without reading the source code.

[2018-09-28 23:51] erikmd commented on #7753
Hi @Zimmi48 and @ejgallego! (sorry for late reply I've been very busy this week)

I fully agree with your remarks (but I was actually speaking about reusing the existing [coqci](https://hub.docker.com/r/coqci/) Docker Hub organization, I didn't meant to suggest creating yet another GitHub org.)

OK.

I agree with what @Zimmi48 said about the fact these Docker images will be very useful beyond just

[2018-09-29 00:43] erikmd commented on #7753
@ejgallego

Indeed. FYI here are some figures I finally obtained for a tentative base image:

- I've tested both `FROM debian:9` and `FROM ubuntu:bionic`
- installing only 12 essential APT packages, cf. the [Dockerfile](https://github.com/erikmd/docker-base/blob/master/Dockerfile#L6-L17)
- and installing opam 2.0.0, with two switches `4.02.3` and `4.07.0+flambda` as you suggested:

| image | `FROM

[2018-09-29 08:39] fblanqui opened #8593 "problem with install target generated by coq_makefile and opam 2?"
#### Version

10:29 ~ coqc -v
The Coq Proof Assistant, version 8.8.1 (September 2018)
compiled on Sep 29 2018 8:53:41 with OCaml 4.07.0

#### Operating system

08:49 ~ uname -a
Linux 6600Fred 4.15.0-34-generic #37-Ubuntu SMP Mon Aug 27 15:21:48 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

#### Description of the problem

Following https://github.com/fblanqui/color/issues/12.

coq-color installation fa

[2018-09-29 08:48] Zimmi48 commented on #8592
First of all, I agree with you: the documentation on these things is quite bad. I had much trouble until I finally grasped it. On the LoadPath question, you are probably right that this is a bug. The LoadPath command is probably not tested enough. That being said, you should almost never need to use LoadPath.

The -R and -Q options and the _CoqProject file are for when you are *developing* a libra

[2018-09-29 09:05] Zimmi48 commented on #7753
Cool stuff :1st_place_medal:

Regarding the name and location, for sure feel free to do as you prefer. Yet another option is to rename the organization (or create a new one) to `coqorg`. Looking at it now, I see that this is what the Nix community did with their Docker images. The base repo is at https://github.com/nix-community/docker-nix and the Docker images are at https://hub.docker.com/r/nixo

[2018-09-29 09:09] Zimmi48 commented on #8383
Yes, indeed. I am just not aware of any bug tracker for coquelicot. But it only has 6 instances to fix so this should be straightforward.

[2018-09-29 12:09] erikmd commented on #7753
Thanks for the pointer! we could indeed follow that naming convention for coq as well…

OK.

[2018-09-29 12:13] erikmd commented on #7753
To follow-up my previous experiments, starting from `erikmd/base` I compiled coq 8.8.1 using opam for both switches 4.02.3 and 4.07.0+flambda, vs. for just 4.07.0+flambda.
The idea is that these two versions could be provided:

1. either in two different images,
2. or in the same image `coqorg/coq:8.8.1`…

I tend to believe the second choice would be easier to maintain (twice fewer images to build

[2018-09-29 13:57] ejgallego commented on #7753
Note that it provides some interesting features, I can add you to the org there if you want to play.

[2018-09-29 15:06] erikmd commented on #7753
Hi @ejgallego

Thanks for proposing :)
BTW are you thinking about one feature in particular?

[2018-09-29 15:09] ejgallego commented on #7753
Autobuilding is one.

[2018-09-29 15:16] erikmd commented on #7753
Yes indeed: as I said previously I've already experimented the auto-build feature with my user repos https://hub.docker.com/r/erikmd/base and https://hub.docker.com/r/erikmd/docker-coq and it seems very cool!
But I've only tested this with coq "stable" versions, so I'll need to test this with coq "dev" as well (using opam). The idea is that we could trigger the rebuild of a `coq:dev` image on dema

[2018-09-29 15:39] ejgallego commented on #7753
Sure.

Sure, note that we can also host them in the main coq repos.

[2018-09-29 15:51] erikmd commented on #7753
OK, that's also a good idea.

[2018-09-29 15:57] ejgallego commented on #7753
Orgs cannot be renamed or deleted as of today; we could try writing to `support@docker.com` to ask for a rename, otherwise we'll have to create a new one.

[2018-09-29 16:04] erikmd commented on #7753
OK. Maybe one can ask them, even if I guess it is not guaranteed they accept to rename the org.
Anyway, let's do what you find simpler.

[2018-09-30 14:41] anton-trunov commented on #7753
I also hear some people use [Alpine Linux ](https://alpinelinux.org) as the base of their Docker images as it's very lightweight. I would guess the images should be considerable smaller than Debian-based ones. (I don't have hands-on experience with this, though. Please take this with a grain of salt).

[This](https://hub.docker.com/_/alpine/) says (it's not entirely relevant)

[code]

This example

[2018-09-30 17:52] MSoegtropIMC opened #8603 "Move Windows CI runs to folder C:\ci"
Currently the cygwin and coq folder of CI runs are created under C:\ on the runner. Thus they inherit permissions from C:\ which leads to the effect that files in these folders can be created but not be removed (the default permissions of C:\ are like this). Cygwin adds some NULL-SID hacks in the ACL to emulate posix permissions, which makes things worse.

The fix is to create a folder C:\ci with

[2018-09-30 19:36] JasonGross opened #8605 "`refine` is incomplete modulo beta (success only after running cbv beta), and the error message lies"
#### Version

8.8.1

#### Description of the problem

Consider the following
[code]

The `refine` fails, claiming a type mismatch which is a beta-reduction of the actual type mismatch, and yet running `cbv beta` allows `refine` to succeed.  I think the `refine` should succeed without the `beta` reduction.  Can someone explain what is going on here?

cc @herbelin @mattam82 @mikeshulman (who initial

[2018-09-30 19:38] JasonGross commented on #8605
Note that doing `eapply (A2 (fun x => _))` succeeds even without the `cbv beta`.

[2018-10-01 06:14] akr opened #8607 "pattern matching printer doesn't show a binder for used variable"
#### Version

[code]

#### Operating system

[code]

#### Description of the problem

In the following example, the result of Check command doesn't show
the binder for `p` while `p` is used variable.

[code]

Actually, I found this problem with following (longer) code:

[code]

[2018-10-01 11:40] gares commented on #8544
please write your +1 on the PR! #8556

[2018-10-01 12:43] #6588 closed

[2018-10-01 12:53] anton-trunov commented on #8544
@gares Done! :)

[2018-10-01 13:11] silene opened #8609 "STM: sending back a fat state"
If we ever decide to be less noisy about fat states, here is a small script to test it, as it causes the warning to appear systematically.

[code]

[2018-10-01 13:29] MSoegtropIMC opened #8610 "Change important CI DOS batch files to CRLF"
Currently all Windows batch files used on CI use LF line endings. Unfortunately this can have the effect that jump/call labels are not found (but only if the jump label is more than 512 bytes away from the call and the moon is in a certain constellation to Saturn, otherwise it works fine - oh how we love MS). So I fear I have to change some important CI batch files to CRLF, although this makes dif

[2018-10-01 15:53] Zimmi48 commented on #8543
Ouch! Yes, there is a problem: you used a small `v` instead of a capital `V` (and you didn't sign the tag).

[2018-10-01 15:53] Zimmi48 commented on #8543
Sorry I should have noticed that the name was wrong from your previous message.

[2018-10-01 16:05] ejgallego commented on #8543
Ups; not so familiar with this stuff. New and signed tag pushed, proceeding to delete the wrong one.

[2018-10-01 17:06] MSoegtropIMC opened #8611 "Change extensions of log files in WIndows build to _log.txt and _err.txt so that they can be viewed immediately in gitlab"
In the windows build log files are now browsable with artifacts browse, but it is not possible to look at log files in the browser cause of the extension. So change the file extension to .txt for all .log and .err files.

[2018-10-01 20:01] #8018 closed

[2018-10-01 21:38] #7618 closed

[2018-10-02 04:21] jfehrle opened #8619 "index.html.rst changes should force rebuilding every html file"
#### Version 8.9 ish
#### Operating system Windoze 10
#### Description of the problem

index.html.rst changes should force rebuilding every html file since the short TOC is included in every html, but the incremental `make sphinx` doesn't check this dependency. This may be in the Sphinx code.  I didn't try to localize the problem.

To reproduce:

1. Complete a successful `make sphinx`.
2. Move the

[2018-10-02 06:39] #7380 closed

[2018-10-02 07:33] anton-trunov opened #8621 "non-release coqtop stopped reporting its current commit"
#### Version

$ coqtop --version
The Coq Proof Assistant, version 8.10+alpha (October 2018)
compiled on Oct 1 2018 23:35:50 with OCaml 4.07.0

It comes from a fresh OPAM `dev` installation. Basing on the time I started installation of the switch, it is either a7ba3df749df51ffdddce055bb630346522d88b0 or 05786b23cf0d031c93998c59f6f2f94d6049b027.

#### Operating system

[code]

#### Description of th

[2018-10-02 07:34] SkySkimmer commented on #8405
I think this is because of `$(MLWITHOUTMLI:.ml=.cmi): %.cmi: %.cmo`
coqpp_parse is WITHOUTMLI so we have
[code]
Since there is no coqpp_parse.mli the cmo does not depend on the cmi, so the exact rule should just have `coqpp_parse.cmo: coqpp_ast.cmi`.

[2018-10-02 07:39] ppedrot commented on #8405
Doesn't compile.

[2018-10-02 07:48] SkySkimmer commented on #8405
Oh I see ocamlyacc produces the mli, so the issue is that we don't put those generated mlis in MLIFILES.
I actually tested this time ^^

[2018-10-02 07:58] Zimmi48 commented on #8018
I'm moving this to 8.10+beta1 because the PR fixing this was merged in this milestone but if this regression is concerning for 8.9, maybe it should be backported...

[2018-10-02 08:44] Zimmi48 commented on #6383
The new plan is to use Dune release features to do this. @ejgallego Should we assign this to you?

[2018-10-02 08:46] Zimmi48 commented on #8621
Are you sue it used to do this? I think this worked only when you did this using a `coqtop` compiled from a git clone.

[2018-10-02 08:54] anton-trunov commented on #8621
Absolutely!

This is from my work laptop (macOS):

[code]

[2018-10-02 08:58] anton-trunov commented on #8621
OPAM coq.dev uses Dune now. Can this be the reason? (CC @ejgallego)

[2018-10-02 08:58] Zimmi48 commented on #8383
The removal of the compatibility notations from Flocq is not going to happen before the 8.9 release and therefore they cannot be removed from Coq 8.9 either. Let's make sure we properly advertise these warnings and the script fixing them so that it can be done in Coq 8.10.

[2018-10-02 09:58] Zimmi48 commented on #8621
Ah right. It could absolutely be the reason.

[2018-10-02 11:39] ejgallego commented on #8621
Indeed, @anton-trunov , can you see if the version that works has a `revision` file in the `$lib/coq` folder?

I was planning to fix this in a different way but I can indeed make the Dune packages to generate the revision file if that's what the old packages were using.

[2018-10-02 12:01] anton-trunov commented on #8621
It does

[code]

[2018-10-02 13:29] ejgallego commented on #6457
Indeed I think we can close this, `compiler-libs` is not available in byte builds so even using the flag won't help.

[2018-10-02 13:29] #6457 closed

[2018-10-02 13:41] ejgallego commented on #6446
Ok, so we are ready for this; how should be proceed to migrate?

Is is enough to change:
[code]
to
[code]

[2018-10-02 14:29] ejgallego commented on #8621
@anton-trunov https://github.com/coq/coq/pull/8627 should fix the issue, testing now.

[2018-10-02 14:36] ejgallego commented on #8621
Tested, it works.

[2018-10-02 14:45] andres-erbsen opened #8628 "practical-tools/utilities.rst "using coq as a library" is broken"
kind: doc, infrasturcure
version: master as of an hour ago.
OS: Arch Linux, up to date as of yesterday

I tried to build a statically linked coq+ltac package following https://github.com/coq/coq/blob/4f85e540349004d4f9388a90061fc4a1541d9c40/doc/sphinx/practical-tools/utilities.rst#using-coq-as-a-library and it seems that it no longer works that way. I tried a bunch of not that educated guesses, an

[2018-10-02 15:31] Zimmi48 commented on #8628
cc @ejgallego
I think you wrote that part.

[2018-10-02 15:39] ejgallego commented on #8628
Umm, well, you need a `main.ml` file such as https://github.com/coq/coq/blob/master/topbin/coqtop_bin.ml as to start a toplevel shell indeed.

[2018-10-02 15:40] ejgallego commented on #8628
So in fact the documentation is correct [well, it has some spurious `\` from the port from LaTeX] but you are not following it.

[2018-10-02 17:30] andres-erbsen commented on #8628
The documentation points to `toplevel/coqtop_bin.ml` which does not exist

[2018-10-02 17:35] ejgallego commented on #8628
Doc has been fixed in #8629

[2018-10-02 18:04] jfehrle commented on #8619
Filed per @cpitclaudel

[2018-10-02 18:41] cpitclaudel commented on #8619
I was suggesting a Sphinx bug report, not a Coq one ^^

[2018-10-02 18:54] ejgallego opened #8633 "#6524 wrongly postponed to 8.10"
I already indicated in a coq-dev mail that #6524 must go into 8.9 or else API will be broken without notice.

It is not an option to defer the deprecation, the necessary imperative structures to support the deprecated API simply won't be there in 8.10.

[2018-10-02 18:59] samuelgruetter opened #8635 "rewrite in * does less than rewrite in H"
#### Version

8.8.1

#### Operating system

Fedora 28

#### Description of the problem

Here's an example where `rewrite in *` does nothing, while `rewrite in H` does the rewrite I want it to do. Also, `autorewrite` behaves the same, and there, it's even more annyoing because it prevents me from using `autorewrite`.

[code]

The expected behavior is that the two commands marked with `Fail` would n

[2018-10-02 19:01] ejgallego commented on #8633
Moreover, the PR help fixing a widespread critical issue found in plugin code, which like to call the printers in these files whereas they are only for internal / debug use.

[2018-10-02 19:06] samuelgruetter commented on #6107
I'd love to see this fixed!

[2018-10-02 19:30] jfehrle commented on #8619
Ah, you didn't say "a Sphinx bug"...

[2018-10-02 20:28] JasonGross commented on #8383
@Zimmi48 How should we advertise the warnings and the script?  Should something (a CHANGES entry?) be added to #8634 ?

[2018-10-02 20:35] #8619 closed

[2018-10-03 08:55] #8628 closed

[2018-10-03 09:16] maximedenes commented on #6764
@RalfJung can you confirm that the Iris problems are solved?

[2018-10-03 09:34] Zimmi48 commented on #8383
Probably yes.

[2018-10-03 10:28] mattam82 commented on #6105
I think something like `Hint Constants Opaque : rewrite.` will do it in Coq 8.9. In the meantime you need to selectively add `Hint Opaque` hints in the `rewrite` database.

[2018-10-03 10:39] mattam82 commented on #6105
For example:
[code]

[2018-10-03 10:45] mattam82 commented on #6107
I don't think it's that difficult but I've little time right now, would someone like to try? I can provide hints for sure.

[2018-10-03 10:55] mattam82 commented on #6107
I had a quick look and essentially it means adapting Equality.general_rewrite_clause to rewrite_strat/setoid_rewrite

[2018-10-03 11:13] charguer opened #8641 "Missing documentation for sphinx installation"
I have not found the documentation for the installation of sphinx, which is needed for compiling the new documentation. This information probably should go in the main INSTALL file, (e.g. instructions for CoqIDE are also there).

I have tried (on Ubuntu):
[code]
but I'm still getting stuck with at least two kind of errors, first missing file encoding information e.g. at the head of file tools/coqr

[2018-10-03 11:42] ppedrot commented on #8635
Probably a duplicate of #3051.

[2018-10-03 12:32] silene commented on #8633
So, you are saying that you merged something into master before even waiting that the deprecation warning went into 8.9? And now I am supposed to fix that mess?

[2018-10-03 12:34] ejgallego commented on #8633
It is not merged yet but we certainly hope that we are not going to delay all the plans for 8.10 due to this trivial deprecation notices not getting in.

[2018-10-03 12:35] ejgallego commented on #8633
It would help if you were more communicate, as for a start, why against our advice you choose not to include #6524 in 8.9 , as request by mail in the category of "critical to get in".

[2018-10-03 12:42] silene commented on #8633
A deprecation notice does not qualify as critical for me. (But I am sure the next release manager will have a different opinion on that matter.) Anyway, I will backport #6524 . (Though I have to fix the many conflicts first.) But people should realize that adding more and more requests for backports is exhausting my time and pushing back the release. It has been repeated at the last two (three?) w

[2018-10-03 12:46] ejgallego commented on #8633
I will gladly provide a backport of the essential deprecation part if that would save your time. It is common for past release managers to request a backport from the author if there are conflicts.

Well, is the release plan written somewhere? Because words fly with wind, and certainly not even the milestones have a date set, so it is hard to remember if we said Sep. 1st or Oct 1st.

In past relea

[2018-10-03 12:58] gares commented on #8609
I totally agree: #8643

[2018-10-03 13:31] ejgallego commented on #8533
It seems all runners now come with 4GiB of RAM so tentatively closing this. Bedrock upstream tho should be careful with the target they want to test in our CI.

Unfortunately we are not in shape to offer very powerful runners in the medium-term so they should keep CI testing under reasonable constraints.

[2018-10-03 14:54] Zimmi48 commented on #8641
You need to look into https://github.com/coq/coq/blob/master/doc/README.md. This documentation is linked from the README of Coq. If you have trouble with this documentation please let us know but I don't know how it could possibly be put in clearer light.

[2018-10-03 14:57] ejgallego commented on #7588
I just did the test, this is not a problem, in fact 8.9 has a slightly better memory footprint.

[2018-10-03 14:57] #7588 closed

[2018-10-03 15:10] ejgallego commented on #6764
Indeed @RalfJung it would be good to know if additional problems with IRIS do exist in 8.9 and `master`.

[2018-10-03 15:33] Zimmi48 commented on #8633
Note that in the past some deprecation notices that were forgotten in the beta were backported between the beta and the final release. I just mean that it isn't the end of the world if something doesn't get in before the beta as long as we don't lose the track of it.

[2018-10-03 17:12] ejgallego commented on #3955
We can consider this bug stale.

[2018-10-03 17:12] #3955 closed

[2018-10-03 21:49] JasonGross commented on #8383
I've created a PR updating `CHANGES` at #8648.  I'm not confident in the wording, etc, but I figured it was better to create the PR than to not do so.

[2018-10-03 22:17] JasonGross opened #8649 "Redirect (or Cd) should have an option/variant that computes paths relative to the directory of the .vo file"
#### Version

8.8.1

#### Operating system

Linux

#### Description of the problem

Currently `Redirect` does not work with relative paths.  If I do `Redirect "foo" Check I.` interactively, the file `foo.out` in the current directory gets written.  However, if I put it in a `.v` file that is not at top-level, and invoke `coqc` on the `.v` file, it gets written to the current working directory.  Th

[2018-10-03 22:18] JasonGross commented on #8649
(I am reporting this because I just ran into a case where `Redirect "/tmp/foo"` is unusable: if multiple users are building the same project on the same machine, it will give a "permission denied" error on trying to write to the file in `/tmp`.)

[2018-10-03 22:40] silene commented on #8633
Merged as of e28dce187c055141682cec56d0d8193470a24a5f.

[2018-10-03 22:40] #8633 closed

[2018-10-04 06:48] ejgallego commented on #8633
Merci !

[2018-10-04 07:29] ejgallego commented on #8533
Yeah, the sooner I speak...

[2018-10-04 07:40] Zimmi48 commented on #8533
And another: https://gitlab.com/coq/coq/-/jobs/104420598

[2018-10-04 07:40] Zimmi48 commented on #8533
It is still an option to have these tagged to run on pyrolyse. As for the allow_failure option, it is now supported by @coqbot.

[2018-10-04 07:49] ejgallego commented on #8533
We can do that in a similar way to Windows builds, but I'd rather try not to introduce yet another special category.

[2018-10-04 08:43] gares commented on #8609
This is the check https://github.com/coq/coq/blob/master/stm/stm.ml#L1587
This is the safe_env comparison that fails https://github.com/coq/coq/blob/master/stm/stm.ml#L921

[2018-10-04 09:02] ejgallego commented on #8052
Note to self, things that are hard to do / not supported by the current make system:
- hygienic builds,
- opam integration / install files,
- compositional builds,
- dev tools integration,
- instrumentation, bisect_ppx, etc...
- general preprocessing,
- proper compartmentalization of libs,
- per-components deps,
- wrapping , even packing,
- depending on installed targets,
- minimal / configure-les

[2018-10-04 09:34] anton-trunov commented on #8052
@ejgallego

Is this list due to some limitations of Dune? If so, maybe it would make sense to open issues in Dune's GitHub and link those here?

Can one try using Dune for pure Coq projects? (Does my question even make sense?)

[2018-10-04 09:35] Zimmi48 commented on #8383
In #8648, I requested that the gist be created, with documentation. It should also probably contain attribution to both you and @eponier.

@eponier: Do you want to be attributed by full name?

[2018-10-04 09:37] ejgallego commented on #8052
On the contrary, these are things that Dune supports but the current make-based system does not without a non-trivial amount of work.

Indeed that's the plan.

[2018-10-04 09:40] anton-trunov commented on #8052
Thanks a lot! Your answer makes we want to dive deeper into Dune and learn more about its capabilities.

Would you like an extra pair of hands to help with that? If there is a (at least a minimal) guide I could try it on FCSL.

[2018-10-04 09:53] ejgallego commented on #8052
Of course thanks! I will shortly submit an issue about the plan here, I'll ping you back then. But basically the idea is to allow to Duneize Coq libraries, so in fact, if you look at what `coq_dune` does, it wouldn't be too different.

[2018-10-04 10:05] anton-trunov commented on #8052
Cool! Hope to hear from you soon!

[2018-10-04 10:17] erikmd commented on #7753
@Zimmi48 @ejgallego I've just finished to polish the `Dockerfile`s for Coq `dev` and `8.6, 8.6.1, 8.7.0, 8.7.1, 8.7.2, 8.8.0, 8.8.1` (as I believe the `8.8.2` release is not yet on opam).
Since my last comment, I've added an `ENTRYPOINT` and `CMD` specification − as well as 3 APT packages (`less, rlwrap, time`) that are small and fairly standard if we want to use the images in CLI…
For more info,

[2018-10-04 10:48] Zimmi48 commented on #7852
You might get away with this thanks to Hint Cut. Apparently this is still missing an entry in the command index so I'm linking to Hint Extern here, scroll a bit to read about Hint Cut: https://coq.inria.fr/refman/proof-engine/tactics.html#coq:cmdv.hint-extern

[2018-10-04 10:53] Zimmi48 commented on #8533
As you prefer...

[2018-10-04 11:44] Zimmi48 commented on #8476
I myself am starting to feel quite overloaded with the things I am supposed to review. In particular, I'm the secondary code owner for Dune and thus I review all Dune PRs since they all come from @ejgallego. I would be delighted if we could form a dune-team and add more people to it (e.g. users of Coq who are interested in Dune as well) so that I can be less reactive. I see that @anton-trunov show

[2018-10-04 11:47] Zimmi48 commented on #7753
Indeed: ocaml/opam-repository#12726.

Probably yes, although for paper artifacts it makes sense to keep versions that are quite old, so hard to say.

[2018-10-04 11:48] Zimmi48 commented on #7753
One thing that you don't need for sure is to provide older patch-level releases (e.g. you could only provide 8.6.1, 8.7.2, 8.8.2, etc.)

[2018-10-04 11:51] ejgallego commented on #8533
My fear is that if we open the mega-resource door to CI we won't be able to ever close it.

[2018-10-04 11:55] ejgallego commented on #8476
Thanks @Zimmi48 , indeed I was feeling concerned about all the load I was putting on you :/

[2018-10-04 11:55] Zimmi48 commented on #8018
I take this as a no.

[2018-10-04 12:08] Zimmi48 commented on #8533
I get your fear but we have full control on what we decide can get special tagging, and, moreover, we can even say that bedrock2 on pyrolyse will be temporary (we'll remove it if pyrolyse gets only for Windows builds).

[2018-10-04 12:11] ejgallego commented on #8533
I see a problem with this, in the sense that it would imply the removal of `bedrock` later on then?

[2018-10-04 12:14] Zimmi48 commented on #8533
Yep, unless in the meantime we have found a solution to tag builds needing more memory to use only some kind of free runners.

[2018-10-04 12:44] eponier commented on #8383
I wanted to take a look at @JasonGross 's suggestions for improvement. I can add the documentation too.

Should we create issues for the strange behaviours observed here? For the duplication of warnings, there is already https://github.com/coq/coq/issues/7128, but should we report the multiline warnings? They seem to occur with `unfold`, but not e.g. `fold`. Is `unfold` a special case, as suggeste

[2018-10-04 14:50] samuelgruetter commented on #8533
It seems that in Coq 8.8.1, the variable to use is not `COQEXTRAFLAGS`, but `OTHERFLAGS`.
In the riscv-coq directory, if I do

[code]

it displays commands being run like the following, which looks good:

[code]

except that they fail with the following error:

[code]

So I thought, maybe I have to put this argument first, so manually ran this:

[code]

which gave the same error.

Two questions:

[2018-10-04 16:02] ejgallego commented on #8533
Hi @samuelgruetter , I guess I'll invoke @gares here. Indeed, I suggest we put the line in `dev/ci/ci-bedrock2.sh` so this is only enabled for the CI build. Thanks!

[2018-10-04 16:16] Zimmi48 commented on #8533
This stuff is really not documented well enough.

[2018-10-04 18:34] Zimmi48 commented on #8383
Did you mean to cite #7861? In any case, yes please open issues but I can't say that they will get fixed (when I tried with #7861, people were not happy with my solution, and I can understand this).

[2018-10-04 21:18] eponier commented on #8383
Oh, yes, I cited the wrong issue, I was indeed talking of https://github.com/coq/coq/issues/7861.

[2018-10-05 09:18] MSoegtropIMC opened #8659 "Not always build extended set of addons for WIndows installer"
PR #8322 added several addons to the Windows64 CI build, which substantially increases build time. It is not required to test all addons on every run. In a discussion in coqdev it was agreed to keep those which have been active before PR #8322 in master and just add mtac-2 for PR CI. The full set will be tested in a regular test, but not for each PR.

[2018-10-05 11:54] erikmd commented on #7753
@Zimmi48 I've just finished my experiments on building stable and `dev` images of Coq using Docker Hub, so I've ticked the first checkbox in your initial post, and below is some feedback on the current infrastructure (Cc @ejgallego)

[The images](https://hub.docker.com/r/erikmd/docker-coq/tags/) are tagged `dev`, `8.8.2`, `8.7.2`, `8.6.1`, `8.5.3`, `8.4.6` (and I implemented some hooks to auto-pus

[2018-10-05 11:58] ejgallego commented on #7753
Looks great, I won't time this afternoon to ping them, but feel free to write and put me in CC. We could also create `coqorg`  and ask for the removal of coqci.

From my part this seems almost ready to announce.

[2018-10-05 13:07] anton-trunov opened #8663 "SSReflect's Search tool does not take Search Blacklist table into account"
#### Version

Coq 8.8.1

#### Operating system

macOS 10.13.6

#### Description of the problem

Please see the comments in the snippet below:

[code]

[2018-10-05 13:17] ejgallego opened #8664 "[test-suite] coq-makefile/timing/run.sh fails when `VERBOSE=1`"
#### Steps to reproduce:
[code]
cc: @JasonGross ??

I'm all for loads of tests, however we should be more careful about the robustness of recently added stuff in the test-suite. For example, the `update-compat` test is quite fragile and it even depends on the stdlib documentation having been build.

[2018-10-05 17:35] erikmd commented on #7753
As building Coq on 2 switches led to relatively large images, I run some `du -h .opam | sort -h` command to inspect the size of opam dirs, and finally noticed in the doc of opam-2 that it comes with a handy `clean` feature :-)

[code]

So I will rebuild the images one more time using that optimization, but before doing that I have another question regarding the main switch to put forth:

The `COMP

[2018-10-05 18:28] erikmd commented on #7753
Regarding organization renaming, I've just found [this link](https://success.docker.com/article/how-do-i-change-my-docker-username) saying that user account renaming is not possible as is, but can be achieved by removal+recreation (and manual re-tagging of all images). I suspect this is all the more the case for organization accounts.

So @ejgallego's suggestion was timely:

As for the removal, th

[2018-10-06 06:44] gares commented on #6446
I think so

[2018-10-06 21:29] #3213 closed

[2018-10-08 08:16] #6342 closed

[2018-10-08 09:46] Zimmi48 commented on #7753
Yes.

I don't personally have one. As for Emilio: https://hub.docker.com/r/ejgallego/

[2018-10-08 09:52] Zimmi48 commented on #8663
Probably the best fix here is to remove the Search tool of SSReflect and merge whatever special features are useful in the main one.

[2018-10-08 10:05] erikmd commented on #7753
Le lundi 8 octobre 2018 à 02:46 -0700, Théo Zimmermann a écrit :

OK thanks for your reply! I’ll let you informed.

[2018-10-08 12:33] Janno opened #8672 "Pattern notation leads to `Error: The variable pat was not found in the current environment.`"
#### Version
8.8.1, master

#### Description of the problem

The following code produces a somewhat cryptic (unless one knows about the encoding of patterns) error message. Additionally, I don't really know what behavior to expect from this notation. Should it work at all? I think so, but my intuition here is usually wrong.

[code]

[2018-10-08 13:04] #8621 closed

[2018-10-08 13:05] #8659 closed

[2018-10-08 14:12] SkySkimmer commented on #8114
Fixed since #8475.

[2018-10-08 14:12] #8114 closed

[2018-10-08 14:22] RalfJung commented on #6764
As confirmed on gitter, this fixes the biggest problem. Our test suite still failed because backtraces for `first` and `last` tacticals got "improved" but [we don't want these backtraces](https://github.com/coq/coq/issues/7769), I have fixed that since then and now Coq master passes our test suite just fine.

Is there an issue tracking getting this backported into 8.9?

[2018-10-08 14:27] HuStmpHrrr opened #8675 "`Program Fixpoint` does not support mutual recursion on measure"
Before I describe the problem, I will also very appreciate any technical documents in reply because I don't have clear clue about what's the limitation.

The example is borrowed, and then modified based on this SO question: https://stackoverflow.com/questions/44792791/coq-best-practice-mutual-recursion-only-one-function-is-structurally-decreasin

Consider this language from the question:

[code]

[2018-10-08 14:28] ejgallego commented on #6764
Great @RalfJung , it should be scheduled for backporting due to the milestone.

[2018-10-08 14:35] ppedrot commented on #8675
That not a hard limitation, my educated guess is just that this has not been implemented. I don't know whether it has been implemented there, but you can try your luck with [Equations](https://github.com/mattam82/Coq-Equations) which is a buffed up version of Program.

Otherwise, you can definitely do the well-foundedness encoding by hand. It is a bit tedious, but completely systematic. I don't ha

[2018-10-08 14:41] HuStmpHrrr commented on #8675
@ppedrot  My problem is not being able to define such functions but rather it just complicates things.

For all mutual functions essentially decrease on the same measure, I can define them by tuppling, namely through `A -> B * C`, then unpack them to `A -> B` and `A -> C`. I've also considered `Equations` and read a bit, but I've accumulated enough knowledge to tell if it does predicate subtyping.

[2018-10-08 15:27] Zimmi48 commented on #6764
This was an API breaking change so this is why it takes longer to backport.
Cf. https://github.com/coq/coq/pull/8456#issuecomment-427272829
cc @gares

[2018-10-08 15:41] Janno commented on #8672
Small update: the problem goes away when I define write `let 'x := ..` instead of `let x := ..`. I suppose the original notation should not have been accepted after all.

[2018-10-08 15:55] ejgallego commented on #8533
pinging @gares again; for now we are going to place bedrock2 in "allow_failure" mode; this means PRs are allowed to break it; hoping to see it back soon.

[2018-10-08 15:57] herbelin commented on #8672
The behavior of your first example was a bug. I fixed it in #8676. Thanks a lot for reporting!

[2018-10-08 16:47] maximedenes commented on #7853
@vbgl I had forgotten this report, you may want to mention it on your PR that fixes it :)

[2018-10-08 16:57] maximedenes opened #8678 "Code duplication in checker and kernel"
While working with @vbgl on running coqchk on the test-suite and studying the bugs it revealed, we noticed that *a lot* of kernel bug fixes were never ported to coqchk. I'm not very familiar with the history of the checker. In particular, whether it was created by taking a snapshot of a subset of the kernel or not.

But today, AFAIK, `coqchk` does the same thing as Coq's kernel, except that it doe

[2018-10-08 16:59] ejgallego commented on #8678
Well, you could start by factoring out the shared bits to a `KernelLib` maybe? I am not sure how much code is shared at the lower levels.

[2018-10-08 17:07] maximedenes commented on #8678
Right, that could be a good start. So removing the trick we did for `Names` (copying the sources)?

[2018-10-08 17:11] ejgallego commented on #8678
Indeed, you could put the 4 files in the lib, and for sure a few more, going bottom-up should reveal the differences.

[2018-10-08 17:13] SkySkimmer commented on #8678
checker univ.ml has some graph algorithm from before the current ugraph one
cclosure/reduction/typeops should be basically the same
no clue about module stuff
indtypes is different because the checker's input is different, inductive declarations have significant inferred data in them

[2018-10-08 17:31] maximedenes commented on #8678
module stuff is significantly different but it is one of the areas where the checker does interesting things (defunctorialization)

right, but this is less satisfactory because it is still essentially doing the same things, and often not benefiting from kernel fixes (or inducing more work to port them)

[2018-10-08 18:55] herbelin commented on #8678
The checker was created by @barras by extracting code from the kernel. The idea was, obviously, to have a stand-alone checker, which could be used, e.g., for certification agencies being able to certify vo.

Up to some point, the idea was also that kernel changes were cross-(human)-checked by the checker maintainer(s).

On this last point, I don't know the plans of @mattam82, but the question is p

[2018-10-08 19:03] ejgallego commented on #8678
We can also share a limited subset; for example we will soon have some support for "virtual" libraries, that is to say, interfaces that can be fulfilled by two different implementation. That could prove useful here.

[2018-10-08 19:15] maximedenes commented on #8678
Thanks @herbelin, that makes things clearer. We could try to go for sharing code, and in case anybody shows interest, base a new, independent checker on the Rust prototype for example. This way, we keep the current tool, which is valuable, while reducing the maintenance burden and leaving the door open for a more independent implementation.

[2018-10-08 20:28] #8672 closed

[2018-10-08 20:28] gares commented on #8533
I think coqc is stupid: it interprets all unknown, to it, flags as files...

[2018-10-08 20:29] gares commented on #8533
Replacing coqc with coqtop -compile may be a viable work around

[2018-10-08 20:50] SkySkimmer commented on #8678
Checker folklore (I haven't seen this written down anywhere):
The checker links not against lib.cma (cmxa etc) but rather directly against the modules it needs (as stated in checker/check.mllib). This means for instance the checker is not linked against Spawn.
This peculiarity is not reproduced in the dune system.
(check.mllib does have some unecessary stuff (eg RemoteCounter) btw)

[2018-10-08 20:54] samuelgruetter commented on #8533
Looks like this is a bug due to code duplication between [tools/coqc.ml](https://github.com/coq/coq/blob/master/tools/coqc.ml) and [toplevel/coqargs.ml](https://github.com/coq/coq/blob/master/toplevel/coqargs.ml)...

[2018-10-08 21:14] ejgallego commented on #8533
Well indeed `coqc` is very redudant, maybe it is time we make it a link to `coqtop`? WDYT @herbelin ?

[2018-10-08 21:15] ejgallego commented on #8678
I am aware of that; if that bothers you it can be fixed / reproduced.

[2018-10-09 06:40] vzaliva commented on #7017
Because of this problem I was forced to downgrade to 8.7.2 to be able to use OCaml extraction. This is unfortunate as it has other problems such as https://github.com/coq/coq/issues/6614.

I think it is an important bug to address ASAP, not waiting for 8.9.

[2018-10-09 06:42] maximedenes commented on #7017
I can look again at https://github.com/coq/coq/pull/7625 and try to make it mergeable.

[2018-10-09 07:01] ejgallego commented on #8315
#8421 works now so windows users can enjoy this feature.

[2018-10-09 07:33] SkySkimmer commented on #7017
Why don't we just rename `Decimal.int` to something else? That can be done regardless of extraction becoming smarter about this sort of issue.

[2018-10-09 10:10] vbgl commented on #7017
This can be seen as a bug in `ExtrOcamlNatInt.v`. It contains free variables: unqualified references to the type `int`, many operators like `( / )`, `( mod )` etc.

Unfortunately, this is not immediate to fix: the OCaml standard library does not provide unambiguous names to refer to these built-ins (see related issue https://github.com/ocaml/ocaml/pull/2011).

Suggestion: the extraction could gene

[2018-10-09 12:00] gares commented on #8533
I think `coqc` should be `git rm` and `coqtop` should check if `executable_name` is `coqc` and in that case enable `-compile`.

[2018-10-09 12:04] ejgallego commented on #8533
That's a good idea, but we can go even further and really split `coqtop` on two, like `ocaml` `ocamlc` are, WDTY?

The compiler part is fully orthogonal from the toplevel part these days.

[2018-10-09 12:05] herbelin commented on #8533
No opinion (but I suppose that many users would like their `coqc`-based scripts continuing to work).

[2018-10-09 12:06] ejgallego commented on #8533
Or course we would still install a binary/link. I was talking about the file `tools/coqc.ml`

[2018-10-09 12:14] ejgallego commented on #7698
@gares wrote in #8667 :

I'd like to add that this issue is not hypothetical even in today Coq's. In fact, the `micromega` plugin depends on `num`, and due to Coq not having its own loader we have to statically link `num` to the coqtop binary as to avoid the problem mentioned above.

So indeed that's a serious issue IMHO.

[2018-10-09 13:45] gares commented on #8533
You can also split, but please share the code parsing the common arguments (that is 99% of them I'm afraid). In other words, I'm no so sure the refactoring is going to pay back.

[2018-10-09 13:53] ejgallego commented on #8533
Of course we would share the argument code, it is designed for that. The main advantage of the refactoring is that a few strange cases would be impossible now by design. Right now there is a significant mess in the code-flow due to having to support both cases in the same codepath.

[2018-10-09 13:54] gares commented on #7698
You could also make a num_plugin.cmxs out of num.cmxa, have a num.v Declare ML Module "num_plugin" and have extraction.v / nsatz.v Require num.
In this way the chain of dependencies is going to load things once and in the correct order.

What I'm against is to write code in coqtop that guesses that exaction_plugins.cmxs needs the Num module and that loads some num.cmxs on the fly (that would be a

[2018-10-09 14:00] ejgallego commented on #7698
That's another choice, however it gets cumbersome when you have `lwt`, `sexplib`, `yojson` etc... in scope. And you also have the critical problem that plugins using the OCaml libraries have to share the same "base" plugins.

So I cannot say I am a fan of this hack.

Only if the programmer doesn't do a mistake with the linking order. This is not easy in complex plugins.

It is not clear to me why?

[2018-10-09 14:01] ejgallego commented on #7698
Anyways, I don't have a good solution to this problem yet, but my point wrt issue was to state that we have a _real_ problem, and IMHO, a serious one.

[2018-10-09 14:15] vsiles opened #8682 "Coqide doesn't start (opam2/macos)"
#### Version
The Coq Proof Assistant, version 8.8.1 (October 2018)
compiled on Oct 9 2018 15:33:00 with OCaml 4.02.3

#### Operating system
Macos Sierra / opam 2

#### Description of the problem

Hi ! I just installed a fresh opam2 (from brew) and coq (from https://coq.inria.fr/opam/www/using.html). `coqc` and `coqtop` seem to work fine, but `coqide` does not display anything. I also have no outpu

[2018-10-09 14:18] ejgallego commented on #8682
Hi @vsiles , I am not expert on Mac, can you see if using master helps:
[code]

[2018-10-09 14:34] samuelgruetter opened #8683 "code duplication between tools/coqc.ml and toplevel/coqargs.ml"
The discussion which started at https://github.com/coq/coq/issues/8533#issuecomment-427968487 should be a separate issue.

[2018-10-09 14:36] vsiles commented on #8682
I'm not used to opam yet, but I managed to update ocaml to the required version, and your first command fails with:
[code]

[2018-10-09 14:36] samuelgruetter commented on #8533
Would you mind continuing the command line arguments discussion in a separate issue? :arrow_right:  https://github.com/coq/coq/issues/8683

I'd like to stay subscribed to the bedrock2 related discussion, without getting distracted by all the command line argument parsing discussion :wink:

[2018-10-09 14:41] ejgallego commented on #8682
Can you try with OCaml 4.05.0? Coq master needs that version I'm afraid.

[2018-10-09 14:43] ejgallego commented on #8682
But already you gave us a big hint. Try to install coq Indeed in a more modern switch such as 4.07.0 it is likely that such an ancient gtk / ocaml version is problematic

[2018-10-09 14:43] vsiles commented on #8682
I'll try to update ocaml and let you know

[2018-10-09 14:44] ejgallego commented on #8682
opam switch create 4.07.0 should do the trick

[2018-10-09 14:47] ejgallego commented on #8533
Thanks for filling the issue @samuelgruetter, do you think the CI problem can be addressed without fixing it?

[2018-10-09 15:03] vsiles commented on #8682
I installed 4.06.1 because 4.07 doesn't work atm and I have the same behavior:
[code]

[2018-10-09 15:10] ejgallego commented on #8682
So that's not with master, right? If so please try with master (using pinning) please. Also, report what does `coqide -debug -stm-debug` output please.

[2018-10-09 15:12] vsiles commented on #8682
I thought it was, but I'll double check.

[2018-10-09 15:31] vsiles commented on #8682
The compilation fails as before with 4.06 and 4.07

[code]
(same kind of output of 4.07)

[2018-10-09 15:31] ejgallego commented on #7698
We'd have to maintain a list of course, but this is already done now. But indeed I do agree that this has to be done with coordination from OCaml upstream. This issue just documents the issue for now, to me the solution is not clear. Obviously if upstream would solve that for us then great.

[2018-10-09 15:35] ejgallego commented on #8682
I see, that's a different bug indeed due to the strategy to locate the libraries. Will be fixed when #8421 is merged / finished.

So try then to get the `-debug -stm-debug` from 8.8.1 [or even 8.9~beta]

[2018-10-09 15:47] vsiles commented on #8682
[code]

[2018-10-09 15:48] ejgallego commented on #8682
The init sequence looks good I think. I'm afraid you'll need help from OSX people :/

[2018-10-09 15:52] vsiles commented on #8682
Ok :D Thanks for the help anyway !

[2018-10-09 15:56] vzaliva commented on #7017
What about some facility which allows renaming types during extraction? So we can specify
to export Decimal.int as Decimal.coq_int.

[2018-10-09 17:16] herbelin commented on #8682
Hi Vincent,

I checked and it works for me on MacOS X 10.11.1, coqide 8.8.1 (and master), lablgtk 2.18.6, ocaml 4.06.1, gtk+ 2.24.29 or 2.24.31 (both are installed by brew, I don't know which is used).

The error `gtk_scrolled_window_add(): cannot add non scrollable widget use gtk_scrolled_window_add_with_viewport() instead` is always displayed for me at exit time, so it is probably not relevant h

[2018-10-09 17:35] ejgallego commented on #8682
Maybe you have some old config file in `$HOME` that's making GTK / CoqIDE confused?

[2018-10-09 17:36] herbelin opened #8685 "Failure of post-action to definition shows the `no fix_exn` message"
#### Version

From Coq 8.5 to current master.

#### Description of the problem

[code]
I found this while working on unifying the code for declaration of lemmas and declaration of regular definitions. I wanted to backport the fix 2aafc6f1 of #3780 to `DeclareDef` but this started to generate this error. I then realized that I could reproduce a similar message with the above.

The code of `DeclareD

[2018-10-09 17:46] ejgallego commented on #8685
#5479 the only solution I know for `fix_exn` is indeed to remove it and make the traversal of the document to happen forward. Not a small task.

[2018-10-09 17:56] Zimmi48 commented on #7698
Would `plugins.deps` be part of your upcoming package format? Since you were talking about basing this on Dune files, can we just use the dependency list in there?

[2018-10-09 18:05] Zimmi48 commented on #8381
@JasonGross This was fixed in #8634, correct?

[2018-10-09 18:05] #8381 closed

[2018-10-09 18:06] ejgallego commented on #7698
Indeed that would a way to do it, but likely may need lower-level support from the linker; I'll ask the OCaml folks.

I don't think this issue, even if serious, is urgent tho. We can live for a while with the current situation, but indeed, we should support rich linking of plugins in the medium-term IMO.

[2018-10-09 18:06] Zimmi48 commented on #8382
Actually mostly a duplicate of #8075.

[2018-10-09 18:06] #8382 closed

[2018-10-09 18:09] Zimmi48 commented on #8385
romega has been deprecated in 8.9 and removed in master. IIUC omega is going to be staying around for a while, although I recommend completing the work needed to remove it, so that it can be deprecated (e.g. in 8.10) and removed in the following version.

[2018-10-09 18:09] #8385 closed

[2018-10-09 19:52] herbelin commented on #8685
And isn't there a simple maybe short-term fix, like it seems to me that @gares made in #3780?

[2018-10-09 20:04] gares commented on #8685
We could just drop the warning about fix_exn, it is only relevant to a developer and essentially says "in this stack trace someone is catching A and raising B without passing the exn-info from A to B". Irrelevant for a user, my bad it is still there.

[2018-10-09 20:49] herbelin commented on #8685
So, if I find a way to make it dependent on a debug flag, it could just remain in case the option `-debug` is passed?

[2018-10-09 21:05] ejgallego commented on #8683
Proof of concept of 1 in #8690

[2018-10-10 03:02] andres-erbsen commented on #8649
At least it seems to be possible to create per-user paths:

[code]

I still think that `Redirect` does not really make sense of a vernac command (https://github.com/coq/coq/issues/4953) and I am guessing all use cases are (in the long run) better served by redirecting the output of `coqc` in `Makefile` (or improving the interaction protocol, as I think was the case with the original motivation for

[2018-10-10 09:34] vsiles commented on #8682
I have gtk+: stable 2.24.32_2  by brew, and ocaml 4.02.3 lablgtk 2.18.5 coq/coqide 8.8.1 by opam
I'll try to chcek for the old configs but I'm pretty sure I don't have: the mac is 1 month old and I just installed gtk via brew yesterday

[2018-10-10 10:58] #7853 closed

[2018-10-10 13:03] maximedenes opened #8696 "Anomaly with template attribute"
The following code:

[code]

triggers

[code]

I'd expect a user error.

[2018-10-10 13:18] SkySkimmer commented on #8696
I guess we can just turn it into a user_error

[2018-10-10 20:28] herbelin commented on #5773
What's the conclusion here? We should at least document one way. If I understood correctly the discussion here and at ProofGeneral/PG#392, the only way which works for all of `coq_makefile`, PG and CoqIDE is (the IMHO less natural):
[code]
since (the IMHO most natural)
[code]
does not work for CoqIDE (and it would be difficult to make it working, especially if quotes are allowed to be used within

[2018-10-10 23:52] vmurali opened #8706 "Inline ltac:() and notation scopes don't work well together"
#### Version
8.8.2

#### Operating system
Mac OSX

#### Description of the problem

The following code does not work:

[code]

But the following code works:
[code]

It also works if I explicity provide the scope as `(@4)%my`.

This bug has been plaguing me since inlined ltac has been introduced in 8.6(?). Is there any plan to fix it or a workaround that supports scoping within inline ltacs?

[2018-10-11 09:59] vsiles commented on #8682
I really don't get what's happening. I just found mbeffara coq-au-vim plugin, I think I'll stick with it :D Thanks for the help !
If I can rule some more commands to help debugging, don't hesitate to ask me to do so.

[2018-10-11 11:12] erikmd commented on #7753
Hi, (sorry for the little delay) so here is recap of the latest news:
I updated the `Dockerfile`s to make the `4.05.0` compiler the default switch, and added the `opam clean` step. As expected this leads to smaller images w.r.t. [my earlier comment](https://github.com/coq/coq/issues/7753#issuecomment-427339838), namely:

| coq image tags | opam switches | opam packages | compressed size |
| ------

[2018-10-11 11:27] vbgl commented on #8682
Does running CoqIDE on macOS require a X environment (à la [XQuartz](https://www.xquartz.org/))?

[2018-10-11 11:47] vsiles commented on #8682
Note that the .dmg from Coq's website works correctly (with the usual issue that default keybindings are messing with the Mac WM :D)

[2018-10-11 11:51] Zimmi48 commented on #7753
OK, let's do this :wink:

IMO the coq organization has to be restricted to repositories that are maintained by the core development team (while core developers can still maintain repositories outside of the organization of course). On the contrary, the coq-community organization is the right place to maintain repositories where the principal maintainer is a member of the Coq community. It is adapt

[2018-10-11 11:57] herbelin commented on #8682
That's a good question. Personally, I run CoqIDE without having installed the X11 app, but I have brew "cask" xquartz installed. So, if not done, do `brew cask install xquartz`.

There is an open PR to fix that, #8567. You can try copy `ide/MacOS/default_accel_map` from the Coq archive to your `~/.config/coq/coqide.keys` file.

[2018-10-11 12:01] ejgallego commented on #7753
Sounds good to me @Zimmi48 and @erikmd !

[2018-10-11 12:04] Zimmi48 commented on #8078
AppVeyor is always behind and so frequently failing due to timeouts that everybody ignores its output. The consequence is that we can break the test-suite on Windows without realizing it as just happened in #8692. This makes it of very high priority to move the test-suite run on Windows to GitLab CI. Ideally, we would combine add the test-suite run to the Windows package jobs (since there are no h

[2018-10-11 12:06] vsiles commented on #8682
@herbelin @vbgl Thanks ! I installed xquartz and now it is correctly displaying the UI. I don't know if opam can/should check for that, but that's missing from the installation page.

[2018-10-11 12:09] herbelin commented on #8682
How did you install gtk+? I guess that it is at this time that installing xquartz should have been required (or at least strongly suggested).

[2018-10-11 12:10] ejgallego commented on #8078
I do agree that we should improve its running time; failure frequency doesn't feel so bad I think but I guess I don't have data.

This was done because the PR was merged without waiting for the CI to complete even if the author warned "I don't know if this works". So IMHO, not the fault of Appveyor. And yes, I do merge quite often without waiting for Appveyor but changes to make are good candidate

[2018-10-11 12:14] vsiles commented on #8682
Using brew when after opam complained it was missing. I don't know if that matters, but I installed using `brew install`, not `brew cask install` (I just discovered that one)

[2018-10-11 12:29] erikmd commented on #7753
OK :+1: so I propose the following plan:

1. I unlink my two Git repositories w.r.t. my Docker Hub namespace (maybe I'll just need to remove the 2 automated build repos)
2. @Zimmi48 adds me to the `coq-community` org
3. I use the dedicated GitHub feature of [repository ownership transfer](https://help.github.com/articles/about-repository-transfers/) to move `docker-base` and `docker-coq` to `coq-c

[2018-10-11 12:31] ejgallego commented on #7753
Thanks @erikmd , I will take care of shutting down `coqci`, just not gonna happen this week, but added to my todo list.

[2018-10-11 12:40] MSoegtropIMC commented on #8078
I think having fewer CI providers makes the CI and possibly also Coq easier to maintain as a community - simply because there is less to learn.

Also I think that the Windows testing should concentrate on the Windows Coq we actually distribute - I am not sure what the appveyor version does test. This doesn't mean that we should not also test that the Windows Opam version at least builds.

I would

[2018-10-11 12:46] ejgallego commented on #8078
Doing more on Gitlab CI is fine, however Appveyor does provide a very valuable service to contributors in the form of free workers, it also supports Docker on Windows which is not the case on Gitlab. So I think it is going to stay for a while [I will likely switch it to Dune and get OPAM from Docker, that should save 20 mins of the build at minimum].

The Windows build tested in Appveyor is very c

[2018-10-11 12:59] gares commented on #8696
Which component raises it? Because user_errors can be catch by tactics...

[2018-10-11 13:04] Zimmi48 commented on #8078
Not enough of them though. That's was my initial point. We are waiting too long to get CI results from AppVeyor compared to the rest, and thus we get used to not waiting.

That's the first time I hear you say this. Has something changed?

[2018-10-11 13:04] maximedenes commented on #8696
The kernel.

[2018-10-11 13:05] SkySkimmer commented on #8696
That's a kernel error, the kernel raises anomalies if the universe
levels of inductive types are incorrect.

Gaëtan Gilbert

On 11/10/2018 14:59, Enrico wrote:

[2018-10-11 13:07] ejgallego commented on #8078
Well, we can make the build faster, or ask Appveyor for sponsorship. The things is that we are not going to shut down a valuable service without a replacement; in fact, given the timeframe we have we should instead shut down the Windows GitLab workers for the reasons we discussed in private.

I am not sure I understand what you mean.

[2018-10-11 13:55] ejgallego commented on #8078
Note that for example we could implement the build cache https://www.appveyor.com/docs/build-cache/ and that should speed up builds quite a bit too.

I am busy so I won't do it this week, but feel free to take on it.

[2018-10-11 14:32] erikmd commented on #7753
Hi, the migration of the Git repos is done.

But regarding the creation of the automated build in https://hub.docker.com/r/coqorg/ I cannot see the coq-community repos, because I guess the Docker Hub Registry application doestn't appear in https://github.com/organizations/coq-community/settings/oauth_application_policy (I cannot check because I can't access this page, I just guessed its URL from t

[2018-10-11 14:52] ejgallego commented on #7753
I think that's @Zimmi48 job.

[2018-10-11 15:00] erikmd commented on #7753
Yes but in this case he'd need to create a Docker Hub user account to do this manip, because it seems to me that it is not possible to activate the link between Docker Hub / GitHub directly from GitHub.

[2018-10-11 15:06] erikmd commented on #7753
On second thought @ejgallego is right, according to https://docs.docker.com/docker-hub/github/#github-organizations it is possible to do the manip directly from GitHub.

[2018-10-11 15:08] erikmd commented on #7753
@Zimmi48 could you go to https://github.com/settings/applications, click on Docker Hub Registry if there is one such item, then on Organization access -> coq-community -> Grant ?

[2018-10-11 15:35] Zimmi48 commented on #7753
@erikmd Sorry for the delay. None of the links you gave me allows me to see any DockerHub App but normally, as a member you have the ability to request to add a new GitHub App (not sure exactly how).

[2018-10-11 15:37] Zimmi48 commented on #7753
If *you* go to https://github.com/settings/applications, you should see the Docker Hub Registry application (I guess), then from there I think you can request access to coq-community.

[2018-10-11 15:59] erikmd commented on #7753
Hi @Zimmi48 indeed, done. thanks for your suggestion!

[2018-10-11 16:00] Zimmi48 commented on #7753
Access approved. Thanks!

[2018-10-11 16:40] anton-trunov commented on #5773
@herbelin Yes,

[code]

works for PG now.

[2018-10-11 23:46] andres-erbsen commented on #7905
I just hit this in another development. Automated test case that also imho more closely represents how this actually comes up:

[code]

[2018-10-12 02:39] samuelgruetter opened #10097 "Prevent (or deal with) type redefinitions"
If I understood correctly, open variants are defined as follows:

[code]

(even though the [documentation](https://github.com/ppedrot/ltac2/blob/master/doc/ltac2.md) says that single `:=` can be used to extend open variants).

If one tries to do it differently, surprising things happen: :wink:

1:

[code]

prints

[code]

2:

[code]

prints
[code]

3:

[code]

prints

[code]

[2018-10-12 05:02] jfehrle opened #8715 "Numerous "Coqide internal error: Source ID 99999 was not found when attempting to remove it" dialogs"
#### Version 8.8.2 (the official build) - 32 bit version
#### Operating system Windows 10

#### Description of the problem

When doing ordinary editing operations in CoqIDE, I got errors such as the following about 100 times over the course of 2-3 hours.  I don't remember such a severe problem in 8.7 (the previous official build I was using), but I do think I saw some of these.  Has anything chang

[2018-10-12 05:51] samuelgruetter opened #10096 "Binder unbound in match"
Consider the following Ltac1 code:

[code]

It results in the following goal:

[code]

Note that the two variables introduced by `destruct` are called `b` and `b0`, i.e. their name is based on the name used in `exists`.

**Question:** How can I achieve this in Ltac2?

Here's what I tried:

[code]

(It's a bit more verbose because it seems I can't use the `destruct` notation, because when it constr

[2018-10-12 12:41] #5773 closed

[2018-10-12 14:02] pythonesque opened #8721 "Consider delaying universe substitutions during reduction."
@Janno and I did a quick implementation of this in the copy of cClosure being used for mTac and it reduced reduction time by about 40% for their test case.  Apparently this is because when dealing with heavily universe polymorphic code, by default Coq produces different universes for each constant invocation; therefore, the constant cache has a high miss rate.

What we did doesn't solve the high m

[2018-10-12 14:04] pythonesque commented on #8721
Note that there is probably a variant of this that would solve the cache miss problem (by allowing reductions in constant bodies to be shared even if they needed different universe substitutions) but that would be much more complex to implement.

[2018-10-12 16:16] herbelin opened #8722 "Inconsistent behaviors with respect to Local Definition"
#### Version

Tested in 8.8

#### Description of the problem

One can observe inconsistent behaviors of `admit` and automatic declaration of instances with respect to `Local Definition`.

1. `Admitted` on `Let` outside section and or `Local Definition` does not respect the "do not qualify at import" status (since 8.5)
[code]
2. Automatic declaration of variables/axioms as instances does not work f

[2018-10-12 16:32] samuelgruetter opened #10095 "Get list of constructors of Inductive"
Is it possible to write the following function in Ltac2 in a generic way, without having to write one line for each type?

[code]

[2018-10-12 16:49] herbelin opened #8723 "Underspecified behaviors with respect to `Local Definition` in combination with a hook"
#### Version

Tested in 8.8

#### Description of the problem

When declaring a local coercion out of a section, is the coercion supposed to be exported? The code does not export it, the doc says nothing, or rather it says that this is equivalent to `Let inj (n:nat) := Some n,` followed by a coercion, but without saying if the coercion is itself `Local` or not (i.e. in the case where `Let` is inter

[2018-10-12 17:03] herbelin opened #8725 "Inconsistent warnings about toplevel Let turned into Local Definition, whether defined interactively or not"
#### Version

In 8.8.

#### Description of the problem

This is pretty minor, but the test checking that a toplevel `Let` is finally a `Local Definition` is not done in case of a proof.
[code]
If a consensus to tell that this is not intended, a fix shall come.

[2018-10-14 12:00] ejgallego opened #8731 "coq_makefile incorrectly unsets `COQLIB` when the `.conf` file is not present."
Steps to reproduce [using 8.9 or master]:
[code]
we get
[code]

After this the original `Makefile` is truncated. The problem is that
the `CoqMakefile` template does overwrite `CQOLIB` due to
[code]
and `COQMF_COQLIB` not being defined due to the missing `.conf`
file. Then, the `.conf` autogeneration recipe fails and `Makefile`
gets truncated. Yet another weird `make` semantics wrt exported vars.

[2018-10-14 14:54] ejgallego commented on #6416
@herbelin you reopened this [and a few of the bugs mentioned in the reopening message]. However I am not sure I understand what is the point of keeping this opened as the bug is fixed. Should we close?

[2018-10-14 14:56] ejgallego commented on #6954
Shall close soon unless someone objects.

[2018-10-14 14:58] ejgallego commented on #8045
Example: https://gitlab.com/coq/coq/-/jobs/107883687

It is literally hard to understand what is going on with the current log format.

[2018-10-14 15:02] ejgallego commented on #6498
Seems to be fixed in `master`.

[2018-10-14 15:02] #6498 closed

[2018-10-14 15:13] ejgallego commented on #7155
Update, since a few days the API doc artifacts are available at https://coq.inria.fr/api/master/

[2018-10-14 15:32] ejgallego commented on #8337
Thanks @JasonGross

[2018-10-15 07:27] MSoegtropIMC commented on #8715
This explains why I haven't seen it so far - I am 99% using the 64 bit version. I agree that 32/64 bit info should be in the version info. I will ask Andrew for his experience - as far as I know he is using Coq IDE and 32 bit (because it is a bit faster for cache reasons).

[2018-10-15 08:21] Zimmi48 commented on #8045
Indeed, it's a bit hard to read because of artifact upload but the log verbosity is otherwise a problem solved. Maybe there should be a bit of documentation (in `dev/ci/README.md`) mentioning that most of the log is to be browsed through artifacts.

[2018-10-15 08:33] ejgallego commented on #8045
Please don't fix this issue like that. Some of us just want to click and have a single message telling us what went wrong with the build. Logs are OK for those needing the details.

I think the issue is simple, when a build goes wrong, there is only 1 relevant piece of information, the rest is just making the person looking at the logs lose their time.

[2018-10-15 08:35] ejgallego opened #8735 "[ci] [gitlab] `expire_in` not set in all targets."
As of today, the CI build produces some "keep forever" artifacts. IMHO, there is not point in doing so, and we should add the corresponding `expire_in` to all targets.

[2018-10-15 08:37] SkySkimmer commented on #8735
Why?

[2018-10-15 08:48] ejgallego commented on #8735
Why do we want to keep artifacts forever?

[2018-10-15 09:17] ejgallego commented on #8735
For example, what's the utility of keeping the Nix ones?

[2018-10-15 10:59] #8337 closed

[2018-10-15 11:01] herbelin commented on #6416
I let it open as a reminder that, what is now called #8187 is not merged (but it is now probably a question of less than a few weeks). It shall be closed automatically when #8187 is merged.

[2018-10-15 11:32] gares commented on #8731
I'm afraid your diagnose is wrong and the distribution of sf is lacking a file.
The Makefile shipped contains the line that was used to generate it, and that line contains an empty COQLIB, it has nothing to do with that commit.
[code]

But this is quite irrelevant. The real bug is that you should not distribute Makefile (as generated by coq_makefile) and not distribute the .conf file. Or, better,

[2018-10-15 11:36] ejgallego commented on #8731
Umm, note that this line contains `COQLIBS=` not `COQLIB` which is the problem. As far as I can see my diagnostic holds.

Why is the rule for the `.conf` file then in the generated makefile? Quite strange then. If you intend this use, you should remove the `.conf` generating rule then.

Anyways, quite a few projects do this so this is a regression [and also a quite serious bug as the tool dies and

[2018-10-15 12:55] gares commented on #8731
The rule is typically with a dependency, the _CoqProject file. If you change it, then the conf file needs to be updated. sf is not using a _CoqProject file... this is not what the doc recommends.

Is this tarball really what one gets via git clone? or it is generated by some other scripts?

Anyway, I guess the fix you want is an extra check around getenv COQLIB: if the value is dummy, then behave

[2018-10-15 13:07] Zimmi48 commented on #7155
Yep, that's a work by @maximedenes. However, as I suggested on Gitter, it should be https://coq.inria.fr/master/api instead so that the manual can be at https://coq.inria.fr/master/refman, etc.

[2018-10-15 13:14] ejgallego commented on #8731
`sf` is using a `_CoqProject` file, how do they generate the Makefile, that I don't know.

That's the tarball distributed to users. Some other projects have the same problem, for example CoRN, etc... I am OK "fixing" the projects, but that's a lot of work.

The point is that I don't understand the rule. Why does the makefile contain a rule that regenerates itself? that seems pretty tricky I'd say.

[2018-10-15 15:12] tchajed commented on #8706
With your first example's notations `Open Scope my_scope` also fixes the problem, so it seems like only local notation scopes are not being propagated through inline Ltac while global scopes are being respected.

Also I noticed you have `exact b%my` in your Ltac - I don't think this is necessary or has any effect. The `%my` affects only the interpretation of the ltac code itself, letting you use n

[2018-10-15 15:29] vmurali commented on #8706
Yes, `Open Scope my_scope` fixes the problem, but I am trying to avoid using global scopes because that pollutes my interpretation stack.

I don't see anything wrong with allowing dynamic re-parsing of expressions, `ltac:(exact b%my || exact b%arith)`.

That said, I am open to a solution which conditionally creates an interpretation stack for a notation - something like, if I am within interpretat

[2018-10-15 16:02] Zimmi48 commented on #8735
Why don't we define `expire_in` at top-level?

[2018-10-15 16:47] JasonGross commented on #8706
Duplicate of #3468

[2018-10-15 16:47] #8706 closed

[2018-10-15 16:54] JasonGross commented on #3468
cc @ppedrot @vmurali @tchajed

Note that having `ltac:(...)` *anywhere* in a notation breaks scope stacks *everywhere* in that notation.  So, for example,
[code]
If this were not the case, then you could do something like
[code]
(N.B., you need to `cbv delta [y] in y` to, e.g., match on the underlying term in Ltac.)

[2018-10-15 17:03] JasonGross commented on #8706
The behavior of `ltac:(exact b%my || exact b%arith)` should be identical to the behavior of `match b%my, b%arith with b0, b1 => ltac:(exact b0 || exact b1) end`, i.e., `Error: b is here used in scope my_scope while it was elsewhere used in scope arith_scope`.

The expected behavior is straightforward.  The code
[code]
works and, under `Set Printing All`, prints as
[code]
because, at Ltac definitio

[2018-10-15 17:03] JasonGross commented on #3468
cc @herbelin

[2018-10-15 17:34] JasonGross commented on #8664
Maybe we should `export VERBOSE=0` in the timing `run.sh` file?

[2018-10-15 18:09] ejgallego commented on #8731
Anyways this is going to be hard to fix in Coq as even if we fix Coq makefile these projects will still ship the wrong `Makefile`, but at least they could refresh it.

[2018-10-15 18:37] ejgallego commented on #7155
New `odoc` is almost ready by the way, and the docs change dramatically [for better IMO]

It would be interesting to make a task force to do passes on the ML files. They do need a lot of work, see:

https://ejgallego.gitlab.io/-/coq/-/jobs/108321332/artifacts/_build/default/_doc/_html/index.html

[2018-10-15 20:49] tchajed opened #8736 "Mixing in non-projection fields in a record results in an incorrect error message"
#### Version

8.10+alpha

#### Operating system

macOS

#### Description of the problem

When a record contains fields that are projections as well as fields that aren't projections, the error message is "This record contains fields of different records" when the non-projections should be reported instead.

[code]

[2018-10-16 00:53] jwiegley opened #8739 "Constructive rewriting of types fails with a Universe error"
#### Version

8.8.2

#### Operating system

macOS 10.13.6

#### Description of the problem

The attached code demonstrates a problem rewriting with computable isomorphisms. There seems to be an issue with universes I haven't been able to track down:

[code]

[Bug.zip](https://github.com/coq/coq/files/2480995/Bug.zip)

[2018-10-16 05:45] gares commented on #8715
I've tried to track down the issue in the past but unfortunately I could not find the origin. I think I managed to disable the popup, it should be visible only if coqide is run with -debug.

[2018-10-16 06:59] RalfJung commented on #6764
I am going to reopen this issue until a fix lands in 8.9.

@gares what's the status of the backport?

[2018-10-16 07:48] maximedenes commented on #7422
I support this, the separation looks very artificial in many cases, makes it harder to find API info, and does not seem to bring any immediate benefits.

[2018-10-16 13:59] #3690 closed

[2018-10-16 17:30] gares commented on #6764
I made an overlay for elpi I think I made a pr... Dunno if someone wrote the overlay file

[2018-10-16 17:32] gares commented on #6764
https://github.com/LPCIC/coq-elpi/tree/overlay/8456?files=1 sorry I made a branch, dunno for the overlay file

[2018-10-16 17:41] jfehrle commented on #8715
Thanks @gares, I was running with -debug in some cases--I didn't consider that as a relevant variable.

[2018-10-17 06:37] jfehrle opened #8749 "CoqIDE: Help / Browse xxx links to 8.6.1 version documents, not current version"
#### Version 8.8.2
#### Operating system Windows 10
#### Description of the problem

CoqIde menu items Help/Browse Coq Manual and Help/Browse Coq Library bring up the 8.6.1 documents.

Looks like the URLs come from the file coqiderc.  Probably not updated when you install/build a new version.

[2018-10-17 06:52] jfehrle commented on #8749
Also, when I try to update the ref man URL in the Preferences dialog, it appears to apply
"http://coq.inria.fr/distrib/V8.8.2/refman/" but seems to lose that change, dropping the "V".  Strange.  A similar URL works for the library.

[2018-10-17 08:57] Zimmi48 commented on #8749
That's indeed a correct analysis of the situation. This file is generated once and for all when you first launch CoqIDE. I also find this a bit unfortunate.

"http://coq.inria.fr/distrib/V8.8.2/refman/" but seems to lose that change, dropping the "V". Strange. A similar URL works for the library.

I didn't understand this sentence but the URL you gave is indeed correct. There used to be compatibil

[2018-10-17 15:28] Zimmi48 commented on #8227
- [x] PR submitted which adds `ocamlPackages` to the nixpkgs derivation (more general).
- [x] The postInstall step involving findlib is now also in Coq's `default.nix`.
- [ ] Provide a `coq-version` attribute. I'm not yet clear on what we want to put in there because I'm not sure what is the use case. In your example you put `8.9-alpha` but the nixpkgs version would be only `8.9`...

[2018-10-17 15:35] Tuplanolla opened #8755 "Uncaught exception Ltac_plugin.Taccoerce.CannotCoerceTo"
#### Version

8.8.2

#### Operating system

Red Hat Enterprise Linux Workstation 7.4

#### Description of the problem

The following nonsense causes an anomaly.

[code]

[code]

[2018-10-17 18:12] ppedrot commented on #8755
You don't need the notation. Just writing
[code]
is enough.

[2018-10-17 18:43] Tuplanolla commented on #8755
The nonsense can be reduced even further,
but at the cost of losing its original intent.

[code]

[2018-10-17 19:55] erikmd commented on #7753
@Zimmi48 @ejgallego just FYI the images are ready in https://hub.docker.com/r/coqorg/coq but I'd like to write some usage guidelines in https://github.com/coq-community/docker-coq/wiki (this WE a priori, to be able to announce this next week).

[2018-10-17 20:34] erikmd commented on #7753
Also, it will be required to setup some daily (or nightly :) trigger of the `dev` image.

To do this, it will suffice to run this command every day (the exact moment remaining to be decided):
[code]
using the [docker-hub-helper](https://github.com/erikmd/docker-hub-helper) tool I had mentioned earlier −
or to directly run the underlying `curl` command:
[code]
Actually, maybe a cron task on some se

[2018-10-18 07:03] RalfJung commented on #6764
@Zimmi48 @ejgallego is that enough to get a backport started?

[2018-10-18 08:38] Zimmi48 commented on #6764
@gares Currently CI for v8.9 is testing commit gares/coq-elpi@12efa57c37145dcfe331e6350b5d5cc145b13807, i.e. before #8552 (using elpi 1.1.0). Creating a v8.9 branch starting from this commit and backporting the fix to this branch (no need to go through a PR), would allow @silene to backport #8456 without backporting #8552.

[2018-10-18 09:31] gares commented on #6764
I made a coq-v8.9 branch on master, since master compiles fine with 8.9, and cherry picked there the commit. So the coq-v8.9 branch should compile fine when CProj is removed.

I don't get exactly the before #8852 part. Are you saying that the docker image for v8.9 does not contain elpi 1.1.0 ?

[2018-10-18 11:45] Zimmi48 commented on #6764
Exactly.

[2018-10-18 11:47] ejgallego commented on #6764
The elpi update is supposed to be in the backport queue, right?

[2018-10-18 11:49] Zimmi48 commented on #6764
It is still in the backport queue indeed. But @silene was hoping he could avoid backporting it. That's the sense of his comment and mine here: https://github.com/coq/coq/pull/8456#issuecomment-427272829

[2018-10-18 11:50] gares commented on #6764
I don't how much relevant elpi is, but I've just release the first version of coq-elpi and I'd like it (and its minor releases) to work on 8.9. If CI can only test an old version of the code, then I think there is no value in keeping elpi in the CI for 8.9. If on the contrary the image gets updated I'll happily push to the coq-v8.9 branch each minor fix I do in master (as I do from time to time on

[2018-10-18 11:52] ejgallego commented on #6764
^^ indeed, this was my understanding of the coq-elpi situation for 8.9. Either you drop it or you update it.

[2018-10-18 12:49] SkySkimmer commented on #2829
See #8760

[2018-10-18 15:10] Zimmi48 commented on #6764
That's fine with me.

[2018-10-18 21:08] ejgallego opened #8767 "Future of `vio` checking"
We were discussing about cleanups of `library` and it came to my mind the question of what is the future of non-checking compilation in Coq.

I think that the `.vio` / `-quick` stuff is not very much used in the end, in particular due to problems with file size. So maybe we should deprecate it and move to proposals such as #8642 ?

cc: @gares

[2018-10-18 22:49] mattam82 opened #8770 "What are the shelves for?"
I'd like to get a confirmation of my current understanding of the shelves in Proof and Proofview.

It seems that the shelf in Proofview should only be of temporary use. Each run_tactic gathers the Proofview's shelf at the end of the tactic run and puts that in the Proof.t shelf. It resets the future_goals of the current Proofview evar_map, and its local shelf. Then the Unshelve command calls Proof

[2018-10-18 22:53] ejgallego commented on #8770
cc: #8386 , #6292

[2018-10-18 22:57] mattam82 commented on #8770
Haha. Well now I don't think anymore that they can be "merged" really. It's more like the Proofview shelf is a temporary receptacle for globally shelved goals in the Proof.t shelf, it seems. OR maybe we can keep everything in the Proofview's shelf and maintain it there, if that plays well with focusing.

[2018-10-19 00:12] ejgallego opened #8772 "[coqpp] [dune] coqpp locations don't show directory of file properly"
When compiling with Dune, see for example this backtrace:
[code]
the file should be `plugins/ltac/g_ltac.mlg`

[2018-10-19 01:29] sampablokuper opened #8774 "Release documentation under a DFSG-compatible license"
#### Version

8.x

#### Operating system

N/A

#### Description of the problem

Currently, the Coq documentation is licensed under the [Open Publication License](https://en.wikipedia.org/wiki/Open_Publication_License) (OPL). This license has a number of disadvantages:

- it is [incompatible with the Debian Free Software Guidelines (DFSG)](https://metadata.ftp-master.debian.org/changelogs/non-free/

[2018-10-19 01:42] ejgallego commented on #8774
That would be lovely and indeed I seem to recall some discussion about the licensing in the past.

IMO is feasible to track most if not all contributors so it should be a matter to see if they agree. I think it is a good idea to update the license.

For now, I've added an item to the next Coq WG https://github.com/coq/coq/wiki/Next-Coq-Working-Group

[2018-10-19 02:06] sampablokuper opened #8775 "Please publish documentation for offline viewing"
#### Version

8.x

#### Operating system

N/A

#### Description of the problem

@Zimmi48 [said](https://github.com/coq/coq/issues/7454#issuecomment-387389679):

This is that issue :slightly_smiling_face:

For users who wish to do any of the following things, it would be extremely helpful if the Coq maintainers published Coq's documentation as PDFs on the coq.inria.fr website:

- read the documenta

[2018-10-19 02:13] ejgallego commented on #8775
Umm, certainly we do _build_ a PDF manual since a few weeks.

See for example https://gitlab.com/coq/coq/-/jobs/109967447/artifacts/file/_install_ci/share/doc/coq/sphinx/latex/CoqRefMan.pdf

where the links to the downloads are, I am not so sure.

[2018-10-19 02:13] ejgallego commented on #8775
Note that you can also download the HTML documentation for offline viewing without any particular problem.

[2018-10-19 02:45] sampablokuper commented on #8775
@ejgallego wrote:

Thank you for the link.

Should I open an issue against https://github.com/coq/www ?

Do you mean by using a web crawler like `wget` or `httrack`? Yes, that _should_ work for retrieving the rendered HTML and supporting files (stylesheets; images). But it is fiddly and error-prone. Also, even if it succeeded, it would mean reading/printing/etc a manual that has been split into nu

[2018-10-19 03:00] ejgallego commented on #8775
Indeed, but I think this issue can also work.

Indeed you can get the whole package clicking "download artifact archive" for example here https://gitlab.com/coq/coq/-/jobs/109967447/artifacts/browse/_install_ci/share/doc/coq/sphinx/

So all that we need is to make the links more accessible I think.

[2018-10-19 03:06] ejgallego commented on #8775
Note the doc README https://github.com/coq/coq/blob/master/doc/README.md indicates most of this stuff, feel free to submit a PR tweaking it.

I do agree that the web page needs work.

[2018-10-19 09:41] vbgl commented on #8227
The `setupHook` attribute is missing too.

The `coq-version` attribute currently has two uses in `nixpkgs`: automatically populate the `COQPATH` environment variable (through the setup-hook); decide whether a package is available for a particular version of Coq.

[2018-10-19 11:42] ejgallego commented on #8767
Does for example any of the CI developments use it? [I will check]

It seems to me tho that the current functionality doesn't match well with what quite a few users want, based on personal discussions.

Indeed there is no point in deprecating it until we have something ready, my question is precisely about what the plans are? Should we embrace a different method and drop the `vio -> vo` feature? S

[2018-10-19 11:45] Zimmi48 commented on #8774
It is quite ironic that bug report #1663's objective was to be able to put the doc in the free part of Debian and it was solved by a commit (6cf8d80ac0a9869d97373d6813441eabebce8980) in 2006 that put a license that was already unmaintained and which did not allow the doc to be included in the free part of Debian... Today, I believe the recommended approach is to choose the same license for the doc

[2018-10-19 13:30] Zimmi48 commented on #8775
coq/www#79 should be a start

[2018-10-19 13:36] Zimmi48 commented on #8227
Indeed, I would be glad to have a setup hook (it would avoid this kind of things: https://github.com/coq-community/lemma-overloading/blob/161ea51d52556ca6f78d7f76554492209dbdd112/default.nix#L23). I just doesn't understand these things well yet.

[2018-10-19 14:06] tchajed commented on #8663
From the [SSReflect documentation](https://coq.inria.fr/refman/proof-engine/ssreflect-proof-language.html#ssr-searching-tool) the features missing from the built-in Search are:

1. A special conclusion-only first pattern. This isn't the same as `SearchHead` (which only matches the head of the conclusion) and is anyway more powerful because it can be combined with other patterns that match anywhere

[2018-10-19 14:21] sampablokuper commented on #8774
@Zimmi48 [wrote](https://github.com/coq/coq/issues/8774#issuecomment-431336419):

I agree. It was a very unfortunate choice of license.

This is news to me. Who recommends this approach?

To me it seems better to use, for documentation, either:

- a license that is intended for documentation specifically; or
- a license that is intended for application either to "content" generally (which, broadly

[2018-10-19 14:29] sampablokuper commented on #8774
@ejgallego [wrote]:

LGTM :slightly_smiling_face:

[2018-10-19 14:45] Zimmi48 commented on #8774
I could not find again the reference for this recommendation quickly so obviously this must not be a common recommendation.

I agree with CC BY SA 3.0 and with Emilio's plan.

Inria's lawyers: are there some? Are they competent on these questions? @maximedenes should know. Asking Software Freedom Conservancy sounds like a better plan.

[2018-10-19 15:29] maximedenes commented on #8774
Hum, of course yes...

Some of them are specialized, yes. They already tried to track contributors to the code of Coq and failed because the effort was too huge (I believe the person in charge timed out after 6 months or a year of work).

Remember that in most cases you need to track not the individuals, but their various affiliations and ask their employer. AFAIK, when employers are public French

[2018-10-19 16:14] gares commented on #8767
How can you check that? The best you can do is to ask people if they ever type `make quick` in their daily workflow. Given the level of parallelism we have on CI I doubt if would be of any use to to a `v -> vio -> vo` compilation path, since the latter is a gain only if -j can be high.

The size problem of vio files is something only @ppedrot really investigated. Maybe he can post his findings, eg

[2018-10-19 16:46] gares commented on #8774
While I endorse any attempt to make the licensing better, I also believe that being able to distribute the doc within Debian is not top priority IMHO. Today people read the doc online, having them for offline use is for sure a commodity but not as much as it used to be. So if it turns out to be hard, I guess we could live with it.

For the ssr chapter, that is a big chunk of the manual, the author

[2018-10-19 19:14] sampablokuper commented on #8774
@gares [wrote]():

I don't think anyone here is suggesting that it should be the Coq maintainers' *top* priority. Nevertheless, it would still be useful, so it is not *zero* priority either. It is somewhere between the two. I respectfully ask that we avoid hyperbole, and let the process proceed with due consideration: no more, no less.

This claim does not seem to be supportable by evidence. Even

[2018-10-20 11:15] ejgallego commented on #8774
Certainly documentation is far easier than the source code itself, also, way less risky as it is much easier to replace in case we forget someone etc...

[2018-10-20 11:31] Zimmi48 commented on #8663
Maybe no need to overthink this if actual use cases are already covered by `SearchHead`. It would be interesting to have more feedback from users.

[2018-10-20 11:53] gares commented on #8767
I won't be there. Not sure I agree with you about the code complexity. Please ask PMP about the size issue

[2018-10-20 12:08] Zimmi48 commented on #8774
@sampablokuper I find your first link not of the highest quality and certainly not a good reference for the 95% claim since regarding this it only contains:

[2018-10-20 12:28] Zimmi48 commented on #8774
The second link is much more interesting and of higher quality. Good read, even though all the legal arguments are rooted in the specifics of US copyright law.

[2018-10-20 12:57] ejgallego commented on #8767
I had indeed seen in the calendar that you won't be able to attend, that's why I will try to write a summary of the discussion here. Arthur added to the WG program a discussion on his PR so I guess we will take that slot to see how could we move forward.

[2018-10-20 13:42] ejgallego commented on #8767
I was curious so I just submitted an experiment at https://github.com/coq/coq/pull/8783 This should also help understanding CI impact.

IMHO the complexity is more than the gain, in particular due to the effect on lower layers of the kernel, but I guess I still want to understand the code better.

[2018-10-20 19:57] sampablokuper commented on #8774
@Zimmi48 [wrote]():

IMO, the FSFE is a reasonably trustworthy source regarding software licensing. That said, if you know of a better source, please post it.

[2018-10-21 12:22] herbelin opened #8785 "Temporary regression in universe constraints registration"
#### Version

In versions 8.8.0-8.8.2

#### Description of the problem

I encountered a regression introduced in 2e30531e7 (before 8.8.0) and fixed in f53890d (before 8.9) with the following example:
[code]
I did not succeed in making it smaller. Expanding one of the `pose` makes it succeed. Replacing `apply with` makes it succeed. Removing one of the two cases of the proof by cases on `H0` makes

[2018-10-21 14:02] SkySkimmer commented on #8785
That commit isn't supposed to change behaviour, what is going on?

[2018-10-22 13:12] RalfJung opened #8790 "-mangle-names fails on inductive definition"
#### Version

8.9.dev (but this was already broken with 8.8)

#### Operating system
Linux

#### Description of the problem

Consider this example file:
[code]
And compile it using `coqc -mangle-names mangled_ test.v`. I'd expect that to work, because the file does not refer to any auto-generated names.

Unfortunately, it fails:
[code]

This is really sad, because I was so happy when I saw this fea

[2018-10-22 13:48] RalfJung opened #8791 "`Instance` refreshes parameter names in the global context"
#### Version

8.9.dev

#### Operating system
Linux

#### Description of the problem

Get an interactive Coq session running with `-mangle-names mangled_`, and run the following script:
[code]
This results in the following goal state:
[code]
That seems rather wrong, because indeed I named type `A` explicitly!  It shouldn't get mangled.

[2018-10-22 14:16] Zimmi48 commented on #8790
cc @jashug

[2018-10-22 14:39] RalfJung commented on #8774
One very good reason to make this choice (and the reason Rust made it) is to be able to move text between docs and code. Docs may start as comment in code, and if the licenses are different it may not be possible to move them to documentation later -- and vice versa, examples in documentation might not be allowed to be put into code.

[2018-10-22 17:06] sampablokuper commented on #8774
@RalfJung [wrote](https://github.com/coq/coq/issues/8774#issuecomment-431854928):

Good point. In case it helps (not sure that it does, in Coq's case), CC BY-SA 3.0 is forward-compatible to CC BY-SA 4.0, which is in turn forward-compatible to GPLv3. See https://creativecommons.org/compatiblelicenses

[2018-10-22 17:08] jashug commented on #8790
A possible fix is given in #7254, which is blocked on a unification failure I'll need help to understand. (has a link to the gitter discussion of this issue, which I'll summarize below)

There are two interacting weird design decisions interacting here:
* The implicit argument subsystem of coq (with `mangle-names` set) calculates that the displayed type of `TCForall` will be `TCForall : forall _0

[2018-10-22 18:10] lennartberinger opened #8792 "eexists guesses class instantiations"
#### Version

8.8.1 and 8.8.2

#### Operating system
Ubuntu

#### Description of the problem

It appears that eexists occasionally immediately instantiates the evar it introduces,
as in the following snipped, where it seems to pick the most recently declared
instance of class foo. This prevents the user from using eexists to have instantiations
be 'lazily' figured out during the proof.

Require Im

[2018-10-22 18:41] herbelin opened #8793 "Report on the 8.7 to 8.9 compatibility of packages in coq-contribs"
This is a summary about porting "contribs" to 8.7 and 8.9, and to produce opam packages for them.

#### Porting

I discontinued the following "obsolete" packages: `jprover`, `legacy-ring` (`ring` version 2), `legacy-field` (`field` version 1), `rational` (`ring` version 1), string (source of current `string`), `micromega` (empty directory). If no objection from @ybertot, I would also remove `recur

[2018-10-22 19:03] JasonGross commented on #8793
To make the easiest one easier, I think the changelog mentions a script that will do this automatically (if not, I can dig up the script from commit messages of PRs I've submitted to fix this)

How much of the behavior of Quote that is used can be replaced by reification by parametricity/pattern?

[2018-10-22 19:30] herbelin commented on #8793
It is used in - only - two contribs but I did not investigate yet how easy it would be to change it. At the current time, I just made an overview to evaluate what to do.

Well, it worked beautifully to insert a `Require Import String` just in front of other `Require`!

Unfortunately, in this case, it introduced another problem: it declares also `++` as a string notation for `String.append` and thi

[2018-10-22 19:33] JasonGross commented on #8793
Yes.  Feel free to submit a PR that stuffs `Declare ML Module ` in some submodule of String.  Alternatively, pass `-compat 8.8`.

[2018-10-22 19:43] maximedenes commented on #3442
@ejgallego what's the status of this?

[2018-10-22 19:46] ejgallego commented on #3442
The original attempt to refactor the side-effects in the CIW didn't work so no ETA available.

[2018-10-22 20:03] Lysxia opened #8794 "Error with notation using identifier as both expression and pattern"
#### Version

8.8.2

#### Operating system

Arch

#### Description of the problem

Using a notation where an identifier appears both in an expression and a pattern causes an internal error. Here's a minimized example:

[code]

Output:

[code]

The error appears well after the definition of the notation, and has very little context, so I had no idea what the issue was until I took the time to minim

[2018-10-22 20:12] herbelin commented on #8793
Yes, this works by using
[code]
in `String.v` and using
[code]
in the file to compile.

[2018-10-23 05:51] silene commented on #8410
This regression was introduced by a2e34cd42ef6a4327e701416114c6b8b85a173d6:

    [ide] Don't set `quiet` on start.

    This makes `coqidetop` behavior consistent with the one of
    `coqtop`.

    This was likely needed in the past when Coq used to print all kind of
    stuff to stdout, including goal display. Now, it is not the case
    anymore and this flag mainly controls printing verbosity.

[2018-10-23 06:06] maximedenes commented on #6307
@ejgallego does the Dune build solves this? Under which condition does it install man pages? Does it clearly separate Coq's man pages from CoqIDE's ?

[2018-10-23 06:27] silene opened #8800 "gtk_scrolled_window_add(): cannot add non scrollable widget use gtk_scrolled_window_add_with_viewport() instead"
Since commit 079e895cad0a205e22202da5ba1a919a820c863b

    coqide: queries from the query window are routed there (fix #5684)

    We systematically use Wg_MessageView for both the message panel and each
    Query tab; we register all MessageView in a RoutedMessageViews where the
    default route (0) is the message panel. Queries from the Query panel pick
    a non zero route to have their feedba

[2018-10-23 06:32] silene opened #8801 "In callback for signal activate, uncaught exception: Not_found"
#### Version

8.7, 8.8, 8.9

#### Description of the problem

Open Coqide, press F1, close the query tab, press F1, press F1. This gives

    In callback for signal activate, uncaught exception: Not_found

My guess is that, when opening the query pane on the third press of F1, Coqide gets confused by the fact that there is no query tab.

[2018-10-23 06:33] ejgallego commented on #8495
This is an example of a bug that would have a hard time following the rule "no milestone without assignee", isn't it?.

Another one is for example #8027

[2018-10-23 06:34] ejgallego commented on #6307
I am not sure if it solves it today, but it should.

Manpages are installed in package `foo` when the install stanza `(install ...)` is present.

Yup, they should go in different packages. See: #8802

[2018-10-23 06:36] ejgallego commented on #6307
Note that as of today Dune has a small bug in the install of manpages sections which should be solved in the next update. [They usually release every 2 weeks]

[2018-10-23 06:38] maximedenes commented on #6307
Sure, that's fine. Can you let me know when this issue gets fixed on the Dune build? It should be enough to close it. Thanks!

[2018-10-23 06:44] ejgallego commented on #6307
Bug added to Dune tracking issue #8052

[2018-10-23 09:39] #8785 closed

[2018-10-23 13:40] andrew-appel opened #8805 "Notation Scope delimiters ignored"
#### Version 8.8.2
#### Operating system: Windows

Notation scope delimiters seem to be ignored when defining an "only printing" notation.

#### Description of the problem

[code]

This should print `(PLUS one ONE)`, but it prints `(PLUS 1 1)`.

Perhaps I'm wrong, but I think this worked in previous versions.

[2018-10-23 14:20] Zimmi48 commented on #7433
Not an actual blocker for a beta release.

[2018-10-23 14:56] andrew-appel commented on #8805
Here's another example, without the use of "lonely" scopes and without the use of "only printing."

[code]
The desired output is `(PLUS one ONE)`.
The actual output is `(PLUS ONE%D ONE)`.

[2018-10-23 15:17] herbelin commented on #8805
Hi @andrew-appel, you can have a look at PR #8187 where it behaves as you want in the second case (i.e. it produces `PLUS one ONE`). Your first example shows a weakness of #8187 which still gives priority to primitive numeral/string notations over non primitive notations.

About #8187, there are still some ongoing issues relatively to scope `type_scope`. So, it shall not be before 8.10. But don't

[2018-10-23 15:34] andrew-appel commented on #8805
For my purposes, the weakness you describe in #8187 (priority to primitive notations) is not a problem.  I used nat in this issue report only as an example; the real problem I have does not involve a primitive numeral/string notation.   (Still, I expect it would be worthwhile fixing this weakness in #8187).

[2018-10-23 17:44] Zimmi48 commented on #8495
Indeed, this rule can bear a few exceptions.

[2018-10-23 20:05] silene commented on #8494
#8634 has been backported.

[2018-10-23 20:05] #8494 closed

[2018-10-23 20:29] silene commented on #6764
#8456 has been backported.

[2018-10-23 20:29] #6764 closed

[2018-10-23 20:34] silene commented on #6777
This issue is marked as a blocker for 8.9 but there is no assignee, so what is the status?

[2018-10-23 21:13] #8794 closed

[2018-10-23 21:17] ejgallego commented on #8731
Note the fix above doesn't work... I had to patch envars indeed.

IMHO this is not critical enough as to block the beta, but it may affect some 8.9 users so we should try to address it.

[2018-10-23 21:18] ejgallego commented on #8731
That would be a solution:
[code]

[2018-10-23 21:46] gares commented on #6777
The issue was closed by a revert of the commit that introduced it.
@herbelin has reopened it since, but I'm afraid he should have opened a new issue, AFAICT.

[2018-10-23 21:58] silene commented on #8080
This seems bad. The behavior of `setoid_rewrite` should not depend on whether `flat_map` is defined recursively or not.

@herbelin Is there something we can do for 8.9? Should I revert the patch on the branch?

[2018-10-23 22:37] ejgallego commented on #6239
Due to the complexity this requires to be implemented properly, this seems like 8.10 material to me.

[2018-10-23 22:39] SkySkimmer commented on #6239
#8515 + passing plugins to .mlg will close this.

[2018-10-23 22:52] ejgallego commented on #6640
Fixed by https://github.com/coq/coq/pull/8809

[2018-10-24 07:47] fblanqui opened #8810 "Why 'opam update' prints so many things?"
#### Version

09:46 ~/team-svn opam --version
2.0.0

#### Operating system

09:43 ~/team-svn uname -a
Linux 6600Fred 4.15.0-36-generic #39-Ubuntu SMP Mon Sep 24 16:19:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

#### Description of the problem

Hello. When I do opam update, a lot of things is printed (see below). Is it possible to avoid this?

[code]

[2018-10-24 09:05] Zimmi48 commented on #6777
Or at the very least not put any milestone on it.

[2018-10-24 09:13] silene commented on #8495
What is the reason for not assigning @SkySkimmer ?

[2018-10-24 09:16] ejgallego commented on #8495
There was a PR fixing this issue, it was however not accepted but the issue remains.

[2018-10-24 09:31] herbelin commented on #8080
Having `fix` and `cofix` in `unification.ml` like we have all other constructions seems natural but at the same time `unification.ml` is probably going to be progressively deprecated. In any case, no time to investigate why this breaks `setoid_rewrite`, so reverting is ok if you prefer (and thus renouncing also to #7011).

[2018-10-24 09:34] herbelin commented on #6777
Yes, that would have been an alternative.

+1

[2018-10-24 09:45] ejgallego commented on #6239
You agree to defer this @maximedenes ?

[2018-10-24 10:58] maximedenes commented on #6239
Yes!

[2018-10-24 11:03] ejgallego commented on #8410
Sorry if I was not clear, I knew precisely which commit caused this, as we had the discussion we decided to disable the `-quiet` flag in `coqidetop`, as before it had a quite inconsistent behavior and we had a special flag just for printing fail.

If we enable `-quiet` again, the welcome message will be gone, however some other output will be also gone, for example, messages about `Fail`.

So we d

[2018-10-24 11:13] maximedenes commented on #8810
Isn't this an OPAM issue?

[2018-10-24 11:53] RalfJung commented on #6764
Confirmed, Iris notation tests now pass on the 8.9 branch. Thanks all :)

[2018-10-24 12:46] Zimmi48 commented on #8774
@herbelin has some trace of the working group in which this license was chosen but basically it was chosen at that time to satisfy Debian needs after communicating with Debian maintainers. It is very strange that at that time they recommended a license that was already deprecated and already considered as non-free by Debian.
@herbelin It would be good if you could post some quotes from your notes

[2018-10-24 17:54] ppedrot commented on #8810
Isn't that a one-time thing due to the automatic porting to OPAM 2.0?

[2018-10-24 18:54] herbelin commented on #8793
I removed completely `string` and `micromega` (respectively redundant and empty).

I finally kept  `jprover`, `legacy-ring`, `legacy-field`, `rational`, and actually also `recursive-definition`, but marking them with an unmaintained status.

There are no other unmaintained packages (in the sense of stopping to make them compiling with Coq). Of course, there is also the case of the 3 "contribs" whi

[2018-10-24 20:40] Zimmi48 commented on #8793
Well technically, the micromega repository was not fully empty: it had a git history of before being moved to Coq.

These three ones should not appear anywhere in coq-contribs if I'm not mistaken.

See an example with the four last repositories here: https://github.com/coq/

Indeed, you are the maintainer so feel free to do it in the way you feel is best.

[2018-10-25 06:30] fblanqui commented on #8810
It happens each time I do opam update.

Le 24/10/2018 à 19:54, Pierre-Marie Pédrot a écrit :

[2018-10-25 09:30] anton-trunov opened #8816 "[ssr] unannotated if-expression does not work as unannotated match-expression"
#### Version

Coq 8.8.2

#### Operating system

macOS 10.14

#### Description of the problem

[code]

This surprisingly fails:
[code]

whereas
[code]

does not.

Of course, there is a workaround involving explicit annotations:
[code]

however it would be great if *unannotated* `if` expression in SSReflect worked just as unannotated `match`-expression.

[2018-10-25 10:58] ejgallego commented on #8767
We had some quite long discussion in the WG, I feel unable to properly summarize it, so help from others @charguer @ppedrot @maximedenes is welcome. Some points that were made:

- @ejgallego : "the current approach replaces a proof term with something that is O(|state|), thus `.v -> .vio -> .vo` is going to be worse in most cases than `.v -> .vo`.
- @ppedrot : "I think it is easy to store only the

[2018-10-25 11:46] gares commented on #8816
I think that some time ago I stumbled upon this too.
  https://github.com/coq/coq/blob/master/plugins/ssr/ssreflect.v#L92
IIRC there is a big difference between `if x then...` and `if x return _ then ...` (no need for the `as` and the fully given output type).
The latter can infer a dependent type, the former can't.

I don't know if it is on purpose or not (eg, it is the tower of notations that ha

[2018-10-25 11:59] ggonthier commented on #8816
I can't recall it being on purpose, so it must be a side effect of the interpretation of the notation, which was only intended to impose a bool type constraint on the condition (this lets coq use the coercions declared in `ssrfun` to mimic the non-boolean `if`).
 It's not necessarily a bad feature - of course, it should be documented.

[2018-10-25 13:20] gares opened #8818 "[whish] [coq_makefile] understand more flags without -arg"
Some options like `-w` could be allowed to occur in `_CoqProject` without the `-arg` escape thing.
In particular `-w` is something one could expect the UI to understand, since it has a big impact on usability.

CC: @ggonthier

[2018-10-25 14:58] gares commented on #8767
yes

I had some private discussions with @charguer  before he opened his PR.
I believe his approach is fine when Require is fast. In this case rebuilding the state one needs in order to process the proofs is cheap. If Require is slow, then unmarshaling the state is faster. I'm over simplifying a bit here, but I believe the two approaches cover two similar but not equal scenarios.
I'd be happy to b

[2018-10-25 15:29] ejgallego commented on #8767
Oh interesting you say that, in an informal analysis I got the impression code complexity differed quite a bit, I'll do a formal analysis when I get a minute.

[2018-10-25 16:11] silene commented on #7936
@mattam82 Should I revert the commit on 8.9? I have a hard time evaluating the impact here.

[2018-10-25 16:16] silene commented on #7877
@gares Do you intend to work on that for 8.9? Or should the milestone be moved?

[2018-10-25 16:37] silene commented on #8080
I am a bit torn on this one. The fact that #7013 caused no issue in the tracked external developments seems to mean that it is not as bad as it seems. So, I might keep the commit around, just so that #7011 stays closed.

Naive suggestion from someone who does not understand the code: What would happen if we were to replace `reduce curenvnb pb opt substn cM cN` by `unify_not_same_head curenvnb pb o

[2018-10-25 16:57] SkySkimmer commented on #8080
Does that mean the issue is not that it fails to find a subterm but rather that it recognizes that flat_map_singleton is a reflexive identity?

[2018-10-25 19:05] gares commented on #7877
Move the milestone plz

[2018-10-25 19:11] palmskog commented on #8810
@fblanqui this is a consequence of how OPAM 2.0 deals with legacy 1.2 repositories - every update must reconvert from 1.2 to 2.0. See "advice for custom repository maintainers" on this [page](https://opam.ocaml.org/blog/opam-2-0-0-repo-upgrade-roadmap/#Advice-for-custom-repository-maintainers). I believe the [intention](https://github.com/coq/opam-coq-archive/pull/495#issuecomment-432569690) is th

[2018-10-25 19:32] ejgallego commented on #7877
I tried to fix this but I couldn't figure out what the proper printers are.

[2018-10-25 20:17] jashug opened #8819 "Spurious name collisions with Automatic Introduction"
#### Version

Coq 8.8+beta1

#### Description of the problem

[code]

To perform automatic introduction, `Theorem` uses `intro` for anonymous parameters, which automatically assigns `H` to the `nat` parameter, and then proceeds to use `intro H` for the second, named, `bool` parameter. This is in `vernac/lemmas.ml` `start_proof_with_initialization`.

We could consider using `intros ? H` instead?

[2018-10-25 20:18] chdoc commented on #8810
@palmskog, quite the contrary. The Intention is to keep the coq-released repository in 1.2 format for the time being. The purpose of my [pull request](https://github.com/coq/opam-coq-archive/pull/495) is to provide coq.8.8.2, which currently is only available to opam 2.0 users via the opam default repository, also to opam 1.x users. The rationale is that most Linux distributions won't be shipping

[2018-10-25 20:51] SkySkimmer commented on #7877
Note the the issue title seems to be just about proof using but then the issue OP says

[2018-10-25 21:06] jashug commented on #8819
After #8820 goes in, this behavior can be improved by tweaking `auto_intros_tac` to call `intros`

[2018-10-26 02:15] JasonGross opened #8822 "rewrite_strat bottomup is 1.5x slower than rewrite_strat topdown and 3x slower than repeat setoid_rewrite"
#### Version

8.8.1 (but also master)

#### Operating system

Linux

#### Description of the problem

What is going on here?
[code]

cc @mattam82 @ppedrot

[2018-10-26 02:43] JasonGross opened #8823 "rewrite_strat bottomup should be faster (maybe by sharing more terms in the proof tree?)"
#### Version

8.8.1

#### Operating system

Linux

#### Description of the problem

Consider this code:
[code]
I hypothesize that `rewrite_strat` is slow in part because it creates large proof-terms and retypechecks things multiple times.  I think it might be possible to do a systematic CSE on the term built by `rewrite_strat`

See also #8822

cc @mattam82

[2018-10-26 05:02] ejgallego commented on #7877
I think that if you want to do programmatic manipulation of v files is better to use tools that support that use case such as serapi instead of relying on text hacks, but I dunno.

[2018-10-26 05:06] ejgallego commented on #8819
LGTM

[2018-10-26 09:04] gares commented on #7877
I agree, the message in question is for user consumption. For that use case, I believe it is quiet OK.

IIRC the .aux file contains a more machine friendly version of the suggestion, that one could be used for tools.

[2018-10-26 10:39] ejgallego commented on #8410
Ok, so finally a solution that doesn't make me too unhappy came to my mind, see #8826 @silene WDYT?

IMHO while not a perfect solution yet, it should indeed help taming this issue and other option-related alike.

[2018-10-26 11:35] #8801 closed

[2018-10-26 11:37] #8800 closed

[2018-10-26 11:57] ejgallego opened #8828 "Coq LICENSE file needs an update"
Coq `LICENSE` file should not contain the text of the LGPL 2.1 but provide an overview of the different components of the system and their license.

I tend to use a machine-readable format, see for example: https://github.com/ejgallego/coq-serapi/blob/v8.8/LICENSE

[2018-10-26 12:09] Zimmi48 commented on #8828
The problem of the machine readable format that you use is that GitHub doesn't know how to read it. I suggest to keep the text of LGPL 2.1 in `LICENSE` since this is the license for *most* of the code (and the recommended practice to ship the license with the code). However, we could add another file `COPYING` that provides the overview that you mentioned.

[2018-10-26 12:57] ppedrot commented on #8822
This looks like some algorithmic issue in the creation of evar instances. I have a patch that makes the topdown and setoid_rewrite on par, and divides by two the bottomup one.

[2018-10-26 15:43] mattam82 commented on #7936
Yes you can revert. @RalfJung it resolved that instance and not the others because they are independent: the Join constraint does not share existentials with the other ones I suppose. Your script using try apply _ reproduces that behavior. The goal of splitting like this was to provide more precise error messages: only the typeclass constraint components that contain a constraint that cannot be so

[2018-10-26 15:55] mattam82 commented on #7936
I suppose ssreflect’s rewrite doesn’t use split: either, or uses fail:true

[2018-10-26 23:00] jashug opened #8831 "Proposal: Treat Section names only as documentation"
This is an attempt to clarify the current status of Section names, and a sketch of the cleanest path I see towards supporting anonymous sections.

With #8555, the name given to sections continues to matter less and less.

While open, a section's name can be used to
* Display the contents of a section, with `Print Section`
* Qualify names, such as `foo.a`. However, the unqualified version is (shoul

[2018-10-27 12:55] ppedrot commented on #8823
I am pretty confident that most of the terms are actually shared in the OCaml runtime representation. Anyways, the reason the strategy is slow seems unrelated to this problem at first sight, it is rather due to bad algorithmics.

[2018-10-27 18:05] maksr opened #8832 "The quick guide on https://coq.inria.fr/opam/www/using.html doesn't work"
#### Operating system

Ubuntu 18.04

#### Description of the problem

The guide on https://coq.inria.fr/opam/www/using.html doesn't work on my Ubuntu 18.04. I installed the opam from Ubuntu distro. The command you give

[code]

fails with

[code]

Searching the web I found that I must give the following command and this one worked for me:

[code]
The last of the four commands

[code]

failed as we

[2018-10-28 10:53] herbelin commented on #8793
This history was short (37 commits).

Actually, my "completely removed" is only as submodules of the [coq-contribs](http://github.com/coq-contribs/coq-contribs) repository. It is not as repositories of the [coq-contribs](http://github.com/coq-contribs) organization. I shall consider archiving them as repositories as you showed.

The distinction between the collection of submodules listed in the re

[2018-10-28 13:51] ejgallego commented on #8155
Confirmed duplicate of #7538

[2018-10-28 13:51] #8155 closed

[2018-10-28 14:03] ejgallego commented on #8427
Duplicate information is incorrect here, this is only a duplicate of #8224

[2018-10-28 16:42] herbelin commented on #8831
Section names could be useful to qualify section variables so as to distinguish them from goal variables, as in the artificial but typical:
[code]
With named section variables (qualifying with the section name), one could instead disambiguate as follows:
[code]
This kind of example has generated a lot of discussion and I apologize in advance if I'm partly repeating. Some people advocate for forbid

[2018-10-28 16:56] mattam82 commented on #8832
I was basically waiting for @gares to ok it. Given the blocking status, I'll merge it now.

[2018-10-29 02:59] JasonGross commented on #7380
Argh, this is causing me a great deal of trouble.  The HoTT repo relies on the opam package, which is an enormous pain to port, because it has something like a dozen dependencies.  Some of which fail to build when I backport them, like [rpm](https://bugs.launchpad.net/ubuntu/+source/rpm/+bug/1800411) and [jsonm](https://bugs.launchpad.net/ubuntu/+source/jsonm/+bug/1800410). >.<

[2018-10-29 06:45] wkwkes opened #8837 "Simple typo in the document"
### version
master

### Description of the problem
`t~0` in https://github.com/coq/coq/blob/master/doc/sphinx/language/cic.rst#normal-form may be a typo of `t_0`.

[2018-10-29 08:02] vbgl opened #8838 "Primitive records with anonymous fields"
Currently (tested with Coq 8.8.2), it is not possible to define a “primitive record” with anonymous fields. Here is a dummy example:

[code]

I would like to better understand why this is the case. Is it by accident? due to some technical debt? for theoretical reasons?

In particular, I guess that it would be possible to have η-conversion for such records: the fact that the projection has no user-

[2018-10-29 08:55] Zimmi48 commented on #8837
@wkwkes Good catch! Do you want to make a PR fixing this?

[2018-10-29 08:56] Zimmi48 commented on #7380
You mean on the Debian package?

[2018-10-29 09:01] gasche opened #8839 "the `extensionality` tactic (added in 8.7) is undocumented"
#### Version

I'm looking at the [reman 8.8.2 tactic index](https://coq.inria.fr/distrib/V8.8.2/refman/coq-tacindex.html).

#### Description of the problem

The `extensionality` tactic, added in 8.7 (according to CHANGES) is undocumented.

[2018-10-29 09:06] Zimmi48 commented on #8839
cc @herbelin

[2018-10-29 09:34] ppedrot commented on #8838
The problem is that you definitely need to be able to refer to this projection in some syntactic way. Currently and for bad reasons, the kernel uses a mix of names and indices to refer to projections, but it can be done with indices only. In that case, it becomes imaginable to have a syntax `r.(0)` to refer to the first field and so on.

[2018-10-29 09:44] gasche commented on #8839
I realize now that the tactic is only defined in the FunctionalExtensionality module, so maybe it is intentional that those kind of module-specific tactics are not found in the tactic index?

Also I'm not sure anymore when `extensionality` was introduced; 8.7 introduced `extensionality in <hyp>`, but I was looking for documentation of the form `extensionality <ident>` which I think comes from @mat

[2018-10-29 09:46] SkySkimmer commented on #8838
Not being able to refer to the projection except through destructing lets or `match ... with Build_foo n anon => ...` is one thing, but also the system itself internally relies on there being a constant for each projection. This will change eventually but it still WIP for now.

[2018-10-29 09:48] ppedrot commented on #8838
Yes, I was not claiming this could be done overnight, but my point was rather that there is no good reason for this not to be the case.

[2018-10-29 09:49] Zimmi48 commented on #8839
I don't think so. Many tactics require importing a module first and yet they are documented in the manual.

[2018-10-29 10:18] gares opened #8840 "[ssr] better document the BIOS"
see #8812

[2018-10-29 10:20] gares commented on #8840
`ssr_have`, `ssr_suff` and `ssr_wlog` are just forms of cut. They are opaque, so that the cut cannot be reduced. They also mark in the "proof tree" (that is the term) what happened. I think it is a good way to make proof terms more informative.

[2018-10-29 10:35] anton-trunov commented on #8816
@gares @ggonthier Thank you for the links and explanations. As far as I understand, [ssreflect.v#L113](https://github.com/coq/coq/blob/master/plugins/ssr/ssreflect.v#L113) says that the simple `if`-expression always uses `return _` annotation. But this unfortunately fails:

[code]

[2018-10-29 10:52] herbelin commented on #8840
Thanks, this makes sense.

Do you have situation where the proof term generated by `have`, `suff`, `wlog` is dependent and where the fact that it is opaque matters?

Is the motivation for being more informative the same for `nary_congruence` and `ssr_congr_arrow`?

The question of preserving more information from a proof script is indeed recurrent. How much do we want to remember the structure of

[2018-10-29 12:17] #8736 closed

[2018-10-29 14:18] wkwkes commented on #8837
Thanks. Yes, I'll make a PR.

I also noticed that right arrows in the third example of https://coq.inria.fr/distrib/current/refman/language/cic.html#inductive-definitions should be `→` instead of `->`.
So, I'll fix this too.

[2018-10-29 14:44] maximedenes commented on #8831
We could also forbid to clear section variables, but still allow users to hide them. That is, making them unreachable from tactics / automation, but still part of the logical typing context.

[2018-10-29 15:34] herbelin commented on #8831
Then, I think this is the same as what I'm proposing: a section variable exists for typing independently of what the goal collects as variables being allowed to be used by default for automation.

[2018-10-29 16:32] Zimmi48 opened #8848 "Regression following typeclass functionalization."
#### Version

8.10+alpha (788ff535ed27d5142cd18878f8478bfc161945cd)

#### Description of the problem

[This file](https://github.com/coq/coq/files/2526134/bug.v.gz) compiles fine with be144dcaa1d1d8ff22e9e39f49fd247e813ac1f8 but fails to compile with 788ff535ed27d5142cd18878f8478bfc161945cd. It seems to indicate a regression introduced in #8741.

Note that this file depends on SSReflect. Sorry for

[2018-10-29 18:02] mattam82 commented on #8848
I found the issue. I inverted two arguments by mistake during my cleanup :/

[2018-10-29 22:50] JasonGross opened #8853 "[feature request] String syntax notations should live in user-land, not plugin land"
Now that Numeral Notations has been merged, it would be nice to be able to also register string and ascii syntax notations in userland.

Internally, a setup similar to numeral notations should be fairly straightforward.

I propose the following setup for user-land:
- Add a `char` type to `Coq.Init` that has 256 constructors.
- Add a command `String Notation <inductive> <parsing> <printing> : scope

[2018-10-29 23:05] jashug commented on #8819
Typeclass generalization ` ``{TypeClass A B}` (I can't figure out how to write a single backtick...) has the potential to add a complicating factor, in we need to make sure the names `A` and `B` are included as fixed binder names.
Note to self to investigate where the desugaring of the backtick binder happens.

[2018-10-30 04:05] jfehrle opened #8858 ""Nested Proofs Allowed"
#### Version 8.8.2
#### Operating system Windows
#### Description of the problem

"Test Nested Proofs Allowed." is not recognized in 8.8.2 (although it is still accepted by the code in master).  Maybe not worth worrying about but I thought I'd mention it.

[code]

[code]

[2018-10-30 04:05] jfehrle opened #8859 ""Nested Proofs Allowed" option missing in 8.8.2 but present in master."
#### Version 8.8.2
#### Operating system Windows
#### Description of the problem

"Test Nested Proofs Allowed." is not recognized in 8.8.2 (although it is still accepted by the code in master).  Maybe not worth worrying about but I thought I'd mention it.

[code]

[code]

[2018-10-30 04:06] jfehrle commented on #8858
See #8859.

[2018-10-30 04:06] #8858 closed

[2018-10-30 08:55] maximedenes opened #8860 "Dune should not disable `native_compute`"
I realized recently that the Dune build disables `native_compute`. I'm opening this issue to remember this should be fixed before we switch to Dune.

I understand the way `native_compute` artifacts are generated should probably be refined to better fit the Dune conventions. I'd be happy to help with that, although it is not clear to me what can be done given the limited interfacing we have with th

[2018-10-30 09:06] vsiles opened #8861 "`Print Assumptions foobar` triggers an Anomaly"
#### Version
[code]

#### Operating system
MacOS High Sierra 10.13.6

#### Description of the problem

I was trying to rebuild my contribution PTSATR on my new setup, and I got the following error:
[code]

(Note: I got a couple other errors prior to that one, but they were easily fixed)

The relevant statement is `Print Assumptions PTS_equiv_PTSe.`

[2018-10-30 09:36] vsiles commented on #8861
Hi ! I used my old archive from http://www.lix.polytechnique.fr/~vsiles/coq/PTSATR.html
Can you point me to the ''new'' (I just saw that coq was on github a couple weeks ago...) contrib repository, so I provide a revision to reproduce it ?

[2018-10-30 09:47] vsiles commented on #8861
Ok, then I'll move to 8.8.2 sooner than planned :D I'll check coq-community, thanks !

[2018-10-30 09:48] herbelin commented on #8861
Duplicate of #8532

[2018-10-30 09:48] #8861 closed

[2018-10-30 09:48] anton-trunov opened #8862 "Coq Dune-based build fails on current master"
#### Version

master (0ac673e562c34245e4e48efc428d808e917be79b)

#### Operating system

macOS 10.14 (Mojave)

#### Description of the problem

This issue follows the discussion at coq-community/lemma-overloading#14

[code]

CC @ejgallego

[2018-10-30 10:12] SkySkimmer commented on #8859
I don't understand the problem, it's just a new option from #7451.

[2018-10-30 10:39] ejgallego commented on #8860
Thanks @maximedenes, that will be fairly easy to fix. I delayed it as I was indeed experimenting a bit. I don't think any deep tweak will be needed.

I'll add a pointer to this issue from the dune meta issue.

[2018-10-30 10:43] ejgallego commented on #8862
Sorry @anton-trunov I was not clear. As of today you need to run the `voboot` step [once] before launching the build:
[code]

[2018-10-30 10:54] anton-trunov commented on #8862
@ejgallego Thanks for the clarification. I have updated the issue report. Please tell me if you need more info.

[2018-10-30 11:18] ejgallego commented on #8862
Sorry again the `ls` step should be `ls -l _build/install/default/bin`.

Can you redo the build with `--display=verbose`? Will be a large file so paste it in some service.

[2018-10-30 11:19] ejgallego commented on #8862
But it looks indeed like the semantics of
[code]
as used in `lib/envars` do differ in OSX. Could be either the `Sys.executable_name` part of the `CUnix` one.

I consider this code fragile and I hope to refactor it and indeed it breaks under a multitude of setups.

[2018-10-30 11:48] anton-trunov commented on #8862
Here is the output of
[code]

(I had to cut it up using the `split` command)

- Part-1: https://pastebin.com/eXZjhUMh
- Part-2: https://pastebin.com/Hgd81yGB
- Part-3: https://pastebin.com/hekDfiqi

And here is the output of `ls`:

[code]

HTH

[2018-10-30 12:19] ejgallego commented on #8862
Thanks @anton-trunov , indeed Coq is locating the library incorrectly, this was already in my todo list, hope to fix it soon.

[2018-10-30 12:55] gares commented on #8832
Issue 2 is "solved" by the PR your merged, but issue one is still valid. In fact we should just have both lines, one for opam1 and for opam2, as @Zimmi48 suggested. I don't have time for this right now, sorry.

[2018-10-30 15:47] Zimmi48 commented on #8859
Same here, I don't see what the issue is. Please re-open with more details.

[2018-10-30 15:47] #8859 closed

[2018-10-30 17:45] jfehrle commented on #8859
Sorry, I didn't realize it was a new option.

[2018-10-30 17:47] Zimmi48 commented on #8853
What is the relation to #8483?

[2018-10-30 19:12] robbertkrebbers opened #8865 "`make distclean` does not clean `ide/xml_lexer.cmi`"
#### Version

Current master: 0ac673e562c34245e4e48efc428d808e917be79b

#### Operating system

Linux.

#### Description of the problem

After a `git pull` to the current master, and a `make distclean`, I ended up with the following error when running `./configure -local; make`:

[code]

It appears that `make distclean` does not clean enough.

[2018-10-31 00:03] #8848 closed

[2018-10-31 08:41] aspiwack commented on #8770
Sorry… I had forgotten about this :confused:

This is correct. The shelve in the proofview was conceived of as as "writer" effect. Every tactic execution is supposed to start with an empty local shelf, and they would all be flushed to the global shelf at the end of the tactic execution.

Naïvely, I would use the more functional approach to great a goal `?a : nat` then focus on the rest of the goal

[2018-10-31 11:44] pbaudin commented on #8593
The issue may be solved in adding a target `install:` into your opam description file, with an action performing the command `make -f  Makefile.coq install`. Here, that action seems to performed into the ones of the `build:` target.

[2018-10-31 11:47] mattam82 commented on #8770
Thanks for the explanations @aspiwack I believe the scoped solution is better behaved as well and now that I understand the model a bit better I think it should stay like this (at least for the use cases I had in mind), making use of `unshelve` to explicitly manipulate dependent subgoals.
About @Zimmi48 's example, I think the global nature of the global shelf is unavoidable for dependent subgoals

[2018-10-31 11:51] SkySkimmer commented on #8593
The dev version opam file does have separate `install`: https://github.com/coq/opam-coq-archive/blob/bda71ac5513291a79efd09d1c29986555f961188/extra-dev/packages/coq-color/coq-color.dev/opam#L32
The 1.5.0 opam file doesn't https://github.com/coq/opam-coq-archive/blob/bda71ac5513291a79efd09d1c29986555f961188/released/packages/coq-color/coq-color.1.5.0/opam#L24

[2018-10-31 12:19] chdoc opened #8872 "allow rewriting under binders with standard rewrite tactic"
#### Version

coq-8.8.2

#### Description of the problem

Even though the `rewrite` tactic uses setoid rewriting when necessary, one still cannot use `rewrite` to rewrite under binders. Indeed, the current documentation says:

This is still true as of 8.8.2:

[code]

I would really like there to be at least a switch/command to enable this. In fact, I'd propose to make rewriting under binders also

[2018-10-31 12:20] SkySkimmer opened #8873 "validate fails on inductive type with letin parameter"
Specifically on
[code]

[2018-10-31 12:30] ejgallego commented on #8458
@ppedrot just pointed out that 2/3 of PRs are without an assignee.

[2018-10-31 12:43] SkySkimmer opened #8875 "validate fail on [Module M X := X Q.]"
Full repro:
[code]

[2018-10-31 12:43] Zimmi48 commented on #8770
That sounds like a good solution.

[2018-10-31 12:51] SkySkimmer opened #8876 "validate fails on cumulative inductive"
[code]

[2018-10-31 13:13] ppedrot commented on #8822
@JasonGross merging #8841 has solved part of the problem. Should we leave this bug open or reopen one?

[2018-10-31 13:17] SkySkimmer opened #8878 "validate fails on record with letin field"
[code]

[2018-10-31 13:17] Lysxia opened #8879 "No unification of evars under `cofix`"
#### Version

8.9

#### Description of the problem

Here is a minimized example (from [this issue in paco](https://github.com/snu-sf/paco/issues/16)).

[code]

Is this the intended behavior?

[2018-10-31 13:19] ppedrot commented on #8879
Isn't that an alter-ego of #7013?

[2018-10-31 13:22] SkySkimmer opened #8880 "validate fails on functor subtyping"
[code]

[2018-10-31 13:28] SkySkimmer opened #8881 "validate fails to use inductive equivalence in case_info"
[code]

[2018-10-31 13:34] SkySkimmer opened #8883 "validate fails on test-suite modeq.v"
ie this file
[code]

[2018-10-31 14:03] vbgl opened #8885 "vm_compute crash on int31_rect"
#### Version

Crash witnessed on Linux x86_64 with Coq versions 8.5pl3, 8.6.1, 8.7.2, 8.8.2, some recent master.

#### Description of the problem

The following example crashes (segmentation fault).

[code]

Maxime pretends such a crash can be turned into a proof of False.

Spoiler: the compilation of the `int31_rect` constant occurs before the retroknowledge is informed that `int31` is the int31

[2018-10-31 14:08] #8755 closed

[2018-10-31 14:22] herbelin commented on #8885
Why does it crash? Doesn't the absence of retroknowledge block the execution?

[2018-10-31 14:25] fblanqui commented on #8593
Commit  5531d05 does not solve the problem unfortunately.

[2018-10-31 14:31] vbgl commented on #8885
Compilation to bytecode occurs before retroknowledge is there: the third argument to `int31_rect` is expected to be a constructed value (`I31 a b c d …`).

Evaluation (when executing the last `Check` above) occurs after retroknowledge is told about the type `int31`: it thus gives to `int31_rect` a plain OCaml integer. In a nutshell: the bytecode expects a pointer, it receives an integer. Crash fol

[2018-10-31 15:58] vbgl commented on #8885
Yes. Changing the retroknowledge does not invalidate byte code already generated.

[2018-10-31 16:58] fblanqui commented on #8593
Is it a problem that someone can reproduce or is it because I have something wrong on my machine?

[2018-10-31 17:03] JasonGross commented on #8822
I think we should have some bug open.  Feel free to either open a new one or leave this one open.  (It would also be nice to figure out why setoid_rewrite is so slow so maybe this bug should be renamed to be about setoid_rewrite and rewrite_strat being slow?)

[2018-10-31 17:16] ppedrot commented on #8822
Evar creation is definitely responsible for an important (most?) part of the slowness of the rewriting algorithm. Generating a named context from a rel context is often superlinear in the size of this context, and we keep generating evars all over the place while pushing rels in rewrite, so...

[2018-10-31 17:18] SkySkimmer commented on #8593
What repository contains this?

[2018-10-31 17:33] JasonGross commented on #8822
It seems like evars are persistently one of the slowest parts of Coq?  EConstr was good for removing useless normalization.  Is there a similar systematic fix that can be done around this sort of problem?

[2018-10-31 18:30] JasonGross commented on #8449
Here is a proof of `False` which is closed under the global context (cc @maximedenes):
[code]

[2018-10-31 18:48] SkySkimmer commented on #8449
Is this a fundamental limitation or could register be changed to require a proof that the declared thing does the right operation?

[2018-10-31 22:00] JasonGross commented on #8449
How will register know what "the right operation" is, without another `Register` command?  And must the proof be axiom-free, or should any axioms used in the proof transitively show up in `Print Assumptions`?

[2018-11-01 10:20] #8837 closed

[2018-11-01 11:14] fblanqui commented on #8593
https://github.com/coq/opam-coq-archive/commit/5531d05d4f1d32815c1b2b6397b23403c3751bdc

[2018-11-01 12:06] erikmd commented on #7753
Hi @Zimmi48 @ejgallego, I've just finished documenting this, FYI here is the link of all "deliverables":

Docker images:
- https://hub.docker.com/r/coqorg/coq/
- based on https://hub.docker.com/r/coqorg/base/

Dockerfiles:
- https://github.com/coq-community/docker-coq
- and https://github.com/coq-community/docker-base

Documentation:
- https://github.com/coq-community/docker-coq/wiki (description

[2018-11-01 16:57] Zimmi48 commented on #7753
This doc is very good. I agree you should put a permissive license on the docker repositories. And I suppose it is time indeed to do some announcement (although it could be a good idea to first have an actual project using such setup to show off...).

[2018-11-01 19:15] JasonGross commented on #8853
I think it is mostly independent of #8483.  There is a bit of overlap in terms of "what type should the primitive syntax for ascii recognize?"  (Although it is also possible to be mostly agnostic on that, and have a separate `Register` invocation for each of the 256 primitive ascii characters.)  But I think mainly this enhancement would make the stdlib `string` type less special.

[2018-11-01 20:39] JasonGross opened #8891 ""Signature components for label A do not match: polymorphic universe instances do not match." should be more informative"
#### Version

8.8.1

#### Description of the problem

Consider this code:
[code]

I would like to know the length of both the expected and actual universe instances.  Additionally, it would be nice if this error message would also print the expected and actual types and constraints (sort-of how type errors print the context).

[2018-11-01 22:50] herbelin commented on #8224
Another instance (which is not fixed by #8427):
[code]
It might indeed be wise to be more tolerant on this invariant check in the final 8.9.

[2018-11-01 23:04] erikmd commented on #7753
@Zimmi48 thanks for your feedback

I had included in the doc 4 examples of projects using this setup (cf. e.g. the Travis CI output obtained in [this page](https://travis-ci.com/erikmd/docker-coq-travis-ci-demo-1)). But it is a good idea indeed, to apply this setup as well on an actual Coq library from now on: I've just proposed a PR in the Paramcoq project, which seems a good example as this libr

[2018-11-01 23:12] erikmd commented on #7753
and FYI I've added another section at the end of the [CLI usage](https://github.com/coq-community/docker-coq/wiki/CLI-usage) page (showing how to build a Coq project on the host machine just by using a Coq container, thanks to the "bind-mount" feature of Docker).